[2017-06-26 16:10] vchendrix opened #1 "Recreate Jenkins build in a script"
Recreated the Jenkins build for this into a script. This will also requireq that the following external reposiroties be included as git submodules.

Turb Client
[code]

Turb Hydro
[code]

iReveal
[code]

dmf_lib
[code]

Other Commands
[code]

[2017-08-04 16:18] vchendrix opened #2 "Add build for pyDRMTraining and pyDRMSampling libraries"
Originally,  *.pyd binaries compiled from pyDRMTraining and pyDRMSampling were checked in to SVN.  For compatibility with open source conventions, the binaries were removed from the repository.  Now these libraries need each to have a build script that generates *.pyd libraries.

[2017-08-04 16:22] vchendrix opened #3 "Update latex documentation build for Windows"
The old Jenkins build had the ability to compile artifacts (binaries, documentation ...etc) on several different machines (Windows, Linux).  This is an unreasonable requirment for users of this repositoriy. It is now required that the foqus application be compiled on Windows machine only which means the latex documentation build needs to written so that it can be built on Windows. Currently the ma

[2017-08-15 18:19] vchendrix opened #4 "remove 3rd party binaries from setup.py distribution"
`setup.py` tries to bundle nssm.exe, SqlCeCmd40.exe into the foqus distribution.  These executable were not imported from SVN.  The question is can these be safely removed from the distribution?  If not, how do we handle these dependencies?

[2017-08-15 18:21] vchendrix opened #5 "Review/Update Copyright_Assertion_Approval.pdf"
`Copyright_Assertion_Approval.pdf` is distributed with (see `setup.py`) with foqus.  Is this needed or should it be switched to bundling `LICENSE.md`?

[2017-08-15 18:23] vchendrix opened #6 "How is SimSinter documentation included?"
`setup.py` references two pieces of SimSinter documentation.  These were not found in the SVN repository.  Should SimSinter become a submodule for this project if only the documentation is needed?

[2017-08-15 20:50] vchendrix opened #8 "Pull version from git tag"
Instead of hardcoding the product version in the setup.py, we should pull version from git tags.

$ git describe --tags
2015.10.00

[2017-09-14 21:47] vchendrix opened #9 "pyDRMTraining Visual Studio compatibility"
In the effort to prepare the foqus repository for open source, it was necessary to remove the compile binaries for pyDRMTraining.  This build has been changed to expect the python home directory and coin library directory. It is not clear whether these change will allow the project to be loaded easily into Visual Studio IDE.

[code]

[2017-09-14 21:49] vchendrix opened #10 "pyDRMSampling Visual Studio compatibility"
In the effort to prepare the foqus repository for open source, it was necessary to remove the compile binaries for pyDRMSampling.  This build has been changed to expect the python home directory and coin library directory. It is not clear whether these change will allow the project to be loaded easily into Visual Studio IDE.

[code]

[2017-09-14 21:50] #1 closed, assigned to nobody

[2017-09-14 21:50] #2 closed, assigned to nobody

[2017-09-14 21:50] #3 closed, assigned to nobody

[2017-10-02 17:47] fsoepyan opened #11 "UQ: change rotation on xlabels"
UQ currently displays the name of the variables including the name of the node + the variable name, making the variable tag/name too long to be displayed and read correctly.

I've attached two examples (figures). In the actual size of the figure you can figure out which columns belong to each variable, but, for a paper you need to reduce the size of the figure (very small), and the labels can not

[2017-10-02 19:32] fsoepyan opened #12 "Flowsheet: Recover progress from log file?"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: Charles Tong
- Original title: turbine - FOQUS interaction.
- Created: 15/Feb/17 2:07 PM
- Updated: 15/Feb/17 2:07 PM

Description:

After running 2000 simulations, the computer shutdown. I can see the simulations are stored in the log file. Can we recover this results?
In the flowsheet "import" panel, can we include an option to i

[2017-10-02 19:33] fsoepyan opened #13 "UQ: want indicator for failed simulations"
It would be useful to know how many simulations failed while you are running (if too many fail you can just stop all). The only way to do this is manually exploring the table of variables.

Something like 1/200, being updated every simulation.

[2017-10-02 19:35] fsoepyan opened #14 "JIRA Issue: there is a bug with the stop button in "Ensemble""
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: Charles Tong
- Original title: there is a bug with the stop button in "Ensemble"
- Created: 23/Sep/16 6:20 AM
- Updated: 23/Sep/16 6:20 AM

Description:

I tried to stop the simulations and it looked that it was stopped, but, the simulations were running in the background. (I think the issue was that I save the session and by doing

[2017-10-02 19:37] fsoepyan opened #15 "JIRA Issue: Submitting jobs slows down with number of jobs in Turbine DB"
From JIRA:
- Reporter: John Eslick (@eslickj)
- Assignee: Joshua Boverhof (@boverhof)
- Original title: Submitting jobs slows down with number of jobs in Turbine DB
- Created: 09/Oct/15 8:47 AM
- Updated: 11/Jul/16 3:11 PM

Description:

As you submit jobs to turbine, it seems to take longer and longer to submit jobs. After about 10,000 jobs this seems to lead to significant slow down on the Turbi

[2017-10-02 19:38] fsoepyan opened #16 "Look into including Microsoft SQL Compact in TurbineLite install"
We may be able to include SQL compact in the TurbineLite install or with the FOQUS bundle. I'm not sure about the details. Its not very hard to install it separately, so this isn't a big deal. If it's to much work just close the issue, and we can drop the idea.

Chat history:

Abdelrahman Elbashandy added a comment - 30/Mar/16 10:59 PM
Josh, is there a license issue with this or should I proceed w

[2017-10-02 19:40] fsoepyan opened #17 "NETL Cluster: Turbine Science Gateway Deployment"
Create a Turbine Science Gateway Cluster on the NETL SciLab cluster.

Chat history:

Joshua Boverhof added a comment - 29/Jan/15 2:21 PM
Need FOQUS consumer for the NETL SciLab Cluster

Joshua Boverhof added a comment - 04/May/16 9:20 AM
The cluster needs to be updated.

[2017-10-02 19:46] fsoepyan opened #18 "No publisher registered with digital signature for TurbineStandAlone-v.2.c.0.msi - leads to security warning"
The current installer is not signed with a digital certificate and the publisher is not identified - producing a Security Warning on launching the installer. (See screenshot).

Steps to Reproduce:
 Download the version 0.2.c0 installer MSI for TSG from the project website.
 Double-click the MSI to initiate the installation.

RESULT:
 Security warning presented. (Can click Run to continue so no los

[2017-10-02 19:49] fsoepyan opened #19 "FOQUS Test MEMCAP Simulation"
From JIRA:
- Reporter: Joshua Boverhof (@boverhof)
- Assignee: Natalia Kitch
- Original title: FOQUS Test MEMCAP Simulation
- Created: 27/Jan/15 9:57 AM
- Updated: 28/Apr/16 1:58 PM

Description:

Run the MEMCAP simulation with FOQUS with the current Jenkins build.

Running Membrane Simulation

1.Upload files to Turbine. Refer to steps and screenshot. ◦The files are attached to jira issue TURBSCIG

[2017-10-02 19:53] fsoepyan opened #20 "Use "TestComplete" on Jenkins to test FOQUS UI"
The tests developed with "TestComplete" should be added to our Jenkins instance. The end goal of this issue is to have a Jenkins project which performs at least one simple "TestComplete" UI test of FOQUS.

The output of this test can just be "raw" text for now. The main goal is simply a proof of concept, the actual useful tests can be created later.

Chat history:

Natalia Kitch (Inactive) added a

[2017-10-02 19:53] fsoepyan opened #21 "Create make.bat for building zip file"
Currently, Jenkins creates the iREVEAL zip file via a Windows command execution script.  That script should be copied into a make.bat (or some such name), checked into svn and then called from Jenkins.

This will make it possible for change to the building of that .zip file to be more easily done by developers.

Chat history:

John Eslick added a comment - 25/Feb/16 12:13 PM

There are a couple th

[2017-10-02 20:07] fsoepyan opened #22 "some text is overlapped in the FOQUS initial display"
Some text is overlapped in the FOQUS initial display (see attached pic).

![foqus_display](https://user-images.githubusercontent.com/30811140/31096957-b8956418-a78b-11e7-9e97-a9bc51913ffb.png)

[2017-10-02 20:08] fsoepyan opened #23 "foqus error (when openning foqus directly from the file)"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: foqus error (when openning foqus directly from the file)
- Created: 02/Feb/17
- Updated: 02/Feb/17

Description:

When you open foqus directly from the file (double clicking)... you get an error:
Unhandled Exception
File Foqus_lib\gui\surrogate\surrogateFrame.pyc", line 193, in selectTool At

[2017-10-02 20:08] fsoepyan opened #24 "JIRA Issue: OUU: no default assignment for input bounds"
From JIRA:
- Reporter: John Eslick (@eslickj)
- Assignee: Jeremy Ou (@ou3llnl)
- Original title: OUU Bug?
- Created: 27/Oct/16 11:28 AM
- Updated: 27/Oct/16 11:28 AM

Description:

There is an OUU test problem in examples/OUU/Toy2/ouu_Toy2.foqus, and I'm having trouble getting it to work.  This example uses ACM to do the inner optimization.  The recourse variables are outputs of the ACM simulation

[2017-10-02 20:09] fsoepyan opened #25 "Surrogates: there is an issue with the "select all variables" button"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: In surrogates module, ALAMO surrogate modeling tool there is an issue with the "select all variables" button
- Created: 23/Sep/16 6:29 AM
- Updated: 23/Sep/16 6:29 AM

Description:

the "select all variables" button must select all the variables and not the "status" and "graph.error".
Anothe

[2017-10-02 20:09] fsoepyan opened #26 "Flowsheet/Optimization: import data issue"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: import data issue
- Created: 23/Sep/16 6:25 AM
- Updated: 23/Sep/16 6:25 AM

Description:

Exporting data to clipboard and to cvs files is easy, but when you try to return this data the columns dont match. Some columns make the mismatch error, some of the columns are: Tags, initial, maximum

[2017-10-02 20:10] fsoepyan opened #27 "Turbine: Remote running of turbine. It is not clear you need to upload the simulation (json file)."
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: Remote running of turbine. It is not clear you need to upload the simulation (json file).
- Created: 11/Aug/16 9:08 AM
- Updated: 11/Aug/16 9:08 AM

Description:

When switching turbine from "local" to "remote" the user must upload the simulation again. But, we need a "warning" before launch

[2017-10-02 20:11] fsoepyan opened #28 "Turbine: The button to test the remote configuration file is not working"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: Turbine - Remote connection. The button to test the remote configuration file is not working
- Created: 11/Aug/16 9:03 AM
- Updated: 11/Aug/16 9:03 AM

Description:

The button to test the remote configuration file is not working, this button is located in the Turbine Configuration window (c

[2017-10-02 20:12] fsoepyan opened #29 "JIRA Issue: Edge editor (auto button isnt working)"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: Edge editor (auto button isnt working)
- Created: 12/Jul/16 12:12 PM
- Updated: 29/Jul/16 12:40 PM

Description:

The edge editor allows the user to automatically select the variable connections by clicking the "Auto" button. But right now there is no action after clicking this button. (we h

[2017-10-02 20:12] fsoepyan opened #30 "Surrogates: add calculated columns"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: add new setting (Transforms).
- Created: 27/Jun/16 1:23 PM
- Updated: 07/Jul/16 12:55 PM

Description:

This new setting helps to improve the quality of the models. It works to scale the output variables, transform data to find better fitting (exp and log).

- Include a new column for each o

[2017-10-02 20:13] fsoepyan opened #31 "Flowsheet: include a color indicator for the node its being simulated"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: include a color indicator for the node its being simulated
- Created: 10/May/16 2:23 PM
- Updated: 08/Jun/16 8:42 AM

Description:

When solving multiple node simulations, it could be useful to highlight which node its being simulated at the time.

[2017-10-02 20:16] fsoepyan opened #32 "surrogate model validation and visualization"
From JIRA:
- Reporter: Miguel Zamarripa (@MAZamarripa)
- Assignee: John Eslick (@eslickj)
- Original title: surrogate model validation and visualization
- Created: 21/Apr/16 1:01 PM
- Updated: 21/Apr/16 1:12 PM

Description:

After ALAMO execution it would be nice to visualize the model obtained. Attached (fig and python code) you can find an example of the figure that displays data samples vs sur

[2017-10-02 20:18] fsoepyan opened #33 "DMF features supporting FOQUS and Turbine for Feb/June release"
Integration with FOQUS/Turbine going forward with DMF.

1) In FOQUS, provide the functionality to browse and select versions of simulations. This involves changes in FOQUS to select simulations from the DMF and not Turbine. Also involves Turbine populating the DMF with simulations to the DMF Simulations folder. This may be done when FOQUS is first loaded or when Turbine is first activated, althoug

[2017-10-02 20:19] fsoepyan opened #34 "Surrogates: ACOSSO check for RScript not RGUI and improve stop button"
From JIRA:
- Reporter: Natalia Kitch
- Assignee: John Eslick (@eslickj)
- Original title: ACOSSO check for RScript not RGUI and improve stop button
- Created: 04/Nov/15 2:55 PM
- Updated: 13/Jan/16 8:44 AM

Description:

How long ACOSSO tutorial has to run, as it is running very long, and it looks like doing nothing, so that it needs to be killed, as Stop function/button doesn't stop it:

Starting

[2017-10-02 20:20] fsoepyan opened #35 "Thread Safety"
From JIRA:
- Reporter and assignee: John Eslick (@eslickj)
- Original title: Thread Saftey
- Created: 30/Sep/15 6:32 AM
- Updated: 11/Jan/16 12:59 PM

Description:

Numerous thread safety type issues.  Most noticeably some things can be changed in the GUI while something is running.  There are a lot of those, and it can lead to some weird confusing behavior.

Other things are less clear, like savi

[2017-10-02 20:21] fsoepyan opened #36 "DMF Client Feature list"
Features targeted for 2015.01.0
1) GUI improvements (rearrangement of buttons) (Done)
2) Track download progress for folders, files (Done)
3) Locking and unlocking of files while editing. (Done)
4) Support uploading of files/folders (Done)
5) Caching previous location in file system tree (Done)
6) Login/Logout mechanism (Done)
7) Manage permissions (On hold, deferred)
8) Allow provenance dependenc

[2017-10-02 20:21] fsoepyan opened #37 "UQ: allow min/max to be independent from flowsheet min/max"
From JIRA:
- Reporter: John Eslick (@eslickj)
- Assignee: Jeremy Ou (@ou3llnl)
- Original title: inconsistent behavior related to the min/max in the node setting and the parameter distribution
- Created: 17/Nov/14 8:43 AM
- Updated: 26/Feb/16 5:41 AM

Description:

Betty:  I remain quite baffled by the inconsistent behavior related to the min/max in the node setting and the parameter distribution

[2017-10-02 20:23] fsoepyan opened #38 "JIRA Issue: FOQUS and TurbineUpload windows blank/not responding while in SinterConfig GUI"
From JIRA:
- Reporter: Natalia Kitch
- Assignee: Megha Sandesh
- Original title: FOQUS and TurbineUpload windows blank/not responding while in SinterConfig GUI
- Created: 16/Oct/14 4:22 PM
- Updated: 13/Jan/16 8:45 AM

Description:

FOQUS.Session->Add/Update Turbin Model->create/edit SinterConfig File ->Sinter Config GUI->browse->select file->loading...
While the above is in process:
1) FOQUS and

[2017-10-02 20:25] fsoepyan opened #39 "FOQUS startup splash screen has overlaping text"
FOQUS start-up splash screen has overlapping text.

<img width="611" alt="foqus start splash screen" src="https://user-images.githubusercontent.com/30811140/31097695-2d819b50-a78e-11e7-9e8a-3ee96a6f6f93.PNG">

Chat history:

John Eslick added a comment - 17/Oct/14 5:44 AM - edited

Can you post a screenshot? I think this happens sometimes, but I haven't seen it. A picture may help me figure out ho

[2017-10-02 20:25] fsoepyan opened #40 "Add a special editor for vector variables"
FOQUS supports vector variables, but the have to be entered into cells like [5.0, 6.0, 7.0].  It would be nice to have an editor that would show a spreadsheet like view that would allow you to edit the value, default, min, max and number of elements in a convenient way.

[2017-10-02 20:26] fsoepyan opened #41 "Flowsheet: Disable most editing while optimization or simulation is running"
From JIRA:
- Reporter: John Eslick (@eslickj)
- Assignee: Megha Sandesh
- Original title: Disable most editing while optimization or simulation is running
- Created: 30/Oct/13 11:44 AM
- Updated: 13/Jan/16 8:44 AM

Description:

Changing a flowsheet or optimization settings while a problem is running could cause confusion or errors.  Need to disable editing most things while optimization or simula

[2017-10-02 20:26] fsoepyan opened #42 "Combine 2D/3D filter models"
Combine the 2D and 3D models and update documentation to reflect the merger.

[2017-10-02 20:28] fsoepyan opened #43 "DMFLite Tests"
Summary

Using the "FOQUS" framework create a suite of tests for DMFLite. Please work with John to understand how to create and run these tests. The near term goal to is automate the tests and run via Jenkins after successful builds. Please document the tests you add and what they do in this JIRA issue under "work log".

Chat history:

You-Wei Cheah added a comment - 01/Dec/15 5:13 PM - edited

Ch

[2017-10-02 20:31] fsoepyan opened #44 "SinterConfigGUI shuts down after the name of a variable is changed and the "Finish" button is clicked."
I uploaded the AspenPlus backup file to SinterConfigGUI.

After filling out the information in the home page, I was taken to the SinterConfigGUI Variable Configuration Page.

Here, I included the reactor temperature as an input variable. I changed the name of the variable to "rxr_TEMP" (shown in the file "Heat_Integration_Bug_1"). When I clicked "Finish", SinterConfigGUI shuts down (shown in the f

[2017-10-02 20:33] fsoepyan opened #45 "I am getting several displays from Aspen (errors)"
I am not sure if this is a SimSinter issue, but lets see. I am getting several errors from aspen (see attached figure).

The figure has 10-20, but I left the computer running all the night and this morning I had to close about 100-150.

![aspen2](https://user-images.githubusercontent.com/30811140/31098007-4e731b58-a78f-11e7-9672-17413fc362ff.png)

![aspen3](https://user-images.githubusercontent.co

[2017-10-18 18:28] MAZamarripa opened #46 "Foqus issue, ALAMO input file generator"
The issue seems to be that FOQUS reads the flowsheet data and somehow it isnt reading the rows as integers. (temporary fix: adding i = int(i), in line 827 of ALAMO.py file).
Error log:
Traceback (most recent call last):
[Steam_v2.zip](https://github.com/CCSI-Toolset/foqus/files/1395849/Steam_v2.zip)

  File "C:\Users\mzamarripa\Documents\FOQUS_main\foqus_lib\framework\surrogate\ALAMO.py", line 515

[2017-10-19 19:09] fsoepyan opened #47 "Error message when opening FOQUS"
Sometimes, when I open a FOQUS file, I get the following error message:

<img width="338" alt="foqus_bug" src="https://user-images.githubusercontent.com/30811140/31789219-657f3d1a-b4df-11e7-9e4d-97022cfd367f.png">

But despite the error message, FOQUS still managed to open successfully.

[2017-10-27 17:02] ksbeattie opened #48 "Add in psuade install documentation"
Add into docs the instructions on where to get and how to install psuade for use within foqus

Perhaps, if possible, look into automating this for CI builds.

[2017-10-27 18:19] eslickj opened #50 "Create MANIFEST.in file"
There are a lot of files needed by FOQUS that are not py files, like ui, qrc, svg, html....  Probably will need a MANIFEST.in file to make sure we get everything.

[2017-10-30 12:08] eslickj opened #51 "FOQUS Documentation"
We need to figure out what to do about documentation.  Currently the manual, which is very large, is done in LaTeX.  Most people probably won't have what they need to build the docs.  The primary way for getting FOQUS will be straight from github, so I'm not sure if there is a straight forward way for us to build the docs to be available on github, other than having someone build them and check th

[2017-10-30 12:14] eslickj opened #52 "Turbine Hydro, where does it go?"
There is a component to FOQUS/Turbine that called Turbine Hydro.  It has a separate repository, but depends on the FOQUS installer to be installed.  In the past we had to check it out of SVN and put it in the right place then run the FOQUS setup.py.  I think we need to give Hydro its own installer then make it a dependency or optional package.  I don't think its a critical part of FOQUS unless you

[2017-10-31 13:02] eslickj opened #54 "Open up turb_client repo"
I have the FOQUS installer pretty much working I think.  The main hold up now is that it can't automatically install the TurbineClient package because that repository is still closed.  I think before releasing FOQUS, we should release TurbineClient.  I don't think anyone will want to use it alone, but it will let us test the FOQUS install the way it's intended to work before releasing FOQUS.

[2017-10-31 13:48] eslickj opened #56 "iREVEAL Package"
Removed the iREVEAL submodule.  I think it would be best to package it up separately and install as a dependency or a optional package.  FOQUS doesn't really need it unless you want to make an iREVEAL surrogate.

[2017-11-03 20:43] fsoepyan opened #58 "OUU: recourse variables remain constant"
When I run OUU, the recourse variables remain constant from start to finish. Furthermore, the value of each recourse variable is the average of its minimum and maximum values.

I have attached an Excel file that tabulates the OUU results for a problem John (@eslickj), Miguel (@MAZamarripa) and I are working on.

In the Excel file, the decision variables (Z1) are highlighted blue, the recourse vari

[2017-11-03 20:47] fsoepyan opened #59 "OUU: how do you include inequality constraints with offsets?"
For the problem I'm working on, I would like to include a constraint, where I would like the variable "BFB.removalCO2" to be greater than or equal to 0.90.

Can you please let me know where and how I can specify this constraint?

<img width="914" alt="ouu_constraint_11 03 2017" src="https://user-images.githubusercontent.com/30811140/32395188-7e2c3c68-c0b6-11e7-8829-bcf8764e7df9.png">

[2017-11-03 21:06] fsoepyan opened #60 "OUU: how to pass initial values to decision & recourse variables?"
When I run OUU, the initial values of the decision and recourse variables are not the same as the ones specified under the "Value" column in the "Variables" table.

Is there a place or a way to specify the initial values of the decision and recourse variables?

[2017-11-03 21:13] fsoepyan opened #61 "OUU: screen resets after session is saved"
Whenever I save a FOQUS file, the variables for OUU would disappear from the "Variables" table, and "Select node" would reappear in the dropdown menu next to "Choose Flowsheet Node".

[2017-11-17 18:05] #39 closed, assigned to eslickj, fsoepyan

[2017-11-20 17:54] fsoepyan opened #62 "Heat Integration: Present Results with Picture"
For heat integration, we would like the results to be presented using a picture or a diagram of the heat exchangers.

[2017-11-20 18:07] fsoepyan opened #63 "Heat Integration: Automatic Identication of Heat Sources and Sinks"
We would like for FOQUS to be able to identify heat sources and sinks without using variables tags. Unfortunately, an automatic search of heat sources and sinks may be difficult. We may be able to select the heat integration variables during the preparation of the JSON file in SimSinter. This process could be done easily for Aspen Plus, but may be difficult for Aspen Custom Modeler.

[2017-11-20 18:08] fsoepyan opened #64 "Heat Integration: Move from GAMS to Pyomo"
We want to eventually move from using GAMS to using Pyomo, because Pyomo will give us more flexibility, and Pyomo is written using Python, (the same programming language used to develop FOQUS). Alternately, we can use the IDAES framework (and connect FOQUS with IDEAS).

[2017-11-20 18:22] fsoepyan opened #65 "Turbine: FOQUS Installation"
After FOQUS is installed, the file “turbine.cfg” may need to be updated to make sure that the URL has the correct port number.

[2017-11-20 19:34] fsoepyan opened #66 "Optimization: Equality Constraint"
We would like to be able to include equality constraints for optimization (currently, we can only put in inequality constraints).

[2017-11-20 19:48] fsoepyan opened #67 "Make Error Messages Easier to Understand"
We would like the error messages in FOQUS to be easier to understand. For cases where Aspen fails, one option would be to copy the error from Aspen to FOQUS.

[2017-11-20 19:50] fsoepyan opened #68 "Keyboard Friendliness"
We would like to make FOQUS more keyboard-friendly, because it will help in automated testing.

[2017-11-20 19:55] fsoepyan opened #69 "Flowsheet: Node Inputs and Outputs Dropdown Menus"
For the node inputs and outputs, we would like to modify the rows such that items in drop-down menus (such as the number type) are not changing whenever the cursor is above the menu and the mouse wheel is turned. One possible solution is to have a check box that locks the variables, just like the one in the edge editor.

[2017-11-20 20:21] fsoepyan opened #70 "Surrogates: plot RS validation after training"
We would like to improve the presentation of the results from ALAMO by having FOQUS create a parity plot of the original y-value vs. the predicted y-value after the ALAMO model is generated.

[2017-11-20 20:33] fsoepyan opened #71 "UQ: Discrepancy Model for Bayesian Inference Does Not Work"
There is an issue with the “Bayesian Inference” feature, where Discrepancy Model doesn’t work. The error happens after the user clicks “Analyze”, selects “Expert” mode, clicks “Infer” under “Bayesian Inference”, and checks the box next to “Use Discrepancy”. When the user clicks “Infer”, the following error message appears:

<img width="175" alt="bayesian_bug" src="https://user-images.githubusercon

[2017-11-20 20:36] fsoepyan opened #72 "UQ: Parity Plots"
For the parity plots, we would like the user to be able to specify the number for the +/- % dashed lines. For example, suppose FOQUS shows the +/- 5% line in the parity plot, but we would like the plot to show the +/- 10% line instead.

[2017-11-21 15:13] fsoepyan opened #73 "Flowsheet: numbers with decimal point"
We would like to give FOQUS the ability to understand numbers if they start with a decimal point. For example, if the user inserts .1, FOQUS would interpret it as 0.1.

[2017-11-21 16:40] fsoepyan opened #74 "Python Functions"
For functions written in Python, we would like to simplify how FOQUS refers to an output variable. For example, instead of using f["Process"]["profit"][0], we refer to it as f.profit or simply as profit. John (@eslickj) was already working on this, so that f["Process"]["profit"][0] becomes f.Process.profit[0]. We could probably get rid of the time step, as we will most likely use FOQUS only for st

[2017-11-21 16:42] fsoepyan opened #75 "Compatibility with Python 3.x"
We would like for FOQUS to be compatible with Python version 3.6 (i.e., the latest version of Python).

[2017-11-21 17:01] fsoepyan opened #76 "OUU: Multi-Objective Optimization"
We would like to add the multiple-objective optimization capability to FOQUS.

[2017-11-27 17:18] fsoepyan opened #77 "Problem adding new variable in node"
I opened FOQUS by using Anaconda and typing “foqus.py”. Then, I started the “Simple Flow” tutorial from the FOQUS manual, where I entered a new node called “calc”.

When I tried to add a new input variable, I got an error message:

<img width="280" alt="inputvariable_1" src="https://user-images.githubusercontent.com/30811140/33279533-db408418-d36c-11e7-9e84-569720784c09.png">

I still managed to t

[2017-11-27 17:52] fsoepyan opened #78 "FOQUS Installer: Problem with UQ "Analyze" Button"
I opened FOQUS by using Anaconda and typing “foqus”.

Then, I opened one of my files, went to the UQ tab, clicked "Analyze", and I got the following error message:

<img width="486" alt="uq_11_27_2017" src="https://user-images.githubusercontent.com/30811140/33280971-b5ca2db0-d371-11e7-9595-15d659b62c85.png">

[2017-11-30 14:11] #77 closed, assigned to eslickj

[2017-11-30 14:49] #61 closed, assigned to ngbrenda, eslickj, ou3llnl

[2017-11-30 15:23] #66 closed, assigned to nobody

[2017-11-30 15:34] fsoepyan opened #81 "DRM Builder: Problem Uploading JSON File"
After I clicked the “Choose High Fidelity Model” button, I selected a JSON file to upload to FOQUS.

After selecting the JSON file, the following error message appears:

<img width="250" alt="drm_11_30_2017" src="https://user-images.githubusercontent.com/30811140/33438870-f146b76a-d5b9-11e7-8af4-796d1c4493b6.png">

[2017-12-01 19:35] ou3llnl opened #82 "LLNL fixes need to be merged into CCSI Github"
Pending permission from LLNL IP folks

#37 Fix is included in this merge

[2017-12-01 19:45] ou3llnl opened #83 "UQ and OUU still have issues stemming from the move to PyQt"
These issues are still being worked that result from the PyQt changes and merge from #49:

UQ Sample generation causes FOQUS to freeze
Running OUU also causes FOQUS to crash

Imports and some signal fixes are already done, but these need to be merged in through #82

[2017-12-04 23:12] #59 closed, assigned to ngbrenda, ou3llnl

[2017-12-08 01:49] #82 closed, assigned to ngbrenda, ou3llnl

[2017-12-08 16:07] #78 closed, assigned to eslickj

[2017-12-08 16:07] #11 closed, assigned to ngbrenda, fsoepyan

[2017-12-08 18:08] #52 closed, assigned to boverhof, ksbeattie, eslickj

[2017-12-08 18:11] #4 closed, assigned to ksbeattie

[2017-12-18 12:54] eslickj opened #85 "Remove time and vector variable support"
For consistency and simplicity, remove the vector and time series support from FOQUS variables.  In several places this will also eliminate the need for flattening and unflattening variables should make maintenance a good bit easier.

[2017-12-18 12:56] eslickj opened #86 "Use Pandas dataframe for storing run results"
Switch to a data storage model based on a Pandas dataframe should make things easier to manage, and hopefully provide a common result storage model for FOQUS. Do after issue #85 to avoid the need to flatten and unflatten vectors

[2018-01-08 17:17] #13 closed, assigned to ngbrenda, ou3llnl

[2018-01-17 19:54] #50 closed, assigned to ngbrenda, eslickj, MAZamarripa, fsoepyan, ou3llnl

[2018-01-19 15:54] puttak opened #88 "UQ: Analysis of Ensemble screen is not resizable"
In UQ mode, when you click analyze, the screen is not resizable and in laptop PC, you can’t fit it to the screen size and it’s not possible to click on analyze option at the bottom. It’s very difficult to see all the options.

[2018-01-19 15:56] puttak opened #89 "Optimization: changing orders of variables in "Variables" tab and different sample sizes for variables in "Samples" tab"
1. Under Optimization tab, in variables sub-tab, it would be helpful, if we have the ability to move the variables up and down, so that the user can group the variables related particular type of data.

2. The user cannot perform Optimization using different types data with different sizes. In general, especially for Carbon-capture the experimental data for sub-models development is always of diff

[2018-01-19 15:57] puttak opened #90 "UQ: resize the response surface plots"
It would be nice if we have the option to resize the response surface plots that we get.

[2018-01-19 16:01] puttak opened #91 "Flowsheet: getting variable from "Variable Explorer" to "Node Script""
In Flow sheet mode, under node-script panel, it would be really nice and easy to work if we can get the variables from the variable explorer to the python code. We already have mode to see them. It will help little bit for the user if they can insert them directly to python code by clicking on the variable.

[2018-01-23 20:40] #83 closed, assigned to ngbrenda, ou3llnl

[2018-01-25 12:51] #17 closed, assigned to nobody

[2018-01-25 12:52] #64 closed, assigned to nobody

[2018-01-25 12:54] #81 closed, assigned to nobody

[2018-01-25 13:04] eslickj opened #92 "Check example files and tutorials"
Once we are about ready to release FOQUS, need to make sure all tutorials and examples still work.

[2018-01-25 13:05] eslickj opened #93 "Documentation update"
Once we are about ready with the release need to review all documentation for accuracy.

[2018-01-25 13:08] #22 closed, assigned to eslickj

[2018-01-25 13:12] #16 closed, assigned to nobody

[2018-01-25 13:14] #21 closed, assigned to ksbeattie

[2018-01-25 13:19] #40 closed, assigned to nobody

[2018-01-25 13:23] eslickj opened #94 "Remove DMF support from FOQUS"
Work was not completed to a point where users would find the DMF valuable inside FOQUS.  And the inclusion will significantly increase the maintenance effort. I suggest creating a separate DMF repo, and removing the DMF elements from FOQUS.

[2018-01-25 13:25] eslickj opened #95 "Separate the DRM-Builder"
The DRM-Builder is not integrated with FOQUS, and has it's own interface.  The main window of the DRM-Builder is just put into a frame in FOQUS.  The integration doesn't provide any benefit.  Users of FOQUS and DRM-Builder do not necessarily overlap.  From a user and developer perspective, it would probably be best to maintain FOQUS and DRM-Builder as separate projects.

[2018-01-25 13:28] eslickj opened #96 "Remove iREVEAL from FOQUS"
The FOQUS iReveal interface is bad. It makes users jump through a lot of extra hoops to use it. I think it makes a lot more sense to maintain it as a separate project.  As it is if users need to use iREVEAL through FOQUS, I think they will quickly give up on it.

[2018-02-02 21:35] #71 closed, assigned to nobody

[2018-02-02 21:46] #90 closed, assigned to nobody

[2018-02-06 21:22] #86 closed, assigned to eslickj

[2018-02-06 21:23] #85 closed, assigned to eslickj

[2018-02-06 21:38] #56 closed, assigned to ksbeattie, eslickj

[2018-02-06 21:57] #43 closed, assigned to nobody

[2018-02-06 21:58] #33 closed, assigned to nobody

[2018-02-06 21:58] #36 closed, assigned to nobody

[2018-02-06 22:12] #20 closed, assigned to nobody

[2018-02-06 22:21] #42 closed, assigned to ksbeattie

[2018-02-06 22:55] #18 closed, assigned to nobody

[2018-02-06 23:04] #44 closed, assigned to nobody

[2018-02-06 23:08] #45 closed, assigned to nobody

[2018-02-14 18:21] fsoepyan opened #99 "OUU: Incorrect bounds are assigned to the decision variables"
I used the OUU feature of FOQUS for a case study, where I have:
- Decision variables X1 to X4
- Uncertain variables X5 to X17

After setting up the OUU problem, I ran into the issue where decision variables X2 and X3 lie outside their bounds that are specified in the "Variables" box.

I also noticed that the variables X2, X3, and X4 have values that lie at the bounds for the variables X10, X11, an

[2018-02-14 18:58] fsoepyan opened #100 "Flowsheet: FOQUS will not allow me to change a variable's name in a node"
For the same FOQUS file that I used in Issue #99:
- I went to the Flowsheet tab.
- I tried to change the name of a variable (in a node) from "samples.X1" to "samples.X01".
- When I tried to save the file, I received the following error message:

<img width="366" alt="flowsheet_02_14_2018" src="https://user-images.githubusercontent.com/30811140/36222399-0fc7354e-11b9-11e8-881e-8087b2584382.png">

[2018-02-16 22:31] fsoepyan opened #101 "OUU: Problem with "Stop" Button"
In the OUU tab, whenever the "Stop" button is pushed, the button does not change back to "Run OUU", and I need to close FOQUS and reopen it in order to rerun OUU.

[2018-02-20 17:48] fsoepyan opened #102 "UQ: Error message appears when I try to generate MARS Response Surface Model"
- I went to the UQ tab in FOQUS.
- For one of my samples, I clicked "Analyze".
- I went to "Expert" mode.
- After selecting my output, I selected "MARS" under "Select RS".
- The following error message appeared:

<img width="418" alt="mars_02_20_2018" src="https://user-images.githubusercontent.com/30811140/36439804-dbccd706-1665-11e8-911c-9bc5a4fb44cb.png">

- I clicked "Validate".
- The following

[2018-02-20 21:23] ksbeattie opened #103 "Update readme for getting started"
Update foqus readme so getting stated references install.md file

[2018-02-21 18:03] #37 closed, assigned to ngbrenda, ou3llnl

[2018-02-21 23:41] sotorrio1 opened #104 "Error message when trying to 'Open Session' in FOQUS"
From the FOQUS main screen, click the Session button and then select Open Session to open a session. Browse to the examples folder, go into the UQ subfolder, and then select the “Rosenbrock_no_vectors.foqus” (see below)

![erroropensession](https://user-images.githubusercontent.com/33531919/36512165-06e405f0-171e-11e8-8163-dd3559149182.png)

[2018-02-22 17:24] fsoepyan opened #105 "UQ: Allow user to use response surface model in Flowsheet"
In the UQ tab, the "Expert" mode of the "Analysis" menu allows the user to "Validate" the performance of response surface models (e.g., Polynomial, MARS, etc.).

It would be great if the user can use these response surface models in the Flowsheet, where the response surface model is used to compute the value of the output variable given the input variables.

[2018-02-22 23:12] ou3llnl opened #108 "Error creating new node in new flowsheet"
I'm trying to set up a new flowsheet with a new node. Right after I launch FOQUS, I go straight to the flowsheet tab and try to add a new node. I get the below error immediately after entering a name for the new node.

![image](https://user-images.githubusercontent.com/32141584/36569269-fb3480a8-17e1-11e8-9a6f-bd6749f1de1e.png)

[2018-02-23 18:40] #102 closed, assigned to ngbrenda, ou3llnl, sotorrio1

[2018-02-23 19:07] fsoepyan opened #109 "Error message when saving file"
I'm using the FOQUS version after Pull Request #106.

I was working on the optimization tab, and changing the initial values of the variables.

When I tried to save the file, I received the following error message, and the file did not save:

<img width="420" alt="save_02_23_2018" src="https://user-images.githubusercontent.com/30811140/36611873-c5cf94ac-18cc-11e8-9140-30c7c0f4254d.png">

[2018-02-26 18:50] fsoepyan opened #110 "OUU: Problem with constraint"
I tried to run OUU, where I have a constraint.

- To do this, I made up a constraint variable in the Flowsheet, where the value of the variable has to be negative.
- In the OUU tab, under "Outputs", I specified the constraint variable as "Inequality Constraint".
- Shortly after clicking "Run OUU", I received the following error message:

<img width="263" alt="ouu_02_26_2018" src="https://user-imag

[2018-02-27 18:13] fsoepyan opened #111 "FOQUS Installation: FOQUS Bundle"
According to the Install.md file in the "foqus" repository, to install FOQUS, the user will need to "Install the FOQUS Bundle installer for Windows from the CCSI website".

Do I need to go to www.acceleratecarboncapture.org to install the FOQUS bundle?

I assumed I did not. So, during the installation process, when I reached the "Install FOQUS Bundle" part, I clicked the green "Clone or download"

[2018-02-27 18:22] fsoepyan opened #112 "Problem Saving and Opening File"
I am testing the FOQUS installation process using a computer that is different from the computer I always use.

I downloaded the FOQUS ZIP file shortly after Pull Request #107 has been merged.

When I used FOQUS and tried to save the file, I received the following error message:

<img width="428" alt="savingfile_02_27_2018" src="https://user-images.githubusercontent.com/30811140/36746800-1cbc6ba2-

[2018-02-27 19:43] #10 closed, assigned to nobody

[2018-02-27 19:47] #9 closed, assigned to nobody

[2018-02-27 20:45] sotorrio1 opened #113 "Use of Pandas creates problems with UQ Sample Generation"
‘Generate Samples’ under the ‘Simulation Ensemble Setup’ window, ‘Sampling Scheme’ tab; generates error message (see below) related to the use of Pandas.

![image001](https://user-images.githubusercontent.com/33531919/36753789-1e8848ae-1bbc-11e8-8889-08c587a7943c.png)

[2018-02-27 20:48] ngbrenda opened #114 "pandas missing from setup.py"
setup.py is missing pandas, so user will have to manually install pandas to run FOQUS.

[2018-02-27 20:52] #54 closed, assigned to ksbeattie, eslickj

[2018-02-27 21:00] ngbrenda opened #115 "PyQt5 issue: no module named QtWebKitWidgets"
I am using Python 2.7.14 from anaconda. When I run 'python foqus.py', I get this error. It turns out the PyQt5 has changed its syntax.

Old syntax:
*from PyQt5.QtWebKitWidgets import QWebView*

New syntax for PyQt 5.6+:
*from PyQt5.QtWebEngineWidgets import QWebEngineView*

[2018-02-27 21:31] #94 closed, assigned to ksbeattie, eslickj

[2018-02-27 21:31] #95 closed, assigned to ksbeattie, eslickj

[2018-02-27 21:32] #96 closed, assigned to ksbeattie, eslickj

[2018-02-27 22:22] ksbeattie opened #117 "Are the turb_* submodules still needed?"
If so, we should document it better, if not they should be removed.

[2018-02-28 06:48] #108 closed, assigned to eslickj, fsoepyan

[2018-03-01 22:36] #115 closed, assigned to ou3llnl

[2018-03-02 19:02] fsoepyan opened #119 "Can not run simulations for files from Turbine"
When I tried to upload a file from Turbine in the FOQUS Flowsheet, I received the following error message:

<img width="395" alt="turbine_03_02_2018" src="https://user-images.githubusercontent.com/30811140/36916582-350641d4-1e4c-11e8-8bd0-b237519ffb7f.png">

[2018-03-06 20:44] #103 closed, assigned to ksbeattie

[2018-03-06 21:37] ksbeattie opened #123 "foqus vs FOQUS bundle"
What are the contents of the FOQUS bundle vs what is in foqus?

Is foqus a stand-alone product while the bundle is the collection foqus and other products that might be needed for using foqus in a clustered or Aspen context?

What documentation lives where?

[2018-03-06 21:37] #111 closed, assigned to eslickj

[2018-03-06 21:44] #104 closed, assigned to nobody

[2018-03-06 22:15] #114 closed, assigned to eslickj

[2018-03-06 22:21] #48 closed, assigned to ngbrenda

[2018-03-06 22:30] #32 closed, assigned to eslickj

[2018-03-06 22:32] #47 closed, assigned to eslickj, MAZamarripa, fsoepyan

[2018-03-07 00:12] ngbrenda opened #126 "OUU: investigate nonlinear compute time"
Byron reported some performance issues related to sample size. Here is his email:

Here is what I did:
- I went to the OUU tab.
- I selected "Full flowsheet" under "Choose Flowsheet Node".
- I set X01 to X04 as "Continuous Z1", and I set the rest of the variables as "Z4".
- Under "Outputs", I selected "surrogate.negCO2" as "Objective Function", and I set all other variables as "Not used".
- Under

[2018-03-07 01:42] #113 closed, assigned to eslickj

[2018-03-07 02:24] ou3llnl opened #127 "Error trying to launch runs in UQ"
I am getting this error when I try launching simulations:

  File "C:\foqus\foqus_lib\gui\uq\uqSetupFrame.py", line 861, in launchSim
    .input[nkey][vkey].ts
  File "C:\foqus\foqus_lib\framework\graph\nodeVars.py", line 413, in __getattr__
    raise AttributeError
AttributeError

This comes from the following code:

                        for nkey in vals:
                            for vkey i

[2018-03-07 14:06] #119 closed, assigned to eslickj

[2018-03-07 14:11] #109 closed, assigned to nobody

[2018-03-07 14:42] #19 closed, assigned to nobody

[2018-03-07 14:46] #6 closed, assigned to nobody

[2018-03-07 14:58] #23 closed, assigned to eslickj

[2018-03-07 15:03] #35 closed, assigned to eslickj

[2018-03-07 16:04] fsoepyan opened #129 "Flowsheet: Problem Running Simulation"
I downloaded the latest version of FOQUS from GitHub, and I tried to run a simulation from Turbine in the Flowsheet.

I got an error message:

<img width="418" alt="run_03_07_2018" src="https://user-images.githubusercontent.com/30811140/37103021-2c915fe2-2221-11e8-933f-31f76981eeae.png">

[2018-03-08 00:35] #72 closed, assigned to ngbrenda, ou3llnl

[2018-03-08 13:26] #129 closed, assigned to eslickj

[2018-03-08 13:36] eslickj opened #130 "Separate Examples?"
Some of the example simulation files are pretty large.  Would it be better to create a separate examples download?  Or a page somewhere that was like an examples gallery?

[2018-03-08 15:41] #88 closed, assigned to sotorrio1

[2018-03-08 21:28] #24 closed, assigned to ngbrenda, ou3llnl

[2018-03-08 21:36] fsoepyan opened #131 "OUU: Value of objective function"
I did 3 example problems using the OUU tab in FOQUS, including the example problem for Issue #24, which uses a JSON file from SimSinter and a simulation from Aspen Custom Modeler (ACM).

For all 3 example problems:
- The result for the best value of the objective function, presented by the OUU tab, is about -0.85.
- When I used Flowsheet to run the simulation using the decision variables suggested

[2018-03-09 00:50] sotorrio1 opened #133 "UQ: Sensitivity Analysis -> Second-order"
When I tried to do response surface based sensitivity analysis, I ran into problems.

In the "Analysis of Ensemble" window, in the "Choose UQ Analysis" drop-down list I selected "Sensitivity Analysis". In the next drop-down list, I selected "Second-order" and clicked "Analyze".

Error message pops up (see below):

<img width="352" alt="screen shot 2018-03-08 at 3 49 33 pm" src="https://user-images

[2018-03-09 18:56] eslickj opened #135 "Need to add default filters"
Need to create all and none filters for new FOQUS sessions.  By those are default filters in the ALAMO plugin.

[2018-03-09 19:20] #60 closed, assigned to ou3llnl

[2018-03-13 23:28] #14 closed, assigned to ngbrenda, eslickj, ou3llnl, sotorrio1

[2018-03-14 00:01] ksbeattie opened #137 "Many old copyright notices sill in files"
`grep -ir copyright *` shows lots of places where we have the old T&E license or other now out of date licenses still in place.

This is **not** the one we want:

    Initiative (CCSI), and copyright is held by the software owners:
    ORISE, LANS, LLNS, LBL, PNNL, CMU, WVU, et al. The software owners
    and/or the U.S. Government retain ownership of all rights in the
    CCSI software and the co

[2018-03-14 14:27] #112 closed, assigned to nobody

[2018-03-15 12:26] #127 closed, assigned to eslickj

[2018-03-15 12:28] #135 closed, assigned to eslickj

[2018-03-15 12:36] eslickj opened #141 "Error when deleting filter"
2018-03-15 08:35:35,369 - CRITICAL - foqus.__main__ - unhandled exception
Traceback (most recent call last):
  File "C:\Users\jeslick\foqus\foqus_lib\gui\flowsheet\dataFilterDialog.py", lin
e 207, in delFilter
    self.upadteForm()
AttributeError: 'dataFilterDialog' object has no attribute 'upadteForm' 

[2018-03-15 23:40] ksbeattie opened #142 "Fix licences in docs"
In both the Word doc and the manual, the following things need to change:
 - [x] Version number and date on title page
 - [x] Copyright should be same as is already in LICENSE.md
 - [x] The "Protected under CCSI MASTER NDA-1107306" should be removed (seems to be only in footers)
 - [x] Version Log updated with 2.0.0 Open Source release

This is related to both #51 and #93

[2018-03-16 17:45] #141 closed, assigned to eslickj

[2018-03-20 16:09] #74 closed, assigned to eslickj

[2018-03-20 19:51] ksbeattie opened #145 "Clarify installation instructions"
Update top-level readme and linked install markdown files to be clearer on how to install whether as a user or as a developer.

[2018-03-20 21:00] fsoepyan opened #146 "Clean up of psuade files"
When I run OUU, the iterations are no longer recorded in the Flowsheet table.

[2018-03-21 00:50] sotorrio1 opened #147 "Turbine: Add/Update Model to Turbine produces BadStatusLine error"
Within FOQUS I went to "Open Session..." and selected Byron's example #2 (BFB_Opt_03.07.2018.foqus). After that I went to "Add/Update Model to Turbine..." and the "Turbine Upload" window pops up. Under the "Sinter Configuration File" I hit "Browse..." and selected the file "BFB_v11_FBS_01_26_2018.json". I loaded the file and when I click "Okay" in the "Turbine Upload" window, the following error m

[2018-03-21 16:09] CSRussell2319 opened #148 "FIPS Compliance: MD5 not supported"
![bfb_opt_error](https://user-images.githubusercontent.com/37089145/37720934-fac5534c-2ced-11e8-9b02-d237028314f9.PNG)
After opening foqus/examples/Optimization/BFBCostOpt.foqus I attempt to add foqus/examples/Optimization/Model_Files/BFBv6.2.acmf to Turbine and get the error shown in the picture. The error appears after finishing Simsinter configuration, naming the simulation, and clicking "Okay"

[2018-03-21 16:37] CSRussell2319 opened #149 "Cannot Sort Columns in Results Table"
![sort_error](https://user-images.githubusercontent.com/37089145/37722148-e476651a-2cf0-11e8-8068-83b82a192143.PNG)
![sort_error_annotated](https://user-images.githubusercontent.com/37089145/37723345-ce1204ca-2cf3-11e8-8366-04a86ad4195d.PNG)

After running 100 calculations in the Uncertainty tab I return to the flowsheet and click on results column viewer. I then click on "Edit Filters" which open

[2018-03-21 16:43] CSRussell2319 opened #150 "Help "?" Does Nothing in Flowsheet Data Viewer"
![help_button_does_nothing](https://user-images.githubusercontent.com/37089145/37723559-45657e44-2cf4-11e8-9157-329c4ebfe3e8.PNG)

When viewing results in the results column view from the flowsheet there is a "?" that does nothing. I've circled it in the picture.

[2018-03-21 16:48] CSRussell2319 opened #151 "Columns Button Throws Error"
![columns_button_error](https://user-images.githubusercontent.com/37089145/37723792-dbcb6cc2-2cf4-11e8-8d3c-1ab09b400ba8.PNG)

When viewing results from the flowsheet clicking on the "Columns" button throws an error.

[2018-03-21 16:57] CSRussell2319 opened #152 "Opening Examples Throws Error"
![rosenbrock_open_error](https://user-images.githubusercontent.com/37089145/37724273-ff9ec58a-2cf5-11e8-90c9-5fe692754189.PNG)

When opening example files Foqus\examples\Optimization\Rosenbrock.foqus or  Foqus\examples\Optimization\Rosenbrock_Constrained.foqus the error shown in the above image is thrown and the files cannot be opened. Part of #92.

[2018-03-21 17:27] CSRussell2319 opened #153 "Optimization Doesn't Run"
![optimization_error](https://user-images.githubusercontent.com/37089145/37725024-9a2af636-2cf7-11e8-852b-cf4b0f493e2c.PNG)

After opening the example file Foqus\examples\Optimization\OptSampleTest_01.foqus I switch to the "Optimization" tab and click on the "Run" sub-tab. I click on the "Start" button and receive the error message in the picture above without any optimization being run. The messa

[2018-03-21 17:53] CSRussell2319 opened #154 "No "NLOpt" Solver for Optimization"
NLOpt is not listed as a solver under the "Optimization" tab solver menu, but it is listed in the manual under one of the tutorials (Pg 86 under the parameter estimation tutorial). This is either something that is missing from Foqus or something that should be removed from the manual. My stable version of Foqus has this solver. Part of issue #93 and #92 .

Test build of Foqus
![solver_selection](h

[2018-03-21 18:14] CSRussell2319 opened #155 "Discrepancy With Flowsheet Result Data Tutorial"
Following the instructions for this tutorial (Pg 54) and opening the examples\Data\Simple flow.foqus file will not display the results shown in the tutorial in the flowsheet data page. If I open the same file in my stable version of Foqus I get what is shown in the manual. I'm adding the UQ label because the 100 runs are accessed through the "Uncertainty" tab. Linked to #92

Test Build
![simple_fl

[2018-03-21 23:34] #133 closed, assigned to eslickj, ou3llnl, sotorrio1

[2018-03-22 16:28] boverhof opened #159 "error: file 'C:\Users\Administrator\Desktop\foqus\foqusClient.py' does not exist"
Foqus is currently failing to install via pip or "python setup.py install".

[2018-03-22 18:55] #159 closed, assigned to eslickj

[2018-03-22 22:16] CSRussell2319 opened #161 "Option for SSH Download of Dependencies"
When running `python setup.py install` the installer looks for turb_client and attempts to install it. It uses an https link for downloads and installs. For my current network configuration that doesn't work and I need to use ssh instead. Is this a common enough situation that we should have a standard way to deal with it (maybe user input of how they would like to download dependencies)?

For my

[2018-03-26 16:54] #154 closed, assigned to eslickj

[2018-03-26 16:55] #152 closed, assigned to eslickj

[2018-03-26 16:55] #149 closed, assigned to eslickj

[2018-03-26 17:44] #153 closed, assigned to eslickj

[2018-03-27 19:40] #155 closed, assigned to eslickj

[2018-03-27 19:51] #92 closed, assigned to ngbrenda, eslickj, fsoepyan, sotorrio1

[2018-03-27 19:52] #93 closed, assigned to ngbrenda, eslickj, fsoepyan

[2018-03-27 20:26] #5 closed, assigned to ksbeattie

[2018-03-27 20:28] CSRussell2319 opened #166 "Flowsheet Result Data Tutorial Fix"
Following the instructions for this tutorial (Pg 54) and opening the examples\Data\Simple flow.foqus file displays a list of results in the Flowsheet Result Data Viewer. The tutorial should be changed from sorting with ResultName to sorting with result. Specifically the following changes should be made (I still can't upload code):

manual\Chapt_flowsheet\tutorial\data.tex line 40
Old:
`	\item Ente

[2018-03-27 20:44] #151 closed, assigned to eslickj

[2018-03-27 21:02] ksbeattie opened #168 "Remove duplicate files"
The below are sets of duplicate files in the repo.  For the small files this is not a big deal but the large ones, it seems worth the effort figure out how to only have one copy checked in.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

These were found using the following command:
[code]

[2018-03-28 21:53] CSRussell2319 opened #172 "BFBv6.2.3.xlsm Model File Has Error"
When opening "examples\Optimization\Model_Files\BFBv6.2.3.xlsm" I get the following error:

![bfbv623xlsm_open_error](https://user-images.githubusercontent.com/37089145/38058227-601d0eb8-329f-11e8-8fea-0ec744531e91.png)

Simsinter can't open this file from the JSON config file because of the error.

Labeled optimization because it's an optimization example on page 46 of the manual.

[2018-03-29 17:33] CSRussell2319 opened #173 "Parameter Estimation Tutorial Manual Update"
Page 82 of the user manual includes "Figure 63: Adding Node Calculation" that needs to be updated with the new GUI layout. The manual text appears to be updated already.

Old:
![pe_tutorial_node_script_manual](https://user-images.githubusercontent.com/37089145/38103896-dd095800-3344-11e8-905e-856afeeab658.PNG)

New:
![pe_tutorial_node_script](https://user-images.githubusercontent.com/37089145/3810

[2018-03-29 17:59] CSRussell2319 opened #174 "Parameter Estimation Tutorial Doesn't Optimize"
I'm running the parameter estimation tutorial under the optimization section and I encounter an error where no optimization occurs. I've used a sample file I had from a previous release as well as a new one created by me for testing. The following is what is displayed:

![pe_tutorial_optimization_error](https://user-images.githubusercontent.com/37089145/38104985-0f83fef4-3348-11e8-8bb7-581914cabe1

[2018-03-29 19:20] CSRussell2319 opened #175 "Epistemic-Aleatory mode for UQ throws an error"
I attempt to follow the "Response Surface Based Analysis" walkthrough and switch the UQ analysis to Epistemic-Aleatory in expert mode as instructed on page 126 of the manual. I choose a random input to be Epistemic and then click analyze. The sample file is examples\UQ\lptau100_10inputs_4outputs.dat.

The error looks like this:

![epistemic-aleatory error](https://user-images.githubusercontent.com

[2018-03-29 20:42] CSRussell2319 opened #176 "Basic Data Window is Too Small"
When using SolventFit the UI window doesn't show all input boxes by default. There's also no side bar to indicate that there is more to the window if expanded. User currently needs to resize the window to be able to see all of the options for this tool. The window in the manual's screenshot (pg 144) is perfectly sized.

Current Default:
![basic_data_window_too_small](https://user-images.githubuser

[2018-03-29 20:49] CSRussell2319 opened #177 "QCursor Error When Running SolventFit"
When attempting an inference using the example alamo.dat file in SolventFit I get the following error:

![solventfit_error](https://user-images.githubusercontent.com/37089145/38112691-fb104b36-335f-11e8-90e2-a370890a9783.PNG)

[2018-03-30 21:32] #142 closed

[2018-03-30 21:32] #137 closed

[2018-04-02 17:08] CSRussell2319 commented on #175
I'm using the latest foqus code synced with GitHub (I synced this morning and still have the error). Could this be an issue with the example file?

[2018-04-02 23:06] sotorrio1 commented on #175
I'm using same example file...
From your error messages it looks like you're having issues with matplotlib. Have you tried updating the library or something?

[2018-04-03 14:39] CSRussell2319 commented on #175
It looks like the main issue is with line 426 of foqus_lib\framework\uq\Plotter.py
Current:
`self.sliderax = self.fig.add_axes([left, bottom, width, height], axisbg='lightgoldenrodyellow')`

According to recent documentation "axisbg" has been depreciated in favor of "facecolor". If I change the line to the following I don't have an error:
`self.sliderax = self.fig.add_axes([left, bottom, width, he

[2018-04-03 16:11] sotorrio1 commented on #175
Interesting and odd at the same time... "axisbg" still works for me and I can see the slider without an issue. Let me take a look at this and I'll get back to you :)

[2018-04-03 16:32] CSRussell2319 commented on #175
@sotorrio1 I'm using matplotlib 2.2.2 for python 2.7 if that helps

[2018-04-03 17:00] sotorrio1 commented on #175
@CSRussell2319 I was using maplotlib 2.1.0. I upgraded my maplotlib and now I get same error message. Let me see if I can fix the slider issue

[2018-04-05 15:03] CSRussell2319 opened #178 "Surrogates: error with filtering ALAMO"
When following the ALAMO tutorial trying to add a filter as instructed on page 189 throws the following error:

![surrogate filter error](https://user-images.githubusercontent.com/37089145/38373809-549ab412-38af-11e8-9ca1-57e1f6ea7ad2.PNG)

[2018-04-05 15:10] CSRussell2319 opened #179 "ALAMO Tutorial Manual Update"
In the ALAMO tutorial (manual\Chapt_surrogates\tutorial\alamo.tex) line 155 should be updated to reflect the new labeling.

Old:
`\item In the ``Term 1'' column enter: SetName (no quotes).`
New:
`\item In the ``Term 1'' column enter: set (no quotes).`

[2018-04-05 21:56] sotorrio1 commented on #175
@CSRussell2319 can you try a different example file? The slider should work with a different example file

[2018-04-05 22:14] CSRussell2319 commented on #175
Yes, I tried all of the examples in the examples\UQ folder as well as some in the examples\UQ\test_suite\... folders all with the same results: no slider bar visible except for a sliver of black when adjusting the slider. The background error has been resolved.

[2018-04-05 22:16] sotorrio1 commented on #175
What about the RS Visualization with 3 inputs? Does the slider in the isosurface plot work?

[2018-04-05 22:22] CSRussell2319 commented on #175
Yes, the slider in the RS Visualization with 3 inputs does work correctly.

[2018-04-10 17:24] ksbeattie opened #181 "Fix foqus acronym: Surrogates not Sensitivity"
From Mike:

The acronym should also be, FOQUS: Framework for Optimization and Quantification of Uncertainty and Surrogates, not Sensitivity.

I've changed this in the repo description, but not in the readme.  Need to look in other places that it might need to be changed as well.

[2018-04-13 20:24] CSRussell2319 opened #183 "Surrogate Samples Aren't Auto-Generated"
Following the "Tutorial - Surrogates with UQ Tools" section in the FOQUS manual part 3 sub-parts b and c imply that by clicking done the "Flowsheet Results" area will fill with the samples. Instead the user needs to switch to the Uncertainty tab and launch the runs for them to appear. I also have an iReveal issue that may or may not be related. I've provided screenshots below. The first image is a

[2018-04-13 21:32] fsoepyan opened #184 "Flowsheet: Generate Turbine message when running simulation"
- If a model is unavailable in Turbine, an error message will appear when you click on the node or the "Node Editor" button.
- We would like for this error message to appear if we try to run the simulation prior to clicking on the node or the "Node Editor" button.

[2018-04-16 17:48] fsoepyan opened #185 "Flowsheet: Change name of "Edit Filters" button in "Results" table"
To make it clearer, the "Edit Filters" button in the "Results" table should be changed to "Filters".

[2018-04-16 18:02] fsoepyan opened #186 "Flowsheet: Results Table Mouseover"
We would like the mouseover description for the "Results" table to say "Results and Filtering" instead of only "Results".

[2018-04-16 18:04] fsoepyan opened #187 "Flowsheet: The Flowsheet Results Dialog needs capability for adding calculated columns"
Suggestions:
- Add a button to bring up new window that has the same python script capability, allowing user to define variable transformations.
- The variable transformations should then be accessible to define rules of the form x1 < f(x2, x3) where f is a specific variable transformation on x2 and x3. So f(x2, x3) would be a calculated column.

[2018-04-16 18:07] fsoepyan opened #188 "Flowsheet: Code in foqus_lib/framework/sampleResults/results.py"
- There are extra flags in CAPS. Delete the unused ones or add comments to those that are not obvious (or are reserved for future use).
- Delete Results.exportPSUADE() if it is obsolete or add a comment to justify why it's still there.

[2018-04-17 18:27] fsoepyan commented on #185
Please see Pull Request #189.

[2018-04-17 19:53] fsoepyan commented on #183
@eslickj will look into this

[2018-04-17 20:12] fsoepyan opened #190 "Consider Adding Version Information to Requirments"
Some updates to matplotlib and Qt recently have broken things in FOQUS.  Should we consider specifying versions in setup.py?

[2018-04-18 11:30] eslickj commented on #178
@fsoepyan can you see if you can reproduce this?  Just let me know if you can't find the problem or can't fix it.

[2018-04-18 11:31] eslickj commented on #179
@fsoepyan go ahead and make this change

[2018-04-18 11:33] eslickj commented on #173
@fsoepyan go ahead and update this too.  Let me know if you need any help with LaTeX.

[2018-04-18 11:36] eslickj commented on #174
@fsoepyan, can you update this.  I think the trouble is probably that the tutorial and example file still has the time step in the objective expression, but I didn't check that carefully.  If you have any trouble, just let me know.

[2018-04-18 12:03] eslickj commented on #177
Should be fixed with PR #191, which is awaiting review.

[2018-04-18 12:06] eslickj commented on #185
Done

[2018-04-18 12:06] #185 closed

[2018-04-19 14:58] fsoepyan commented on #166
- Taken care of in Pull Request #192.
- I will close the issue.

[2018-04-19 14:58] #166 closed

[2018-04-19 15:01] fsoepyan commented on #173
- Taken care of in Pull Request #192.
- I will close the issue.

[2018-04-19 15:01] #173 closed

[2018-04-19 15:01] fsoepyan commented on #174
- Taken care of in Pull Request #192.
- I will close the issue.

[2018-04-19 15:01] #174 closed

[2018-04-19 15:02] fsoepyan commented on #179
- Taken care of in Pull Request #192.
- I will close the issue.

[2018-04-19 15:02] #179 closed

[2018-04-19 15:06] eslickj commented on #188
Should be done in PR #193

[2018-04-19 15:06] eslickj commented on #187
Should be done in PR #193

[2018-04-19 17:13] fsoepyan commented on #178
- I did the Alamo tutorial in Section 8.2 of the user's manual
- I did the steps in Page 180
- I made sure that the word set has no quotes, and the word UQ_Ensemble has quotes
- I applied the "Initial" filter
- I got similar error message that Chris (@CSRussell2319) got:

<img width="961" alt="alamofilter_04_19_2018" src="https://user-images.githubusercontent.com/30811140/39007225-d749373a-43f4-11

[2018-04-19 19:41] fsoepyan commented on #145
- The installation instructions seem clear to me.
- Can we close this issue?

[2018-04-19 19:45] fsoepyan commented on #91
Given that there is a solution to this issue, I will close this issue.

[2018-04-19 19:45] #91 closed

[2018-04-19 19:59] fsoepyan commented on #150
Should we considering removing the "?" button from the dialog box corner?

[2018-04-20 14:32] fsoepyan commented on #188
Since PR #193 has been merged, can we close this issue?

[2018-04-25 20:28] ksbeattie commented on #181
Looks like this was fixed in the README.md by @fsoepyan via ecdbf5ba1a6975a9627374de96c60b8e1b6118fe and d422da90ec7b44b0eb60f10eb3053fce3f8a75ed

Not sure if there are other locations that it needs to be updated or not...

[2018-04-26 15:39] CSRussell2319 commented on #150
I think that was what @eslickj initially suggested. You're probably safe to remove it or comment it out.

[2018-04-26 15:52] CSRussell2319 commented on #172
File seems to work fine. I can't do a whole lot with the file because turbine throws a cryptography error, but let's count this closed.

[2018-04-26 15:52] #172 closed

[2018-04-30 21:59] ou3llnl commented on #58
@eslickj : Was there a change with recording the flowsheet table values?

[2018-04-30 22:02] ou3llnl commented on #146
I  think this has to do with OUU not able to advance due to issue #101. When I can fully debug what is going on and fix it, this should no longer be an issue. Some progress has been made, but it is still ongoing.

[2018-04-30 22:05] ou3llnl commented on #58
Oh, the values recording is actually issue #146

[2018-04-30 22:12] ou3llnl commented on #131
@fsoepyan : What value do you get when you run in flowsheet? Is it very different? Also, some models have some inherent randomness. Is that true in this case?

[2018-05-01 14:53] fsoepyan commented on #131
- I ran OUU using the example file from Issue #24
- The OUU tab says that the values of the decision variables d1 to d4 are: 1, 1, 1, and 0.5
- The OUU tab says that the value of the objective function is -0.85
- I ran Flowsheet using the above values of the decision variables, and the average values of the uncertain variables
- The value for the objective function is -0.94

[2018-05-01 16:38] fsoepyan commented on #131
- I ran OUU using the example BFB file that I referenced in this issue
- The OUU tab says that the value of the objective function is -0.85
- I ran Flowsheet using the values of the decision variables from the "Best So Far" box in the OUU tab
- I used the default values of the uncertain variables
- The value for the objective function is 138.8

[2018-05-01 16:50] fsoepyan commented on #60
Thank you Brenda (@ngbrenda) and Jeremy (@ou3llnl), it works.

[2018-05-01 18:31] fsoepyan commented on #58
Brenda (@ngbrenda), in a lot of our applications, when we need to do OUU on a process in Aspen , we handle recourse variables by doing the 2nd stage optimization in Aspen.

I guess we can close this issue?

[2018-05-01 19:54] #181 closed

[2018-05-01 19:55] #145 closed, assigned to eslickj

[2018-05-01 19:56] ksbeattie commented on #183
Waiting for review/merge of #194 ...

[2018-05-01 19:59] ksbeattie commented on #175
This was reportedly fixed in #195

[2018-05-01 19:59] #175 closed

[2018-05-01 20:04] #188 closed

[2018-05-01 20:10] ksbeattie commented on #123
We will rename this repo to be all uppercase.  And remove/archive the old FOQUS bundle repo.  But I will experiment with this on if renaming will break forks.

[2018-05-02 00:32] ksbeattie commented on #123
It appears that you can't just rename a repo by only changing the case of the name.  But, you can change it to something else, then change it back (almost) to the name with all caps.  It looks like this won't break forks as github will track that and redirect remote urls, etc.  So, I *think* this is safe to do, but would like to do it during one of our calls when everyone knows it's happening....

[2018-05-02 18:54] #58 closed, assigned to ngbrenda, ou3llnl

[2018-05-03 14:42] fsoepyan commented on #186
Taken care of in PR #194.

[2018-05-03 14:42] #186 closed

[2018-05-03 14:42] fsoepyan commented on #184
Taken care of in PR #194.

[2018-05-03 14:42] #184 closed

[2018-05-03 14:43] fsoepyan commented on #183
Taken care of in PR #194.

[2018-05-03 14:43] #183 closed

[2018-05-03 15:12] fsoepyan commented on #99
I ran OUU using the example file from Issue #24, and this is no longer an issue.

[2018-05-03 15:12] #99 closed

[2018-05-03 15:15] fsoepyan opened #196 "Flowsheet: Turbine error message appears even when model is in Turbine"
- I ran Flowsheet using a model that has already been uploaded to Turbine
- I got the error message that says that the model has not been uploaded to Turbine
- But despite that, the simulation still ran successfully

[2018-05-08 20:33] fsoepyan commented on #196
Taken care of in PR #197.

[2018-05-08 20:33] #196 closed

[2018-05-08 20:48] ksbeattie commented on #123
I've renamed the repo.

Let's hope it didn't break anything...

[2018-05-09 19:54] fsoepyan opened #198 "Flowsheet: Problem Running Surrogate Plugin"
- I opened a FOQUS file, where I am running a node that uses a previously-generated ALAMO surrogate model
- I ran the Flowsheet simulation, and I got this error message: "The simulation completed with an error 20, Flowsheet thread terminated"
- I went to the Node Editor to specify the "Type" and "Model" under the "Model" heading
- I specified "Plugin" as the "Type"
- I specified "alamo_surrogate_f

[2018-05-10 19:20] fsoepyan opened #199 "Flowsheet: Problem Running Simulation from Python Code"
- I am following the Alamo tutorial in the manual
- I tried running the simulation after I typed in the equations for z1 and z2, which are functions of x1 and x2
- I got this error message:

![image](https://user-images.githubusercontent.com/30811140/39889372-ab9399e2-5465-11e8-8780-827bc2c24029.png)

[2018-05-11 19:09] fsoepyan commented on #199
- I redid the tutorial, and I did not run into the error

[2018-05-11 19:18] fsoepyan commented on #198
- I followed the Alamo tutorial in the FOQUS user's manual
- After I clicked "Run" under "Execution", I got this error message:

Traceback (most recent call last):

  File "C:\Users\fsoepyan\Desktop\Research Files\GitHub_Downloads\FOQUS-master-05.09.2018\foqus_lib\framework\surrogate\ALAMO.py", line 500, in run
    self.writeAlamoInputFile(adaptiveExe=adpexe)

  File "C:\Users\fsoepyan\Desktop\Res

[2018-05-15 19:52] ngbrenda commented on #26
Since this is a flowsheet data issue, @eslickj is more suited to looking at this issue.

[2018-05-15 20:02] ksbeattie commented on #15
Closing this due to age and the unlikelihood that anyone will be submitting 10K jobs anytime soon.

[2018-05-15 20:02] #15 closed

[2018-05-15 20:04] ksbeattie commented on #25
@eslickj needs to look into this again if it is still an issue or not.

[2018-05-15 20:07] ksbeattie commented on #26
@MAZamarripa could you try this again?  @eslickj says that this code has been re-written so this issue likely no longer exists.

[2018-05-15 20:13] ksbeattie commented on #28
@eslickj will need to have @boverhof make more progress on the AWS work to test this again.

[2018-05-15 20:16] ksbeattie commented on #29
@MAZamarripa closing due to age, let us know if this is still an issue.

[2018-05-15 20:20] ksbeattie commented on #38
Closing this as something we won't fix.

[2018-05-15 20:20] #38 closed

[2018-05-15 20:23] #46 closed, assigned to eslickj, fsoepyan

[2018-05-15 20:25] #65 closed, assigned to boverhof, eslickj

[2018-05-15 20:41] ksbeattie commented on #187
@eslickj says that the filer dialog will be re-written and this will go away as an issue...

[2018-05-15 20:43] #199 closed

[2018-05-15 20:44] ksbeattie commented on #123
Looks like this rename is ok.

[2018-05-15 20:44] #123 closed

[2018-05-16 01:59] boverhof opened #200 "Serverless Session WS-Resource"
# Implement base functions for session resource AWS lambda Node.js backend
## GIT foqus/cloud/aws/node
## Utilize npm and Node.js 6.1.0
## Node.js Lambda functions
### Create custom Authorizer lambda
-- 'http_basic_authentication'
### get_session_root
-- returns JSON array of all sessions
### get_session
-- returns JSON array of all "metadata" for jobs in session
### post_session_start
-- sends al

[2018-05-16 19:04] ksbeattie opened #201 "Remove old test binary files"
The .xls and .doc file under test/system_test/

possibly other files in there

[2018-05-18 13:35] eslickj commented on #177
@fsoepyan, the second issue here is something different than the qcursor problem.  Can you refile the second issue as a new issue and assign it to @ou3llnl?  Close this issue once that's done. Having two issues mixed up together could get confusing.

[2018-05-18 17:50] fsoepyan commented on #198
- I downloaded FOQUS from the eslickj:fix_surrogate_nodevars branch
- When I tried to open a file from the Surrogate tutorial, I got the same error message as before
- In another file, when I tried to use the "alamo_surrogate_fsBY_rS" ALAMO surrogate model, I got the same error message as before

[2018-05-18 18:01] #177 closed

[2018-05-18 18:04] fsoepyan opened #207 "SolventFit: Error when Running SolventFit in "Basic Data" Tab"
- I followed the instructions in Section 5 (SolventFit) of the user's manual.
- I got the following error:

<img width="960" alt="solventfit_04_19_2018" src="https://user-images.githubusercontent.com/30811140/40250451-5329789a-5aa4-11e8-8ce9-323bb40ea68e.png">

[2018-05-18 18:41] fsoepyan commented on #207
- John (@eslickj) and I modified line 836 in the file "foqus_lib\gui\solventfit\solventFitSetupFrame", where we added "()":

show=showList, rpath = self.parent().parent.dat.foqusSettings.rScriptPath,

- We did not get the previous error message

- Instead, we get this error message:

<img width="265" alt="solventfit_05_18_2018" src="https://user-images.githubusercontent.com/30811140/40252102-44bc7

[2018-05-18 18:43] fsoepyan commented on #207
- Immediately after closing the 1st error message, we get this error message:

<img width="265" alt="solventfit2_05_18_2018" src="https://user-images.githubusercontent.com/30811140/40252266-da7aa6e8-5aa9-11e8-9eee-75fdd2d13c2d.png">

[2018-05-18 18:48] fsoepyan commented on #178
I tested FOQUS, and the issue has been resolved.

[2018-05-18 18:48] #178 closed

[2018-05-18 18:59] eslickj commented on #198
Yeah.  The problem is not in running the flowsheet plugins, but in generating them.  The "nodeVars" should now be "NodeVars" in the generated code.  Unfortunately to test the fix you have to generate a new plugin.  Also if you have old plugins you like, they can be fixed by manually capitalizing nodeVars.

[2018-05-18 19:05] fsoepyan commented on #187
I tested FOQUS, and I no longer run into the issue.

[2018-05-18 19:05] #187 closed

[2018-05-18 19:38] fsoepyan commented on #73
I tested FOQUS, and FOQUS now has this capability.

[2018-05-18 19:38] #73 closed

[2018-05-18 19:40] fsoepyan commented on #100
As John (@eslickj) mentioned in PR #206, the user is no longer able to change a variable's name.

This resolves the issue.

[2018-05-18 19:40] #100 closed

[2018-05-18 21:01] fsoepyan commented on #198
- I redid the ALAMO tutorial
- I managed to generate the surrogate model
- I can use the surrogate model in the flowsheet

[2018-05-18 21:15] fsoepyan commented on #198
- I modified the python code for an existing ALAMO surrogate model
- Except for the line that says "from foqus_lib.framework.graph.nodeVars import *", I changed "nodeVars" to "NodeVars"
- I can now use the existing surrogate model in the flowsheet

[2018-05-18 21:15] #198 closed

[2018-05-23 01:20] sotorrio1 opened #208 "Surrogates: "Current Filter" dropdown menu should default to "all""
In the Surrogates module, under the Data tab, the "Current Filter" dropdown menu defaults to "blank" so the "Number of Rows" doesn't display anything. I suggest it defaults to "all" so "Number of Rows" equals the number of samples.
<img width="1243" alt="screen shot 2018-05-22 at 6 15 05 pm" src="https://user-images.githubusercontent.com/33531919/40398409-c04568bc-5dec-11e8-8875-36e747eb130a.png">

[2018-05-23 22:12] CSRussell2319 opened #209 "Response Surface Gaussian Process Validation Error"
![gaussian process rsanalyzer error](https://user-images.githubusercontent.com/37089145/40453670-30dccd20-5ea3-11e8-9ccc-71962b1850c4.PNG)
The above error occurs when attempting to validate runs in FOQUS using the Gaussian process. This is using the rosenbrock_no_vectors.foqus example file with 1000 runs from a UQ ensemble. All inputs are left as variables and LHS is used for the sampling scheme.

[2018-06-01 18:44] fsoepyan commented on #208
- I did a UQ example
- As Pedro (@sotorrio1) mentioned, the "Number of Rows:" is blank when you go to the "Surrogates" tab for the first time
- But after swapping the filter from blank to "All", the "Number of Rows:" has the correct number
- I swapped the filter back to blank, and the "Number of Rows:" still has the correct number
- This gives me the impression that the "Number of Rows:" will be b

[2018-06-01 18:53] sotorrio1 commented on #208
@fsoepyan That's why we are suggesting the menu to start by default at "all" instead of blank

[2018-06-05 19:30] CSRussell2319 opened #212 "Bayesian Inference Exits Testing Scripts"
When attempting to perform automated testing for UQ Bayesian inference something triggers the script to finish prematurely. After clicking the "Infer" button a dialog box opens with code running then that box closes around the time of the `psuade>` mark in the picture below. That's when the rest of the testing script runs before continuing the inference script. Ideally this could all be run from t

[2018-06-05 19:55] CSRussell2319 opened #213 "Add Testing Suite for UQ Functions"
Create a testing suite that runs through the different parts of the UQ tab to test different combinations of selection boxes.

[2018-06-05 19:59] CSRussell2319 opened #214 "Add Testing Suite for Flowsheet Tab"
Create an automated testing suite that does basic flowsheet functions (possibly following the "Simple_Flow.foqus" example file).

[2018-06-05 20:07] CSRussell2319 opened #215 "Add Optimization Testing Suite"
Add a testing suite that goes through the optimization tab using different solvers and types of problems (regression and optimization).

[2018-06-05 20:11] CSRussell2319 opened #216 "Optimization Under Uncertainty Testing Suite"
Create a testing suite that goes through the different features of the OUU tab in FOQUS.

[2018-06-05 20:12] CSRussell2319 opened #217 "Surrogate Testing Suite"
Create a testing suite that goes through the different features of the Surrogate tab in FOQUS.

[2018-06-05 20:16] CSRussell2319 opened #218 "Test Script Recognize Error Message"
Testing script will hang when an error message appears. If the "OK" button is pushed script proceeds as it normally would. Ideally the appearance of an error message would save the contents of the error message to a log file and exit the testing script.

[2018-06-05 20:22] CSRussell2319 opened #219 "Input PDF Parameters Via Script"
I'm trying to use a testing script to put a value into these two boxes (and wherever else PDF selection appears) so I can test different PDFs. I'm having trouble figuring out the syntax of how to push a value to these boxes.

Does anyone know how to do this?

Best I can tell it's the box title (mean/std ..) that's throwing off the standard methods for pushing values here.

![pdf parameters](https:

[2018-06-05 20:25] CSRussell2319 opened #220 "Generate Log File for Automated Tests"
Each automated test script should at the very least keep track of the successes and write them to a file to look at later so devs can locate the error point.

[2018-06-09 02:27] sotorrio1 commented on #209
@CSRussell2319 Could you try installing the new psuade version (https://github.com/LLNL/psuade/releases/tag/1.7.12) and try the Gaussian process again? It will take a while but it should work.

[2018-06-11 15:31] CSRussell2319 commented on #209
@sotorrio1 I tried installing the latest psuade version, but the exe file is instantly deleted by my anti-virus software. I'll work with support on my side to see what's going on, but in the meantime can you verify that the exe on GitHub is safe and actually psuade?

[2018-06-11 16:57] sotorrio1 commented on #209
@CSRussell2319 I had same issue in the past, but I just ignored it. I've uploaded the exe file to GitHub myself, so I assure you it is safe and it is psuade.

[2018-06-11 17:35] boverhof opened #221 "AWS EC2 Backend"
# AWS FOQUS Worker
## python foqus_worker.py
- python process in FOQUS distro
- pops off AWS SQS foqus job queue
- pulls foqus flowsheet and additional simulations out of configured S3 Bucket
- executes foqus flowsheet specified
- updates to job status and results are pushed out to SNS and stored in S3 Bucket

## Windows Service wrap/monitor/manage the foqus_worker

[2018-06-11 22:04] CSRussell2319 commented on #212
This also occurs in OUU analysis. I think it's directly tied to calling psuade since that seems to be the common thread here. With OUU I can actually close foqus with my script before the psuade script finishes running.

[2018-06-12 18:46] fsoepyan opened #222 "Problem saving/opening files with outdated Pandas"
Miguel (@MAZamarripa) reported this following issue:
- The file did not save, and would not open.
- After trying to save the file, this error message appeared:

![save_06_12_2018](https://user-images.githubusercontent.com/30811140/41310365-4d087826-6e4f-11e8-802a-455425b513db.jpg)

[2018-06-12 19:59] ksbeattie commented on #51
I will work on getting Jenkins building this for the June release.

There doens't appear to be the will and time to move away from LaTeX.

[2018-06-12 20:00] MAZamarripa opened #224 "UQ parity plots"
Issue when selecting the user regression in UQ, the parity plot seems to be incorrect. @ngbrenda @fsoepyan
First plot is the one generated with UQ Analyze, while the second and third ones are generated with ALAMO and excel, respectively.

![uq_issue_parityplot](https://user-images.githubusercontent.com/24570008/41313975-5cf2c37c-6e59-11e8-9ae2-ce053c395790.png)
![uq_issue_alamoparity](https://user

[2018-06-12 20:02] ksbeattie commented on #131
@sotorrio1 is working with a new version of psuade, will keep us posted.

[2018-06-12 20:04] ksbeattie commented on #101
@fsoepyan will test with new version of psuade

[2018-06-12 20:16] ksbeattie commented on #105
@eslickj says he sent @ngbrenda an example from work that  @jmorgan29 did that might help here.

Josh says he will look to dig up that email again...

[2018-06-12 22:09] CSRussell2319 commented on #209
@sotorrio1 I finally was able to install the latest version of PSUADE. It fixed the issue with the Gaussian process, but MARS with Bagging now has the same exact error.

[2018-06-12 23:02] ou3llnl commented on #224
@MAZamarripa: We got the session and surrogate code. Can you send us the contents of the "Boiler_surrogate_180612110218_files" subdirectory in your working directory? Thanks!

[2018-06-12 23:20] ou3llnl commented on #209
@CSRussell2319 : Can you attach the "psuadelog" file in your working directory that is generated right after running MARS with Bagging and getting this error? Thanks

[2018-06-12 23:38] ou3llnl commented on #207
So this is a problem with additional R packages (abind and possibly others) not having been installed in your version of R. There are instructions in the manual. The solvent fit section will list the packages but will refer you to the acosso surrogate section for how to install those packages into your R.

[2018-06-12 23:44] ou3llnl commented on #146
@fsoepyan : Try this with psuade 1.7.12 and let me know. I think it should work now.

[2018-06-13 00:01] ou3llnl commented on #219
So the Param cells are actually 1-row, 2-column tables embedded within the cell. To modify, the Param1 in row 0, You would do something like this:
w.distTable.cellWidget(0, 6).item(0, 1).setText("0.3523523")

[2018-06-13 13:54] CSRussell2319 commented on #209
@ou3llnl here's the log file:
[psuadelog.txt](https://github.com/CCSI-Toolset/FOQUS/files/2098385/psuadelog.txt)

[2018-06-13 16:40] CSRussell2319 commented on #219
@ou3llnl Thanks, that at least pointed me in the right direction. the code needed for this was:
`w.inputPrior_table.cellWidget(2,4).setItem(0,1, QtWidgets.QTableWidgetItem("0.3523523"))`

Apparently it's a QTableWidgetItem that needs to be set

[2018-06-13 16:40] #219 closed

[2018-06-13 17:39] CSRussell2319 opened #225 "UQ PDF Selection Errors"
![distribution selection](https://user-images.githubusercontent.com/37089145/41368107-2c2bc004-6efe-11e8-8152-3bbd658ba620.PNG)
This error appears when Lognormal or Exponential PDFs are selected for a parameter distribution and the "Sampling Scheme" tab is then selected. The other PDFs don't show this error.

[2018-06-13 17:42] CSRussell2319 opened #226 "UQ PDF Calculation Errors"
![distribution selection_2](https://user-images.githubusercontent.com/37089145/41368211-8414bffa-6efe-11e8-93c9-fd7ae9233e23.PNG)
This error appears when trying to generate samples with Lognormal or Beta distributions and PSUADE (Latin hypercube used here). I've attached the PSUADE log files as well.

[psuadelog_lognormal_dist_uq_sample.txt](https://github.com/CCSI-Toolset/FOQUS/files/2099251/psua

[2018-06-13 17:46] CSRussell2319 commented on #216
Preliminary tests are ready to go. Just waiting for #212 to be resolved.

[2018-06-13 18:53] fsoepyan commented on #146
- I downloaded psuade 1.7.12 from GitHub
- I made sure the psuade directory under the "Settings" tab refers to the correct folder
- When I ran OUU, I got this error message:

<img width="961" alt="ouu_06_13_2018" src="https://user-images.githubusercontent.com/30811140/41371766-5a3c2a4a-6f19-11e8-81af-163c6ff8f009.png">

- I closed the error message
- I checked the "Flowsheet Results" table, and th

[2018-06-13 19:29] fsoepyan commented on #101
- This is continuing from my comment in Issue #146
- I downloaded psuade 1.7.12 (the latest version)
- When I tried to stop an OUU run by pressing the "Stop" button, I still have the same problem as before, where the "Stop" button is not returning to the "Run OUU" button

[2018-06-13 20:59] CSRussell2319 opened #227 "Trouble Starting Optimization Using Automation"
I encounter an error when trying to perform the following:
`MainWin.optSetupFrame.optMonitorFrame.startButton.click()`

This is the error message I receive:
![start_opt_automation_issue](https://user-images.githubusercontent.com/37089145/41377709-29c60ace-6f1a-11e8-9c6c-9467bbdee757.PNG)

Is there an additional load/apply function that needs to be run before clicking this button? After the error I

[2018-06-13 21:42] ou3llnl commented on #146
Ok. That's an error I was not anticipating. At least you are getting plot points now, which I assume you were not getting before. I'll have to look into how this could have happened.

[2018-06-14 19:12] CSRussell2319 commented on #215
Stalled until #227 is resolved

[2018-06-15 12:14] eslickj commented on #105
From @jmorgan29:

Hello all,

Based on the conversation during yesterday’s meeting, I have reorganized the MARS code to include a template file (‘main’) that calls a series of additional files (‘rs1’,’rs2’,…) to calculate the interpolated value for each of 5 outputs. Also included in the template file are names of the input and output variables as well as example values for the inputs. I am hoping

[2018-06-15 12:17] eslickj commented on #105
From me:

A flowsheet plugin based on what Josh sent is attached.  Now if we can automate the generation we'll be set.  I don't know want goes in with the UQ stuff so someone else will have to take it from here.

[mars_plugin.zip](https://github.com/CCSI-Toolset/FOQUS/files/2105991/mars_plugin.zip)

[2018-06-15 20:45] fsoepyan commented on #146
Actually, I managed to get the plot points (in the bottom right corner) with the previous version of psuade.

[2018-06-15 21:40] fsoepyan commented on #131
- I used the OUU tab using psuade 1.7.12 for the Example 1 file that I used earlier for this issue
- According to the OUU tab:

Objective value = -5556.319
x1 = 3843.996
x2 = 1124.004
x3 = 0.163578
x4 = 0.2516

- I ran Flowsheet using the above values of x1 to x4, and the default values of the uncertain variables
- The value I got for the objective function is: -102.67687903045

[2018-06-19 00:33] ou3llnl commented on #146
@fsoepyan : What is the method the flowsheet is using to calculate the errors? Is this a standard turbine node? Or is this an attempt to use the surrogate capability that Josh Morgan and John Eslick have been adding to flowsheet?

If you were to run a standard turbine/turbine lite problem, does it work?

[2018-06-19 14:44] fsoepyan commented on #146
Answering your first question:
- I did not use the new surrogate capability
- I used "Plugin" and the ALAMO surrogate model

[2018-06-19 15:13] fsoepyan commented on #146
Answering your 2nd question:
- I ran OUU using a turbine lite model
- I got the same error message that I showed earlier, and the OUU runs were not recorded in the Flowsheet table
- I'm also having the same problem as that mentioned in Issue #131

[2018-06-19 19:20] ksbeattie commented on #209
I'm adding this to the June release board as "in progress" since that seems to be the case...

[2018-06-19 19:29] #220 closed

[2018-06-19 19:29] #214 closed

[2018-06-19 19:30] #216 closed

[2018-06-19 19:30] #218 closed

[2018-06-19 19:43] CSRussell2319 commented on #225
Probably tied to #226. I think this dialog should be updated to tell the user what they are doing wrong instead of displaying an exception.

[2018-06-19 19:46] ksbeattie commented on #209
This may require a new psuade version...

[2018-06-19 19:48] ksbeattie commented on #207
@fsoepyan, says he will retest with the correct R packaged installed.

[2018-06-19 19:52] ksbeattie opened #230 "Add R installation details to INSTALL.md file"
There are several packaged that are required to be installed in R for FOQUS.  Add details on how to install R and what to install inside of R.

[2018-06-19 20:26] atowfiq opened #231 "Stage 1 space filling design"
LANL is developing code for space filling design based on a user-supplied candidate set. R code developed by Christine is being translated into python by Towfiq.

Preliminary non-GUI code should be completed sometime in July. Then some testing by the team would be beneficial.

[2018-06-19 22:17] CSRussell2319 commented on #226
@sotorrio1 Your suggestion does work

[2018-06-19 22:17] #226 closed

[2018-06-19 22:19] CSRussell2319 commented on #225
Error fixed with help from @sotorrio1, but the dialog should still be updated so I'll keep this open.

[2018-06-19 23:18] sotorrio1 commented on #209
@CSRussell2319 : I've replaced the "psuade_project-1.7.12-win32.exe" file with a new one. This psuade version should take care of MARS with Bagging error.

[2018-06-20 14:49] fsoepyan opened #232 "FOQUS: Make error messages easier for user to understand"
In the long run, we would like to make most, if not all, the error messages generated by FOQUS easier for the user to understand.

[2018-06-20 17:05] fsoepyan commented on #207
- I installed the following packages in R: 'quadprog', 'abind', and 'MCMCpack'
- At one point while running SolventFit, I got this error message:

<img width="960" alt="solventfit_06_20_2018" src="https://user-images.githubusercontent.com/30811140/41673299-8c1c2684-748a-11e8-9217-c4c01814cb28.png">

[2018-06-20 17:15] fsoepyan commented on #207
- I have just installed the 'MASS' package in R
- I will test SolventFit again

[2018-06-20 18:00] CSRussell2319 commented on #209
Updated psuade version fixes the error.

[2018-06-20 18:00] #209 closed

[2018-06-20 18:10] fsoepyan commented on #207
- I have these R packages installed: 'quadprog', 'abind', 'MCMCpack', and 'MASS'
- I reran SolventFit
- This time, I got this error message:

<img width="960" alt="solventfit2_06_20_2018" src="https://user-images.githubusercontent.com/30811140/41676455-8d8ad138-7493-11e8-8653-694e212148bc.png">

[2018-06-20 18:13] fsoepyan commented on #207
After I closed the previous error message, I got another message that says:

SolventFit: post.samples does not exist.
Please consult the FOQUS UQ developers for assistance.

[2018-06-21 15:36] fsoepyan commented on #222
I think once PR #229 is merged, we can close this issue.

[2018-06-21 16:14] CSRussell2319 commented on #212
Fixed the issue for Inference with this:
`MainWin.app.activeWindow().inference.inferencer.thread.terminate()`
For the InferenceDialog window.

I'll look into the OUU case to see if there's a similar solution available.

[2018-06-21 21:34] CSRussell2319 commented on #212
Will close once PR #234 is merged

[2018-06-22 11:37] #201 closed

[2018-06-22 15:41] fsoepyan commented on #230
I believe that once PR #233 is merged, we can close this issue.

[2018-06-22 15:41] fsoepyan commented on #222
PR #229 has been merged.

[2018-06-22 15:41] #222 closed

[2018-06-26 17:59] ou3llnl commented on #207
Unfortunately, this may be an issue with SolventFit, which is not in our wheelhouse. @ngbrenda : Is there any way you might be able to take a look at this? You are probably the person that has the best chance of figuring out what's happening here.

@fsoepyan : The last message is kind of just a catch-all to say that something failed in solvent fit, and the results file we were expecting was not wr

[2018-06-26 18:07] eslickj commented on #227
@CSRussell2319, can you attach the script where this problem shows up?

[2018-06-26 19:34] #221 closed

[2018-06-26 19:38] boverhof commented on #27
I'd like to add the ability to "sync" a users simulations via git, rather than doing HTTP PUTs.  This will be targeted for the September milestone.

[2018-06-26 19:39] ksbeattie commented on #232
@CSRussell2319  says this is related to #225 and #226.

[2018-06-26 19:43] #212 closed

[2018-06-26 19:44] #213 closed

[2018-06-26 19:46] ksbeattie commented on #207
@ngbrenda will look into this.

[2018-06-26 19:53] ksbeattie commented on #51
This is was fixed with 831757bb2a9a14459e421fc9c60c8881473d7164

[2018-06-26 19:53] #51 closed

[2018-06-26 20:18] ou3llnl commented on #230
#233 has been merged.

[2018-06-26 20:18] #230 closed

[2018-06-26 22:10] CSRussell2319 commented on #227
@eslickj the file is actually already in the master branch [here](https://github.com/CCSI-Toolset/FOQUS/blob/master/examples/Smoke%20Tests/optimization_smoke_test.py)

[2018-06-27 11:42] eslickj commented on #227
I was able to run the script without any problem.  I'm not sure at all but I'll guess at a solution. Try putting a call to go between the switching tab and the click on start.  It could be an issue with threads where there is not quite enough time to finish something before starting the optimization.  I really don't know if anything is multi-threaded here.  It's just a guess.  The optimization its

[2018-06-27 12:20] MAZamarripa commented on #224
[Boiler_surrogate_180612110218_files.zip](https://github.com/CCSI-Toolset/FOQUS/files/2141126/Boiler_surrogate_180612110218_files.zip)

[2018-06-27 14:52] CSRussell2319 commented on #227
I've tried both of those solutions and I still get the same issue. What version of matplotlib do you have installed?

[2018-06-28 14:56] MAZamarripa commented on #224
I think the issue is in the user_regression file generator/parser (uq_output file).
After runing alamo two files are generated (user plug-in and user regression/uq_output file). We had this issue before, it happens because the order of the variables/equations is incorrect (see, lines 61 to 117 in the attached file).
@ou3llnl @fsoepyan @sotorrio1 @ngbrenda
[alamo_surrogate_uq_Boiler.zip](https://gi

[2018-06-28 17:40] eslickj commented on #227
That's too bad.  This could be pretty hard to debug.  I have 1.5.3.  I can switch to your version and give it a shot too.

[2018-06-28 17:43] eslickj commented on #227
Oh and PyQt is at version 5.6.0 for me.

[2018-06-28 17:55] CSRussell2319 commented on #227
@eslickj I downgraded matplotlib (and it's dependent packages) down to 1.5.3 via conda and now optimization works via my script. It's probably a problem with matplotlib's new libraries. I'm running the latest version of all anaconda packages. Below are the packages that conda downgraded when I installed the older version of matplotlib:

krb5:         1.13.2-0              --> 1.16.1-hb4d044e_6
mat

[2018-06-28 18:53] ngbrenda opened #237 "Conda env standardization"
To standardize the libraries that we are all using, can we create a requirement file and distribute it as part of the install:

`conda list --export > requirements.txt`

That way, all of us can easily duplicate the exact environment (let's call it "foqus_env"):

`conda create --name foqus_env --file requirements.txt`

[2018-06-28 19:43] fsoepyan commented on #207
I am using R version 3.3.3

[2018-06-28 20:05] sotorrio1 opened #238 "Error using MARS and MARS with Bagging in Bayesian Inference"
When running MARS and MARS with Bagging in Bayesian Inference, psuade complains about wrong sequence of commands.

[2018-06-28 20:08] #238 closed

[2018-06-28 23:36] ou3llnl commented on #224
This what I get for output BOILER.2NDAIR
![image](https://user-images.githubusercontent.com/32141584/42065616-d2077d26-7af0-11e8-9a02-bcf483ee8712.png)

It seems the plot for others looks fairly linear though with a different slope than it should be. Are those plots correct?

[2018-06-29 11:47] MAZamarripa commented on #224
Now I can say that the order is incorrect.
First, 2NDAir is a very simple model (5.6525999999993210565208 * X[0]), the order is incorrect after item X[1]. Is a ratio of the inlet fuel flow rate.

The in_labels list:
in_labels = [u'fuel_flow', u'twall_1', u'twall_10', u'twall_2', u'twall_3', u'twall_4', u'twall_5', u'twall_6', u'twall_7', u'twall_8', u'twall_9', u'twall_PH']

Observe the model for

[2018-06-29 13:55] fsoepyan commented on #224
Answering Jeremy's (@ou3llnl) question:
- Yes, there is a recent correction in the OUU tab for the ordering of variables
- In the OUU tab, we used to have a problem where if we have variables x1, x2, ... x10, OUU would order these variables x1, x10, x2, ...
- But this problem has been resolved in the OUU tab

[2018-06-29 16:51] ou3llnl commented on #224
@fsoepyan : Was this fix specific to OUU or would it also reflect in other parts of FOQUS?

[2018-06-29 17:14] fsoepyan commented on #224
I think this fix is specific to OUU.

[2018-06-29 17:20] ou3llnl commented on #224
@ngbrenda Since you wrote the alamo driver writer, we may need you to revisit it to make sure it reorders what comes out of alamo so it reflects the ordering in foqus

[2018-07-05 17:52] CSRussell2319 commented on #227
@eslickj Will the optimization suite be updated to work with matplotlib v2.2.2 or are we going to specify that users must have v1.5.3 installed?

[2018-07-10 17:19] sotorrio1 commented on #232
Issue #67 also related to this

[2018-07-10 19:51] ksbeattie commented on #76
I'm placing this on the July board, but it might not be done by then, which is ok.

[2018-07-10 19:58] ksbeattie commented on #28
@boverhof and @eslickj are working on this

[2018-07-10 20:02] ksbeattie commented on #70
@eslickj is going to take a whack at this, if it's as easy as it looks...

[2018-07-10 20:05] ksbeattie commented on #130
Adding this to the July release board, I will take a look at moving these to a different repo or moving them to LFS.

[2018-07-10 20:09] ksbeattie commented on #147
@sotorrio1 can you take another stab at this?

[2018-07-10 20:12] ksbeattie commented on #227
This is related to, or really will be solved by, #237

[2018-07-10 20:15] ksbeattie commented on #225
Closing this in deference to #232

[2018-07-10 20:15] #225 closed

[2018-07-10 21:46] boverhof opened #242 "Simulation Resource: get-simulation and get-simulation-list"
The current simulation resource on AWS is not working and returns a "null" object, think this was deployed using old code not in GIT.   Change to basic HTTP authorization, and add the GET methods.
[code]

[2018-07-10 22:16] sotorrio1 commented on #147
I tried loading a few of the Heat_Integration examples and I for all of them I get the following error:

<img width="353" alt="screen shot 2018-07-10 at 3 13 55 pm" src="https://user-images.githubusercontent.com/33531919/42540665-36f9e5fe-8454-11e8-8454-e11d7218c15b.png">

[2018-07-11 20:52] boverhof opened #243 "Test AWS Cloud Submission"
Tester will attempt to submit a OUU request to the AWS FOQUS Cloud via FOQUS UI.

Likely this will require building out the REST API.

- TURBINE CONFIGURATION FILE

[code]

[2018-07-12 15:23] fsoepyan opened #244 "FOQUS: Add icon that user can double-click to open FOQUS"
Currently, to open FOQUS, we need to type commands in the Anaconda prompt.

It would be great if during the installation process, a desktop icon can be created that allows the user to open FOQUS by double-clicking the icon.

[2018-07-12 15:28] fsoepyan commented on #67
This issue and issue #232 are the same.

I will close this issue, and leave issue #232 open.

[2018-07-12 15:28] #67 closed

[2018-07-17 15:30] candcook opened #245 "Space-filling SDOE from candidate set non-GUI first version complete"
First version of python code completed and will be sent to Brenda and FOQUS team shortly (end of week).
Code takes candidate set of points (with flexible dimension of inputs) and generates a minimax or maximin design of a specified size (or sizes).

[2018-07-17 15:31] candcook opened #246 "mock up of GUI for creating the input file for SDOE python code"
Mock up of GUI (with required inputs and structure) has been created. This will be sent to Brenda (end of week) for her team to start planning connection to FOQUS.

[2018-07-17 17:59] CSRussell2319 commented on #237
I've been making some progress on this in my fork. I currently have a working yml file, but I want to make sure all pieces of Foqus work in it before submitting a PR.

[2018-07-17 19:29] ksbeattie commented on #245
@candcook, by "sent to Brenda and FOQUS team" do you mean sending it via email or opening a PR here in github?  The preference would be a PR.  If you need help with how to do that, please let me know, I can help.

[2018-07-17 19:52] candcook commented on #245
We can do the transfer in the way that you see best. I think Towfiq can open a PR if that is beneficial.

Christine

From: Keith Beattie <notifications@github.com>
Reply-To: CCSI-Toolset/FOQUS <reply@reply.github.com>
Date: Tuesday, July 17, 2018 at 1:30 PM
To: CCSI-Toolset/FOQUS <FOQUS@noreply.github.com>
Cc: Christine Anderson-Cook <candcook@lanl.gov>, Mention <mention@noreply.github.com>
Subjec

[2018-07-17 20:00] #224 closed

[2018-07-17 20:02] ksbeattie commented on #231
Is this related or a duplicate of #245?

[2018-07-17 20:04] ksbeattie commented on #245
@candcook, I think that would be best for the future.  @CSRussell2319 will help @atowfiq with the details if he needs it.

[2018-07-17 20:11] ksbeattie commented on #227
This can be closed when #247 merges if we are going to stick with matplotlib 1.5.3, but not if we want to move to 2.2.2

[2018-07-17 20:19] ksbeattie commented on #147
@eslickj, can you take a look at this?

[2018-07-17 20:21] ksbeattie commented on #146
@ou3llnl says that this is waiting on a new version of psuade?

[2018-07-17 20:30] ksbeattie commented on #25
@MAZamarripa, is this still happening?  Could you try to reproduce?

[2018-07-17 20:31] boverhof commented on #28
@MAZamarripa please reproduce the issue and document the "steps".

I suspect this is a configuration/usability issue that I'd like to address.

[2018-07-17 22:01] atowfiq commented on #245
I fully agree with the idea Keith suggested. I will do the transfer through
PR. Sorry couldn’t make it to the meeting today. Will ask Chris if I need
any help with that.

On Tue, Jul 17, 2018 at 2:04 PM Keith Beattie <notifications@github.com>
wrote:

--

####################################################
Towfiq Ahmed, PhD
Staff Scientist
T-4, Theoretical Division,
Los Alamos National Laboratory

[2018-07-24 20:08] ngbrenda commented on #245
@atowfiq has sent me the scripts and a presentation of a GUI mockup. I will help clean up the scripts before pulling it into our main repo. @ou3llnl and @sotorrio1 will help with revising the FOQUS SDOE GUI to contain the components proposed by @atowfiq's GUI mockup.

[2018-07-25 07:12] #215 closed

[2018-07-25 07:18] ksbeattie commented on #237
I've merged PR #247 but I'm not closing this issue just yet as I ran into the following problem when working under Linux:

When running `conda env create -f foqus_env.yml`
Had to comment out 'pywin32' from foqus_env.yml, as it appears that is not available on Linux?  Anyone know if there's a way to make this os-specific in the .yml file?

When running: `python foqus.py` got:
[code]
But googling fo

[2018-07-25 07:19] ksbeattie commented on #227
@CSRussell2319 could you confirm this is ok now that PR #247 has merged?

[2018-07-25 17:56] ngbrenda commented on #246
The mock-up is a set of slides showing the control flow of @candcook and @atowfiq's SDOE scripts. We will incorporate into the FOQUS SDOE tab in due time.

[2018-07-25 17:56] #246 closed

[2018-07-25 17:57] #245 closed

[2018-07-25 18:00] ngbrenda opened #248 "Code refactor of SDOE scripts"
The goal is to take @atowfiq's sdoe_v6.py and break the code down to usable parts by FOQUS.

[2018-07-25 18:06] ngbrenda commented on #232
For psuade-supported features, @ou3llnl will update our error message to prompt advanced users to check the psuade.log.

[2018-07-25 18:07] ngbrenda commented on #231
Yes, this is a duplicate.

[2018-07-25 18:07] #231 closed

[2018-07-25 18:33] ngbrenda commented on #176
I am having the same issue too (running on Mac). Is there a way to add scrollbar?

[2018-07-25 18:35] ngbrenda commented on #208
@eslickj, can you please look into this?

[2018-07-25 18:48] ou3llnl commented on #146
We found the error from foqusPSUADEClient.py is actually a problem with Python setup in Windows, which causes calls to Python scripts from console to omit command line arguments.  Follow the steps in the following links to fix your environment.

[https://eli.thegreenplace.net/2010/12/14/problem-passing-arguments-to-python-scripts-on-windows](url)
[https://stackoverflow.com/questions/2640971/window

[2018-07-25 19:02] ngbrenda commented on #207
@sotorrio1 was able to run SolventFit using Rosenbrock data that he generated (N=100, Latin hypercube sampling scheme). It took about 10 minutes.

His R version is 3.5.1.

[2018-07-25 19:04] ngbrenda commented on #34
FOQUS needs to prompt user to explicitly set their R path, the same way that PSUADEPATH is set.

Perhaps we need a quick R test?

[2018-07-25 19:07] ngbrenda commented on #30
I believe "calculated columns" are implemented under @eslickj's filtering feature. Please work with @eslickj to resolve.

[2018-07-25 20:11] fsoepyan commented on #207
- I installed R version 3.5.1
- I will let you know if I can run SolventFit successfully

[2018-07-25 20:48] MAZamarripa commented on #28
The test button now is working. It runs the test and I get an error, since the ".cfg" file is too old, so I suspect that the server is no longer available. You can close the issue @boverhof
When I reported the issue, the button wasn't working at all.
![image](https://user-images.githubusercontent.com/24570008/43226554-32d194ae-902a-11e8-96ad-8a7836215c6f.png)

[2018-07-25 20:50] MAZamarripa commented on #25
The button is working.

[2018-07-25 20:50] #25 closed

[2018-07-25 21:00] fsoepyan commented on #207
- I ran SolventFit using R version 3.5.1
- I got this error message:

<img width="960" alt="solventfit_07_25_2018" src="https://user-images.githubusercontent.com/30811140/43227248-279847de-902c-11e8-9983-7ba043d4aebe.png">

- After I closed the first error message, I got this error message:

<img width="265" alt="solventfit2_07_25_2018" src="https://user-images.githubusercontent.com/30811140/43227

[2018-07-25 21:09] MAZamarripa commented on #26
@eslickj Yes this issue no longer exists.

[2018-07-25 21:09] #26 closed

[2018-07-25 21:09] #28 closed

[2018-07-25 21:33] sotorrio1 commented on #146
@fsoepyan , you actually need to add that to your registry keys. In Windows go to Start button and search for "regedit". Open the regedit.exe and follow the instructions in the first link Jeremy sent (https://eli.thegreenplace.net/2010/12/14/problem-passing-arguments-to-python-scripts-on-windows). I used to have the same issue and now it's fixed. Let me know if you need help with this

[2018-07-27 18:18] fsoepyan commented on #146
- I went to the Windows Start button and searched for "regedit"
- Registry Editor is opened
- I looked for: HKEY_CLASSES_ROOT\py_auto_file\shell\open\command
- I double-clicked "(Default)"
- I changed the "Value data" to: "C:\Users\fsoepyan\AppData\Local\Continuum\anaconda2\python.exe" "%1" %*
- I ran OUU
- The results still are not recorded in the Flowsheet table

[2018-07-27 18:30] sotorrio1 commented on #146
Did you change both registry keys?
HKEY_CLASSES_ROOT\Applications\python26.exe\shell\open\command
HKEY_CLASSES_ROOT\py_auto_file\shell\open\command

The results are not recorded but, do you get the error message anymore?

[2018-07-27 19:07] fsoepyan commented on #146
- I changed both registry keys
- I still get the error message

[2018-07-27 20:40] sotorrio1 commented on #146
odd... @fsoepyan what happens when you run the simple example from the link in the command line? Does it work?

[2018-07-27 21:49] CSRussell2319 commented on #237
I ran my full suite of automated tests with the conda environment and had UQ fail for response surface visualization and uq analysis because matplotlib 1.5.3 doesn't recognize the facecolor property. I've attached the log files generated by my tests. We need to pick a version of matplotlib that fixes #227 and the issues I'm mentioning here.

[AutoErrLog_uq_response_surface_visualization.txt](https

[2018-07-30 15:08] fsoepyan commented on #146
I ran the example problem from the link, and it works:

<img width="406" alt="ouu_07_30_2018" src="https://user-images.githubusercontent.com/30811140/43405879-e9852528-93e8-11e8-9b30-6e3265a858ab.png">

[2018-07-30 18:17] sotorrio1 commented on #146
@fsoepyan so you still get this error?
![screen shot 2018-07-30 at 11 16 09 am](https://user-images.githubusercontent.com/33531919/43415288-09317542-93ea-11e8-8052-f4f3ceb6813a.png)

[2018-07-30 19:07] fsoepyan commented on #146
No.

[2018-07-30 19:09] sotorrio1 commented on #146
ah ok, what error do you get then?

[2018-07-30 19:11] fsoepyan commented on #146
- I used to get the error message that I showed in my June 13 comment, which is the same error message that you showed in your July 30 comment
- But when I ran OUU today with 2 different files, I no longer get this error message

[2018-07-30 19:15] sotorrio1 commented on #146
got it. So the only issue now is that the runs are not recorded?

[2018-07-30 19:15] fsoepyan commented on #146
Yes.

[2018-07-31 18:17] fsoepyan opened #249 "UQ: The "Run Status" bar says there are errors even when the simulation is successful"
- I went to the UQ tab
- I generated the sample points
- I clicked "Launch"
- The green "Run Status" cell says that there are errors, even when the run is successful
- For example, I have 10 sample points, and only 2 sample points have errors, but the "Run Status" cell says there are 10 errors

[2018-07-31 18:26] sotorrio1 commented on #249
@fsoepyan what session are you loading? I'm following same steps with the Rosenbrock_no_vectors session file and I don't run into any issues...

[2018-08-01 18:16] fsoepyan commented on #101
I tested the "Stop" button, and it now works.

[2018-08-01 18:30] fsoepyan opened #250 "Pandas Versions"
There is a range of Pandas version, where if the version is too old or too new, FOQUS will not be able to work properly.

We should fix it for the newest version of Pandas.

[2018-08-01 19:44] fsoepyan commented on #110
- I tried running OUU with an inequality constraint using PSUADE 1.7.12
- I still got the same error message from my first comment
- The "Stop" button did not return to the "Run OUU" button
- Therefore, I'm reopening Issue #101

[2018-08-01 19:45] fsoepyan commented on #101
I am reopening this issue: please see Issue #110 for the reason

[2018-08-01 19:50] sotorrio1 commented on #101
The stop button should work unless there is another error, then the communication with psuade breaks and that's why the stop button "doesn't work".

[2018-08-01 19:53] sotorrio1 commented on #110
Two separate issues here. It's true the new psuade version should be able to handle constraints and it's not. We'll double check with Charles if there is anything wrong with the driver and the commands sent to psuade. The stop button works, but when there is another error the communication with psuade stops and it's not getting any other messages/instructions. That's why it seems the stop button d

[2018-08-01 20:38] ngbrenda commented on #12
This happened within the UQ tab, when the user had created an input ensemble (saved as WORKING_DIR/psuadeData) and clicked the "Launch" button to launch the jobs. @sotorrio1 will figure out how to save the launched samples. Then we can write a parser to load this file back as an ensemble.

[2018-08-01 20:50] ngbrenda commented on #131
OUU returns x* and f(x*). When the user enters x* into the flowsheet (which evaluates f), a different answer was returned. Need to check this out.

[2018-08-01 21:40] fsoepyan opened #251 "UQ: Samples in UQ do not show up in Flowsheet and Surrogates tables"
- In the UQ tab, I would "Launch" the samples to obtain the values of the output variables for the sample points
- After FOQUS finishes this task, the values of the sample points do not appear in the Flowsheet table and the Surrogates table

[2018-08-03 19:04] fsoepyan commented on #249
- I used UQ for an Aspen Plus simulation uploaded to Turbine
- The "Run Status" bar says there is only 1 error
- But the "graph.error" column shows that there is more than 1 error:

<img width="960" alt="uq_08_03_2018" src="https://user-images.githubusercontent.com/30811140/43660950-785d7046-972e-11e8-9c61-56eb7552f96f.png">

[2018-08-03 23:27] ou3llnl commented on #249
Need either one of you to review #252 to see if it fixes this.

[2018-08-04 00:12] ou3llnl commented on #146
@fsoepyan: I just tried it and I get runs recorded in the Flowsheet run table. I loaded Rosenbrock_no_vectors, went to OUU, set Rosenbrock.x1 to Z1, and then "Run OUU". When done, I went to flowsheet and hit the "Results and Filtering" table and runs show up. Do you get any kind of errors or warnings in the console?

[2018-08-06 21:26] sotorrio1 commented on #249
I still don't get that error...

[2018-08-07 14:52] fsoepyan commented on #249
Pull request #252 fixes this issue, and therefore, I will close this issue.

[2018-08-07 14:52] #249 closed

[2018-08-07 17:24] fsoepyan opened #253 "Flowsheet: Some error message can be ignored and FOQUS will still run successfully"
- In the Flowsheet, I have multiple nodes connected with edges
- One of the nodes (Node A) is for an Excel file
- Node A is connected to Node B (also for an Excel file) with an edge
- All the inputs of Node A are specified in SimSinter
- But all of the outputs of Node A are calculated in FOQUS using the Python code
- The outputs of Node A = the inputs of Node B
- When I update the SimSinter file f

[2018-08-07 19:59] boverhof commented on #243
Group of us tested FOQUS UI with AWS FOQUS Cloud.  Job submission worked correctly but the results apparently are missing a field.

`
Traceback (most recent call last):
  File "/Users/boverhof/Documents/workspace.ccsi2/foqus-boverhof/foqus_lib/gui/main/mainWindow.py", line 1274, in checkSim
    self.stopSim()
  File "/Users/boverhof/Documents/workspace.ccsi2/foqus-boverhof/foqus_lib/gui/main/mainW

[2018-08-07 20:00] #243 closed

[2018-08-07 20:04] boverhof opened #254 "RuntimeError: No input in sd dict"
The FOQUS UI throws a runtime error when gathering the results of a session/job run.  Apparently the "input" field is missing and may be because the Turbine Web API is not returning it as expected or the GRAPH clone is not copying it...

`
Traceback (most recent call last):
  File "/Users/boverhof/Documents/workspace.ccsi2/foqus-boverhof/foqus_lib/gui/main/mainWindow.py", line 1274, in checkSim

[2018-08-07 20:07] ksbeattie commented on #76
@sotorrio1 says this is in progress and might have something new for it soon...

[2018-08-07 20:10] boverhof commented on #242
/simulation is implemented:
`foqus_working_dir % curl -k --user $USERTOK https://407osudx4l.execute-api.us-east-1.amazonaws.com/dev/simulation/
[{"Name":"OUU","Application":"foqus","StagedInputs":[]},{"Name":"SimpleFlow","Application":"foqus","StagedInputs":[]},{"Name":"zzfoqus_BFB","Application":"foqus","StagedInputs":[]}]`

[2018-08-07 20:13] eslickj commented on #70
Won't fix.  Don't have time to add anaysis tools in the surrogates section.

[2018-08-07 20:13] #70 closed

[2018-08-07 20:25] ksbeattie commented on #250
@fsoepyan says that pandas 2.3 is too new.

[2018-08-07 20:29] ksbeattie commented on #250
@CSRussell2319 will look into which specific versions of pandas and matplotlib (see #227) we should use and make a pitch to the team for using those.

[2018-08-07 23:48] boverhof commented on #254
I hacked “graph.py” until I could get the simulation to run to completion.  I had to add a bunch of stuff to “self.res” and I’m wondering if something essential is missing in the “copyNode” or "copyGraph" function...

`
foqus-boverhof % git diff foqus_lib/framework/graph/graph.py
diff --git a/foqus_lib/framework/graph/graph.py b/foqus_lib/framework/graph/graph.py
index 53c0158..7de87b3 100644
---

[2018-08-08 16:54] CSRussell2319 commented on #250
@fsoepyan please try pandas 0.21 and report back.

[2018-08-08 18:19] eslickj commented on #251
I did a quick test of this and it works for me.  I fixed the pandas issue, but unless the sample didn't appear after saving and reloading, I don't think this is related to issue #250.

@fsoepyan can you provide steps to reproduce this?

[2018-08-09 15:15] fsoepyan commented on #251
- This issue is taken care of with pull request #256.
- I will close this issue.

[2018-08-09 15:15] #251 closed

[2018-08-09 15:16] fsoepyan commented on #250
- Pull request #256 has been accepted.
- This takes care of the issue, so I will close this issue.

[2018-08-09 15:16] #250 closed

[2018-08-09 17:36] eslickj commented on #208
I didn't change the default filter to all, but I did fix the missing row count in PR #257

[2018-08-09 17:48] eslickj commented on #146
There is a chance this is the same as issue #251. @fsoepyan can you try again now that that has been fixed? That's only if the samples disappear after saving and loading. If this is still a problem can send log messages from session where the problem occurs.

[2018-08-09 18:41] fsoepyan commented on #208
- PR #257 has been approved
- I will close this issue

[2018-08-09 18:41] #208 closed

[2018-08-09 19:28] fsoepyan commented on #146
- I tried running OUU with the latest pull requests (#256 and #257)
- The OUU runs are still not being recorded in the Flowsheet table
- However, the OUU runs are successful
- Here is the message from "Log Viewer":

2018-08-09 15:25:57,506 - DEBUG - foqus.foqus_lib.framework.graph.graph - Running flowsheet(s) locally
2018-08-09 15:25:57,553 - DEBUG - foqus.foqus_lib.framework.sim.turbineConfigurat

[2018-08-15 13:43] ksbeattie opened #259 "Create a "how to install" video"
And feature that link (presumably on YouTube) in the release notes.

[2018-08-15 20:34] boverhof commented on #254
The problem boils down to the "foqus_worker.py" or "foqus_service.py" not filling out the "Output" object in the result response.  Some field names are incorrect or missing.  To fix the error above need to add "Output.input" dict.  Add an ASSERT in the code to make it clear this is an expected field rather than bombing way deep in the foqus code.

## Bad JSON ( foqus_service.py )
[code]

## GOOD J

[2018-08-16 23:19] ou3llnl opened #261 "Refactor InputPrior Table functionality into subclasses"
Refactor the input prior table into subclasses to make maintainability and bug fixing easier

[2018-08-17 19:57] #254 closed

[2018-08-20 16:11] puttak opened #263 "UQ: Problem with loading samples in UQ model from CSV file"
Hi,
I am getting error when i am trying load a csv file format data samples in UQ mode.

[2018-08-20 16:16] puttak opened #264 "UQ: Bayesian inference: inputting the mean and standard deviation"
It asks the user to manual enter the mean and standard deviation for all the variables.
The user needs to copy paste one value at a time.

When we are dealing with many variables and also say design of experiments it becomes really difficult to copy each single value manually.

It will really help the user if he can just copy and paste all the values in one instance.

[2018-08-20 16:54] puttak opened #265 "UQ: We would like to be able to save input to Bayesian inference tab, so that it can be reused later"
When we close the Bayesian inference tab all the information entered is lost. This tab has lot manual inputs to be given.
So it will be easy for the user to use it if we can save the file same as foqus file to continue working afterwards.

[2018-08-20 19:37] fsoepyan commented on #263
Putta (@puttak), can you please provide a screenshot of your error, and a few short bullet points on how to reproduce the error?

[2018-08-20 20:52] fsoepyan opened #266 "User's Manual: Make it more accessible to user"
- I have been asked by 2 interested users if there is a PDF version of the user's manual
- There is, if you click on the "8 releases" button in the FOQUS repository
- Can we make the PDF version of the user's manual more accessible by making it available in the FOQUS folder when the user downloads FOQUS?

[2018-08-20 21:17] puttak commented on #263
![csv issue](https://user-images.githubusercontent.com/30050105/44367151-f6f67300-a49c-11e8-871b-02ac579500a5.jpg)

[2018-08-20 22:10] ksbeattie commented on #254
@boverhof was there a commit or PR that fixed this issue?

[2018-08-20 22:19] ksbeattie commented on #266
@fsoepyan how are these users getting FOQUS?  git clone?  download .zip/.tar.gz file?

I agree with coming up with a way for the manual to be more accessible, but in order for it to be in the folder that they download we'd have to check it into git which would have to happen each an every time the manual was updated.  Besides the link to the PDF is right next to the link that they downloaded FOQUS

[2018-08-21 15:01] fsoepyan commented on #266
- I'm guessing they're getting FOQUS downloaded from the main page of the FOQUS Repository, where they click on the green "Clone or download" button to download FOQUS
- Putting the link for the PDF version of the user's manual in the installation instructions would actually resolve this issue (thank you!)

[2018-08-21 17:35] eslickj opened #268 "FOQUS not getting results for Aspen+ simulations ending with warnings."
FOQUS used to be able to get simulation results for A+ simulations which ended in warnings.  At some point this seems to have stopped working. Regardless of weather the simulation ends in a warning or convergence error the results should be passed back to FOQUS if at all possible.

I think I tracked down the problem.  At some point lines were commented out that cause warnings to be treaded as unkn

[2018-08-21 20:13] ksbeattie commented on #242
@boverhof does this mean this issue is fixed?

[2018-08-21 20:25] ksbeattie commented on #110
@sotorrio1 will follow up with Charles Tong on this.

[2018-08-21 20:27] ksbeattie commented on #131
@sotorrio1 will follow up on this one

[2018-08-21 20:29] ksbeattie commented on #207
@sotorrio1 will see if the FOQUS psuade client is the source of this problem today with @ngbrenda and @ou3llnl.

[2018-08-21 20:31] ksbeattie commented on #105
@ou3llnl will take a look at this.

[2018-08-21 22:39] ou3llnl commented on #265
We have an idea how this could possibly be implemented. We currently keep a history of all analyses performed on each ensemble within UQ. We would implement a pull-down in the inference dialog that would have a list of all previous inference analyses run on the ensemble. When you select one, then the settings are populated from that analysis.

Would this work?

[2018-08-21 22:51] ou3llnl commented on #264
Will require a bit more research on how to access the clipboard in order to paste the values in.

[2018-08-22 18:34] fsoepyan commented on #126
- I tested the OUU tab using an example Aspen Plus simulation
- I ran OUU using 20 samples and 25 samples
- When I ran OUU using 25 samples, it took about 1 hour (more or less)
- The message box that says the OUU runs are finished appeared, and the "Stop" button reverts to the "Run OUU" button
- I will close this issue

[2018-08-22 18:34] #126 closed

[2018-08-23 00:14] ou3llnl commented on #105
So I'm thinking we will depend on the user to generate the different response surface models for each output and then have a dialog that you use to associate an output with the code file and generate the "main.py". @eslickj : How do you actually specify this file as the plugin for the node?

[2018-08-23 13:32] fsoepyan opened #269 "OUU: Different solution generated using OUU tab vs. performing OUU using Optimization tab"
- I have an example Aspen Plus file that I use for Optimization and OUU
- I have 3 decision variables and 2 uncertain (UQ) variables
- I ran this problem using the OUU tab, where I am using 25 sample points
- The solution I got was:

Objective value: -1041
Decision variable 1: 0.95
Decision variable 2: 301
Decision variable 3: 199

- Then I ran this problem using the Optimization tab, where I use

[2018-08-23 16:51] fsoepyan commented on #126
- I tested the OUU tab using the same example Aspen Plus simulation
- I ran OUU using 50 samples
- It took between 2.5 to 3 hours (which is fine)

[2018-08-23 17:00] fsoepyan commented on #146
- I tested the OUU tab using the same example Aspen Plus file from issue #126
- I have 3 decision variables, 2 uncertain (UQ) variables, and I ran OUU using 50 samples
- The OUU results are saved in the Flowsheet table with "listener" as the set name
- According to the OUU tab, there are 3150 iterations
- But the Flowsheet table only shows 1300 data points
- Can anyone please let me know why these

[2018-08-23 17:04] fsoepyan commented on #131
- I tested the OUU tab using the same example Aspen Plus file from issues #126 and #146
- I have 3 decision variables, 2 uncertain (UQ) variables, and I ran OUU using 25 samples
- According to the OUU tab:

Iteration = 1700
Objective value = -1041.183
Decision variable 1 = 0.95
Decision variable 2 = 301.09
Decision variable 3 = 199.29

- I went to the Flowsheet, and ran FOQUS using the above value

[2018-08-23 18:19] sotorrio1 commented on #269
@fsoepyan could you send the problem you're using and the steps you're following? Thanks!

[2018-08-24 16:25] fsoepyan commented on #131
- I used another example file to test the OUU tab (I used the OUU toy problem from the FOQUS GitHub download: FOQUS-master\examples\OUU\Toy2)
- I ran OUU to minimize z, while setting d1-d4 as decision variables (Z1), and omega1-omega4 as uncertain variables (Z4)
- These are the results I got from OUU when I ran it with 20 samples:

Objective value = -5556.32
d1 = 0.9997
d2 = 0.9449
d3 = 0.9449
d4

[2018-08-27 18:54] sotorrio1 commented on #110
Should be fixed with PR #270
@fsoepyan would you mind checking if it now works for you? Thanks!

[2018-08-27 21:40] CSRussell2319 opened #271 "Automated Tests Close Too Early"
Some of the automated tests trigger Foqus to close before the Psuade code has finished running. The premature closing is implemented by design to make sure Foqus closes even if it hits a dialog box that would normally stop the program from progressing any further. In this instance Foqus is just waiting for Psuade to finish running and Foqus closes while Psuade continues to run in the background wh

[2018-08-28 17:29] fsoepyan commented on #259
- My plan is to get this done for the September release, which I assume will take place at the end of September.
- Does anyone have any suggestion for a software I can use to make the video?

[2018-08-28 17:42] fsoepyan commented on #110
- I downloaded FOQUS from "sotorrio1-patch-1" (PR #270)
- I tested the OUU tab using an example problem, where I have 3 constraints
- For each constraint, the variables C01 to C03 must be negative
- After clicking "Run OUU", I still get the same error message that I got in my original comment

[2018-08-28 18:00] sotorrio1 commented on #110
@fsoepyan Are you running the example you sent me a while ago "MEA_Column_02_23_2018.foqus" ?
The one with 17 inputs (X1-X4 are Z1 and the rest Z4), surrogate.negCO2 as the objective and C01, C02 and C03 as inequality constraints. I tried running that one and the issue I'm getting is that even if I tell OUU to generate the samples for Z4, it crashes because I didn't provide a sample file...

Do yo

[2018-08-28 20:00] ksbeattie commented on #268
@boverhof will try digging into this.  @fsoepyan can you provide Josh the simulation that reproduces this problem?

[2018-08-28 20:01] ksbeattie commented on #268
[This](https://svn.acceleratecarboncapture.org/trac/browser/svn/projects/turb_sci_gate/trunk/Master/Turbine.Consumer.SimSinter/SinterConsumerRun.cs?annotate=blame&rev=10487) is where that change happened in the old svn repo (login required).

[2018-08-28 20:04] ksbeattie commented on #271
Closed with PR #272

[2018-08-28 20:04] #271 closed

[2018-08-28 20:08] ksbeattie commented on #242
@boverhof will take another look at this.

[2018-08-28 20:12] boverhof commented on #242
Currently getting unauthorized for GET on the \simulation\{resource}
[code]

[2018-08-28 20:15] ksbeattie commented on #146
@sotorrio1 is blocked from being able to reproduce this possibly because of #147
@fsoepyan is now mostly concerned about the difference described above
@ou3llnl will follow up with Charles Tong on if this is an issue in psuade.

[2018-08-28 20:31] ksbeattie commented on #148
@boverhof can you revisit this one?

[2018-08-28 20:44] fsoepyan commented on #110
@sotorrio1: Yes, I did run the OUU tab using the file that you mentioned, with the 17 variables, the negCO2 objective, and the 3 inequality constraints.

Below is the psuadelog:

**********************************************************************
*      Welcome to PSUADE (version 1.7.12)
**********************************************************************
PSUADE - A Problem Solving environmen

[2018-08-28 20:51] sotorrio1 commented on #110
@fsoepyan yeah, that's what I got. So basically I fixed the OUU handling constraints issue but now the psuade flow changed and we need to rewrite the script with the psuade commands. I'll keep you posted :)

[2018-08-28 21:16] fsoepyan commented on #110
Thank you!

[2018-08-30 19:35] boverhof commented on #268
# Bottom Up:  SinterConsole.exe succeeds
[code]

[output.txt](https://github.com/CCSI-Toolset/FOQUS/files/2337648/output.txt)

[2018-08-30 19:46] boverhof commented on #268
# AspenSinterConsumerConsole.exe fails

[code]

AspenSinterConsumerConsole.exe output
[code]

[2018-08-30 19:56] boverhof commented on #268
# Turbine.Consumer.SimSinter: SinterConsumerRun.cs
So I think the first step is to add an "if else WARNING" here and just proceed.

[code]

[2018-08-30 23:40] boverhof commented on #268
# Handle Warnings and return as "success"
Code committed and tested against the AspenPlus simulation provided.

https://github.com/CCSI-Toolset/turb_sci_gate/commit/00f2cef0683300a55ca85de0681c766c94dccf25

[code]

[2018-08-31 00:04] boverhof commented on #268
New Download available here:
https://github.com/CCSI-Toolset/turb_sci_gate/releases/tag/2.0.1

[2018-08-31 00:04] #268 closed

[2018-09-04 20:16] ksbeattie commented on #105
@eslickj, will take another look at this, talking to @fsoepyan to come up with a plan to address this.  "It could be a bit of work".

[2018-09-04 20:26] ksbeattie commented on #148
This is less of a priority once Milestone https://github.com/CCSI-Toolset/FOQUS/milestone/6 is finished.

[2018-09-04 20:34] ksbeattie commented on #248
A PR for this is "coming soon".

[2018-09-05 22:18] ou3llnl commented on #146
Per Charles, the only reason he can think of for why # of iterations is greater than number of data points is that PSUADE can detect duplicate runs and not repeat calculations that have already been performed. However, we need to find out if that really is the case here.

[2018-09-06 15:02] fsoepyan commented on #110
- I downloaded FOQUS from PR #270
- I tested FOQUS using the example file with the 17 variables, the negCO2 objective, and the 3 inequality constraints
- I still got the same error that I got in my first comment
- The results do not appear in the OUU graph and OUU table

[2018-09-06 21:28] sotorrio1 commented on #110
@fsoepyan could you show me the psuadelog file? Thanks!

[2018-09-06 21:33] fsoepyan commented on #110
Below is the psuade log file. Thank you!

**********************************************************************
*      Welcome to PSUADE (version 1.7.12)
**********************************************************************
PSUADE - A Problem Solving environment for
         Uncertainty Analysis and Design Exploration (1.7.12)
(for help, enter <help>)
============================================

[2018-09-06 21:40] sotorrio1 commented on #110
@fsoepyan could you clone my fork and try again? Thanks!

[2018-09-06 21:43] fsoepyan commented on #110
Sorry, I ran FOQUS using the wrong version.

The psuade log file from the FOQUS version from PR #270 is in the attached Word file. Thank you!

[PSUADE_log_09_06_2018.docx](https://github.com/CCSI-Toolset/FOQUS/files/2358838/PSUADE_log_09_06_2018.docx)

[2018-09-06 21:48] sotorrio1 commented on #110
Do you get any error message?

[2018-09-07 13:34] fsoepyan commented on #110
Yes, and it says:

OUU: Optimization error.
Please consult the FOQUS UQ developers for assistance.

[2018-09-07 18:35] CSRussell2319 commented on #161
#247 adds in the code to easily enable ssh download of dependencies, but we should document this. SSH is still not the default behavior and the only way to use ssh with this code is to manually comment the https line and uncomment the ssh line

[2018-09-10 16:54] fsoepyan opened #275 "Surrogates: Error Uploading ALAMO surrogate model"
- I used the "Surrogates" tab to create an ALAMO surrogate model for an Aspen Plus simulation
- The .py files are uploaded to my working directory
- However, when I tried to use the ALAMO model as a "Plug In" in "Flowsheet", it is not included in the list of plug-ins
- @eslickj and I opened the .py file using Notepad++
- We found that for some of the input variables, if the description ("vdesc") r

[2018-09-11 19:07] fsoepyan commented on #105
From my understanding, the solution for this issue would be to have FOQUS automatically generate the .py file that @eslickj wrote (attached in one of his previous comments) whenever the user goes to UQ and clicks the "Validate" button for the MARS model.

Is this correct?

[2018-09-11 19:11] ksbeattie commented on #161
I'd think that the most correct way of installing turb_client should be via a `pip install` and/or `conda install`.  That should fix this, right?  @boverhof, thoughts?

I'm going to put this on the Nov release board, so we can follow this idea....

[2018-09-11 19:14] CSRussell2319 commented on #161
Yes, I believe that would fix this issue.

[2018-09-11 19:38] ksbeattie opened #277 "Update Readme/Install to split user vs devel install paths"
Break up the instruction on how to install distinguishing between a user (get latest release) and a developer (git clone)

[2018-09-11 19:51] ksbeattie commented on #27
@boverhof is working on this.  It could still be an issue for local running.

[2018-09-11 20:11] ksbeattie commented on #147
@boverhof and @sotorrio1 will work together to try and solve this.

[2018-09-11 20:16] ksbeattie commented on #207
@sotorrio1 says it doesn't appear that the psuade client is the problem here.  They will meet tomorrow to look into it again.

[2018-09-11 20:18] ksbeattie commented on #242
@boverhof says this is partially done and can be closed.

[2018-09-11 20:18] #242 closed

[2018-09-11 20:26] ksbeattie commented on #76
@sotorrio1 says he has something nearly working.

[2018-09-11 20:40] ou3llnl commented on #105
Almost. So the user would have UQ generate a response surface python script for each output during validation. It doesn't have to be MARS, other response surfaces also generate model code as well. To be used in flowsheet, FOQUS would need to automatically generate the glue code that @eslickj wrote to use all these scripts. In order to do this, it seems to me this would require some kind of dialog

[2018-09-12 17:30] sotorrio1 commented on #147
@boverhof helped me this morning and this specific issue is resolved.

LLNL has a couple processes running that take ports we use, using “netstat -a -b” as Administrator we were able to see the processes.  Changed to 8001 and found another process, finally changed to 8010 and it works!

- port 8000
	msirest.exe is known as Cisco MSI Management Windows Service

- port 8001
	SecomSDK.exe is part of

[2018-09-12 17:30] #147 closed

[2018-09-12 17:33] sotorrio1 commented on #148
After @boverhof helped me to fix issue #147 now I encounter same issue as @CSRussell2319
I guess I'm not surprise LANL and LLNL are facing same security issues. I guess we'll wat for the AWS Cloud milestone :)

[2018-09-12 20:26] eslickj opened #280 "Specify Turbine Simulation Working Directories"
We would like a feature that would allow simulations to be run in specific subdirectories of the Turbine working directory instead of by job\_id.

Here's a list of specs we can add to or modify as needed sorry this a little unclear.

* FOQUS would specify a directory to Turbine
* To avoid conflicts the directory would be unique for each node in FOQUS
* In instances where previously directory for a

[2018-09-17 15:54] CSRussell2319 commented on #161
Tried using pip to install the turbine client and received the same error message.
Here's my code for the yaml file: `"--editable=git+https://github.com/CCSI-Toolset/turb_client@2.0.0-alpha#egg=TurbineClient"`
Looks like pip just does a git clone so it's no different than what the setup file does natively. If we could get the repo added to a pip or conda repo that might fix the issue.

[2018-09-17 18:14] sotorrio1 commented on #131
@fsoepyan I can't exactly run the problems you're mentioning (because of issue #148) but I've done some testing with toy problem Rosenbrock No Vectors (foqus_lib/examples/UQ).
If you run OUU using x1, x2, x3 as Z1 and x4, x5, x6 as Z4; loading a 20 samples file for Z4 making sure the value for each variable is the same across the 20 samples (something that doesn't happen when you ask psuade to ran

[2018-09-17 18:40] sotorrio1 commented on #269
@fsoepyan I think this issue is similar to #131. To mimic the results you will need to use exactly same values for the 20 or 25 samples you're using on both OUU and Optimization tab.

[2018-09-17 19:14] fsoepyan commented on #110
- PR #279 has been merged.
- I will close this issue.

[2018-09-17 19:14] #110 closed

[2018-09-18 16:51] fsoepyan commented on #259
- I have recorded the FOQUS installation guide video, but the video is about 1 hour long
- My next step is to edit the video, so that instead of having 1 long video, we have a group of short videos for each section of the FOQUS installation
- Does anyone have any recommendations regarding a software I can use to edit videos?

[2018-09-18 17:08] fsoepyan commented on #259
- I looked at the following website that @ngbrenda suggests for video editing software: https://www.techradar.com/news/best-video-editing-software-paid-and-free
- Is Lightworks (a free software that the website recommends) a good video editing software?

[2018-09-18 20:16] ksbeattie commented on #207
@ngbrenda will take a look.

[2018-09-18 20:20] ksbeattie commented on #146
@sotorrio1  can you now reproduce this?  And maybe look into if psuade skipping dup calculations explains the discrepancy that @fsoepyan mentions?

[2018-09-18 20:31] ksbeattie commented on #76
@ngbrenda says it works but there are performance issues.  pygmo is used for MOUU, whereas psuade is used for OUU.  Trying to keep the interface similar across the two is creating a lot of slow I/O.

[2018-09-18 20:47] ksbeattie commented on #207
@sotorrio1 suspects that this might be an error in SolvenFit R code, specifically in  [foqus_lib/framework/solvenfit/solvfit_calibfit.R](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/solventfit/solvfit_calibfit.R) though his R is rusty these days...

[2018-09-18 22:02] CSRussell2319 opened #284 "OUU Sample Problems Take a Long Time to Run"
I have three OUU tests (ouu_smoke_test_ex_3.py, ouu_smoke_test_ex_5.py, and ouu_smoke_test_ex_7.py) that each can take 20 min to run. These tests are based on three of the OUU example problems with matching numbers. Since the problems finish running without an issue I'm going to label this as an enhancement. The goal of this issue is to determine if these run times are too long and if so what can

[2018-09-18 23:44] sotorrio1 commented on #284
These three problems take longer than the others because they use response surface (RS). I can talk to Charles about it, but this has being the case for any problem with RS.

[2018-09-19 22:02] sotorrio1 commented on #263
@puttak Please test now and let me know if it is fixed so we can close the issue. Thanks!

[2018-09-24 18:34] fsoepyan commented on #105
- If the equations of the UQ surrogate models (i.e., response surface) aren't complicated, then would copying and pasting the equation to the "Python Script" portion of "Node Editor" be an acceptable solution?
- If so, we just need to let the user know where they can find the equation of the surrogate model.

[2018-09-24 19:03] fsoepyan commented on #259
- I am in the process of converting the 1-hour long video into shorter videos
- So far, we have 3 videos: Anaconda installation, Git Client installation, and FOQUS installation
- I used Lightworks as the video editing software
- For the first 2 videos, the Lightworks worked fine
- When I worked on the 3rd video, Lightworks was working slowly towards the end of my editing
- When I tried working on

[2018-09-25 20:12] ksbeattie commented on #148
@boverhof will be looking at this.

[2018-09-25 20:15] ksbeattie commented on #161
Fixed with PR #283

[2018-09-25 20:15] #161 closed

[2018-09-26 22:08] fsoepyan commented on #259
- I am currently using VSDC Free Video Editor as the video editing software
- So far, it proves to be a decent video editing software
- We now have 3 more videos: SimSinter and TurbineLite installation, PSUADE installation, and ALAMO installation

[2018-09-27 17:08] fsoepyan commented on #259
We now have 2 more videos: NLopt installation, and R installation

[2018-09-27 21:01] fsoepyan commented on #259
We now have 2 more videos: downloading the user's manual, and FOQUS settings

[2018-09-27 21:44] fsoepyan commented on #259
- We have 10 videos so far
- I'm currently working on the 11th (and last) video, which shows a FOQUS example, and how to troubleshoot the problem with "no module named apibase"

[2018-10-02 17:53] fsoepyan commented on #131
- I ran OUU for an example Aspen Plus file
- I have 3 variables set as Z1, and 2 variables set as "Fixed"
- The solution generated by the OUU tab is:

Iteration: 60
Objective Value: -111111
conv: 0.6
H2_flow: 293.1874
TOL_flow: 294.6004

- I went back to "Flowsheet", and set the variables equal to the OUU solution
- When I ran "Flowsheet", I got an error message: "The simulation completed with an

[2018-10-02 17:56] sotorrio1 commented on #131
@fsoepyan So this problem doesn't require turbine? I might be able to reproduce your error if you send me the necessary files to run it. Thanks!

[2018-10-02 17:58] fsoepyan commented on #269
Using the example Aspen Plus file from #131:
- I have 3 variables set as Z1, and 2 variables set as "Fixed"
- I ran OUU using the OUU tab
- After the OUU run is finished, I went to the "Flowsheet" table, and according to the "Flowsheet" table, the optimum solution occurs at:

Objective Value: -1724.61
conv: 0.95
H2_flow: 295.55
TOL_flow: 249.86

- This solution is different from what I got when I

[2018-10-02 17:59] fsoepyan commented on #131
Actually, this problem requires turbine

[2018-10-02 19:49] boverhof opened #287 "post-session-results creates pages with all finished jobs"
Each call to post-session-results generates a new page with all the "newly" finished jobs.  Each page is an exclusive group of job ids.  If a new results are not available a new page will not be created.

For Example a batch of 5 jobs with finished order of 1,2,3,5,4 could return results pages like:
[code]
Currently there is a bug where
[code]

[2018-10-02 19:58] #287 closed

[2018-10-02 20:52] boverhof commented on #148
## stack overflow has some suggestions:

https://stackoverflow.com/questions/4893088/is-there-an-alternate-hashing-algorithm-to-md5-for-fips-enabled-systems

##  You can use MD5Digest from Org.BouncyCastle.Crypto.Digests
[code]

[2018-10-03 19:42] CSRussell2319 commented on #148
@boverhof I've read through the page you posted. It sounds like using something from the SHA family is the preferred solution unless there's a compelling reason to stick with MD5.

[2018-10-04 19:41] boverhof opened #290 "FOQUS Cloud: session/append batchWrite limit 25"
## Description
During testing today kept getting HTTP 502 Internal server error when running Optimization.
## Explanation
Issue is DynamoDB.writeBatch can only handle 25 items at a time.  As written the "cloud/aws/node/post-session-append/index.js" function doesn't check for number of items and thus hits this validation error.

## Fix
* Return a descriptive error message
* Call batchWrite multiple

[2018-10-04 20:28] boverhof opened #291 "cloud foqus_service exits with incomplete simulation"
## Example Run:

Node name "test" running with a previous installation with node "BFB" results in this error.

[code]

[2018-10-04 20:42] boverhof opened #292 "FOQUS Workers not updating running timestamp"
## Description
SQS consumer update messages are being generated, however, the "running" timestamp in the dynamodb table is NOT being updated.

Not able to quickly see which workers are alive.

[2018-10-04 23:14] boverhof opened #293 "FOQUS Cloud Optimization BFB"
## Description
Ran a FOQUS Optimization with BFB with 10 samples on 10 VMs.
Ran for 1 hour 40 minutes, to Iteration 5 where it seems to have ended in error.

## FOQUS LOG
[code]

[2018-10-04 23:15] boverhof commented on #293
![screen shot 2018-10-04 at 4 06 08 pm](https://user-images.githubusercontent.com/738295/46508089-a50d7080-c7f0-11e8-8574-270e9a77e954.png)

[2018-10-04 23:40] boverhof opened #294 "AWS Lambda Tasks Timeouts"
## Description
Many of the lambda functions have the default timeouts of 3 seconds set, therefore longer operations are returning back "HTTP 502" errors.

## Fix
Can set timeout manually in the AWS Lambda console, however, each time use "npm run deploy" in a function this gets blown away.

Need to push these setting down in the node.js configuration files.

## CloudWatch Logs /aws/lambda/post-sess

[2018-10-05 00:39] boverhof commented on #294
Add timeout and memory requirements to .env file, and add this file to git.
Nothing secret in this file.  Secret stuff should go in deploy.env file
[code]

[2018-10-05 12:24] eslickj opened #295 "Missing fields in results from AWS."
Occasionally results from AWS are missing information that FOQUS expects resulting in unhandled exceptions that can stop optimization or UQ runs.  At this point it is not clear under what circumstances this happens but there are several possibilities.

What should happen is that the FOQUS consumer should save the results of a run as json, regardless of whether the simulation failed and return it a

[2018-10-05 17:42] fsoepyan commented on #259
- We now have all 11 videos ready to go
- We have reduced the total time from 1 hour to 35 minutes
- Who will create a CCSI Google/YouTube account so that we can upload these videos?

[2018-10-06 17:45] fsoepyan commented on #105
After talking with @eslickj, I learned that resolving this issue requires modifications in both the Flowsheet and UQ tabs.

Is this worth pursuing?

[2018-10-08 23:34] sotorrio1 commented on #269
@fsoepyan please make sure you have same initial values for Z1 in both cases, OUU and Optimization, before running the optimization

[2018-10-09 17:29] fsoepyan commented on #269
Using the example Aspen Plus file from #131:
- I went to the Optimization tab
- I used the following values as the initial values of the decision variables:

conv: 0.75
H2_flow: 301
TOL_flow: 199

- The solution I got was:

Objective value: -2280.06
conv: 0.9500
H2_flow: 312.85
TOL_flow: 300.00

- I went to the OUU tab
- I set the above 3 variables as Z1, and the remaining 2 variables as "Fixed"
-

[2018-10-09 17:51] fsoepyan commented on #269
I also tried out the Optimization and OUU tabs for the MEA example (ran with ALAMO):
- From the Optimization tab, the solution I got was:

Objective value: -215.58
X01: 11526.97
X02: 1000.0
X03: 0.1
X04: 0.1

- From the OUU tab table, the solution I got was:

Iteration: 67
Objective value: -172.1924
X01: 4547.794
X02: 1000.0
X03: 0.1
X04: 0.1

- This time, when I ran Flowsheet using the above valu

[2018-10-09 19:38] ksbeattie commented on #293
@eslickj will look at this, this week.

[2018-10-09 19:48] ksbeattie commented on #290
Workaround implemented in PR #296.  Lowering priority for this now...

[2018-10-09 19:55] ksbeattie commented on #148
@boverhof might create a branch for this where @CSRussell2319 could try building and testing a possible solution

[2018-10-09 20:03] ksbeattie commented on #263
@fsoepyan will contact @puttak to see if he's still working on the project a/o can help confirm this.

[2018-10-09 20:07] ksbeattie commented on #105
@eslickj  will follow up with @jmorgan29 on if this is worth pursuing.

[2018-10-09 20:09] ksbeattie commented on #248
@sotorrio1 believes this is done, but a PR needs to be created, etc.  He will follow up with @ngbrenda on it.

[2018-10-09 20:15] ksbeattie commented on #269
@sotorrio1 will take a look at this.

[2018-10-09 20:27] ksbeattie commented on #259
@fsoepyan will create a youtube account for this & share it with us.

[2018-10-10 02:33] boverhof opened #297 "Optimization Run ends in Assertion Error "nodeError""
## Description
Assertion error on "nodeError".  NOTE this could be a duplicate bug report..

## Traceback
[code]

[2018-10-10 02:33] boverhof commented on #297
<img width="1036" alt="screen shot 2018-10-09 at 7 25 02 pm" src="https://user-images.githubusercontent.com/738295/46709819-3b2f0580-cbfa-11e8-9b06-a3acfa2957eb.png">

[2018-10-10 16:28] boverhof commented on #297
## First plan of action create a unittest for result object with results from last Optimization run
[code]

[2018-10-10 17:03] eslickj commented on #280
We don't want to do this anymore, but I may file an issue to be able to have Turbine return the working directory of the simulation in the job results.

[2018-10-10 17:04] #280 closed

[2018-10-10 17:11] eslickj commented on #297
Partly addressed in PR #298

[2018-10-10 19:06] fsoepyan commented on #105
After communicating with @jmorgan29, I learned that the procedure for transferring the .py file generated by the UQ tab into a Flowsheet Plugin is simple. Therefore, the automation of the process may not be necessary.

I will close the issue.

[2018-10-10 19:06] #105 closed

[2018-10-16 00:31] sotorrio1 commented on #269
@fsoepyan I tried two of your problems ("MEA_Column_02_15_2018.foqus" and "MEA_Column_06_13_2018.foqus"). I know they are basically the same problem but I wanted to double check the order of the variables wasn't affecting the results. Below the results of my experiments:

* "MEA_Column_02_15_2018.foqus"
    - Initial Values for Decision Variables (Z1) -- I chose the middle point within lower and u

[2018-10-16 00:35] sotorrio1 commented on #131
I can't mimic this problem, but for this issue I want to reference my last comment (Oct 15, 2018, 5:31 PM PDT) on issue #269

[2018-10-16 19:37] ksbeattie commented on #295
Closing this as a dup of #297

[2018-10-16 19:37] #295 closed

[2018-10-16 19:44] ksbeattie commented on #148
@boverhof will follow up with @CSRussell2319 on how to build it.

[2018-10-16 19:52] ksbeattie commented on #293
@eslickj will try this week.

[2018-10-16 19:52] #294 closed

[2018-10-16 20:01] ksbeattie commented on #263
@puttak will confirm this

[2018-10-16 20:04] ksbeattie commented on #146
@sotorrio1 is continuing to work on this with Charles Tong

[2018-10-16 20:05] ksbeattie commented on #277
@ksbeattie will work on this, this week.

[2018-10-16 20:06] boverhof commented on #292
Think I saw in CloudWatch logs a problem here:
[code]
The updates I don't believe are specifying the 'instanceid' which results in an exception..

[2018-10-16 20:10] ksbeattie opened #301 "Fix lodash security vulnerability"
See: https://github.com/CCSI-Toolset/FOQUS/network/alert/cloud/aws/node/delete-simulation/package-lock.json/lodash/open

[2018-10-16 20:21] boverhof commented on #301
https://github.com/CCSI-Toolset/FOQUS/pull/302

[2018-10-16 21:36] fsoepyan commented on #259
- The videos have been uploaded to YouTube
- The YouTube channel is: CCSI2 Team
- The videos can be accessed from this website/playlist: https://www.youtube.com/playlist?list=PLmBxveOxgaXkyrQP9CAgUu_ZPYsS4qCvd
- If the videos are acceptable, we can close this issue

[2018-10-17 21:01] CSRussell2319 commented on #174
Since this came up again during my automated testing I should point out that the issue was in the objective function. The original reads as follows:
`sum([(f[i]['model']['y'][0] - x[i]['model']['ydata'][0])**2 for i in range(len(x))])`
The new function reads as follows:
`sum([(f[i]['model']['y'] - x[i]['model']['ydata'])**2 for i in range(len(x))])`

The [0] returned a constant instead of a variab

[2018-10-18 15:51] CSRussell2319 opened #310 "Generate Samples Produces Error"
When in the optimization tab clicking the "Generate Samples" button produces an error. If this is an intentional error we should fix it to say what the user is doing incorrectly.

![image](https://user-images.githubusercontent.com/37089145/47167283-54e7e100-d2bb-11e8-871e-16cb5e7ecc0a.png)

[2018-10-18 16:01] boverhof opened #311 "FAILURE: pytest optimizer_bfgs_s3_test"
## Summary
pytest fails on @boverhof mac.
[code]

## Detail
[code]

[2018-10-18 16:41] boverhof commented on #311
## Hacking scipy:  Looks like problem is unexpected empty array in upper_bnd.
[code]

[2018-10-18 16:50] boverhof commented on #311
in  'foqus_lib/framework/optimizer/BFGS.py' the bounds is set to an empty array.

However, that causes the exception above IF upper and lower are NOT set.

[code]

[2018-10-18 16:54] boverhof commented on #311
Seems that XINIT not being set is causing N to be 0 which causes the logic below to not work.

[code]

[code]

[2018-10-18 18:09] CSRussell2319 opened #312 "Sorting Fails with an Operation"
If I attempt to sort flowsheet results with two conditions it will fail with an error for every operation except "NOT". I have tested the rules individually and they run without error. Below is the picture of the error. I have included screenshots of the error and a report of the output from my test.

![sort_error_1](https://user-images.githubusercontent.com/37089145/47174703-933acb80-d2ce-11e8-8b

[2018-10-18 19:08] CSRussell2319 opened #313 "MARS Throws Error with Inference smoke test"
The uq_inference smoke test throws an error when performing Bayesian inference with MARS or MARS with Bagging. It seems to continue running after the error is ignored though.

[AutoErrLog_uq_inference.txt](https://github.com/CCSI-Toolset/FOQUS/files/2493258/AutoErrLog_uq_inference.txt)
![uq_inference_mars_failure](https://user-images.githubusercontent.com/37089145/47177833-c719ef00-d2d6-11e8-9e4f-

[2018-10-18 21:34] CSRussell2319 commented on #68
Is automated testing the only reason for this change? If so I think we can close this as the automated tests run fine without keyboard support.

[2018-10-19 17:53] fsoepyan commented on #68
- @CSRussell2319, the answer to your question is no.
- The reason we'd like to improve the keyboard friendliness is also for the users of FOQUS.
- For example, if possible, we would like to be able to switch from one tab to another tab by using the keyboard; or we would like to be able to select multiple cells from the tables in the Flowsheet Node Editor.

[2018-10-23 19:21] eslickj opened #314 "QtXml Import Error"
It seems some people may be getting an import error from QtXml in foqus.py.  It seems that we are not using it, so we should just remove it from the import in line 51.

[2018-10-23 20:13] #301 closed

[2018-10-23 20:15] ksbeattie commented on #297
@eslickj thinks this is mostly fixed but would like to add logging, to get info if it happens again.

[2018-10-23 20:16] ksbeattie commented on #293
@eslickj will try to get to this in 2 weeks!

[2018-10-23 20:17] ksbeattie commented on #292
@boverhof will with on this any/or get Abdel to work on it.

[2018-10-23 20:18] ksbeattie commented on #291
@boverhof still needs to get to this.

[2018-10-23 20:20] ksbeattie commented on #148
@boverhof will contact @CSRussell2319 to try and un-stall themselves...

[2018-10-23 20:28] ksbeattie commented on #263
@fsoepyan has reached out to him, @puttak is in Norway and said he could look at it.  @fsoepyan will try testing it himself to save time.

[2018-10-29 12:55] puttak opened #315 "Error with installing adobapi to run foqus simualtions"
Hi,
I have installed new version of foqus in windows 10 PC as per instructions and video made by Byron. When you want to run foqus, it says some error and Byron in the video showed to updated the adobapi. When i tried the same, it's not getting updated and i have following error message.

![adobapi error](https://user-images.githubusercontent.com/30050105/47650927-09b6b380-db82-11e8-9608-7e42c138b

[2018-10-30 19:03] #259 closed

[2018-10-30 19:10] ksbeattie commented on #174
@CSRussell2319, I just want to confirm: your comment above is just for reference, there's no need to re-open this issue, or create a new one?

[2018-10-31 12:41] CSRussell2319 commented on #174
@ksbeattie, correct. I just included this comment to more explicitly state what the issue was and how it was solved with a PR. No action is required and this issue can remain closed.

[2018-11-01 16:16] boverhof commented on #148
Trying to replace SHA1 with MD5 but have run into test fails.

https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/sha1cryptoserviceprovider.cs,4ce45830f97fd9b8,references

<img width="273" alt="screen shot 2018-11-01 at 9 15 22 am" src="https://user-images.githubusercontent.com/738295/47864429-cc873700-ddb6-11e8-9eb6-8bfd3e5d2318.png">

[2018-11-01 17:20] boverhof commented on #148
@CSRussell2319 Please uninstall TurbineLite, then download the FIPS Compliant release and test out.

[2018-11-01 17:20] #148 closed

[2018-11-05 16:58] CSRussell2319 commented on #148
@boverhof this has fixed the issue. I should note that after installing the new version I had to use the start turbine tool in Foqus to get it to work. Here's the link for the release page where the FIPS Compliant version can be found: [Turbine](https://github.com/CCSI-Toolset/turb_sci_gate/releases/)

[2018-11-05 19:10] sotorrio1 commented on #207
Email thread with Sham Bhat from LANL below:

Hi Brenda,

I didn't run the code, but the following is my guess from looking at the code directly.  The warning is probably coming from line 1465 in solvfit_calibfit.  The matrix priorsmatr takes in 16 values from priors (coming from the defaults in the function getdefaults.  But nrow(priorsmpar) is coming from the priors.txt file and has a value of 6

[2018-11-05 19:27] sotorrio1 opened #316 "SDoE: GUI design"
We are working on the GUI design for the SDoE module. Once the design matches LANL desired capabilities, we'll proceed to hook up the back-end functionalities.

[2018-11-06 20:11] ksbeattie commented on #316
@sotorrio1, I'm adding this back to the In Progress column of the 2018 Nov release board just so we can keep it top of mind.  If it isn't completed with that release, that's fine, I just don't want to make sure we address any roadblocks, etc.

[2018-11-06 20:14] sotorrio1 commented on #316
@ksbeattie, that's fine 👍

[2018-11-06 21:12] ksbeattie commented on #315
This looks like it might be a typo.  It's "adodbapi" not "adobapi".

[2018-11-06 21:15] ksbeattie commented on #277
Look at adding in instructions on using the conda environment for developers.

[2018-11-06 21:23] ksbeattie commented on #131
@sotorrio1 is waiting for @fsoepyan to reproduce this.

[2018-11-07 23:21] fsoepyan commented on #269
- I performed optimization using both the "Optimization" tab and the "OUU" tab
- Below is a summary of the results:

<img width="606" alt="ouu_11_07_2018" src="https://user-images.githubusercontent.com/30811140/48167453-bea34b80-e2b9-11e8-9881-b332d2c36458.png">

- 1st portion shows initial values of decision variables X01 to X04
- 2nd portion shows results from "Optimization" tab
- 3rd portion sh

[2018-11-07 23:22] fsoepyan commented on #131
I will close this issue. Please see my comments from 11/7/18 on Issue #269.

[2018-11-07 23:22] #131 closed

[2018-11-08 16:03] eslickj commented on #75
I took a first pass at this partly manual editing and partly 2to3.  Moving forward we could probably move to Python 3.x and drop 2.7 support.  I created a new branch that hopefully we could eventually move to master, but we need to test it extensively.

Also to test this I have a hacked up copy of turb_client.  I can add a py3 branch to turb_client but @boverhof will probably want to convert that

[2018-11-08 16:05] CSRussell2319 commented on #75
Logistically what is the best way to go about this? Should we have a branch on the master fork that we push PR's to so that this project is independent of the master branch? I'm not familiar enough with 3.x vs 2.x backwards compatibility to know if we could break something on the 2.x side while working on this, but the branch structure I'm referring to is pretty common in other projects with multi

[2018-11-08 16:47] eslickj commented on #75
Supporting two branches is okay for a few weeks or a couple months, but we probably won't want two for very long.  Should we just drop support for Python 2.7 or should we make the py3 branch support both? Supporting both is probably only a minor inconvenience.  Another consideration is that PyQt5 isn't really supposed to have 2.7 packages, but apparently Anaconda provides them, so the 2.7 support

[2018-11-09 18:17] #315 closed

[2018-11-09 20:04] CSRussell2319 commented on #75
@eslickj can I please have a copy of the "hacked together" version of turbine client for testing?

[2018-11-14 15:11] eslickj commented on #314
Fixed in PR #317

[2018-11-14 15:11] #314 closed

[2018-11-14 15:18] eslickj commented on #75
@CSRussell2319, sorry I meant to put this up last week.  The py3 branch here should work well enough to make FOQUS run. https://github.com/eslickj/turb_client

I'm slowly working through your tests.  The most common problem I'm seeing is from Python 3 not automatically converting between bytes and strings, so there is probably a lot of debugging work to do.

[2018-11-15 01:01] boverhof opened #321 "ERROR - foqus.foqus_lib.framework.graph.graph - Failed to get 'input' from results"
## Description
When a job result is in "error" status some of the fields are not available.  FOQUS doesn't check to see if a job is in "error" and therefore may not contain all the same information as a successful job run.

## Detail
[code]

[2018-11-15 13:12] eslickj commented on #321
I can fix this.  The bigger problem though is that it indicates that the foqus client didn't produce the expected output or it didn't get picked up somehow.  Does it happen all the time or just rarely?

[2018-11-15 13:20] eslickj commented on #321
Should be fixed in PR #322, but I think this could be a symptom of a bigger problem.

[2018-11-15 15:35] boverhof commented on #321
# Unit test
Printed out the sd structure and put it into a unittest and produces the above error.  Not sure why this is now failing.
[code]
# Required key fields
test results empty demonstrates all the required fields ( results_s3_test.py )
[code]

[2018-11-15 16:10] boverhof commented on #321
# Job was in error status
[code]

[2018-11-15 17:19] boverhof commented on #321
# TurbineWeb API wasn't on but error doesn't have this information

## FROM C:\ProgramData\foqus_service\logs\FOQUS-Cloud-Service.log
[code]

[2018-11-15 17:42] boverhof commented on #321
@boverhof will get a unittest working that dumps the job description in using mocks and results in the exception, then @eslickj will figure out what needs to happen in the FOQUS UI.

[2018-11-16 17:14] boverhof opened #323 "FOQUS Cloud Race Condition: Results Generator Missing "output""
## Description
The "output" of a job description isn't present in the results generator.  The "output" was found to be present both in DynamoDB ( SNS ) and in the S3 file for that job id "" ( output.json ).

FOQUS bombs when it hits this job result because it is missing the output field.

## Diagnosis

SNS update messages are being sent to a lambda function "foqus-sns-update".  These messages are

[2018-11-16 18:08] boverhof commented on #323
## FIX
In the results generator check to see that if "item.success" is not undefined also check "item.output" is not undefined.

[code]

[2018-11-16 18:35] boverhof commented on #323
##  Rosenbrock example
### Failure
changed the solver option to "OptCMA", the optimization failed during the 3rd iteration (around 15 runs )
### Confirmed Fix
Added the check to "item.output" above and the optimization run to 130 iterations ( around 700 runs ).

[2018-11-16 19:23] boverhof commented on #292
# CloudWatch Logs
== SNS Message
[code]
## DynamoDB update
[code]
## Lambda:  ValidationException on DynamoDB Update instanceid missing
[code]

[2018-11-20 18:08] CSRussell2319 opened #325 "Issues reshaping matrix in UQ (Python 3.x)"
I have attached the error log files associated with this error. From my understanding there's a regex split function that is returning values such that there are an odd number of elements. This leads to a float instead of an int and the matrix can't be resized. This error is persistent throughout different UQ functions.

[AutoErrLog_uq_response_surface_validation.txt](https://github.com/CCSI-Tools

[2018-11-20 21:16] ksbeattie commented on #321
@boverhof did PR #322 fix this?

[2018-11-20 21:19] ksbeattie commented on #297
@eslickj believes this might be related to #321 ...

[2018-11-20 21:21] ksbeattie commented on #293
"Gimmie 2, maybe 3 more weeks" - @eslickj

[2018-11-23 18:07] fsoepyan commented on #263
- I opened the "Rosenbrock_no_vectors" example from under the "examples/UQ" folder
- I went to the UQ tab
- I created a CSV file, saved it, and selected "CSV (MS-DOS)" for the file type (following the suggestion of @CSRussell2319)
- I managed to upload the CSV file successfully (Thank you!)
- I will close this issue

[2018-11-23 18:07] #263 closed

[2018-11-27 20:43] ksbeattie commented on #323
@boverhof says this is fixed and will update this with the commit that fixed it.

[2018-11-27 21:03] ksbeattie opened #326 "FOQUS OUU failures: how to handle?"
Discussion (motivated by #321  ) on what types of errors are re-submittable and which ones are not.  Can the sample size be automatically reduced, throwing out a few jobs that failed?

@CSRussell2319 will follow up with colleagues on viability of throwing failed jobs out or methods for confirming we have an accurate distribution.

[2018-11-27 21:13] ksbeattie opened #327 "FOQUS interface to MatLab"
https://www.mathworks.com/help/matlab/matlab-engine-for-python.html

[2018-11-27 21:13] ksbeattie commented on #327
The idea so far floated is that this could happen not via SimSinter, but via python.

[2018-11-27 21:15] ksbeattie opened #328 "New SimSinter maintainer?"
Josh, after getting help from Jim Leek?

This seems relatively low priority but still possible.

[2018-11-28 19:40] sotorrio1 commented on #325
@CSRussell2319 and @eslickj I'm not very familiar with Python 3 but I was wondering if you guys know if there has been any changes on the way the handle regex? Looking at the code it seems that the issue might be in foqus_lib.framework.uq.Plotter.py. I'll keep digging.

[2018-11-29 17:43] boverhof commented on #323
This is for @ksbeattie

https://github.com/CCSI-Toolset/FOQUS/pull/329

[2018-11-30 20:09] sotorrio1 commented on #325
@CSRussell2319 just committed a small change to the code in the py3 branch. Could you please re-test as soon as you can so I know if there are any errors left? Thanks!

[2018-11-30 21:10] CSRussell2319 commented on #325
@sotorrio1 yes, this fixes my issue

[2018-11-30 21:10] #325 closed

[2018-11-30 21:29] sotorrio1 commented on #325
Great, thanks!

[2018-11-30 21:33] CSRussell2319 commented on #326
The issue occurs when running OUU. The problem is that the current implementation will toss out all completed runs in an iteration if even one of them results in a failure. This would waste a considerable amount of CPU cycles/time. The goal of this issue is to come up with a way to use the successful runs and possibly generate more runs on a case-by-case basis when there are failures. I had an ema

[2018-11-30 21:36] sotorrio1 commented on #326
Got it. Thanks for clarifying, @CSRussell2319

[2018-11-30 23:37] ksbeattie commented on #323
Closing this on @boverhof 's word that this is fixed with PR #329

[2018-11-30 23:37] #323 closed

[2018-12-03 22:01] sotorrio1 commented on #313
@CSRussell2319 : 'marsInteractions' should be >2 and <numInputs. This error message happens when the interactions are less than 2 or greater than the number of input variables.

[2018-12-10 15:09] CSRussell2319 commented on #313
@sotorrio1: Does this mean that this is a user error and I need to adjust my inputs? If so I think this error message should be updated (#232).

[2018-12-10 16:51] sotorrio1 commented on #313
@CSRussell2319 : I don't know what inputs you're using but it looks like it. I'll try to update the error message

[2018-12-11 17:37] boverhof opened #333 "Handling Turbine Job Status Error"
# Description
There are many possible error scenarios when jobs are submitted to Turbine for processing.  Some of these are correct ( failure to converge ), some the result of FOQUS killing a job, and some are bugs.  I'd like to maintain a list of errors and failures and decide on how to make the infrastructure handle them correctly.

## COM Failure
If FOQUS kills a job will be moved to "error".

[2018-12-11 20:54] boverhof commented on #27
Unless I write up a new Data management layer this is not a Turbine issue.  This is a FOQUS issue.

[2018-12-11 20:54] ksbeattie commented on #63
Closing this given the low priority and lack of likelihood anyone wants it in the near future.

[2018-12-11 20:54] #63 closed

[2018-12-11 20:55] ksbeattie commented on #62
Closing this given the low priority and lack of likelihood anyone wants it in the near future.

[2018-12-11 20:55] #62 closed

[2018-12-11 21:16] MAZamarripa commented on #27
I would say this is more a documentation issue.

[2018-12-11 21:45] boverhof commented on #292
This was fixed in last pull request.

[2018-12-11 21:45] #292 closed

[2018-12-11 21:58] CSRussell2319 commented on #326
The main issue here (runs failing and causing an entire iteration to fail) can be solved using statistical techniques that would create new samples based on the results from the previous run. This does not guarantee success, but it reduces computation time while trying to maintain a space-filling design. The issue itself isn't a bug, but rather a self-check to ensure that the samples are actually

[2018-12-11 23:07] CSRussell2319 commented on #313
@sotorrio1: I'm using the rosenbrock_no_vectors example from the UQ examples in the smoke test. When I try to do it manually it seems to only produce that error some of the time and only seems to do it in expert mode. Since I don't see anything that would allow me to edit the number of 'marsinteractions' could you help me understand which variables need to change?

[2018-12-11 23:53] sotorrio1 commented on #313
@CSRussell2319: In the "Wizard" mode, the user chooses two possible options for MARS.
- MARS --> MARS
- MARS --> MARS with Bagging

In the "Expert" mode is when the user can specify also the number of basis functions and the degree of interaction. In the "Wizard" mode those spin boxes are disabled.

[2018-12-11 23:59] sotorrio1 commented on #313
@CSRussell2319: If you go to foqus_lib.uq.gui.RSCombos.py, Lines 280-296 you can see the classes "MarsBasisSpinBox" and "MarsDegreeSpinBox" and what are the range values and the default values. It could be that your issue is related to using the default values when you only have 6 input variables.

[2018-12-17 22:55] CSRussell2319 commented on #313
@sotorrio1 Yeah, I'm not seeing a spin box in either. Would the defaults be different for wizard mode vs expert mode?

[2018-12-18 03:02] sotorrio1 commented on #313
@CSRussell2319 can you see the spin boxes while on Expert mode? I'm not sure about the defaults for wizard mode because that might be embedded in psuade.

[2018-12-18 15:00] CSRussell2319 commented on #313
@sotorrio1 I'm not sure which spin boxes you're referring to. I've attached an image of what I'm seeing in the inference window. There are very few options that I can change.

![mars error](https://user-images.githubusercontent.com/37089145/50162140-ce3f8800-029a-11e9-8c27-36fc0369d51b.PNG)

[2018-12-18 17:18] sotorrio1 commented on #313
If you scroll to the right in the "Output Settings" table, you should see two spin boxes right after the "Legendre Order" spin box.

[2018-12-18 18:33] CSRussell2319 commented on #313
@sotorrio1: Thanks, I didn't notice those before. It looks like the issue is that the spin box populates with the total number of inputs instead of the total number of _variable_ inputs, which means it throws an error when one is specified as fixed. I think several things should happen:
* Update the spinbox code to look at the total number of variable inputs
* Update the error box to tell the user

[2018-12-18 18:38] sotorrio1 commented on #313
@CSRussell2319 : Good catch with the total number of inputs vs the number of variable inputs. I will take a look at that and the rest of the stuff.

[2018-12-18 18:58] eslickj opened #334 "Python 3 Turbine Client"
We need a Python 3 compatible version of Turbine Client.  Now that we put a lot of work into moving FOQUS to Python 3 I guess its too late to go back.  I hacked up something here that is just good enough to make FOQUS work, but not really tested.  I don't know if it would help or just make things harder.  https://github.com/eslickj/turb_client/tree/py3

[2018-12-18 20:56] ksbeattie commented on #316
@sotorrio1 has a demo ready, still in progress...

[2018-12-18 21:06] ksbeattie commented on #75
This is blocked by #334

[2018-12-18 21:09] ksbeattie commented on #334
See: https://github.com/CCSI-Toolset/turb_client/issues/5

[2018-12-19 18:33] fsoepyan opened #335 "FOQUS Flowsheet: Deactivating an edge does not give intended results"
Results of a FOQUS run are different for the case of deactivating an edge, and deleting that same edge. However, in theory, these results should be the same.

[2019-01-05 01:08] ksbeattie commented on #27
@MAZamarripa could you make a suggestion on how and where to change the documentation for this?

[2019-01-08 16:25] fsoepyan opened #336 "UQ: Cannot handle string type variables"
- I tried running UQ for a Flowsheet involving multiple nodes
- After generating the samples, I clicked "Launch"
- I get these error message:

<img width="800" alt="dpe_uq_error_01_04_2019" src="https://user-images.githubusercontent.com/30811140/50844003-d8075900-1337-11e9-8498-fc29546a11a2.png">

<img width="800" alt="dpe_uq_error2_01_04_2019" src="https://user-images.githubusercontent.com/308111

[2019-01-08 16:47] fsoepyan commented on #336
Before I clicked "Launch":
- I went to "Preview Samples"
- When I tried to get the "1-D Scatter" and "Distribution" graphs, I get an error message:

<img width="378" alt="uq_01_08_2019" src="https://user-images.githubusercontent.com/30811140/50845551-1ce0bf00-133b-11e9-8f2c-2721f09ca7ff.png">

- Below is the PSUADE message:

**********************************************************************
*

[2019-01-08 20:21] fsoepyan commented on #336
- I think the reason we're seeing the error messages is because UQ cannot handle variables with spaces in their names
- For example, if you have a variable called "example x1", then converting it to "example_x1" should fix the issue
- I will test FOQUS, and I will keep you posted

[2019-01-08 21:15] ksbeattie commented on #313
@sotorrio1 needs to clone himself to be able to work on it.

[2019-01-08 21:35] ksbeattie commented on #334
@eslickj: @boverhof is going to grab your "not a fork" fork of turb_client and "merge" it into the main turb_client master.  This will allow us to get a python 3 version of turb_client and then a python 3 version of FOQUS.

Once that is done, @eslickj and @CSRussell2319's "not a fork" forks should probably be removed to avoid further confusion.

[2019-01-08 21:41] boverhof commented on #311
This test fails the same way with current git master on MAC and Windows.

[2019-01-10 16:17] fsoepyan commented on #336
- I deleted the string type variable, and UQ managed to run (i.e., I can "Launch" the samples)
- I'm still keeping this issue open, as this fix may come in useful in the long run

[2019-01-11 02:11] sotorrio1 commented on #316
Just committed all my changes in PR #338. I'll close this issue since SDOE phase 1 is ready

[2019-01-11 02:11] #316 closed

[2019-01-14 22:30] sotorrio1 commented on #336
@fsoepyan I'm not sure I quite understand the issue. Do you have a session file I can use to reproduce this? Thanks!

[2019-01-15 00:08] sotorrio1 commented on #313
- PR #340 should take care of the spin box looking at the number of variable inputs.
- boxes that aren't being used are already disabled. Depending on the combobox they become enable or not.

[2019-01-15 00:10] sotorrio1 commented on #146
PR #339 should take care of cleaning up the psuade files in the working directory

[2019-01-15 20:52] ksbeattie commented on #146
@fsoepyan will test this now that PR #339 has been merged.

[2019-01-15 20:55] ksbeattie commented on #27
@eslickj will add the above described pop-up warning window.

@ksbeattie will follow up with @MAZamarripa about the additional documentation.

[2019-01-15 21:02] ksbeattie commented on #313
Fixed with PR #340

[2019-01-15 21:02] #313 closed

[2019-01-15 21:06] ksbeattie commented on #269
@sotorrio1: in progress

[2019-01-15 21:08] ksbeattie commented on #291
@boverhof this is somewhat related to #27

[2019-01-15 21:14] ksbeattie commented on #321
@boverhof and @fsoepyan confirm this after the py3 branch is merge in #324 .

[2019-01-15 21:17] ksbeattie commented on #297
@eslickj will look at this (possibly after py3 is merged in).

[2019-01-15 21:21] ksbeattie commented on #326
Given that the long term solution, described above by @CSRussell2319, isn't going to be implemented anytime soon, we're lowing the priority on this and removing it from the Feb release board.

[2019-01-16 18:52] fsoepyan commented on #336
Currently, we do not have any applications where string type of variables are required in the FOQUS Flowsheet. Therefore, I will close this issue.

If we need to, we can reopen this issue in the future.

[2019-01-16 18:52] #336 closed

[2019-01-17 17:05] fsoepyan commented on #146
I have tested OUU in FOQUS, and the old "psuadeEval.out" files are automatically deleted at the beginning of each OUU run.

The PR works. Thank you!

[2019-01-17 17:05] #146 closed

[2019-01-18 22:48] MAZamarripa commented on #27
@ksbeattie I will add a brief description once @eslickj is finished with the pop-up window. However, later someone has to run this (successfully) and then type up the documentation. (@fsoepyan maybe, I suggest Bo Hong, since he will be using the parallel simulations for his project).

[2019-01-22 13:30] eslickj commented on #311
It looks like not only are there no bounds there is no initial value.  I think what is happening is that somehow we are getting an optimization problem with no variables.  I'll have to look harder at the test set up.

[2019-01-22 21:03] ksbeattie opened #342 "Update install.md doc with python 3 details"
Now that py3 is in master, this needs updating.

[2019-01-22 21:36] ksbeattie opened #343 "updated to .gitignore"
remove .idae and add to .gitignore

foqus.egg-info/

[2019-01-22 21:39] ksbeattie opened #344 "Fix the in-app documentation"
If the LaTeX generated manual could be hosted on a separate site (like https://www.acceleratecarboncapture.org/) then we could simplify the build/install instructions as the app could point to this location for in-app documentation.

[2019-01-23 13:17] eslickj opened #347 "Adding Dependencies in setup.py"
Previously, on windows installing PyQt with pip on Windows would cause result in getting the source packages.  There would be an attempt to compile, which would always fail.  It seems like binaries an now available, and with our switch to Python 3, we should finally be able to add pyqt5 and have all the dependencies handled there.

[2019-01-23 15:42] eslickj commented on #347
See PR #348

[2019-01-23 15:43] eslickj commented on #342
See PR #348

[2019-01-23 16:54] eslickj commented on #27
PR #349

[2019-01-23 16:59] eslickj commented on #343
Merged PR

[2019-01-23 16:59] #343 closed

[2019-01-23 17:16] eslickj commented on #312
This one is user error.  It's partly my fault though for writing this thing using reverse Polish notation.  The and pops two things off the stack and put one back on.  In the example screen shot, and is in the middle.  There is only one thing to on the stack at that point.

One thing we could do to get around this is finish removing this filter system and use calculated columns to do it instead.

[2019-01-24 17:31] eslickj commented on #297
I think this may be fixed, and this doesn't contain much useful additional information.  I'm going to close it, and we can open a new issue if it turns out to not be fixed.

[2019-01-24 17:31] #297 closed

[2019-01-24 17:33] eslickj commented on #312
Change the way this works with PR #353.  That may get refined a bit, but I don't think we'll go back to this way of filtering.

[2019-01-24 17:33] #312 closed

[2019-01-24 17:51] eslickj commented on #277
I think this is just an issue of ``python setup.py install`` vs ``python setup.py install``.  The only think really missing from the new guide is how to use git, but that may be outside the scope, but we could add a couple lines about how to do git clone.

[2019-01-24 17:53] eslickj commented on #27
The pop up is in.  @fsoepyan you want to take a look at the docs on this one?

[2019-01-24 18:59] eslickj opened #357 "About and Lisence, Broken in FOQUS help"
When we updated the licensing and change the install method, we lost the about screen and a link to the license text.  We should probably add those back and make sure all the package information is up to date.

[2019-01-24 19:04] fsoepyan commented on #27
@eslickj, can you please let me know if PR #355 and #358 are acceptable documentations?

[2019-01-24 19:31] MAZamarripa commented on #27
@fsoepyan the PRs description could be improved.

review section 2.12. Tutorial Using a Remote Turbine Instance (it shows how to set up the configuration file, but not a complete run).
- review item 7 (add a figure, add description, ...,). Item 7 sends you back to the general description of Turbine (2.2.3 and 2.9).

[2019-01-25 16:09] fsoepyan commented on #27
Once Remote Turbine is ready, and once I feel comfortable I can use it by myself, I will add more details for the documentation.

[2019-01-25 17:13] #310 closed

[2019-01-25 17:24] eslickj commented on #31
This would be cool but, for reasons, it's too difficult to implement.

[2019-01-25 17:24] #31 closed

[2019-01-25 17:27] #117 closed, assigned to nobody

[2019-01-25 18:59] #150 closed

[2019-01-25 19:01] eslickj commented on #75
I think this is now done enough to close this and open new issues if they come up in testing.

[2019-01-25 19:01] #75 closed

[2019-01-25 19:03] eslickj commented on #334
https://github.com/CCSI-Toolset/turb_client/issues/5.  Should close this too.

[2019-01-25 19:03] #334 closed

[2019-01-25 19:55] fsoepyan commented on #89
Regarding the 2nd comment:
- For the optimization, FOQUS can now do a full factorial for the samples, and the sizes of the samples do not need to be the same.
- For instance, suppose I have variables x1 and x2 that I specified as samples.
- The values of x1 are 2, 3, 4.
- The values of x2 are 8 and 9.
- With the full factorial feature, FOQUS will automatically combine the samples, so that the samp

[2019-01-28 15:47] fsoepyan opened #362 "Turbine in Py3: Problem uploading model to Turbine"
- I downloaded the latest version of turb_client from: https://github.com/CCSI-Toolset/turb_client
- I went to Anaconda (for Python 3), and typed: python setup.py install
- The installation was successful
- I opened FOQUS
- When I tried to upload an Aspen model to Turbine, I got the following error message:

<img width="800" alt="turbine_01_28_2019" src="https://user-images.githubusercontent.com/3

[2019-01-28 16:19] fsoepyan commented on #362
@jmorgan29 also ran into this issue.

[2019-01-28 16:40] eslickj opened #363 "Requiremnts Problems"
I'm having trouble with the install of these packages.

adodbapi>=2.6.0.7 missing enum adodbapi.adUseServer
pywin32  no module winprocess32
pyqt5 no module pyqt5.sip

I get all sorts of import errors.  Somehow uninstalling and reinstalling fixes things.  The do seem to get installed as part of running setup.py and pip says they are installed but for mysterious reasons they don't seem to work right

[2019-01-28 16:51] eslickj opened #364 "Windows Install Instructions"
For the Windows install instructions, I included setting up a miniconda environment.  There are a couple issues
1. The command to switch environments id different in Linux and windows
  - Windows: conda activate <Environment Name>
  - Linux: source activate <Environment Name>
2. In Windows, a different environment means a different interpreter.  Windows will associate .py with a program or not, so

[2019-01-28 16:52] fsoepyan commented on #362
- I tried to get the log file, but when I clicked the "Help" button and went to "Log Viewer", it's not there.
- Instead, I will show the log message that @jmorgan29 got for this issue:

2019-01-28 09:58:50,485 - ERROR - foqus.foqus_lib.gui.model.gatewayUploadDialog - Error reading sinter config
Traceback (most recent call last):
  File "C:\Users\jmorgan\Desktop\FOQUS-master-24Jan2019\foqus_lib\gui

[2019-01-28 16:55] boverhof commented on #362
I'm currently looking at it.  In python3 the urllibs are not automatically encoding/decoding to "latin-1".  So likely that is the issue here.

[2019-01-28 16:58] eslickj opened #365 "Eliminate FOQUS Direct TurbineLite DB Acess?"
I'm having some trouble smoothly installing adodbapi, which go me thinking about whether it is a good idea for FOQUS to do things by directly interacting with the TurbineLite database.  Originally I think we did it because it was a quick way to allow FOQUS more control over starting and stopping simulations.  Would it be better to add some more stuff to the Turbines rest api instead?

[2019-01-28 17:06] boverhof commented on #362
@eslickj First thing I notice that seems wrong is the "turbine.cfg" file generated by FOQUS is empty.  So I'm getting no section "Authorization" errors from the ConfigParser.get operations.

I'm almost certain FOQUS generated a "default" TurbineLite configuration, not an empty one.

[2019-01-28 17:21] boverhof commented on #362
First problem, can't open files as "binary" as write strings:

[code]

[2019-01-28 18:55] boverhof commented on #362
## Issue
More binary/string comparison issues..
Attempt to upload FOQUS session to Turbine
## Traceback
[code]
## Partial fix
[code]

[2019-01-29 20:47] ksbeattie commented on #362
@eslickj will take a whack at this.

[2019-01-31 16:03] eslickj commented on #362
Should be fixed in PR #367

[2019-01-31 16:06] eslickj commented on #364
Fixed with PR #366

[2019-01-31 16:07] eslickj commented on #363
Hopefully fixed with PR #366, but not fully confirmed

[2019-02-01 12:22] #364 closed

[2019-02-05 16:51] fsoepyan opened #370 "Problem Running Turbine Model in Flowsheet"
- I managed to upload a model into Turbine in the Py3 version of FOQUS.
- But when I tried to run the model, FOQUS reported a failure.
- Below is the log message from FOQUS:

2019-02-05 11:49:29,963 - DEBUG - foqus.foqus_lib.framework.graph.graph - Running flowsheet(s) locally
2019-02-05 11:49:30,150 - DEBUG - foqus.foqus_lib.framework.sim.turbineConfiguration - Starting simulation consumer...
201

[2019-02-05 17:01] fsoepyan opened #371 "Automatic mapping of variables from FOQUS to file"
If we have a file with many inputs and outputs, this improvement will help us keeping track of the variables.

[2019-02-05 17:03] fsoepyan opened #372 "Ignoring errors in FOQUS?"
We would like for FOQUS to be able to automatically sort out the error and determine which errors can be ignored.

For instance, if a convergence block in Aspen Plus fails, we can still ignore the error and consider the run successful.

[2019-02-05 17:04] fsoepyan opened #373 "Recalculate next nodes after tear cycle fails"
When we have a flowsheet with many nodes and edges, we would like for FOQUS to automatically run the next nodes if the tear cycle fails due to an error that we can ignore. Please see Issue #372.

[2019-02-05 19:13] jmorgan29 opened #374 "Problem importing turbineLiteDB"
When opening FOQUS, I notice that the command window states 'Problem importing turbineLiteDB'. I receive an error when attempting to upload a model to Turbine, and the FOQUS log reports the following:

2019-02-05 13:57:01,784 - ERROR - foqus.foqus_lib.framework.sim.turbineConfiguration - Error getting list of simulation from Turbine
Traceback (most recent call last):
  File "c:\users\jmorgan\deskt

[2019-02-05 19:50] sotorrio1 commented on #176
Added a scroll bar and testing it. Hopefully I can create a PR today to solve this issue.

[2019-02-05 21:06] ksbeattie opened #375 "Get Sphinx docs published"
Using the github.io site.

[2019-02-05 21:20] ksbeattie commented on #344
This in-app doc could point to either the Sphinx generated docs or the above site, depending on how/where we decide to host it.

Related to #375

[2019-02-06 16:18] #374 closed

[2019-02-06 18:16] sotorrio1 commented on #284
We will check with Charles Tong if there are OUU examples using response surface that take less time to run

[2019-02-06 18:17] sotorrio1 commented on #269
This might be simply a matter of different optimizers. @eslickj What optimizer do you guys use in the Optimization module? We will check with Charles Tong about the one being used by psuade.

[2019-02-06 18:19] sotorrio1 commented on #207
@fsoepyan would you mind checking if this is still an issue in the new FOQUS version with python 3? I assume it's still the case, just want to make sure :)
Thanks!

[2019-02-06 18:23] fsoepyan commented on #269
The optimizer we usually use is BOBYQA.

[2019-02-07 15:02] eslickj opened #376 "Requirements Problems"
I'm still having some problems with requirements. Specifically after installing FOQUS I often have to uninstall and reinstall adodbapi and python-dateutil.  After that things work right.

I'm not sure why these things happen, but for adodbapi, the only clue I have is that it is also included in pywin32, but a version with a bug.  The bug is fixed in a newer version of adodbapi, and I include that

[2019-02-07 15:38] CSRussell2319 commented on #376
Yes, I had the same issue yesterday when installing the Python 3 version of Foqus/Turbine. I needed to reinstall the "python-dateutil" package and I needed to install tqdm. Adodbapi was oddly okay on my machine.

[2019-02-07 19:39] jmorgan29 opened #377 "Toggle Edge Editor Not Working"
When working with a FOQUS flowsheet, the following error results when pushing the 'Toggle Edge Editor' button:

2019-02-07 14:04:02,830 - CRITICAL - foqus.__main__ - unhandled exception
Traceback (most recent call last):
  File "C:\Users\jmorgan\AppData\Local\Continuum\anaconda3\lib\site-packages\foqus-3.0.0-py3.6.egg\foqus_lib\gui\main\mainWindow.py", line 748, in toggleEdgePanel
    self.showEdg

[2019-02-07 20:24] fsoepyan commented on #207
- I tried running SolventFit, and I got this error message:

<img width="261" alt="solventfit_02_07_2019" src="https://user-images.githubusercontent.com/30811140/52440556-6fed9380-2aec-11e9-9070-9b7e0c62d610.png">

- After closing the first error message, I got another error message:

<img width="429" alt="solventfit1_02_07_2019" src="https://user-images.githubusercontent.com/30811140/52440558-74b

[2019-02-07 20:32] fsoepyan commented on #370
I tried the installation instructions, and then running a Turbine model, but I'm still having issues.

I have Anaconda 3 installed in my computer.

Questions:
- Can you please let me know where I need to type in "pip install -r requirements.txt"?
- Do I need to uninstall/install Turbine, adodbapi, etc.?

[2019-02-07 20:36] fsoepyan commented on #375
Questions:
- What website do I need to go to in order to download/install Sphinx?
- After downloading the latest version of FOQUS from GitHub, is there anything I need to do to convert the tex files to Sphinx files?

[2019-02-07 21:46] sotorrio1 commented on #207
@fsoepyan thanks Byron. It looks like the same error is happening so we'll try to take a look at it

[2019-02-08 19:09] jmorgan29 opened #378 "SDoE Test Fails & Issue with Specification for Design Size"
When running an example, using the provided candidate files 'aggregate_candidates.csv' and 'aggregate_history.csv', and attempting to test the SDOE, the following error results:

2019-02-08 10:58:47,557 - CRITICAL - foqus.__main__ - unhandled exception
Traceback (most recent call last):
  File "C:\Users\jmorgan\AppData\Local\Continuum\anaconda3\lib\site-packages\foqus-3.0.0-py3.6.egg\foqus_lib\gui

[2019-02-08 19:44] sotorrio1 commented on #378
@jmorgan29 I just created PR #379 that should take care of the Windows specific issue when creating new solution directories.

Regarding the issue about Max Design Size:
The candidate and history files you should use are the ones I added in PR #369 called respectively 'candidate.csv' and 'historical_data.csv'. SDOE creates 'aggregate_candidates.csv' and 'aggregate_history.csv' in the working direc

[2019-02-08 21:59] jmorgan29 commented on #378
@sotorrio1 I am confirming that the modification you made fixed the issue with the 'Test SDOE' button. Upon creating the new foqus.bat file, I also no longer had the issue with the Max Design Size setting.

[2019-02-08 22:08] sotorrio1 commented on #378
@jmorgan29 glad to hear! I'll be closing this issue then :)

[2019-02-08 22:08] #378 closed

[2019-02-09 02:07] sotorrio1 commented on #176
@CSRussell2319 PR #380 should fix this issue in Windows and also in iOS. Please test and let me know :)
Thanks!

[2019-02-11 16:02] johnbaca opened #381 "Turbine Upload Error"
With help of @CSRussell2319 we attempted to upload an Aspen APW file with it's accompanying ".opt" and ".dll" files and received the error message below. This occurred using the latest version of FOQUS, Turbine, and Turbine Client. TurbineWebAPIService was running and we tried restarting the service, but it didn't help.

![error_turbine](https://user-images.githubusercontent.com/47044799/52574620-

[2019-02-11 16:32] CSRussell2319 commented on #381
Also, @boverhof maybe should consider removing local directory paths in the error messages (there are a few C:\Users\boverhof references).

[2019-02-11 19:22] jmorgan29 commented on #381
@johnbaca, Just to confirm, you were able to upload the json/apw files to the Turbine and run the node, getting the 'Simulation completed with an error 1, Failure in node calculation...'. When you went back and added in the opt and dll files, you were then unable to add the model to the Turbine?

[2019-02-11 19:54] johnbaca commented on #381
@jmorgan29 yes once I included the dll and opt files to turbine, this error message popped up. When I did not include the two files, every trial i ran through the node, was producing a 'Simulation completed with an error 1'.

[2019-02-11 21:51] jmorgan29 commented on #381
@johnbaca, the reason for the 'error 1' is due to the Fortran subroutines contained in the dll file not being available when Turbine runs the model, causing the Aspen simulation to fail. I tried uploading the files to Turbine again using both of the methods that I mentioned in my previous e-mail and found the following:

-When adding the opt/dll files in SimSinter configuration file and then selec