[2019-02-11 23:50] johnbaca commented on #381
@jmorgan I just tired loading the dll/opt files using the select 'add files' button and got the exact error window.

[2019-02-12 15:12] jmorgan29 commented on #381
@johnbaca, I have one additional suggestion. I noticed that when I got the 'Gateway unknown http error' when trying to add in the 'Gen2_Model' to the Turbine, that another version of this model already existed in Turbine. When I deleted it and re-uploaded, it worked correctly and the node was able to run. In your case, I think the version that you uploaded (without dll/opt) still exists in the Tur

[2019-02-12 15:40] CSRussell2319 commented on #381
@jmorgan29, that may explain why we've had success in the past after reinstalling turbine. Simulations are purged when turbine is reinstalled.

[2019-02-12 18:17] jmorgan29 commented on #381
@CSRussell2319, that does seem to be true.

[2019-02-12 20:35] ksbeattie opened #383 "lodash security vulnerability"
Seems like there's another lodash problem

https://github.com/CCSI-Toolset/FOQUS/network/alerts

[2019-02-12 20:56] ksbeattie commented on #365
@boverhof can you speak to this?

[2019-02-12 21:03] ksbeattie commented on #27
Waiting for a test of this with new remote turbine

[2019-02-12 21:08] ksbeattie commented on #321
@boverhof & @fsoepyan the branch is now merge.  Let's confirm!

[2019-02-12 21:13] ksbeattie opened #384 "Documentation update for release"
The documentation needs to be updated for the Feb release
- [x] review of installation instructions (all) (see #387)
- [x] sorting and filtering (@jeslick or @fsoepyan )
- [x] Initial SDOE documentation

[2019-02-13 16:30] eslickj commented on #381
@boverhof, I'm pretty sure you used to be able to update and existing simulation.  Updating an existing simulation calls a different command.  Maybe something changed and I'm calling it wrong, or there is a Python 3 conversion bug somewhere.  Here is the offending code if anything looks off.  I think the getFile() is the turbine config file.

[code]

[2019-02-13 17:12] #377 closed

[2019-02-13 19:30] fsoepyan commented on #384
- In the Install.md file, the code in Step 8 reads: pip install -r requirements.txt
- However, in the FOQUS folder downloaded from GitHub, the file name is: requirments.txt (one "e" is missing)
- Do we want to change the file name, or do we want to change the documentation in Install.md?

[2019-02-13 19:34] fsoepyan opened #387 "Trouble opening FOQUS"
- I have Anaconda 3
- I downloaded FOQUS from GitHub
- I followed Steps 8 and 9 from Install.md
- When I tried opening FOQUS, I got an error message, and FOQUS won't open:

<img width="434" alt="foqus_02_13_2019" src="https://user-images.githubusercontent.com/30811140/52738362-7cfefc80-2f9c-11e9-8d87-94c129e82e1a.png">

[2019-02-13 19:38] fsoepyan commented on #321
I will test this after I can confirm that I can upload a simulation into Turbine, and run FOQUS for that simulation.

[2019-02-13 20:10] ksbeattie commented on #374
@jmorgan29, just curious, what was the solution to this?

[2019-02-13 20:23] ksbeattie commented on #384
We should rename to the file to the correct spelling: "requirements.txt".

[2019-02-13 20:43] ksbeattie commented on #8
Fixed with PR #356

[2019-02-13 20:43] #8 closed

[2019-02-13 20:58] ksbeattie opened #388 "Improvements to generated foqus.bat file"
This is taken from a comment in PR #366 by @CSRussell2319:

The batch file seemed to be missing an ending quotation when I tried using it. Also, it might be better to use /K instead of /C since the user can't see any error messages from launching foqus if it closes automatically (I had an error about tqdm not being installed that I had to manually check since the cmd window closed before I could r

[2019-02-13 21:20] jmorgan29 commented on #374
@ksbeattie, While installing FOQUS, I was referring the YouTube videos that were intended for the Python 2 version.  I had overlooked Step #8 in the INSTALL.md file "pip install -r requirements.txt", a new requirement for the Python 3 version that was not included in the video.

[2019-02-13 23:29] ksbeattie commented on #384
The command:
`conda create -n foqus -python=3`
Should be:
`conda create -n foqus python=3`
without the '-' before the 'python'

[2019-02-14 00:15] ksbeattie opened #389 "Citation problems in Sphinx docs"
When generating the docs I see the following warnings:
[code]
When looking at that first page, I see:
![image](https://user-images.githubusercontent.com/1534843/52753166-7ecfbc80-2faa-11e9-8179-ea8b78f8c3e3.png)

So those citations just need to be fixed.

[2019-02-14 01:44] ksbeattie commented on #376
I just noticed that there were both a `py-dateutil` (version 2.2) package as well as a `python-dateutil` (version 2.5) installed after the "normal" install steps (`pip install -r requirements.txt`, `python setup.py develop`)

I did a `pip uninstall` on both the dateutils, then a `pip install python-dateutil` (which installed version 2.8) which seemed to satisfy the dateutil problem (but not others

[2019-02-14 02:15] ksbeattie opened #391 "simulator20.exe ?"
There's a Windows executable checked in:
`examples/UQ/simulator20.exe`

We should either remove it, or if it's needed, it should be included as a separate download and not part of the source.

Given that it came in with commit 1cc755a from Jeremy with the log "Restore empty files", I'm going to guess this was a mistake and we should just remove it.

Anyone know anything more about this file?

[2019-02-14 02:20] ksbeattie commented on #375
@fsoepyan, in the `docs/` dir, after doing the normal install steps (pip install, python setup.py) you should be able to run `make html` (on linux) or `make.bat html` (on Windows) to generate the documentation.  It will be built into a `build/html/` subdir of docs.  From there you can view those files in a web browser.

I'm still working on getting that done in a way so that they are viewable from

[2019-02-14 02:33] ksbeattie commented on #375
Notes on progress:
When using the `gh_pages` branch, then the entirely of the contents of that branch is published.  So all of the contents would need to be removed (except document sources) and then built into a dir structure that works.

At that point, I think creating an entirely separate repo for docs would be easier.

[2019-02-14 02:38] ksbeattie opened #392 "DenPostSample.gz ?"
Is this still dir needed?

`examples/UQ/test_suite/Phoenix/DensityModel/`

Is has 5 files there:
[code]

The .gz file is corrupt and the others are empty!

The corruption could have come from when we brought things over from svn, binary files didn't do well with that transition.  I could try pulling it again...

[2019-02-14 16:09] fsoepyan commented on #375
@ksbeattie: Thank you! The make.bat html command works.

[2019-02-14 18:04] sotorrio1 commented on #391
I don't know anything at all about that file, but I don't think it's being used in any of the UQ tutorial examples so I think it should be ok to remove it.

[2019-02-14 18:12] sotorrio1 commented on #392
This happened 2 years ago so I have no clue. But if the files are empty, I guess removing the directory would be fine.

[2019-02-14 20:09] fsoepyan commented on #384
We need to add the description for SDOE to docs\source\chapt_intro\index.rst

[2019-02-15 19:30] fsoepyan opened #394 "Delete unneeded branches"
@ksbeattie:

Can you please delete the "fsoepyan-patch1" and "fsoepyan-patch2" branches from the CCSI-Toolset/FOQUS repository?

I don't think we need those branches anymore, as the changes have been merged, but I don't have the rights to delete branches.

Thank you!

[2019-02-16 01:04] ksbeattie commented on #394
Sure thing.  Done.

In the future, you should be able to delete your own branches by either clicking on the [branches](https://github.com/CCSI-Toolset/FOQUS/branches) link (at the top of the main repo page) or by clicking the "Delete Branch" button at the bottom of a PR that merged in changes from that branch.

[2019-02-16 01:04] #394 closed

[2019-02-19 15:36] jmorgan29 opened #396 "FOQUS cannot locate files"
I am including two issues here which seem to be related.

In the SDOE tab, I generate a space filling design, and then click 'Plot SDOE', and the following results:

2019-02-19 10:14:39,641 - CRITICAL - foqus.__main__ - unhandled exception
Traceback (most recent call last):
  File "c:\users\jmorgan\desktop\foqus-master - **2\foqus_lib\gui\sdoe\sdoePreview.py",** line 113, in plotSdoe
    sdoe.plot

[2019-02-19 17:52] sotorrio1 commented on #396
Hi @jmorgan29
I just created PR #397 to try to fix SDOE's part of the issue. It was working in Mac but it looks like Windows has a concept of current directory for each drive. Because of that, "c:sourcedir" means "sourcedir" inside the current C: directory, and you'll need to specify an absolute directory. There might be a better fix for this, but for now try it out and let me know if it works.
Th

[2019-02-19 21:12] ksbeattie commented on #392
@ngbrenda says that we can remove all Phoenix related work.

[2019-02-19 21:18] ksbeattie commented on #391
Related to #392, @ngbrenda says to remove all of examples/UQ/* and they will refresh that with more up-to-date examples in a future PR.

[2019-02-19 21:22] ksbeattie commented on #389
Given that there are so few of these, we might just write them out as links to a references section of the document.

[2019-02-19 21:25] ksbeattie commented on #388
@eslickj also needs to get the script to handle arguments.

@CSRussell2319 will try to show an example of how it didn't work if run within a conda environment.  That ending quotation mark seemed needed.

[2019-02-19 21:30] ksbeattie commented on #384
@candcook & @atowfiq: See @fsoepyan suggestion above.  Editing the file docs/source/index.rst is the place where this would happen.

[2019-02-20 18:50] fsoepyan commented on #387
- I followed the installation instructions.
- I also did what @ksbeattie suggested, which is to do pip uninstall on both py-dateutil and python-dateutil, and do pip install python-dateutil.
- Unfortunately, I still got the same error messages that I got in #390, and FOQUS won't open:

<img width="420" alt="foquswontopen_02_20_2019" src="https://user-images.githubusercontent.com/30811140/53116278-4

[2019-02-20 18:54] fsoepyan opened #398 "Transpose Flowsheet Table"
@eslickj and I received a suggestion that if the Flowsheet table is transposed, where the rows show the variable names, and the columns show the numbers for each FOQUS run, reading the table would be easier.

[2019-02-20 18:55] fsoepyan opened #399 "Show edges and connections in Flowsheet table"
In the Flowsheet table, adding information regarding which of the variables are connected using edges would be helpful.

[2019-02-20 23:53] ksbeattie opened #400 "Restore UQ examples"
As mentioned in #391, the UQ examples need to be restored anew.

[2019-02-21 18:14] candcook commented on #387
Towfiq and I tried to install the new version of FOQUS on both a Windows machine and a Mac ... we encountered the same problems as Byron. It seems to require turbine to be installed after manually installing lumpy and pandas. In the documentation it suggests that turbine should be optional.

[2019-02-22 06:13] atowfiq commented on #387
Pedro Sotorrio helped me this evening to finally figure out the FOQUS installation issues similar to Issue#387 for windows installation.
Here are the steps we took which worked on two of my windows 10 machines for fresh FOQUS installation:
(1) >> conda  env create –f foqus_env.yml  (this sets up the environment including several libraries except for turbine)
(2) >> conda activate foqus_env
     At

[2019-02-22 14:37] candcook commented on #387
Thanks Towfiq,

Unfortunately, I got stuck on the first command ….

pn1808529:FOQUS-master candcook$ conda env create -f foqus_env.yml

Solving environment: failed

ResolvePackageNotFound:

  - pywin32

It seems that it somehow wants that pywin32 package to be there … and not sure how to make that happen on a mac machine.
Any thoughts?

Thanks,
Christine

From: Towfiq Ahmed <notifications@github.c

[2019-02-22 15:20] fsoepyan commented on #387
@sotorrio1 and @atowfiq: Thank you! Your instructions work, and I can now open FOQUS.

[2019-02-22 16:12] fsoepyan commented on #370
After following the latest installation instructions, I managed to upload a model into Turbine, and run the model in FOQUS.

If nobody else is having this issue, I think we can close this issue.

[2019-02-22 17:26] sotorrio1 commented on #387
@candcook I sent you an email. Basically for Mac you need to comment out/delete the line that contains pywin32 in the environment file ('foqus_env.yml') since it's a Windows-only package.

[2019-02-22 17:42] candcook commented on #387
Thanks Pedro …. That helped me get a bit further … but still get an error:

pn1808529:FOQUS-master candcook$ conda activate foqus_env

(foqus_env) pn1808529:FOQUS-master candcook$ pip install -r requirements.txt

Ignoring adodbapi: markers 'sys_platform == "win32"' don't match your environment

Ignoring pywin32: markers 'sys_platform == "win32"' don't match your environment

Collecting git+https:/

[2019-02-22 18:49] sotorrio1 commented on #387
@candcook it looks like you are having some permission issues cloning the turbine-client repo... are you logged in with your GitHub username?

[2019-02-22 19:10] boverhof commented on #365
## issue 1: read/write/update to Database
A first start would be to document all the places in FOQUS where direct DB access is being made, secondly specify the REST API extension that are required to support this access, and evaluate how difficult this is to accomplish.

## issue 2:  simulation process management
I think this goes beyond the "API", however, starting and stopping simulations also i

[2019-02-22 20:18] sotorrio1 commented on #400
PR #405 takes care of the restoring of UQ example files

[2019-02-22 20:20] sotorrio1 opened #406 "Clean up of OUU example files"
The examples/OUU directory needs some clean up. I'll create a PR to take care of this

[2019-02-22 20:56] sotorrio1 opened #408 "Basic Data tab"
Is there anyone using the basic data tab at all? I was wondering if we should delete this tab completely. As you can see the GUI is all messed up and I was planning on fixing it but only if the module is relevant. As of now, basic data is basically SolventFit and there are a few group boxes and frames that are not even being used.

[2019-02-22 21:01] fsoepyan commented on #408
I'm not using the Basic Data tab. The only time I used it was to test it.

[2019-02-23 00:02] eslickj commented on #396
@jmorgan29, for the flowsheet error, is it your node code, or are you trying to load the csv file somewhere else?  Can you attach or send me the example?

[2019-02-23 00:23] eslickj commented on #376
Could be addressed by https://github.com/CCSI-Toolset/turb_client/pull/8.  I was a little reckless in making the change, but I'm pretty sure that is the source of the problem.  I believe that py-dateutil and python-dateutil are the same thing just that at some version the name changed, so installing both will mess things up.  I'm going to remove the install for python-dateutil from requirements.tx

[2019-02-23 03:10] eslickj commented on #387
I think this is fixed in PR #410.  I set the version of PyQt in requirements.txt.  I updated the FOQUS install instructions not to use the yaml files.  Pywin32 is conditionally installed in windows only in requirements.txt. If PR #410 dosn't fix these issues let me know.

[2019-02-23 03:12] eslickj commented on #376
Further fixed in PR #410.  Hopefully when these are merged, these issues will go away.

[2019-02-23 03:13] eslickj commented on #357
Done in PR #410

[2019-02-23 03:13] #357 closed

[2019-02-23 15:56] eslickj commented on #408
I can say I've never used it, and I'm not opposed to removing it.

[2019-02-24 04:21] eslickj opened #411 "Run Selected Rows Broken"
Run selected row to rerun samples from the results table doesn't work.

[2019-02-25 16:57] sotorrio1 commented on #406
I'm closing this, PR #407 already approved and merged

[2019-02-25 16:57] #406 closed

[2019-02-25 16:59] sotorrio1 commented on #392
PR #405 takes care of this

[2019-02-25 17:01] sotorrio1 commented on #391
PR #405 takes care of this

[2019-02-25 17:32] eslickj commented on #389
Fixed in PR #410, just added a references section and linked the citations to that.

[2019-02-25 17:32] #389 closed

[2019-02-25 17:34] eslickj commented on #388
Think the is taken care of in PR #410.  There was indeed a " missing.  I also added catching command like args and added a foqus_debug.bat that will hold the cmd window open even after FOQUS closes.

[2019-02-25 17:34] #388 closed

[2019-02-25 18:08] eslickj opened #412 "SSH to install from git repo"
Since moving dependencies out of setup.py into requirements.txt, we lost the option to install TurbineClient from github using ssh.  I'm not sure of the cleanest way to make this option available again.  Should we just add a requirements_ssh.txt?

[2019-02-25 18:26] johnbaca opened #413 "Turbine: TurbineLiteDB"
##When running an uncertainty analysis of my node with a local flowsheet, I've been getting the error TurbineLiteDB is not defined and pops up an error message that shows python3 is unresponsive. Before I ran the uncertainty analysis, I went to setting to test the turbine, which came up with a notification of "The Turbine configuration is ok". Also used task manager to restart the TurbineWebAPISer

[2019-02-25 20:29] CSRussell2319 commented on #408
Not using it. I only went through it to follow examples/test to find bugs. I don't think we officially have anyone supporting the feature either.

[2019-02-25 20:35] sotorrio1 commented on #408
That's what I was suspecting. We can discuss further during tomorrow's call, but I propose we get rid of the whole module.

[2019-02-25 22:50] CSRussell2319 commented on #412
Currently I have to manually install the turbine client. I'm not sure if that's an issue with the requirements.txt file or with the setup file being different. I still like the idea of having an ssh argument that can be added to the setup command that will choose which requirements file to use.

[2019-02-26 12:37] eslickj commented on #412
Right now the instructions say to install requirements first so you do like

So there are no requirements options in setup.py any more.   It would just be the user deciding which requirements file to use.

[2019-02-26 12:46] eslickj commented on #413
Can you give me more of the log?  turbineLiteBD is part of FOQUS, but FOQUS will run without it if it fails, since it is a windows only thing.  Most likely there are some messages about it when FOQUS first starts.

We were having trouble with the adodbapi version, but I thought we had resolved it.  Could be another problem.

[2019-02-26 16:01] CSRussell2319 commented on #412
Yes, when the swap was made to use the requirements.txt I didn't notice the instructions were updated. I had assumed the setup.py looked for the requirements.txt file and installed them before proceeding.

[2019-02-26 20:11] sotorrio1 commented on #396
@jmorgan29 PR #409 should take care of the SDOE issue

[2019-02-26 21:08] ksbeattie commented on #408
I'll bring this up to Mike & Ben.

[2019-02-26 21:17] #391 closed

[2019-02-26 21:18] #392 closed

[2019-02-26 21:18] #400 closed

[2019-02-26 21:41] ksbeattie commented on #387
@candcook can you test this again, now that @eslickj has made a change he thinks may have fixed things?

[2019-02-27 14:09] candcook commented on #387
It is still not working ... it seems that the instruction on the github site are not current. In FOQUS-2.5.0 there does not seem to be a requirements.txt file.
I also get an error when I try to run
python setup.py
(foqus) pn1808529:FOQUS-2.5.0 candcook$ python setup.py develop
Traceback (most recent call last):
  File "setup.py", line 34, in <module>
    import foqus_lib.version.version as ver
  F

[2019-02-27 16:28] johnbaca commented on #413
![error](https://user-images.githubusercontent.com/47044799/53505851-f3f2c580-3a71-11e9-8fff-fc8733ccddb3.JPG)

@eslickj here is the whole log for running it this morning.

[2019-02-27 16:39] sotorrio1 commented on #387
@candcook that last error with the print statement it's related to your Python version. In Python 2 there was no need for parentheses in the printing call, in Python 3 there is. Are you trying to run the py2 branch on your python 3 environment?

[2019-02-27 23:06] ksbeattie commented on #375
I've got this working using GitHub's IO pages:

https://ccsi-toolset.github.io/FOQUS/

It's a manual process to update the docs, where I build in one clone of master, then copy the build/html/ tree into a different clone on the gh-pages branch.  Ugly, but working for now.

[2019-02-27 23:06] #375 closed

[2019-02-27 23:09] ksbeattie commented on #383
This alert seems to have gone away on it's own...

[2019-02-27 23:14] ksbeattie commented on #396
@jmorgan29, did PR #409 fix both parts of this issue?

[2019-02-27 23:16] sotorrio1 commented on #396
PR #409 fixed only the SDOE side of things. I'm not sure if @eslickj fixed the flowsheet issue

[2019-02-27 23:24] candcook commented on #387
With Towfiq's help I was able to make it further this time ...

When I do :
pip install -r requirements.txt

I get the following error:
Command "git clone -q https://git@github.com/CCSI-Toolset/turb_client /private/var/folders/zm/ldz_d36s6mz3j_vryr74xcyw0000gp/T/pip-req-build-4ply58s_" failed with error code 128 in None

which I think is a permissions problem on the LANL network that my computer i

[2019-02-27 23:31] ksbeattie commented on #387
@sotorrio1 it looks to me like @candcook is using the last release (note the `/FOQUS-2.5.0/` in the path).

@candcook, can you test again by getting FOQUS one of the following ways:
- Download the [2.6.0 release candidate](https://github.com/CCSI-Toolset/FOQUS/releases/tag/2.6.0.rc1) I just created
- Click the green `Clone or download` button at the main [github FOQUS page](https://github.com/CCSI

[2019-02-28 03:02] jmorgan29 commented on #396
I checked and I still get the same error when trying to access a .csv file from within the Node Script for use in a user-defined function. Since this is for a specific project that I am working on rather than an example problem, it might not be likely that another user will encounter this same problem. I think it would be fine to close issue #397 and I can create another one specific to the Flowsh

[2019-02-28 14:48] candcook commented on #387
I downloaded the new version and then did
conda install git
(worked fine)
and
conda install git
and got this error message:
(base) pn1808529:FOQUS-master candcook$ python setup.py develop
Traceback (most recent call last):
  File "setup.py", line 23, in <module>
    import foqus_lib.version.version as ver
  File "/Users/candcook/Documents/CMACFiles/Work folders/CCSI-wf/FOQUS-master/foqus_lib/versi

[2019-02-28 21:46] CSRussell2319 commented on #387
I've emailed @candcook and will attempt to troubleshoot issues. I think it will be easier for me to work with the computer on-site.

[2019-02-28 22:32] sotorrio1 commented on #387
Thanks @CSRussell2319
Obviously there is something odd with the file 'version.py' since it should have the parentheses for the printing statement.

[2019-03-01 00:23] eslickj commented on #413
Yeah.  Just uninstall and reinstall adodbapi base.  You need the very latest version.  Pywin32 ships with a version that has this problem.  Requirements.txt should specify the right version.  I haven't been having this problem, but if you follow the install instructions and still have this problem let me know.

[2019-03-01 00:29] eslickj commented on #396
@jmorgan29, what's the node script code you are running?  I'm still not clear on where the error is coming from.

[2019-03-01 00:39] eslickj commented on #387
Version.py shouldn't have any print staments anymore.  They should have been removed a while ago.  Version.py is generated first thing in setup.py by adding a version number to version.template.   Grab the latest foqus and delete version.py.  Either it's an old version of foqus or version.py is not being generated for some reason.  You shouldn't need to delete it but at least that way you'll know

[2019-03-01 14:25] eslickj commented on #384
I think I fixed the sorting and filtering a bit ago, so I'll check it off.

[2019-03-01 14:28] candcook commented on #387
I removed the old version.py and still get the same error ... I checked a new version is being created, so whatever is generating it, seems to be introducing the error.

I have the latest version of the foqus that I downloaded yesterday as per Keith's instructions.

Still a mystery! I will try to get with Chris Russell on Monday to see if he can help resolve this here in person.

[2019-03-01 17:39] johnbaca commented on #413
Uninstalling and re-installing adodbapi fixed the issue. Thank you

[2019-03-04 19:57] sotorrio1 commented on #384
I just approved and merged PR #418 so now the main repo has initial documentation for the SDOE module.

[2019-03-04 20:43] ksbeattie commented on #408
I've sent a note to Mike, Ben and John Shinn about this.  I'll let you all know what I hear.

Is it worth keeping it as an "entry-level" module for introducing new users to the tool?  That and maybe a place where simple "smoke tests" live?

Not necessarily trying to argue against removing it, just trying to think if there might still be some value in keeping it that is worth the effort to keep mai

[2019-03-04 20:46] sotorrio1 commented on #408
I didn't write the code so I'm not completely sure what this module does and if it's worth keeping it. Let me know what they say and we'll take it from there :)

[2019-03-05 16:02] jmorgan29 commented on #396
@eslickj, here is the node script code:

![foqus_findfileerror](https://user-images.githubusercontent.com/11306727/53817924-08810300-3f35-11e9-94f4-22a2bf93ddf7.jpg)

I am adding a folder called 'JCM_Library' to the path for use in the node. I am able to import the function 'Hvap_interp' from the file 'jcm_functions.py', but get the error when trying to use 'fit.csv', which is also located in the

[2019-03-05 18:19] fsoepyan opened #420 "Problem running Surrogates in Py3 FOQUS"
- I tried to generate an ALAMO surrogate model using the Py3 version of FOQUS (which I downloaded from the master branch)
- For the data, I used all of the results from my previous runs
- I selected the variables of interest
- I left most of the method settings as default
- When I ran ALAMO, FOQUS froze at this screen, and I had to close and re-open FOQUS:

<img width="800" alt="foqus_surrogates_0

[2019-03-05 18:45] sotorrio1 commented on #396
@jmorgan29 I think the issue here is that using sys.path python will find the modules but not the .csv files. For the csv file you will need to provide and absolute path, something like:

Table = np.array(pd.read_csv(os.path.join(r'C:\Users\jmorgan\Documents\Python Scripts\JCM_Library', 'fit.csv')))

[2019-03-05 19:15] jmorgan29 commented on #396
@sotorrio1, I was able to run the node when making this modification. Thank you for clarifying this. I will go ahead and close this issue.

[2019-03-05 19:15] #396 closed

[2019-03-05 19:32] boverhof opened #421 "FOQUS examples/Optimization/Opt_Test_02.foqus: ERROR on load"
## Example Optimizations
### Opt_Test_01:  OK
### Opt_Test_02:  ERROR
[code]
###

[2019-03-05 20:02] sotorrio1 commented on #387
the issue with py-dateutil and python-dateutil is not happening anymore. I installed FOQUS on a fresh VM and I only needed the following commands:

- conda create -n foqus python=3
- conda activate foqus
- pip install –r requirements.txt
- python setup.py install

[2019-03-05 20:22] CSRussell2319 commented on #387
I went by @candcook office and we were able to set up foqus and get it to launch on Mac. I'm in the process of verifying instructions so new updates can be installed easily without my involvement.

[2019-03-05 21:18] ksbeattie commented on #376
@eslickj says this is closable

[2019-03-05 21:18] #376 closed

[2019-03-05 21:30] boverhof opened #422 "python3 migration check list"
# Description
The dev team should test and verify that the functionality available before the migration from python2 is still working after.   The key points are integration points including libraries we develop and applications FOQUS forks/executes.

Reference:  (https://ccsi-toolset.github.io/FOQUS/dev/index.html)
now: https://foqus.readthedocs.io/en/latest/

# Automated Testing
- [x] pytest SUC

[2019-03-06 00:09] ksbeattie commented on #413
@johnbaca sounds like we can close this now.  Feel free to re-open it if I've got that wrong.

[2019-03-06 00:09] #413 closed

[2019-03-06 00:56] ksbeattie opened #423 "Re-work SDOE paragraph and related figure."
When generating the docs, I'm seeing the following errors (blocked out in fix-width below):
-----
(foqus) ksb@ubn2-ksb[docs] 00:38:59 (0)$ make html
SPHINX=1 sphinx-build -b html -d build/doctrees  -w sphinx-build.log -T  source build/html
Running Sphinx v1.8.4
making output directory...
loading intersphinx inventory from https://docs.python.org/objects.inv...
intersphinx inventory has moved: http

[2019-03-06 01:04] ksbeattie commented on #423
I see part of the problem.  In `index.rst` it looks like you need a space after the `::alt::`  As in, rather than:

[code]

You want:

[code]

Fixing that in 3 places removes the above errors, but then it looks like the file

    chapt_sdoe/figs/4_scatterplot_aggregated.png

is missing.

[2019-03-06 01:14] ksbeattie commented on #423
btw, I've regenerated these docs on on the gh_pages branch, so they can be seen here:

https://ccsi-toolset.github.io/FOQUS/dev/index.html

[2019-03-06 06:07] boverhof commented on #422
Think I did sufficient testing for the python3 release.  Need to update turbine client:
https://github.com/CCSI-Toolset/turb_client/pull/10

[2019-03-06 17:03] eslickj commented on #421
Its and outdated example will remove.  I'll add it to PR #425 momentarily.

[2019-03-06 19:46] candcook opened #427 "Problems installing updated version of FOQUS on my Mac"
Chris came over to help me install a new version of FOQUS from Pedro's fork so I could see the latest version of the SDoE module.
We followed the instructions and when we tried
foqus.py
we got the following error message:
![image](https://user-images.githubusercontent.com/24737485/53909028-e313f800-400d-11e9-85a2-f4286ce7aa80.png)

[2019-03-06 20:15] sotorrio1 commented on #427
@candcook & @CSRussell2319 I think this was fixed in the master branch by @eslickj
I've just updated my fork with the current master repo. Sorry about that, you can try now

[2019-03-07 19:26] #370 closed

[2019-03-07 22:30] eslickj opened #430 "foqus.bat file potential problem"
Spaces in paths in the bat file could cause problems.  I need to rework the quotation marks.  Also running the bat file from a python subprocess could cause it to use the wrong python interpreter.  Need to use full python path to avoid this.

[2019-03-08 15:37] fsoepyan opened #433 "Surrogates: Problem generating ACOSSO"
When I tried to generate an ACOSSO surrogate model, I got these error messages:

Starting ACOSSO
Model File: acosso_fit.rds
Py File (UQ): acosso_example_uq.py
RScript Path: C:\Program Files\R\R-3.5.1\bin\Rscript.exe
Sub-directory: acosso
X data file: acosso\xdat.csv
Y data file: acosso\ydat.csv
Order: 2
CV: bic

Exporting Data...
Inputs: ["stupid.x1", "stupid.x2", "stupid.x3"]
Traceback (most rece

[2019-03-08 15:38] fsoepyan opened #434 "Surrogates: Problem generating BSS-ANOVA"
When I tried to generate a BSS-ANOVA surrogate model, I got these error messages:

Starting BSS-ANOVA
Model File: bssanova_fit.rds
Py File (UQ): bssanova_example_uq.py
RScript Path: C:\Program Files\R\R-3.5.1\bin\Rscript.exe
Sub-directory: bssanova
X data file: bssanova\xdat.csv
Y data file: bssanova\ydat.csv
Burn In: 0
MCMC Iterations: 1000
Record Interval: 1
N. Terms: 25
Order: 2
Prior Prob.: 0.

[2019-03-08 16:19] eslickj commented on #430
Should be fixed when PR #431 is merged.

[2019-03-08 16:28] eslickj opened #435 "Require git client?"
The installation instructions say we need a git client.  That may be true for installing Tubine Client off github, but if we get the non-github pip install, we can probably drop the git client requirement from the install instructions.  I'm actually not really sure if you need the git client now.  If we can lose that requirement before the release the install will seem a bit simpler.

[2019-03-08 16:29] #421 closed

[2019-03-08 16:30] eslickj commented on #420
This is fixed, but for other reasons ACOSSO and BSS-ANOVA don't work.

[2019-03-08 16:30] #420 closed

[2019-03-08 16:33] eslickj commented on #387
These problems should be solved. At least this is carrying on to issue #427, which may also be resolved already.

[2019-03-08 16:33] #387 closed

[2019-03-08 16:37] eslickj commented on #384
I added the install instructions to the sphinx docs.  Once those are published, we can probably remove install.md and update the readme to point to the published sphinx docs.

[2019-03-08 17:13] johnbaca opened #436 "Turbine: Unable to read dll or opt files"
Turbine was not able to read the dll and opt files from the aspen model I was working with. I re-download foqus march 6, since I've been having troubles with turbine. I am using the visible options in the setting of the node to trouble shoot the problem. Turbine is not reading the fortran code within our model. I also keep receiving the following error message:

![image](https://user-images.github

[2019-03-08 17:27] eslickj commented on #436
Did you upload the opt and dll files to TurbineLite?  Creates copies of the files when it runs them.  It needs those files in its database, so they get copied too.  I'm not sure how your simulation is set up either, but even if you do upload those files to turbine the relative location needs to be right.  Like if they are in a subdirectory of the aspen file location, you need that information too.

[2019-03-08 17:28] eslickj commented on #434
This is fixed and tested in PR #437

[2019-03-08 17:28] #434 closed

[2019-03-08 17:28] eslickj commented on #433
this is fixed and tested in PR #437

[2019-03-08 17:28] #433 closed

[2019-03-08 17:28] eslickj commented on #430
Fixed in PR #431

[2019-03-08 17:28] #430 closed

[2019-03-08 17:29] eslickj commented on #412
Probably will be fixed with the Turbine Client pip install.

[2019-03-08 17:29] #412 closed

[2019-03-08 17:32] eslickj commented on #373
This would be solved with #372.  So closing it.

[2019-03-08 17:32] #373 closed

[2019-03-08 17:33] eslickj commented on #344
Removed in-app docs.  Will rely on online docs, or user can build a local copy, but view in a regular web browser.

[2019-03-08 17:33] #344 closed

[2019-03-08 17:46] eslickj commented on #311
Removed this test in PR #438

[2019-03-08 17:46] #311 closed

[2019-03-08 17:50] eslickj commented on #275
@fsoepyan, can you remeber the details of this?  I guess is was somehow a malformed description string, and I could probably catch that, but I can't recall how this happened.  I you don't remember and can't reproduce it let's close this and open a new issue if it happens again.  If you can reproduce it, send me an example.

[2019-03-08 19:02] fsoepyan commented on #275
@eslickj: I remember that there was one time I tried to generate an ALAMO surrogate model, and the description for one of the variables ran for two lines, and Python thought that the second line is a code instead of a comment.

I will try to reproduce this error.

[2019-03-08 19:24] CSRussell2319 commented on #436
@eslickj John has tried uploading the files in Simsinter and within the turbine upload page. We're pretty sure that we're uploading to TurbineLite since FOQUS is fine running Aspen simulations that don't require dll files. In Aspen there's an opt file which specifies two dll files. The opt file has no directory listed in the Aspen simulation so it looks at the current path for it. The opt file lis

[2019-03-08 21:40] eslickj commented on #436
There is a test directory in the foqus working directory.  This is were turbine puts the simulations to run.  The directories in there are numbered by job.  You can look into one of the latest jobs and see if the files you need are in there.  If they seem to be right you can also try running those from Aspen and see if they run.

[2019-03-08 22:47] sotorrio1 commented on #427
I think @candcook and @CSRussell2319 solved this. Please confirm and close the issue. Thanks!

[2019-03-08 22:48] sotorrio1 commented on #423
@candcook have you uploaded the missing file "chapt_sdoe/figs/4_scatterplot_aggregated.png"
@ksbeattie any other errors with this?

[2019-03-08 23:13] ksbeattie commented on #423
I believe that's it, though we should look again after @makaylas work in PR #439

[2019-03-11 16:06] johnbaca commented on #436
@eslickj I finally got it to work, It was missing a dll file that it needed to run. Thank you for the suggestion. I'm still working on getting familiar with Foqus and I appreciate all your help. There is no longer an issue.

[2019-03-11 17:04] eslickj commented on #436
I think this is good will close.

[2019-03-11 17:04] #436 closed

[2019-03-11 17:10] eslickj commented on #427
The web stuff is totally removed, so its probably safe to close this, but if anything else comes up don't hesitate to reopen it or create a new issue.

[2019-03-11 17:10] #427 closed

[2019-03-11 17:13] eslickj commented on #422
At this point I think the Python 3 release is an improvement, and it doesn't seem to break anything that was not already broken.  At least I'm able to use Turbine to run simulations, put together flowsheets, and build surrogate models.

[2019-03-11 17:27] sotorrio1 commented on #427
totally agree, this should be fixed.

[2019-03-11 18:57] CSRussell2319 commented on #412
Is adding Turbine Client to pip part of an existing issue? If not I think this should remain open

[2019-03-11 19:09] ksbeattie commented on #435
I agree we should drop that requirement.

This issue depends on: https://github.com/CCSI-Toolset/turb_client/issues/4

[2019-03-11 19:16] ksbeattie commented on #383
ok, it's back.  This time I'm including a screen shot in case it disappears again...

![image](https://user-images.githubusercontent.com/1534843/54151209-880c4780-43f7-11e9-8469-ce1cc9156645.png)

[2019-03-11 19:18] ksbeattie commented on #383
not just that file, either:

![image](https://user-images.githubusercontent.com/1534843/54151280-b68a2280-43f7-11e9-9433-e136a0ea6368.png)

[2019-03-11 19:19] CSRussell2319 commented on #435
I agree with the exception that we need to have developer installation/setup instructions somewhere. By removing things like this I, or others in my position, need to explain how to properly use this repository with Git. Other than our developer meetings there is little discussion of how we want newcomers to make contributions (branches, forks, etc) or how we expect changes to be tested using auto

[2019-03-11 19:20] ksbeattie commented on #420
@eslickj, are those other reasons captured in an issue somewhere?  Or even just that they don't work?

[2019-03-11 19:40] ksbeattie commented on #412
@CSRussell2319, it is: https://github.com/CCSI-Toolset/turb_client/issues/4

[2019-03-11 20:20] ksbeattie commented on #384
The docs are published now.  This should be the new (hopefully) permanent link for it:

https://foqus.readthedocs.io/en/latest/

[2019-03-11 20:29] sotorrio1 commented on #384
They look great!

[2019-03-12 19:48] ksbeattie commented on #383
@boverhof will look into fixing or regenerating these.

[2019-03-12 20:11] ksbeattie commented on #435
I'll remove this section from the install.rst doc.

[2019-03-12 20:12] ksbeattie commented on #423
@makaylas fixed this in #439

[2019-03-12 20:14] ksbeattie commented on #384
@perrenyang will review the install docs as part of setting up for AppVeyor

[2019-03-12 20:23] ksbeattie commented on #422
@makaylas and @perrenyang, I'm closing this but please refer to this as a list possible test to add to any automated testing/CI system.

[2019-03-12 20:23] #422 closed

[2019-03-12 21:06] #435 closed

[2019-03-12 23:28] ksbeattie commented on #423
Re-opening this as the file `chapt_sdoe/figs/4_scatterplot_aggregated.png` is still missing.

@sotorrio1, @candcook anyone have this image?

[2019-03-12 23:30] sotorrio1 commented on #423
I don't have it, but if @candcook describes it I can generate it.

[2019-03-12 23:32] ksbeattie commented on #423
Is it described well enough there in the docs for you to generate it?

[2019-03-13 00:05] sotorrio1 commented on #423
@ksbeattie Just checked the description in the SDOE documentation and I think that image doesn't exist because it's a placeholder. I think @candcook is talking about a feature she wants in the plotting capability but it's not implemented yet.

[2019-03-13 00:36] ksbeattie opened #446 "Update license with change for LANL"
Change "Los Alamos National Security” to “TRIAD National Security” and "LANS" should be updated to "TRIAD"

[2019-03-13 15:46] candcook commented on #423
Yes, the missing plot is one that is forthcoming. When I was doing the writing, I did not know how quickly this version would be included in a release.
When some of the new functionality is added, I will update all of the figures and include new ones that showoff the capabilities.
I also plan on adding several new examples to illustrate the methods.

[2019-03-13 23:04] #446 closed

[2019-03-13 23:15] ksbeattie commented on #423
@candcook, sorry about the miscommunication on the timing of this release.  We had originally scheduled it for Feb, so I'd really like to get this out this week.  Is there anything that you can add in the next day or should we go with that is there now?

fyi: you can see the latest version here: https://foqus.readthedocs.io/en/latest/

[2019-03-13 23:29] sotorrio1 commented on #423
@candcook should decide this, but I think it could look just fine if for now we just delete the following paragraph:

'''There are options to view the aggregated files for both the candidate and history files, with a similar interface as was shown in step 3. In addition, a single plot of the combined candidate and history files can be viewed, by (ADD DETAILS WHEN AVAILABLE). In this plot the (BLAC

[2019-03-14 20:27] ksbeattie commented on #383
This was fixed in #451

[2019-03-14 20:27] #383 closed

[2019-03-15 23:05] ksbeattie commented on #384
@perrenyang says she's finished a successful walk-through of the new install instructions, so I'm closing this.

[2019-03-15 23:05] #384 closed

[2019-03-15 23:14] ksbeattie opened #452 "Remove gh-pages branch?"
Now that we've got readthedocs generating and hosting our sphinx docs, we should be able to get rid of the gh-pages branch and disable GitHub Pages hosting for this repo.

I'd like to wait on this until we make sure that RTD properly displays both the most currently released version of the docs, as well as the current development version (and also perhaps old released versions).  If not, then perh

[2019-03-15 23:53] ksbeattie opened #453 "TabError in heatIntegration.py"
Saw this in the output of `python setup.py install`...

    Sorry: TabError: inconsistent use of tabs and spaces in indentation (heatIntegration.py, line 557)

Not sure if this an actual indentation error or it just really dislikes mixing spaces and tabs (which I agree is probably something to avoid).

This does bring up the idea of running pylint (-E) over all our code...

[2019-03-16 00:26] ksbeattie opened #455 "sphinx doc generation warnings"
There are a few remaining warnings that come up when generating the sphinx docs.

@makaylas worked on the others, but these look like they need attention from @eslickj

[code]

[2019-03-16 00:30] ksbeattie commented on #423
@sotorrio1, I've gone ahead and commented that paragraph out, so that we can move forward with the Feb release.

I'll leave this issue open for @candcook to updae the paragraph and related figure.

[2019-03-20 13:11] eslickj opened #456 "Flowsheet data table functions"
It seems that delete rows doesn't work on the flowsheet data table.  Need to check all the data table functions and fix if necessary.

[2019-03-20 13:13] eslickj opened #457 "Add instuctions for data filter entry"
It's almost impossible to figure out how to write a data filter without looking at the documentation.  I think we may want to add a frame to the dialog box that provides some basic instructions.

[2019-03-22 18:54] adowling2 opened #459 "Update citation for ALAMO in FOQUS / Surrogates tab"
When selecting Tool / ALAMO in the Surrogates tab, the textbox says:

This should be updated to say:

2227, 2014.

My hope is to use this issue to practice submitting a pull request.

[2019-03-25 14:10] #459 closed

[2019-04-02 20:45] fsoepyan opened #461 "Running parallel simulation with FOQUS and process simulator on local machines"
We're wondering if we can perform parallel computing with FOQUS and a process simulator (Aspen Plus, ACM, and/or gPROMS) on a group of local machines.

What modifications do we need to make to FOQUS?

[2019-04-02 23:01] perrenyang opened #462 "Plugin loading fails to encoding(?) issue on AppVeyor"
I've been trying to get FOQUS installed/built and running on AppVeyor for automated testing on a Windows platform. When the application attempts to launch, an error occurs during plugin loading:

[code]
More complete context can be seen in the image below:
![image (1)](https://user-images.githubusercontent.com/44816826/55441605-38d1b680-5560-11e9-9119-776a81713427.png)

For comparison, when I run

[2019-04-05 11:40] eslickj commented on #462
I've seen this too.  For me it happened the first time I tried to open FOQUS before the contents of the working directory where created.  The second time I tried to run it worked fine.  I'll look into it.

[2019-04-05 15:15] fsoepyan opened #463 "Problem opening FOQUS"
- I downloaded the latest version of FOQUS from GitHub on 4/5/19
- I typed the 4 codes shown in the installation guide: conda activate foqus, pip install -r requirements.txt, python setup.py develop, foqus.bat
- After typing foqus.bat, I got this error message:

![image](https://user-images.githubusercontent.com/30811140/55637924-13c58980-5794-11e9-9cb7-7814d0842a91.png)

[2019-04-05 15:21] fsoepyan commented on #463
Status update: When I opened a previously-downloaded version of FOQUS (from 3/15/19), I had to type in pip install -r requirements.txt, python setup.py develop, and foqus.bat to successfully open FOQUS.

[2019-04-05 18:03] eslickj commented on #462
@fsoepyan also reported this in issue #463, which I'm going to close as a duplicate.  I'm not sure why this started happening, but a least for me it works the second time.

[2019-04-05 18:04] eslickj commented on #463
This is same as issue #462

[2019-04-05 18:04] #463 closed

[2019-04-06 23:35] eslickj commented on #462
Should be fixed in PR #464

[2019-04-09 16:16] eslickj commented on #462
I think it's all succeeding now.

[2019-04-09 16:16] #462 closed

[2019-04-09 19:49] ksbeattie commented on #381
@boverhof, needs to take another look at this to see if this issue still exists or was introduced earlier.

[2019-04-09 19:51] ksbeattie commented on #365
@eslickj says this is now more of a long-term goal.  Lowering priority.

[2019-04-09 19:54] ksbeattie commented on #176
@sotorrio1 is waiting on #408 on if this will even need to be done.

[2019-04-09 19:55] ksbeattie commented on #207
This too is waiting on #408, on if it should even be fixed.

[2019-04-09 20:01] ksbeattie commented on #27
@eslickj will work with @fsoepyan on how to run a remote turbine to test this.  @fsoepyan will update the documentation thereafter (clarifying what it meant by "local" and "remote" turbine).

[2019-04-09 20:04] ksbeattie commented on #269
@fsoepyan will try to reproduce the original issue, so that @sotorrio1 can get a clearer picture on what might be the fix.

[2019-04-09 20:14] ksbeattie commented on #321
@fsoepyan & @eslickj will be working together on remote turbine, and so will attempt to test this after that.

[2019-04-09 20:18] ksbeattie commented on #452
@ksbeattie will remove this branch in pref to using readthedocs for our documentation.

[2019-04-09 21:21] ksbeattie commented on #452
Branch removed and https://foqus.readthedocs.io/ now shows multiple versions

[2019-04-09 21:21] #452 closed

[2019-04-11 14:30] fsoepyan opened #469 "Parallel computing: AWS no longer supports node.js version 6.10"
AWS needs to be updated, and this work is in progress.

Initial work done in PR #512

[2019-04-11 17:01] eslickj commented on #461
With PR #470 it seems to work to run simulations in parallel by running multiple consumers on a single computer and setting FOQUS to remote.  I ran with two consumers, and the only problem I had was that it seems both consumers picked up the last job in the set, although it didn't seem to cause problems.  Otherwise it all seemed fine.  I'll have to look at how the consumers pick up jobs, but we ma

[2019-04-11 18:06] fsoepyan commented on #321
- @eslickj and I tested remote turbine today
- I used the Simple_flow example under "examples\Smoke Tests", which does not require any Aspen or Excel simulations
- When I ran this example using remote turbine, sometimes it works, sometimes it doesn't work
- I will investigate further

[2019-04-11 18:08] fsoepyan commented on #27
Status update: please see #321

[2019-04-11 18:08] fsoepyan commented on #461
Status update: please see #321.

[2019-04-12 13:36] fsoepyan commented on #321
- I tested remote turbine again today using the Simple_flow example from the "examples\Smoke Tests" folder
- Today, it worked, even after I changed the values of the input variables
- I will close this issue

[2019-04-12 13:36] #321 closed

[2019-04-12 13:39] fsoepyan commented on #461
- As I mentioned in #321, I tested remote turbine today, and it works, with PR #470
- Can we close this issue, or is there more that we need to do?

[2019-04-12 15:28] fsoepyan commented on #27
- PR #471 should take care of the documentation for running turbine remotely on your own computer, if for example, your computer has multiple processors.
- I believe that we are 1 step closer to resolving this issue.
- Once we can run FOQUS simulations in parallel using AWS and/or on multiple computers, the next step would be to update the instructions on how to do that.

[2019-04-12 16:34] eslickj opened #472 "Split FOQUS UI and FOQUS Consumer?"
I think this issue is worth discussing, but due to the level of effort required it may not be feasible.

FOQUS consumer and FOQUS UI are now one thing. There are two ways to run FOQUS jobs. "Local," which means run FOQUS jobs in the same process as the UI, and "remote" which means send jobs to Turbine and those jobs will be run by a FOQUS consumer.

Ideally we should only have one path for running

[2019-04-12 16:40] fsoepyan commented on #269
When I ran OUU for the MEA example, the message box that usually appears did not appear, the results were not generated, and according to the Anaconda prompt:

![image](https://user-images.githubusercontent.com/30811140/56052696-1c800780-5d20-11e9-9d76-77075c35f8a2.png)

[2019-04-15 19:12] boverhof commented on #469
### Deployment with NodeJS 8.10
Make a few changes to the deployment configuration environment.  Was able to deploy out using NodeJS 8.10.  Initial testing has passed.

[2019-04-16 19:38] ksbeattie commented on #408
Mike's response is:

@sotorrio1 suggested changing a setting to make the tab disappear and will follow up with @ngbrenda on making we are not abandoning any functionality.

[2019-04-16 19:45] ksbeattie commented on #269
@sotorrio1 is working on this.

[2019-04-16 19:51] ksbeattie commented on #461
Closing this as the functionality works, documenting it will continue in #27

[2019-04-16 19:51] #461 closed

[2019-04-16 20:10] ksbeattie commented on #381
@boverhof will work on this after updating his cloud based work.

[2019-04-16 20:12] ksbeattie commented on #381
@fsoepyan will try and reproduce this as well.

[2019-04-16 20:22] ksbeattie commented on #472
It's hard to know the value of the trade-offs here without better knowledge on how this would impact users.

[2019-04-16 20:25] ksbeattie commented on #456
@eslickj says the delete functionality was fixed in #458 but more testing is needed.

[2019-04-17 16:02] fsoepyan commented on #381
In response to the comments from @eslickj (from Feb. 13):
- I am currently using FOQUS for a project
- Whenever I need to update an Aspen or Excel model, I would first open the SimSinter json file (with the original name)
- Then, I would make sure that the new Aspen or Excel model (that opens automatically) is the new one
- I would then click the "Finish" button in SimSinter to save and close the

[2019-04-17 16:15] johnbaca commented on #381
@fsoepyan these steps help out a lot and I have been doing a similar procedure when working with Foqus. I think this issue has been resolved on my end, Thank you.

[2019-04-17 16:25] CSRussell2319 commented on #381
I would argue that having an add/update button implies that an update feature exists. If this is how we "update" a model I think the phrasing should be changed and better instructions should be provided to the user.

[2019-04-19 20:52] sotorrio1 commented on #408
PR #474

[2019-04-19 20:53] sotorrio1 commented on #207
PR #474

[2019-04-19 20:53] sotorrio1 commented on #176
PR #474

[2019-04-23 16:19] fsoepyan commented on #381
- If we need to update the documentation, the instructions should be added to the docs\source\chapt_flowsheet\reference\home.rst file
- Because the old pictures of the FOQUS toolbar/icons are in this section, updating this section of the manual should wait until after we merge PR #474

[2019-04-23 19:00] boverhof opened #476 "LBNL CIT/DevOps Server"
# summary
Configure new server for CIT and DevOps tasks.
## Operating System
CentOS 7.6
## Partition Filesystem
## VLANs
## GlusterFS
## OVIRT Virtual Machine Manager

[2019-04-23 19:43] ksbeattie commented on #408
Although PR #474 has been merged, removing the basic data tab, we'll close #176 and #207 but leave leave this issue open to revisit on whether to fix those issues for good, or remove the tab for good.

[2019-04-23 19:44] ksbeattie commented on #176
Closing this for now, possibly re-opening it if we want to keep the basic data tab.

[2019-04-23 19:44] #176 closed

[2019-04-23 19:45] ksbeattie commented on #207
Will close, revisiting we decide to keep the basic data tab

[2019-04-23 19:45] #207 closed

[2019-04-23 19:53] ksbeattie commented on #27
@fsoepyan says that the next step, as mentioned above, is to add instructions on how to use remote turbine with AWS.

[2019-04-23 20:04] ksbeattie commented on #469
@boverhof says more work needs to be done on the post-session-start.

[2019-04-23 20:07] ksbeattie commented on #381
@eslickj points out that the update should work without having to delete first.  @fsoepyan will test this.  @boverhof will look at what it will take to make sure the update works without a delete.

[2019-04-23 20:17] ksbeattie commented on #472
@candcook, @eslickj is feeling that this is probably more effort than it's work or we have bandwidth for, so we're going to close this issue.

[2019-04-23 20:17] #472 closed

[2019-04-24 00:15] sotorrio1 commented on #269
@fsoepyan when you run OUU and get this error, are you selecting a specific node or the whole Flowsheet? Thanks!

[2019-04-24 17:59] fsoepyan commented on #269
If I remember correctly, I selected the whole Flowsheet.

[2019-04-24 18:09] fsoepyan commented on #381
- I updated a model in Turbine without deleting the old file that's already in Turbine, and it works.
- I managed to successfully upload and run the model in FOQUS.

[2019-04-24 21:46] boverhof commented on #381
From the original description I can't tell what the exact original scenario was.

I tested the most basic scenario:  Upload the "sinter" configuration to TurbineLite ( FIPS compliant release ) and the py3 turb_client from GIT.  The test works.

## Zero Simulations
[code]
## Create Simulation test1
[code]
## Add First Configuration File Version
[code]
## Update to Second Configuration Version
[code

[2019-04-30 18:04] fsoepyan commented on #456
- I tested the "Export" in the Menu for the Flowsheet data table
- I managed to generate the CSV file with the results
- I also managed to copy and paste the results into Excel
- The "Export" feature works!

[2019-04-30 18:13] fsoepyan commented on #456
For the "Import" in the Menu for the Flowsheet data table:
- I managed to copy and paste the information from the the same CSV file that I generated when I tested the "Export" feature into the data table when I choose to "Import from CSV file"
- Then, I tried to copy and paste by copying a row from the CSV file with the numbers and other information (so that the number of items match the FOQUS dat

[2019-04-30 18:35] fsoepyan commented on #456
- I selected a row in the Flowsheet data table
- I selected "Row to Flowsheet" under "Edit"
- I got this error message:

![image](https://user-images.githubusercontent.com/30811140/56984920-30679e00-6b55-11e9-87e4-106b639dfcd3.png)

[2019-04-30 18:38] fsoepyan commented on #456
Under the "Edit" option:
- In the past, "Clear All Data" works
- I tested "Delete Rows", and this works
- I selected "Add Empty Result", and I got this error message:

![image](https://user-images.githubusercontent.com/30811140/56985090-8dfbea80-6b55-11e9-9fc7-de7ae746046f.png)

[2019-04-30 18:39] fsoepyan commented on #456
Also under the "Edit" option, I tried "Edit Set for Selected Rows", I entered a new set name, and I got this error message:

![image](https://user-images.githubusercontent.com/30811140/56985167-b552b780-6b55-11e9-8406-7203c0c98f09.png)

[2019-04-30 18:42] fsoepyan commented on #456
The "Calculated Columns" works fine.

[2019-04-30 18:44] fsoepyan commented on #456
All items under the "View" option work fine.

[2019-04-30 18:45] fsoepyan commented on #456
I selected a row, I selected "Run Selected Rows", and I got this error message:

![image](https://user-images.githubusercontent.com/30811140/56985527-8ee14c00-6b56-11e9-8987-6a52d97723a0.png)

[2019-04-30 18:50] fsoepyan commented on #456
In summary, the errors occurred for the following items:
- "Run Selected Rows"
- The "Import" menu: "Paste data from clipboard"
- The "Edit" menu: "Row to Flowsheet", "Add Empty Result", and "Edit Set for Selected Rows"

[2019-04-30 19:42] ksbeattie commented on #476
@boverhof is working on building out a test OVRT system at NERSC, after which this one will get installed.

[2019-04-30 19:44] ksbeattie commented on #469
This is going to have to wait until after the upload error is resolved, due to priority, not dependency.

[2019-04-30 19:49] ksbeattie commented on #381
@johnbaca and/or @CSRussell2319 could one of you confirm that this has been fixed?

[2019-04-30 20:06] ksbeattie commented on #269
@sotorrio1 is working with @fsoepyan on reproducing this.

[2019-05-01 15:41] fsoepyan commented on #27
Because this issue is about the documentation for Remote Turbine, I will close this issue, as PR #471 has been merged.

However, I will create a new follow-up issue regarding updating the documentation for running Remote Turbine with AWS, if needed.

[2019-05-01 15:41] #27 closed

[2019-05-01 15:43] fsoepyan opened #477 "Documentation for Remote Turbine and AWS"
- I am creating this issue as a follow-up for #27.
- Once we can run FOQUS remotely with AWS, we may need to update the documentation.
- For now, I will set this as "Low Priority".
- I will move this to a higher priority once we can run FOQUS remotely with AWS.

[2019-05-02 00:04] sotorrio1 commented on #269
OUU should work after PR #479 is merged. Then we can focus on the different solutions generated by OUU and the Optimization tab.

[2019-05-03 14:32] johnbaca commented on #381
@ksbeattie yes this has been fixed. I am able to upload a file without deleting the file first.

[2019-05-06 15:17] fsoepyan commented on #269
- I tested the Optimization and OUU tabs using the MEA example that uses an ALAMO surrogate model
- I made sure that the bounds of the decision variables (X1 to X4) are the same for both cases
- I also made sure that the initial values of the decision variables, and the values of the constant (i.e., fixed) variables are the same for both cases
- I used BOBYQA for both the Optimization and OUU tabs

[2019-05-06 19:39] sotorrio1 commented on #269
@fsoepyan I was able to reproduce your results. I think this might be a matter of the random seed. In OUU we have the random seed hard-coded to 41491431, while I think in the Optimization tab (where you are using NLopt the seed is randomize using the system time (https://nlopt.readthedocs.io/en/latest/NLopt_Python_Reference/)

[2019-05-06 20:44] sotorrio1 commented on #269
@fsoepyan I was able to reproduce your results. As of now I'm not entirely sure why the solutions are different, but it might have something to do with the random seed.

[2019-05-07 17:41] boverhof commented on #381
This is done.

[2019-05-07 17:41] #381 closed

[2019-05-07 20:05] ksbeattie commented on #408
@ksbeattie will follow up with Mike on that removing basic data does remove solventfit functionality (which was already broken).  Adding it back, and fixing it will require some effort.

[2019-05-08 19:37] fsoepyan opened #481 "FOQUS installation video for Python 3"
The installation instruction videos we have are for the Python 2 version of FOQUS. We now need a new set of videos for the Python 3 version of FOQUS.

[2019-05-08 19:54] sotorrio1 opened #482 "Running foqusPSUADEClient.py raises issues with python version"
When running OUU, FOQUS calls the foqusPSUADEClient.py script that takes two arguments; an input file and an output file.

When running on Windows the user needs to make sure the register keys are in accordance with the documentation updated through @fsoepyan PR #480

When running on iOS there is no such thing as register keys. I've found that when running a bash script iOS is ignoring the conda e

[2019-05-10 15:01] anujad95 commented on #29
The issue still persists. I tried tutorial "Creating a Flowsheet with Linked Simulations" from the documentation. In step 26, the auto button is not working as expected. @eslickj

[2019-05-13 15:03] fsoepyan commented on #477
This issue is linked with #469.

[2019-05-13 15:08] fsoepyan commented on #456
- This issue is not hindering FOQUS' main functions.
- For instance, the user can run a specified set of inputs from previous runs by putting the input variables' names and values into a CSV file, uploading the CSV file into UQ, and running the samples.
- Therefore, I will move this issue from medium to low priority.

[2019-05-17 14:56] fsoepyan commented on #481
To install FOQUS in Windows, below are the software we need to download. Please let me know if anything is missing from this list.

- Anaconda (https://www.anaconda.com/distribution/): Python 3.7 version
- Miniconda (https://docs.conda.io/en/latest/miniconda.html): Python 3.7 version, Windows
- FOQUS (https://github.com/CCSI-Toolset/FOQUS)
- PSUADE (https://github.com/LLNL/psuade/releases)
- Micro

[2019-05-17 15:58] fsoepyan commented on #481
I plan to borrow a laptop (without FOQUS installed) to record the installation videos. I have already placed a request for the laptop.

[2019-05-20 13:25] anujad95 opened #483 "Additional Step in Parameter Estimation Tutorial Manual required"
In the Parameter Estimation Tutorial documentation, after Step 13, an additional step of adding ‘ydata’ as an input variable within the model node is required. This needs to be done in order to get 'ydata' as a variable within the 'Optimization' variables display window, and implement Step 16.

[2019-05-20 14:17] anujad95 opened #484 "UQ Tutorial 1 Sample Design"
“Simulation Ensemble creation and execution” tutorial: In accordance with step 11.2, “Simulation Ensemble Added” figure in step 17 must display ‘Sample Deign’ as ‘Latin Hypercube’. Instead, it displays ‘Monte Carlo’
![image](https://user-images.githubusercontent.com/47067166/58028295-69f25000-7ae8-11e9-9a0f-5aca8ba35561.png)

[2019-05-20 14:57] anujad95 opened #485 "OUU Documentation Update on "Types of Variables""
In “OUU User Interface” section of the documentation, the “types of variables” need to be updated since the software provides an additional option of setting the model variables to “Primary Discrete” ie: Discrete Optimization Variables (Z1d)

[2019-05-21 15:31] anujad95 opened #486 "UQ Tutorial 1 different result obtained"
In the UQ tutorial “Simulation Ensemble creation and execution”, when implemented in Foqus, the statistical inference values ie: Sample Mean, Std Dev etc, along with the Probability Distribution bar plot for Uncertainty Analysis slightly differ from the tutorial manual.
![image](https://user-images.githubusercontent.com/47067166/58108750-65966780-7bba-11e9-8321-9c9282e3e655.png)
_(Uncertainty Anal

[2019-05-21 16:04] fsoepyan commented on #481
Good news: To create the FOQUS installation videos, I found out that I can record my computer screen using VSDC Free Video Editor.

[2019-05-21 16:59] fsoepyan commented on #486
- Were these samples randomly generated using the distributions of the uncertain parameters?
- If so, then the variations in the plots would be expected.

[2019-05-21 17:23] fsoepyan opened #487 "Add instructions on how to load CSV samples into UQ"
- If the instructions are not in the user's manual yet, we need to add the instructions on how to load a CSV sample file into UQ.
- Doing this would be helpful for people who are interested in automatically running a set of input conditions in FOQUS.
- By doing this, maybe we can also delete some of the Flowsheet Data Table functions that are broken, and take care of #456.

[2019-05-21 17:48] sotorrio1 commented on #484
I can update the screenshot in the documentation.

[2019-05-21 17:49] fsoepyan commented on #408
I talked with @eslickj, and according to @eslickj:
- The algorithm in the "Basic Data" tab is similar to the algorithm in the "Surrogates" tab.
- It's possible that the "Basic Data" tab is linked to the "Surrogates" tab.
- However, we both agree that no tab is linked to the "Basic Data" tab.
- At the moment, the code for "Basic Data" is still there, but the "Basic Data" tab is hidden.
- In the sho

[2019-05-21 18:00] anujad95 opened #489 "Different Interface for "Filtering" tab within UQ Module"
In the Reference Documentation for UQ, the "Filtering Tab" image after (15) does not match the actual software setup interface.
![image](https://user-images.githubusercontent.com/47067166/58113735-3553c680-7bc4-11e9-8cea-4f0dedcb872d.png)
_(Filtering Tab-Reference Documentation)_

![image](https://user-images.githubusercontent.com/47067166/58118129-3853b480-7bce-11e9-84e1-11fb8f2572eb.png)
_(Filte

[2019-05-21 18:20] fsoepyan commented on #485
I think #488 took care of this issue, so I will close this issue.

[2019-05-21 18:20] #485 closed

[2019-05-21 18:42] anujad95 commented on #486
The samples were generated using the Latin Hypercube sampling scheme, in which case, there may be a possibility of variation in statistics. So, i would like to confirm if the result image in the documentation needs to be updated.

[2019-05-21 18:49] sotorrio1 commented on #489
@anujad95 Thank you. We updated the filtering capability to the same filtering @eslickj uses in the Surrogates tab a while ago but never got to update the documentation.

[2019-05-21 19:02] anujad95 commented on #489
No worries. So, i would like to ask if the documentation can be updated accordingly.

[2019-05-21 19:12] sotorrio1 commented on #489
@anujad95 of course, thanks for creating the issue so it helps as a reminder to update the docs :)

[2019-05-21 19:27] anujad95 commented on #489
Sure, no problem! the surrogate modeling ALAMO tutorial also needs to be updated from step 27 through 29. The following filter dialog box works for implementing the filter:
![image](https://user-images.githubusercontent.com/47067166/58124727-e1a1a700-7bdc-11e9-8613-ad780e0a5166.png)

[2019-05-21 19:33] sotorrio1 commented on #489
@fsoepyan and @eslickj are in charge of the surrogates tab. I'm the go-to person for UQ, OUU and SDOE

[2019-05-21 19:52] ksbeattie commented on #482
A few ideas to investigate:
- Change the #! line to `#!/usr/bin/env python` which will use the python found on the current's envronment's $PATH
- Make sure PATH has the correct bin on it.

[2019-05-21 19:57] ksbeattie commented on #29
@eslickj will take a look at this.

[2019-05-21 20:08] ksbeattie commented on #484
@anujad95 will do this

[2019-05-21 20:11] ksbeattie commented on #489
@anujad95 will tackle this on too.

[2019-05-21 20:13] ksbeattie commented on #486
@sotorrio1 will take a look at this.

[2019-05-21 20:13] sotorrio1 commented on #482
Just double checked and the line `#!/usr/bin/env python` works. I'll create a PR to update this

[2019-05-21 20:15] ksbeattie commented on #408
@ksbeattie will follow up with Mike & Brenda on this.

[2019-05-21 20:18] sotorrio1 commented on #482
PR #490 should take care of this. Once the PR is approved and merged I will close this issue.

[2019-05-21 20:21] ksbeattie commented on #269
@sotorrio1 is reaching out to Charles on how psuade uses the random seed and if that is the culprit or if the use of that seed could be removed (or could be set so results can be reproduced).

[2019-05-22 13:27] anujad95 opened #492 "Clarity on types of input uncertain parameters required: UQ Tutorial 4"
In the UQ Tutorial Manual on Response Surface Based Mixed Analysis, Mixed Epistemic-Aleatory Uncertainty Analysis, the following step is mentioned:
"In the input table, designate the parameter Type (“Epistemic”, “Aleatory” or “Fixed”) and the corresponding information for each input. Once complete, click Analyze."
![image](https://user-images.githubusercontent.com/47067166/58177960-4f98ad80-7c73-1

[2019-05-22 16:45] eslickj commented on #482
On the windows side, I have a suggestion contained in PR #493

[2019-05-22 16:55] eslickj commented on #29
What exactly is the auto button doing?  I don't have Aspen installed so I can't go through the tutorial.  I tried it out on another flowsheet and it worked.

[2019-05-22 19:03] #411 closed

[2019-05-22 19:04] eslickj commented on #411
Fixed in PR #494 by just removing the feature.

[2019-05-22 19:16] eslickj commented on #327
Gonna close this because I don't think this is going to happen in the next year or two.  If it comes up we can reopen.

[2019-05-22 19:16] #327 closed

[2019-05-22 19:29] eslickj commented on #275
I probably fixed this by replacing "\n" with " " in variable descriptions when writing the plugin.

[2019-05-22 19:29] #275 closed

[2019-05-22 19:41] eslickj commented on #253
@fsoepyan, can you see if this is still an issue?  If not lets close it.  If it is still a problem I'll look into it more.

[2019-05-22 19:44] eslickj commented on #89
The second comment is probably a misunderstanding and I'm not going to implement the first thing.

[2019-05-22 19:44] #89 closed

[2019-05-22 19:47] sotorrio1 commented on #486
After reviewing the first UQ tutorial in the FOQUS documentation, I think the screenshots are from different runs that @ou3llnl and/or @ngbrenda did. If you follow the instructions and take a close look to the screenshots, they are not consistent.

- Step 9 tells the user to change the type of X2 to "Fixed" and enter the value 5 into the default column. Later in step 17 you can see that column "Ro

[2019-05-22 19:49] eslickj commented on #41
Any changes made to a flowsheet while a simulation is running are undone when the run finishes.  That's the solution we'll have to live with.

[2019-05-22 19:49] #41 closed

[2019-05-22 20:06] anujad95 opened #495 "Heat Integration & Steam Cycle Plugin Model Issue"
While trying to implement the Heat Integration Tutorial in the Manual, i came across a few issues related to the source code. I tried to fix it stepwise, however, it has not been entirely fixed. Please find attached, a document explaining the issues, and the possible changes which i implemented to fix it. Kindly let me know your thoughts & suggestions.

[Foqus_Heat_Integration_Issues.docx](https:/

[2019-05-22 20:12] eslickj commented on #495
The problem here is that heat integration relies on vector variables, which FOQUS doesn't support anymore.  It's not really possible to fix this in a simple way.  I think we either need to rework the heat integration module or remove it.  For the release we may want to remove the heat integration section from the docs, so no one attempts the tutorial.  The should be a sufficient temporary fix.

[2019-05-22 21:33] sotorrio1 commented on #492
Since I didn't create this specific screenshot is hard to tell which inputs are epistemic.

[2019-05-22 22:49] sotorrio1 commented on #269
According to Charles, the random seed may affect the solution of the optimization because OUU involves creating many random samples. So, if the user desires repeatability, always use a fixed random seed.

Right now we're using a fixed random seed when running OUU so we can always get the same solution when running same problem. If we want to get the same solution when comparing OUU with the Optimi

[2019-05-23 02:36] anujad95 commented on #492
Sure, we can do that. Would you suggest updating the documentation accordingly?

[2019-05-23 16:57] eslickj commented on #269
@fsoepyan can double check but I think the random seed may be a setting.  The BOBYQA in the optimization tab doesn't come from PSUADE it comes form NLopt, so it wouldn't be surprizing if the results were a little different.

[2019-05-23 17:32] sotorrio1 commented on #269
Exactly, what I've read is that BOBYQA by default uses the system's time (of course transformed as an integer) as the random seed. My understanding on this is that unless we can fix both random seeds to the same value, we won't get the exact same results.

[2019-05-23 17:35] sotorrio1 commented on #492
Personally, I don't think it's a big deal and users can play around choosing the epistemic inputs they want; but if we want to have a consistent tutorial, we can pick two or three epistemic inputs and change the two screenshots in the documentation to show which inputs are epistemic and how the new plot looks like.

[2019-05-23 18:07] anujad95 commented on #492
Sure, i can make the required changes in the manual to ensure that we have a consistent tutorial.

[2019-05-23 18:08] sotorrio1 commented on #492
@anujad95 Thanks! I appreciate that :)

[2019-05-23 21:14] fsoepyan commented on #481
- I have recorded the videos.
- My next step is to edit the videos, and upload these videos to YouTube.

[2019-05-24 14:28] anujad95 commented on #29
In the tutorial "Creating a Flowsheet with Linked Simulations", step 26 mentions the following:
_"For convenience, all of the variables that should be connected from the ACM model to the Excel spreadsheet have been given the same names in their SimSinter configuration files. To connect the variables click Auto in the Edge Editor. Auto connects variables of the same name."_
The tutorial consists of

[2019-05-24 17:05] anujad95 opened #498 "Node Editor Display Image Update"
In the tutorial "Creating a Flowsheet with Linked Simulations" Step 22, _Node Editor_ Image, the "Category" column is not displayed in the table for variables within the tool's node editor. Instead, the column "Type" is displayed.

![image](https://user-images.githubusercontent.com/47067166/58344382-831a3a00-7e23-11e9-81e7-2bfd82fddfc3.png)
_Manual Image_

![image](https://user-images.githubuserco

[2019-05-28 19:50] ksbeattie commented on #253
@fsoepyan says he has not been able to reproduce this.

[2019-05-28 19:50] #253 closed

[2019-05-28 20:04] ksbeattie commented on #495
Will leave this issue open to work on fixing heat integration for next release.

[2019-05-28 20:10] #269 closed

[2019-05-28 20:24] ksbeattie commented on #482
@sotorrio1 will work on a similar change, as @eslickj used above, for OUU without changes to the registry for the next release.

[2019-05-28 21:22] sotorrio1 commented on #486
PR #501 takes care of this issue

[2019-05-28 21:32] #486 closed

[2019-05-28 22:42] ksbeattie opened #503 "sphinx doc generation errors"
Seeing the following errors when generating the docs:

[code]

[2019-05-28 23:57] ksbeattie commented on #503
ok, something's odd here.  When I tried this again, after creating a new conda env, I didn't get code-block error.  Is this somehow dependent on running setup.py?

[2019-05-29 04:03] anujad95 commented on #489
This issue is taken care of by the following commits:
1.	Update alamo.rst
2.	Update reference.rst
3.	Update data.rst

[2019-05-29 04:06] anujad95 commented on #483
The commit: “Update parameter_est.rst” takes care of Issue #483

[2019-05-29 04:07] anujad95 commented on #492
The commit: “Update rs.rst” takes care of Issue #492

[2019-05-29 14:10] fsoepyan commented on #456
The "Row to Flowsheet" feature:

For example, if I select Row 98, and select "Row to Flowsheet", Row 97 ends up becoming the Flowsheet input (instead of Row 98).

This is a minor error, and can be fixed for the next release.

[2019-05-29 16:57] #492 closed

[2019-05-29 17:00] #489 closed

[2019-05-29 17:02] sotorrio1 commented on #484
@anujad95 did your PR #499 take care of this issue?

[2019-05-29 17:09] sotorrio1 commented on #261
Enhancement suggested by Jeremy a while ago. We don't have the need/time for this right now. Closing this issue.

[2019-05-29 17:09] #261 closed

[2019-05-29 17:22] #264 closed

[2019-05-29 21:24] fsoepyan commented on #481
Once PR #505 is merged, we can close this issue.

[2019-05-29 21:28] fsoepyan opened #506 "Create videos on how to use FOQUS"
We would like to create videos on how to use FOQUS, which would be helpful for future users in the long run.

These videos may include:

FOQUS basics (@fsoepyan): (I plan on using a simple Python function/model in the Flowsheet.)
- How to open FOQUS (@fsoepyan)
- [x] Recording
- [x] Editing and upload
- How to setup and run the Flowsheet (@fsoepyan)
- [x] Recording
- [x] Editing and upload
- How t

[2019-05-29 21:31] fsoepyan commented on #506
I am currently in the process of editing the video on how to upload an Excel file into SimSinter and Turbine, and how to run the Flowsheet for that Excel file.

[2019-05-29 23:27] ksbeattie commented on #483
I believe @anujad95 is referring to commit 53f9bab70afc5fad34414204231d8e65077e0c88 which came in (somewhat unintentionally) with PR #499.

[2019-05-29 23:27] #483 closed

[2019-05-29 23:32] #481 closed

[2019-05-30 04:14] anujad95 opened #508 "SDOE Manual minor update"
In the SDOE Documentation: "Using the SDoE Module - The Basics", step 6: _"Click on the **Create Design** button at the bottom right corner of the Ensemble Aggregation window"_,

**Create Design** must be replaced by **Analyze** as shown in the figure below:
![image](https://user-images.githubusercontent.com/47067166/58607923-6c367600-826f-11e9-9913-4d7a9afe9c49.png)

This is a very minor update t

[2019-05-30 15:23] anujad95 commented on #508
Taken care of by PR # 509 which has been merged

[2019-05-30 15:23] #508 closed

[2019-05-30 15:25] anujad95 commented on #498
Taken care of by PR # 507 which has been merged

[2019-05-30 15:25] #498 closed

[2019-05-30 17:58] fsoepyan commented on #29
Resolved with PR #510.

[2019-05-30 17:58] #29 closed

[2019-05-30 17:58] fsoepyan commented on #456
Resolved with PR #510.

[2019-05-30 17:58] #456 closed

[2019-05-31 15:19] anujad95 opened #511 "Tool Validation with more examples"
According to the documentation, the Foqus tool has been implemented for a few cases which include simple node simulations, flowsheet with linked simulations (BFB & Cost optimization setup), recycle, etc. As the tool is being developed further with new, improved features, it might be worth to validate it simultaneously with more complex examples, & different types of carbon capture systems like sol

[2019-06-04 19:41] ksbeattie commented on #511
@jmorgan29 will update the MEA_ssm model, see [MEA_ssm #6](https://github.com/CCSI-Toolset/MEA_ssm/issues/6) then he and @anujad95 will work on adding an example and documentation to FOQUS

[2019-06-04 19:49] ksbeattie commented on #484
Yes, it's fixed.

[2019-06-04 19:49] #484 closed

[2019-06-05 00:21] ksbeattie opened #513 "foqus.py lost #!/ line"
Looks like back in https://github.com/CCSI-Toolset/FOQUS/pull/97 the she-bang line for foqus.py was lost.

We should either add this back (something like `#!/usr/bin/env python`) or change the docs to instruct people to start it with a command like `python foqus.py`.  Just running `foqus.py` doesn't work, at least on unix it won't.

This seems related, somewhat, #482

[2019-06-05 00:24] ksbeattie opened #514 "install.rst has en dash not hyphen in `pip install -r requirement.txt` command"
This is nitpicking, but it breaks my cut-n-paste!

Step 10 in https://foqus.readthedocs.io/en/3.1.0/chapt_install/index.html should have a hyphen not an en dash before the `r`.

[2019-06-05 00:30] ksbeattie opened #515 "document possible requirement for libgl1-mesa-glx"
When running foqus.py on my Ubuntu VMs, I have to `apt-get install libgl1-mesa-glx` otherwise I get an
[code]

When starting foqus.py.  I think this is because I'm on a VM (where I don't have a real video card) so `libgl1-mesa-glx` "fakes" it well enough.

Not sure if this should be documented somewhere?

[2019-06-05 19:12] fsoepyan commented on #511
I think the example problems in the user's manual is fine, as the purpose of these examples is to get the user familiar with FOQUS.

But to motivate the user to use FOQUS, I think including the list of publications where FOQUS has been used will be a good first step.

So far, I have compiled this list of publications:

Chen, Y., Eslick, J.C., Grossmann, I.E., Miller, D.C., 2015. Simultaneous proce

[2019-06-05 19:36] fsoepyan commented on #506
- To record and edit the videos, I have been using VSDC Free Video Editor.
- You can download this software from: http://www.videosoftdev.com/free-video-editor

[2019-06-06 13:54] candcook commented on #506
Thanks Pedro … I will have to check on what the restrictions are for doing this here at LANL. They generally are a bit nervous about us recording things :-)

Thanks,
Christine

From: fsoepyan <notifications@github.com>
Reply-To: CCSI-Toolset/FOQUS <reply@reply.github.com>
Date: Wednesday, June 5, 2019 at 1:36 PM
To: CCSI-Toolset/FOQUS <FOQUS@noreply.github.com>
Cc: Christine Anderson-Cook <candcoo

[2019-06-06 14:05] anujad95 commented on #511
Thank you for your suggestion @fsoepyan. This would be a good first step to begin with. In my opinion, we need a different section within the documentation: "Motivational Examples" where we can firstly give an overview of the different application based examples for which foqus has been used in the publications, followed by the list that you have provided. It may be worth to implement more example

[2019-06-06 14:37] sotorrio1 commented on #506
@candcook same here, we also have to ask what the guidelines are for something like this.

[2019-06-07 20:34] fsoepyan commented on #506
I am currently creating the outline for the FOQUS basics videos.

[2019-06-10 17:04] fsoepyan commented on #506
I completed the outline for the FOQUS basics videos, and my next step is to record the videos.

[2019-06-11 19:41] ksbeattie commented on #515
@eslickj will investigate this a little more as will @sotorrio1.  But it seems a little note in the install docs couldn't hurt too much.

[2019-06-11 20:12] ksbeattie commented on #503
@eslickj will take a look at this.

[2019-06-13 14:15] anujad95 opened #519 "SinterConfigGUI Image Update"
The GUI Image: _SinterConfigGUI Simulation Meta-Data with Data Completed_ in the Aspen Plus SimSinter Tutorial manual needs to be updated.

Old image:
![image](https://user-images.githubusercontent.com/47067166/59439137-b452ae00-8dc2-11e9-957a-fe601c3e5ed1.png)

Current GUI Image:
![image](https://user-images.githubusercontent.com/47067166/59439228-dd733e80-8dc2-11e9-9ee8-d0872c000ea2.png)

[2019-06-18 17:36] fsoepyan commented on #506
- The recording of all 5 of the FOQUS basics videos is complete.
- The next step is to edit these videos, and upload the videos to YouTube.

[2019-06-18 19:40] fsoepyan commented on #519
PR #520 has been merged, so I will close this issue.

[2019-06-18 19:40] #519 closed

[2019-06-18 19:45] ksbeattie commented on #515
I will experiment with toggling the 2D & 3D acceleration option for the VMs, just in case that makes a difference.  I will also add a note in the docs about it.

[2019-06-18 19:49] #514 closed

[2019-06-18 20:03] ksbeattie commented on #511
@anujad95 will work on an PR in the MEA_ssm repo for bringing in updates for running on Aspen 10.

[2019-06-18 20:09] ksbeattie commented on #487
@fsoepyan will add some documentation on this.

[2019-06-18 20:11] ksbeattie commented on #482
@sotorrio1 will get to this soon.

[2019-06-18 20:12] ksbeattie commented on #423
@candcook has started working on this again.

[2019-06-18 21:37] #513 closed

[2019-06-21 02:46] TheHuangs opened #521 "lack of online document interface."
It's hard for the user to find the website of the online document. I recommend adding this https://foqus.readthedocs.io/en/latest/ website on the first page of this repository.

[2019-06-21 14:47] fsoepyan commented on #521
- If you go to the FOQUS GitHub page (https://github.com/ccsi-toolset/foqus), the "README" has a section called "Documentation and User's Manual".
- The link to the documentation can be found by clicking the word "here" in the second line ("The documentation for FOQUS (including the user's manual) can be accessed by clicking here.").

[2019-06-23 14:15] TheHuangs opened #523 "Whether Pyomo modles can be treated as a node as the same as excel?"
As the title mentioned.

[2019-06-23 17:53] anujad95 commented on #523
From what i have observed, currently FOQUS does not have a separate Python Plugin that can allow importing python/pyomo codes directly. This functionality is going to be added in the tool soon. However, for the time being, you may want to try entering the entire python script of the pyomo model in the "node script" of a node added in the FOQUS flowsheet. This might work. I tried a very simple equa

[2019-06-23 18:45] TheHuangs commented on #523
@anujad95 , I hope you can provide an example of how to do this.  some screenshots may help. Thanks

[2019-06-23 20:16] anujad95 commented on #523
Sure. I shall send you the screenshots once the optimization model works. I need to check a few solver installations in my machine before getting the result.
To give an idea about it for now, in my opinion, it can work as follows for a pyomo concrete model:
Firstly, create a node in FOQUS flowsheet. Open the Node Editor. Model type: None
1. Add the model parameters as "Input" variables within the

[2019-06-25 19:49] #487 closed

[2019-06-26 00:04] ksbeattie commented on #521
@TheHuangs, thanks for input.

The very first link on the readme (the [![Documentation Status](https://readthedocs.org/projects/foqus/badge/?version=latest)](https://foqus.readthedocs.io/en/latest/?badge=latest)) points to the documentation link you mention.  But I agree that may not be entirely clear to new users.

So, I've open a PR (#525) with some changes that hopefully make it clearer where t

[2019-06-26 02:33] TheHuangs commented on #523
@anujad95 , I have tested your method, it seems that variables in "input" table are treated as parameters in the pyomo model, thus these input variables cannot be optimized.  in the following example, I define a input variable xx with a bound of (0,1) and an output yy.
`import pyomo.environ as pe
from pyomo.environ import (ConcreteModel, SolverFactory, TransformationFactory,

[2019-06-26 02:44] TheHuangs opened #526 "how about double click to open the node and edge editor?"
As mentioned at the title.

[2019-06-26 12:29] anujad95 commented on #523
Every "input variable" in the node editor of FOQUS takes a specific value when that node is run within the Flowsheet tab. Hence, in case of solving a pyomo model, these "input variables" would be "constant parameters" of the model, and cannot be treated as "decision variables". So, "xx" in your case, will have to be defined as another pyomo variable within the nodescript. I would like to ask your

[2019-06-26 13:13] TheHuangs commented on #523
I think treating input as parameter have already resolved my problem.  Thank you.

[2019-06-26 22:40] #523 closed

[2019-07-01 21:06] sotorrio1 opened #527 "SDOE created design has no filename extension"
When the user creates a design, the file doesn't have a filename extension. This creates an issue if the user wants to reuse that same file in another design since the GUI won't recognize it as a .csv file.

[2019-07-02 00:17] #527 closed

[2019-07-02 13:53] anujad95 commented on #335
Is this still an issue? Also, is there a particular example that was implemented, and did not work in this case?

[2019-07-02 15:32] anujad95 commented on #335
I tried a simple example where i connected 2 nodes with an edge, through the output & input variables of each one respectively. It seems that deactivating and deleting the edge has the same effect. Once the flowsheet is run with an active edge, the input values of the 2nd node are automatically populated with the corresponding output values of the 1st node. So, if the edge is deactivated after thi

[2019-07-02 15:59] anujad95 opened #529 "Optimization Solver Message"
I have observed that the solver message window under optimization tab always displays "Starting NLOpt optimization" even if a different solver is selected. I am fixing this issue.

[2019-07-02 18:17] eslickj commented on #335
I'm not sure about an example, but I think the issue is with finding tear streams.  I think all or part of that code ignores the fact that an edge is deactivated, and treats it as if it is active.  You could try on of the simple tear stream examples, and see if it works right.

The fix isn't hard, but it may get complicated to since the tear finding code is a bit complicated.  We may need to rewor

[2019-07-02 18:22] fsoepyan commented on #335
I tried to deactivate an edge for this simple example:

![image](https://user-images.githubusercontent.com/30811140/60536596-96e37680-9cd4-11e9-9ea0-e4a21313641a.png)

When I deactivated the edge connecting "example" to "second", the Flowsheet runs as intended.

I will test the edge deactivation using an example involving a tear stream.

[2019-07-02 18:33] anujad95 commented on #335
I can check a simple tear stream example and get back to you on this. Thanks.

[2019-07-02 19:14] fsoepyan commented on #335
- I tested the edge deactivation using this simple example involving a tear stream:

![image](https://user-images.githubusercontent.com/30811140/60539832-a1edd500-9cdb-11e9-89ae-b48684eb2d40.png)

- Whichever edge I deactivated, the simulation works.
- However, when I tried to re-activate the tear stream automatically by clicking the tear stream button on the left-side menu, initially, it automati

[2019-07-02 19:20] fsoepyan commented on #335
- I redid the above tear stream example.
- I tried deactivating both edges, and deactivating only 1 edge at a time.
- The simulations work for all 3 cases.
- Then, I manually checked the boxes next to "Activate" for both edges in the Edge Editor.
- When I clicked the tear stream button on the left-side menu, the correct edge is identified as the tear stream.

[2019-07-02 19:21] fsoepyan commented on #335
Given my testing and comments above, can we close this issue?

[2019-07-02 19:41] anujad95 commented on #335
Yes, it seems to be fine. According to your tests, we don't need any source code modifications right?

[2019-07-02 19:42] fsoepyan commented on #335
Correct.

[2019-07-02 19:45] #335 closed

[2019-07-09 23:03] sotorrio1 opened #532 "SDOE is not finding the ensemble created by psuade"
There is a bug when writing the sample created by psuade in the SDOE module

[2019-07-15 12:57] anujad95 opened #535 "ALAMO Stop button not working well"
In case we want to terminate the ALAMO modeling within FOQUS, it takes a very long time for the iterations to stop. Is there a way to improve this?

[2019-07-16 20:17] ksbeattie commented on #535
This lag in time happens because the model is not going to notice that the stop button has been pressed until the currently executing model completes.  @anujad95, @eslickj and @boverhof will explore ideas on how to improve this.

-

[2019-07-16 20:27] #529 closed

[2019-07-16 20:29] eslickj commented on #535
We had a few ideas on this.
1. Document current behavior better
2. As a work around and to better pin down what needs done, use task manager to kill Aspen and document what processes need to be killed.
3. Write a small script to kill Aspen (and other).
4. Try to have FOQUS send a rest kill command to consumer (should usually work but not %100)
5. Integrate method to directly kill Aspen (or similar

[2019-07-16 20:38] ksbeattie commented on #521
Hopefully with my changes in #525, this is better.

[2019-07-16 20:38] #521 closed

[2019-07-17 20:58] sotorrio1 commented on #532
this is fixed

[2019-07-17 20:58] #532 closed

[2019-07-17 21:02] sotorrio1 opened #537 "SDoE plotting capability not working properly"
When trying to plot different number of inputs (instead of the default 'plotting all'), SDoE is not plotting the selected inputs.

[2019-07-17 21:32] sotorrio1 commented on #537
No longer an issue. Fixed with PR #538

[2019-07-17 21:32] #537 closed

[2019-07-23 20:12] ksbeattie commented on #408
Closing this now, waiting for a future request to remove the code for this now-hidden tab.

[2019-07-23 20:12] #408 closed

[2019-07-25 17:42] sotorrio1 opened #540 "SDoE: Error when deleting rows and saving as new ensemble"
During @candcook demo on Wednesday, July 24 there was a minor bug when she tried to delete a few rows and save as a new ensemble.
<img width="546" alt="Screen Shot 2019-07-25 at 10 38 38 AM" src="https://user-images.githubusercontent.com/33531919/61895992-d4e54c00-aec8-11e9-8d84-7b62461dabf6.png">

[2019-07-25 22:43] sotorrio1 commented on #540
Fixed with PR #541

[2019-07-25 22:43] #540 closed

[2019-07-30 17:05] fsoepyan opened #544 "Flowsheet: Have warning message when tear stream variables are near bounds"
For iterative Flowsheet simulations, it would be helpful if FOQUS can produce warning messages whenever a tear stream variable is approaching its lower or upper bound.

[2019-07-30 19:57] ksbeattie commented on #511
in progress...

[2019-07-30 20:20] boverhof commented on #476
OVIRT 4.3 is running

https://keystone.lbl.gov

fife is the backend node where glusterfs and VMs via libvirt/kvm are running.

[2019-07-30 20:20] #476 closed

[2019-07-30 20:21] boverhof commented on #469
Most of this work has been done, at least to the point where integration testing is currently being done.  There could be a few odds and ends to clean up, but generally this is done.

[2019-07-30 20:21] #469 closed

[2019-08-01 19:04] fsoepyan opened #545 "UQ: I can't analyze my UQ ensemble"
- I have a Flowsheet.
- I generated 100 samples in UQ.
- I launched the samples, and it was successful.
- When I tried to analyze the samples, I got this error message:

![image](https://user-images.githubusercontent.com/30811140/62320173-9245e580-b46d-11e9-8850-6c77b2898a89.png)

[2019-08-02 16:15] fsoepyan opened #546 "OUU: Problem running OUU for an Aspen Plus model"
- I tried running OUU for an Aspen Plus model.
- When I clicked "Run", I got this error message:

![image](https://user-images.githubusercontent.com/30811140/62383991-40f62e80-b51f-11e9-8dc2-75d5787c147a.png)

[2019-08-02 16:45] jmorgan29 commented on #546
I have been looking into the OUU module lately in preparation for a project and I got the same error when trying to run an example that I made up:

![OUU_error](https://user-images.githubusercontent.com/11306727/62385508-481f3b80-b523-11e9-9b12-93b6161a2287.png)

I thought it could have been a mistake in my problem setup, but it is a very simple example in which I am trying to minimize f(x) = a*x^

[2019-08-02 17:00] sotorrio1 commented on #545
It looks like 'scipy.misc.comb' is deprecated in scipy 1.0.0 and they recommend to use 'scipy.special.comb' instead. Let me create a PR with the change and you can test it :)

[2019-08-02 17:06] fsoepyan commented on #546
- I am currently re-running my example problem, except this time, I changed "Choose Flowsheet Node" from "aspen" to "Full flowsheet".
- So far, it seems to be working.
- @jmorgan29: Can you please let me know if this also works for you?

[2019-08-02 17:08] fsoepyan commented on #545
Thank you!

[2019-08-02 17:11] sotorrio1 commented on #546
I can take a look at this. If using the full flowsheet works, do so in the meantime while I try to fix this issue. Thanks!

[2019-08-02 17:22] jmorgan29 commented on #546
@fsoepyan, I just ran my example with the 'Full flowsheet' option and got the result that I was expecting to see.

[2019-08-02 18:18] fsoepyan commented on #545
This issue has been fixed with PR #547.

[2019-08-02 18:33] fsoepyan commented on #545
- I managed to open the Analysis menu page in UQ.
- However, when I tried to do the "Uncertainty Analysis" for the "Ensemble Data", I got this error message:

![image](https://user-images.githubusercontent.com/30811140/62391307-722c2a00-b532-11e9-8260-5316bb535a9f.png)

[2019-08-02 18:36] sotorrio1 commented on #545
could you save the ensemble and send it to me?

[2019-08-02 20:05] sotorrio1 commented on #546
It looks like when a single node is selected FOQUS is failing to pass the model information correctly to the UQ model. When the full flowsheet is selected this issue is not happening. I'm working on debugging it.

[2019-08-02 23:28] sotorrio1 commented on #545
It looks like the SampleData method 'writeToPsuade' wasn't writing out the variables marked as 'Fixed'. That's why the two ensembles with all inputs as variables were working and not the one with two variables and two fixed inputs. I'll open a PR and you can test it.

[2019-08-05 20:24] fsoepyan commented on #545
PR #548 fixed this issue. Thank you!

[2019-08-06 20:18] ksbeattie commented on #544
@eslickj, says he's still working on this.

[2019-08-06 20:24] ksbeattie commented on #526
Thanks @TheHuangs for the suggestion.  We'll try to get to this for the next release, in Sept.

[2019-08-06 20:25] ksbeattie commented on #291
This is now obsolete.

[2019-08-06 20:25] #291 closed

[2019-08-06 20:27] ksbeattie commented on #333
Obsolete.

[2019-08-06 20:27] #333 closed

[2019-08-06 21:48] sotorrio1 commented on #423
@candcook has a finished version ready for @atowfiq and myself to review. She's planning on creating a PR by the end of the week.

[2019-08-07 18:40] jmorgan29 opened #550 "Custom Python Objective Function Option"
In the optimization tab, there are two options for entering 'Objective/Constraints': 'Simple Python Expression' and 'Custom Python'. Upon selecting 'Custom Python' the user is directed to create a function called 'objfunc' and is provided an example of the correct syntax. Upon writing this function and running the optimization problem, the following error results, suggesting that the user defined

[2019-08-07 18:59] fsoepyan opened #551 "Optimization: Objective function for performing OUU in the Optimization tab"
- I tried using the Optimization tab to perform OUU
- I typed in this objective functions:

![image](https://user-images.githubusercontent.com/30811140/62649671-4094d380-b923-11e9-8329-92a5bef32e30.png)

- The OUU failed, and this is the error message I got:

![image](https://user-images.githubusercontent.com/30811140/62649997-daf51700-b923-11e9-8371-6c9aeef230dd.png)

- However, when I changed th

[2019-08-07 19:01] fsoepyan opened #552 "Record node error in a file during runs"
When running a simulation, it would be easier to diagnose a node error if the error is saved in a file for the user to see.

[2019-08-07 19:03] fsoepyan opened #553 "Manual: Change f["node"]["variable"] notation to f.node.variable notation in optimization"
For the optimization section in the user's manual, we should change the f["node"]["variable"] notation to the f.node.variable notation, as the latter notation is easier and shorter to type in.

[2019-08-07 20:02] anujad95 commented on #550
Yes, this issue is valid. I have reproduced the error on my machine. I am looking at the source code, and shall try to get it sorted out soon.

[2019-08-08 15:12] sotorrio1 commented on #423
Just approved and merged PR #554
This should take care of the SDoE documentation for now and I recommend closing this issue

[2019-08-08 20:41] fsoepyan commented on #506
I have recorded all the videos I wanted to record for this GitHub issue. The NETL Multimedia team is in the process of editing these videos:
- The 5 FOQUS Basics videos with a due date of Aug. 22
- I will send them the 8 FOQUS Usage videos soon

[2019-08-08 20:43] candcook commented on #506
Hi,

What software did you use for this? I am planning on making some videos for the SDoE module.

Thanks,
Christine

From: fsoepyan <notifications@github.com>
Reply-To: CCSI-Toolset/FOQUS <reply@reply.github.com>
Date: Thursday, August 8, 2019 at 2:41 PM
To: CCSI-Toolset/FOQUS <FOQUS@noreply.github.com>
Cc: Christine Anderson-Cook <candcook@lanl.gov>, Mention <mention@noreply.github.com>
Subject:

[2019-08-08 20:51] fsoepyan commented on #506
@candcook: The software I used for the recording was VSDC Free Video Editor. You can download this software from: http://www.videosoftdev.com/free-video-editor
You can also use this software for video editing.

[2019-08-09 12:03] anujad95 commented on #550
The issue is resolved through PR # 555

[2019-08-09 12:03] #550 closed

[2019-08-09 20:26] fsoepyan commented on #506
The NETL Multimedia team is in the process of editing the FOQUS videos:
- The 5 FOQUS Basics videos, with a due date of Aug. 22
- The 8 FOQUS Usage videos, with a due date of Sept. 20

[2019-08-12 23:10] ksbeattie commented on #552
Is there a console in the GUI somewhere that a (curious) user could use to view detailed activity for status, warning, errors, etc.?  This might be too much to tackle all at once, but I'm thinking of something like the activity window in some other apps.  That output could just automatically be written to a file for reference afterwards.

[2019-08-13 19:52] ksbeattie opened #558 "Reorganize example, testing and tutorial dir trees"
The existing structure is somewhat confusing and not well-understood, perhaps with unneeded, broken tests, etc.  We should clean this up, add readme.md files and re-organize it so it is more up-to-date and easier to understand.

Use this issue for making suggestions on exactly what to change.

[2019-08-13 19:55] boverhof commented on #558
I propose
- examples/flowsheets/OUUByron/
-    examples/simulations/BFB/

[2019-08-13 20:16] #423 closed

[2019-08-13 20:19] ksbeattie commented on #455
Closing as dup of #503

[2019-08-13 20:19] #455 closed

[2019-08-15 16:53] anujad95 commented on #552
Should we save the complete flowsheet error in another file, instead of individual node errors?

[2019-08-15 19:21] fsoepyan commented on #558
For the reorganization, I have an idea. Can we split the "examples" folder into 3 folders:
- tutorial_files
- test_files
- other_files

In these 3 folders, we can have subfolders that says "ALAMO", "Heat_Integration", "Optimization", etc.

I can put the BFB file that I use for OUU in the "test_files/OUU_BFB" folder.

What do you think?

[2019-08-15 19:27] sotorrio1 commented on #558
I like that idea. It would require some updates in the documentation to reflect the new paths, on LLNL side of things:
/examples/tutorial_files/UQ
/examples/tutorial_files/OUU
/examples/tutorial_files/SDOE

[2019-08-16 20:43] fsoepyan commented on #553
- PR #560 takes care of the notation for the optimization portion of the tutorial.
- But for the OUU done in Optimization tab part of the tutorial, should we also change the notation from f[i]["node"]["variable "] to the new one from #551?
- The one from #551 is: sum(ff.node.variable for ff in f) / len(f)

[2019-08-19 18:40] anujad95 commented on #495
The issue has been resolved

[2019-08-19 18:40] #495 closed

[2019-08-20 19:56] ksbeattie commented on #553
@fsoepyan will follow up with @eslickj on this.

[2019-08-20 20:03] ksbeattie commented on #558
@fsoepyan will take a whack at this and open a PR with his proposed new org.

[2019-08-20 20:21] fsoepyan opened #561 "AWS testing with OUU and BFB file"
BFB example that we plan on using for testing AWS into GitHub:
     https://github.com/fsoepyan/FOQUS/tree/reorganization/examples

The files include:
- The FOQUS file (BFB_OUU_08_20_2019)
- The Aspen Custom Modeler (ACM) file (BFB_v11_FBS_01_26_2018)
- The SimSinter json file (BFB_v11_FBS_01_26_2018)

Testing on the AWS FOQUS Cloud will be documented here.

Related Pull Requests:
- FOQUS
-- https

[2019-08-22 20:39] boverhof commented on #561
## Successfully ran the flowsheet from my MAC to the FOQUS cloud.
## Turbine configuration
[code]

[2019-08-23 16:21] boverhof commented on #561
## Optimization Run
Using NLOpt for solver and
## Need to use new turb_client with support for S3 SignedURLs

[2019-08-23 17:09] fsoepyan commented on #561
2019-08-23 13:05:33,177 - DEBUG - turbine.commands - HTTPS OPEN
2019-08-23 13:06:53,260 - DEBUG - turbine.commands - passman "https://b7x9ucxadg.execute-api.us-east-1.amazonaws.com/developmen/session/" password already registered
2019-08-23 13:06:53,260 - INFO - turbine.commands - post_page_by_url: url="https://b7x9ucxadg.execute-api.us-east-1.amazonaws.com/developmen/session/"
2019-08-23 13:06:53

[2019-08-30 20:28] fsoepyan commented on #506
- The NETL Multimedia team has finished editing the videos.
- My next step is to watch the videos, and make or request additional edits, if needed.
- If everything looks good, I will upload the videos to YouTube.

[2019-09-05 17:22] anujad95 commented on #511
It might be worth to have tutorial examples within each module section to be arranged in such a way that uniformity is maintained. For this, we may want to have a single process model being evaluated using all modules, to simplify the understanding of FOQUS workflow for users. Currently, the examples within each module in the tutorial manual are mostly different from each other. This makes the doc

[2019-09-06 16:16] anujad95 opened #565 "Confidence level of FOQUS sessions"
In the "Session" tab of FOQUS there is an option to select among 3 confidence levels: "experimental", "testing" and "production". It would be helpful to know how FOQUS settings change for each of them, and whether examples at the "testing" and "production" level have been tried before. If not, we may want to make some modifications here.

[2019-09-06 16:56] eslickj commented on #565
Those were for some data management framework integration.  They do nothing.  The idea was that they would keep track of models in the library, and if they were one or a work in progress.  We can change them any way you want or remove them.

[2019-09-06 17:38] anujad95 commented on #565
We can leave it as it is, if its just meant for keeping track of models in the library. Also, since these confidence levels are associated with scale of the process, do you see a possibility of including testing or production level examples in FOQUS? I'm not sure if such examples are there in the model library.

[2019-09-06 19:33] eslickj commented on #565
There really isn't a model library.  I guess the idea was an organization would store models in a data management framework, that was part of CCSI.  The models would have some level of readiness associated with them.  This as that for FOQUS stuff stored in the DMF.  Since we sort of lost the DMF, I don't know that the confidence levels are all that meaningful any more.

[2019-09-10 16:37] sotorrio1 commented on #546
PR #566 should take care of this.

[2019-09-10 19:47] ksbeattie commented on #565
We'll leave this as it is for now.

[2019-09-10 19:47] #565 closed

[2019-09-10 19:56] eslickj opened #567 "Resolution Problems with Fixed Height Boxes"
In a few places FOQUS uses fixed height widgets, and depending on screen resolution they may look too tall or too short to see all the text.  We should do something related to text height, or portion of the main window height.

[2019-09-10 20:00] ksbeattie commented on #551
@eslickj will take another look at this...

[2019-09-10 20:38] sotorrio1 commented on #546
PR #568 merged and issue fixed. Closing this

[2019-09-10 20:38] #546 closed

[2019-09-11 14:34] fsoepyan commented on #553
- As I mentioned, this issue has been taken care of for the optimization portion.
- However, my question is for the case of running OUU in the Optimization tab: Do we want to stick to the old notation, or do we want to switch to the new notation from #551?
- I'm fine with either option.

[2019-09-11 15:21] fsoepyan commented on #561
I moved the BFB example that we plan on using for testing AWS into GitHub into a different folder:
https://github.com/fsoepyan/FOQUS/tree/reorganization/examples/test_files/OUU_Remote_Turbine_BFB

The files (the same as the previous ones) include:
- The FOQUS file (BFB_OUU_08_20_2019)
- The Aspen Custom Modeler (ACM) file (BFB_v11_FBS_01_26_2018)
- The SimSinter json file (BFB_v11_FBS_01_26_2018)

[2019-09-11 15:21] fsoepyan commented on #558
I started on the reorganization, it is still a work in progress, but if you are interested, you can find it in my fork and branch: https://github.com/fsoepyan/FOQUS/tree/reorganization/examples

[2019-09-11 15:36] fsoepyan opened #569 "Documentation: The "Solvent Fit" chapter"
- We no longer have the "Basic Data" tab in FOQUS.
- Do we want to keep the "Solvent Fit" chapter in the user's manual, or should we delete this chapter?
- Note: Solvent Fit requires the use of the Basic Data tab.

[2019-09-11 19:13] fsoepyan commented on #551
- I tried to perform the tutorial for the Parameter Estimation, which involves optimization with "Sample" variables: https://foqus.readthedocs.io/en/latest/chapt_opt/tutorial/parameter_est.html
- When I typed the objective function like in the manual, I got errors, where the output in the optimization graph shows the "value for failure" number specified in the "Objective Function".
- This was the

[2019-09-11 19:28] boverhof commented on #561
# Testing FOQUS/TurbineLite master
-- windows 2008 server
-- python 3.7.3
-- flowsheet: BFB_OUU_08_20_2019 ( from above )

# Error
[code]

[2019-09-11 21:01] fsoepyan commented on #558
So far, for the re-organization:
- For the examples/other_files folder, I only have 1 dummy file (I created this file so that I can create the "other_files" subfolder).
- For the examples/test_files folder, I have 1 subfolder that contains the 3 files for testing OUU in Remote Turbine.
- For the examples/tutorial_files folder, I have placed contents for following tutorials:
- [ ] Flowsheets and Se

[2019-09-11 21:12] anujad95 opened #571 "Recycle Flowsheet Error"
There have been issues with simulating some recycle based flowsheets in FOQUS. I would like to explain this with a small FOQUS example, in which i have tried to set up a recycle that resembles successive substitution:
![image](https://user-images.githubusercontent.com/47067166/64735318-54999b00-d4b6-11e9-8589-4a9ce1948c7f.png)
Node 1 is dummy, and does not have an influence on the recycle algorith

[2019-09-12 12:10] eslickj opened #573 "pytest-qt UI Testing?"
In addition to to the GUI scripting stuff we have for testing, I found this https://pytest-qt.readthedocs.io/en/latest/intro.html.  I've been starting to look at it for another project, but it could be useful for FOQUS.  Automated GUI testing still looks pretty sketchy, but hopefully we can do something good.

Related to PR #572

[2019-09-16 14:53] anujad95 commented on #567
Is there a way we can adjust the main window, and boxes/widget height with the screen resolution in a better way? Is there a part of the source code that relates the GUI size to the screen resolution?

[2019-09-16 14:56] eslickj commented on #567
There isn't any part of the code that does that now.  It's something we'll have to figure out.  There are better ways I'm sure., but nothing implemented now.

[2019-09-16 15:02] anujad95 commented on #567
Ok, i'll try to figure it out. Thanks

[2019-09-16 23:06] sotorrio1 commented on #482
PR #575 should take care of this

[2019-09-17 14:30] fsoepyan commented on #553
This issue is dependent on #551.

[2019-09-17 14:31] fsoepyan commented on #551
- From my observation, modifying the objective function to the new notation (sum(ff.my_node.z for ff in f) / len(f)) works for the output variable.
- However, can anyone please let me know what the notation is for an input variable?

[2019-09-17 14:34] fsoepyan commented on #506
Status update:
- I requested NETL Multimedia to do additional editing on the videos.
- I already received the new edited videos.
- I am now in the process of adding the finishing touches to these videos, and I will upload the videos one by one.

[2019-09-17 20:00] ksbeattie commented on #569
Unless we are going to restore and fix the basic data tab, we should take this out.  As painful as that might be...

[2019-09-18 13:34] anujad95 commented on #511
@fsoepyan I think its a good idea to provide users, a list of publications where FOQUS has been used. I shall include this list in the documentation.

[2019-09-23 14:24] #571 closed

[2019-09-23 15:58] fsoepyan opened #579 "Optimization: Put the optimum solution as the last row in Flowsheet Table"
It would be convenient for the user if after running the optimization, the optimum solution appears as the last row in the NLOpt set in the Flowsheet table.

[2019-09-23 17:42] anujad95 commented on #579
A modification would be to display the actual trend of DFO solvers in the objective function plot window, instead of plotting the next lowest value, and report the iteration in which the optimum solution is obtained.

[2019-09-24 14:45] fsoepyan opened #580 "Vector variables: Can FOQUS still handle vector type variables?"
- I think in the past, FOQUS can handle vector type variables in the Flowsheet?
- Does FOQUS still have this capability?

[2019-09-24 14:47] fsoepyan opened #581 "Heat Integration: GAMS file"
This is a dumb question, but when we download FOQUS from GitHub, does the GAMS code for the heat integration also get downloaded automatically?

[2019-09-24 15:03] eslickj commented on #581
Yes, but you still need to install GAMS.  The GAMS code is included as data files and gets copied automatically to where you need it when you run heat integration.

[2019-09-24 15:05] fsoepyan commented on #581
@eslickj: Thank you, that answers my question. As long as the user doesn't need to type in a set of codes in GAMS, then this is fine.

[2019-09-24 15:05] #581 closed

[2019-09-24 19:04] fsoepyan commented on #482
PR #575 has been merged, so I will close this issue.

[2019-09-24 19:04] #482 closed

[2019-09-24 19:44] ksbeattie commented on #580
Looks like vector vars were remove way back in #85

[2019-09-24 19:53] #544 closed

[2019-09-24 19:55] ksbeattie commented on #561
@fsoepyan will schedule some testing time with @boverhof on this.

[2019-09-24 20:03] ksbeattie commented on #551
@eslickj will take another look at this

[2019-09-24 21:45] ksbeattie commented on #328
Don't think this is ever gonna happen...

[2019-09-24 21:45] #328 closed

[2019-09-24 21:52] fsoepyan commented on #569
Because PR #582 has been merged, I will close this issue.

[2019-09-24 21:52] #569 closed

[2019-09-25 01:26] ksbeattie commented on #503
I've just opened 3 PRs (each very small) related to this: #583 , #584 & #585

[2019-09-27 15:33] anujad95 commented on #457
Data Filters are present in the Flowsheet, Uncertainty, and Surrogates tab. Just to confirm, we should add data filter instructions to this dialog box in each of the modules?:
![image](https://user-images.githubusercontent.com/47067166/65781902-89def380-e11a-11e9-9135-885c7315ec16.png)

[2019-10-01 20:01] ksbeattie opened #587 "sphinx warning in chapt_flowsheet/tutorial/data.rst"
I'm getting:

[code]

When generating the docs.

[2019-10-01 20:12] ksbeattie commented on #503
This seems to only appear in readthedocs, not in my dev env!

[2019-10-02 14:43] fsoepyan commented on #30
- For the "Surrogates", if you go to the "Data" tab, and click "Add/Edit Filters", a message box will appear.
- In the upper-right corner, there is a button for "New Calculated Column".
- With this new feature, I believe we can close this issue.
- Would anyone object to that?

[2019-10-02 14:47] fsoepyan commented on #68
- With or without the keyboard friendliness, FOQUS runs fine.
- Would anyone object if we close this issue? (Since we are close to closing this issue, I will move this issue to a "High" priority in the project board.)

[2019-10-02 14:50] fsoepyan commented on #69
- To resolve this issue, when the user is looking at the node inputs and outputs in Node Editor, all the user needs to remember is not to scroll using the scroll wheel when the mouse cursor is above the variable type (float, int, str).
- Using the "Page Up" and "Page Down" button in the keyboard is another solution.
- Would anyone object if we close this issue? (Because we are close to closing thi

[2019-10-02 14:53] fsoepyan commented on #130
- I have no problem with the FOQUS download time, even when the example files are downloaded together with FOQUS.
- Would anyone object if we close this issue? (Because we are close to closing this issue, I will move this issue to "High" priority in the project board.)

[2019-10-02 15:00] eslickj commented on #130
I don't object to closing it as long as everyone is happy keeping it all together.  It doesn't matter to me.

[2019-10-02 15:02] fsoepyan commented on #168
- In the reorganization (PR #574) of the "examples" folder, I think I did my best to delete duplicate files.
- However, I still have duplicate files in some places, on purpose.
- For example, in the PR, I have the Rosenbrock_no_vectors.foqus file in both the examples/tutorial_files/UQ and the examples/tutorial_files/Surrogates folders.
- This is to help the user, because if the user needs to use t

[2019-10-02 15:05] fsoepyan commented on #244
- I added a video in the CCSI2 Team YouTube page on how to open FOQUS.
- At least for me, opening FOQUS is simple enough.
- Do you still think this enhancement is necessary?
- If not, can we close this issue? (I'm moving this issue to "High" priority in the project board.)

[2019-10-02 15:09] fsoepyan commented on #365
- I no longer run into the issue with adodbapi.
- Would anyone object if we close this issue? (I am moving this issue to "High" priority in the project board.)

[2019-10-02 15:12] fsoepyan commented on #398
- There is an easy solution, which is to use the "Copy Data to Clipboard" feature in the Flowsheet table, pasting the data into Excel, then in Excel, we copy and do "Paste Special" and "Transpose".
- Would anyone object if we close this issue? (I'm moving this issue to "High" priority in the project board.)

[2019-10-02 19:44] boverhof commented on #561
@fsoepyan and @boverhof used the FOQUS Cloud to run a cost Optimization with BFB, seems like it worked.  It was taking a while, but I've since noticed four? iterations have completed with a single job error.  So I think the system is generally working.

I'm not sure about "reset=False" working.  I'd also like @fsoepyan to run this optimization or a smaller one on a FOQUS/TurbineLite setup and use

[2019-10-02 19:44] #561 closed

[2019-10-02 20:34] anujad95 commented on #30
Has this new feature been tested?

[2019-10-02 20:38] anujad95 commented on #34
We may want to know the actual number of users currently working with ACOSSO.

[2019-10-02 20:39] anujad95 commented on #68
I think we can close this issue.

[2019-10-02 20:41] anujad95 commented on #69
Yes, this is a relevant issue, and the solution to this mentioned by @fsoepyan makes sense. We can close this issue if everyone agrees.

[2019-10-02 20:45] anujad95 commented on #168
Yes, in the reorganization PR most of the duplicate files have been deleted, so this issue can be closed if everyone agrees.

[2019-10-02 21:12] fsoepyan commented on #506
I have one video left to upload: the ACM video.

[2019-10-02 22:34] #587 closed

[2019-10-03 13:11] eslickj commented on #365
@fsoepyan, long term I still think it's better not to have FOQUS working directly in Turbine's database.  I think we should keep this.  I'm pretty busy, but I'll try to take the first step and document the database interactions we have sometime soon.

I'd like to gradually reduce the complexity of FOQUS and try to make it somewhat maintainable.  There is a lot of weird stuff that was just a produc

[2019-10-03 17:45] anujad95 commented on #217
Can we generalize this and rename it as automated testing in general?

[2019-10-03 17:56] anujad95 commented on #244
@fsoepyan i agree with you and this enhancement is not necessary for the time being

[2019-10-03 18:02] CSRussell2319 commented on #217
This task was originally designed to be specific to the surrogate testing suite. There are other issues that involved making tests for other suites that have already been closed. If this is no longer relevant/useful than the issue can be closed.

[2019-10-03 18:06] anujad95 commented on #371
@fsoepyan is this something that you still want to consider? Could you give an example of automatic mapping?

[2019-10-03 18:13] anujad95 commented on #372
@fsoepyan if you still consider solving issue, could you please give an example of where this can be used?

[2019-10-03 18:15] anujad95 commented on #398
@fsoepyan, i agree with you, and have tried this. I think this issue can be closed.

[2019-10-03 18:45] anujad95 commented on #535
I have tried to use the methods killTurbineJobs() and stopAllConsumers() separately, followed by process.kill(), when the user presses the stop button. However, this does not seem to work. Any suggestions?

[2019-10-03 19:02] anujad95 commented on #552
Is this issue similar to # 232 ? In that case, we can combine them and provide the user an easily readable error message specific to a particular node, or the flowsheet in general, within the log viewer section in FOQUS.

[2019-10-03 19:02] anujad95 commented on #552
#232

[2019-10-03 19:28] anujad95 commented on #12
Currently in UQ, i think the samples that have run successfully do get stored in the ensemble result table, either after the launch is fully completed, or after the stop button is pressed, or if the user keeps saving the session regularly. I'm not sure what would happen if the GUI automatically shuts down. Is this something that still needs to be looked into?

[2019-10-03 21:07] anujad95 opened #590 "Issue Labels"
We may want to review the relevance/requirement of the following labels:

- configuration

- duplicate

- help wanted

- invalid

- py 3 compatibility

- SolventFit

These may not be required, and can be removed if everyone agrees.

[2019-10-07 15:33] anujad95 commented on #551
@fsoepyan i am trying the parameter estimation tutorial, and checking the correct notation of input variables for such problems. Your notation for output variables is working. fine.

[2019-10-07 15:35] fsoepyan commented on #506
I have uploaded all the videos that I recorded, so I will close this issue, and open another issue for creating a video on how to perform SDOE in FOQUS.

[2019-10-07 15:35] #506 closed

[2019-10-07 15:38] fsoepyan opened #591 "Video on how to use SDOE"
- This is a follow-up on #506.
- I know that new features will be added to the SDOE tab.
- I think it will be a good idea to wait until the new features are available, and then, create the video.
- This issue is not urgent, so I will put it as "Medium" priority.

[2019-10-07 15:53] fsoepyan commented on #551
@anujad95: Can you please type in your notation for the objective function and constraints as a GitHub comment?

[2019-10-07 16:07] anujad95 commented on #551
Yes, once it works, i will type the syntax as a comment here.

[2019-10-07 16:48] anujad95 commented on #551
The correct syntax for the parameter estimation tutorial objective function is sum([(ff.model.y - xx.model.ydata)**2 for (ff,xx) in zip(f,x)]). It works fine now with the correct progression of objective function value.

[2019-10-08 19:50] #558 closed

[2019-10-08 19:51] #130 closed

[2019-10-08 19:59] ksbeattie commented on #34
@jmorgan29 says he will take a look at this and see if this is still an issue

[2019-10-08 19:59] #68 closed

[2019-10-08 20:01] ksbeattie commented on #168
I'll take another look at this and make sure they are (mostly) gone.

[2019-10-08 20:03] #69 closed

[2019-10-08 20:05] #244 closed

[2019-10-08 20:07] ksbeattie commented on #217
Hopefully with putting into place coverage metrics on our test cases, our efforts to increase those numbers will get us to test surrogates and all parts of FOQUS.

[2019-10-08 20:07] #217 closed

[2019-10-08 20:10] #372 closed

[2019-10-08 20:11] #398 closed

[2019-10-08 20:16] ksbeattie commented on #552
@fsoepyan feels these are distinct issues.

[2019-10-08 20:23] #590 closed

[2019-10-08 20:25] ksbeattie commented on #591
@sotorrio1 will follow up on this

[2019-10-09 00:06] ksbeattie commented on #168
So, there are still several places where we have identical files across the repo.  I've only listed here the ones that are over 1M in size though.

Given that these are under `examples/{tutorial_files,test_files}/` might it be possible to consolidate them into a new `examples/common/` or some such dir?

22M file in 4 places:
[code]
5.4M file in 2 places:
[code]
2 identical 12M files in the same di

[2019-10-09 16:41] anujad95 commented on #76
What is the current status of this capability in FOQUS?

[2019-10-09 16:43] sotorrio1 commented on #76
The development of MOOUU is on standby since we focused our efforts on SDoE. Once we deliver the next phase of SDoE we should be able to go back to working on the multi-objective capability.

[2019-10-09 17:00] anujad95 commented on #76
Sure, no problem.

[2019-10-09 17:37] anujad95 opened #593 "Additional Optimization Plot"
As an enhancement, an additional plot of objective value v/s iteration can be included in FOQUS, that displays the actual objective value at iterations after regular time intervals, instead of plotting just the "best so far" objective values. This would help the user understand the actual progress and behavior of the optimization solver.

[2019-10-09 17:42] anujad95 commented on #593
This will also be followed by displaying the iteration number corresponding to the optimal solution, in the message window, after the solver converges, so that the user can access it accordingly from the flowsheet result table.
This issue is a modification of #579

[2019-10-09 19:19] anujad95 commented on #551
@fsoepyan did you get a chance to check if this is working for you?

[2019-10-09 19:43] jmorgan29 commented on #34
There still appear to be some issues with using ACOSSO in FOQUS:

1) In the tutorial, there are two output variables. When using ALAMO to generate the surrogate models, the result is the creation of a user plugin that allows for simultaneous calculation of both outputs. However, when building the surrogate in ACOSSO with two output variables, the message "Must select at most 1 output variables" ap

[2019-10-10 15:35] fsoepyan commented on #551
@anujad95: Thank you. I tested the code for the objective function and it works.

[2019-10-15 19:47] ksbeattie commented on #34
@jmorgan29 what's the priority on this and is this something we should put on the Dec release board?

[2019-10-15 20:08] ksbeattie commented on #30
These columns do not yet exist, but @anujad95 will look into adding them.

[2019-10-15 20:16] #553 closed

[2019-10-15 20:17] ksbeattie commented on #551
@eslickj would like to take a look a this before closing it.

[2019-10-15 20:20] ksbeattie commented on #168
I'm not going to worry about the duplicate files anymore.

[2019-10-15 20:20] #168 closed

[2019-10-15 20:22] ksbeattie commented on #535
@anujad95 will work with @eslickj on this.

[2019-10-15 20:24] ksbeattie commented on #591
This will happen, but not soon...

[2019-10-15 20:26] ksbeattie commented on #579
This could be closed/solved by #593

[2019-10-16 16:07] anujad95 commented on #535
I had a discussion with @eslickj regarding this. It seems that the "stop" button within the surrogate tab is not hooked up properly within the base code. I shall look into this. In the meanwhile, users can kill aspen, and alamo process directly from the task manager to stop surrogate building. This is working fine.

[2019-10-17 16:56] eslickj opened #599 "Check for expected fields in Turbine AWS results"
We ran into an error were the "output" field was missing, and it cause a very confusing failure in optimization.  We need to catch missing data, and handle it more gracefully and return more meaningful exceptions.

[2019-10-22 20:12] ksbeattie commented on #34
@fsoepyan will go through the ACOSSO tutorial a try and see if it sill make sense or what changes we might be able to make.

[2019-10-22 20:15] ksbeattie commented on #599
Related to #597

[2019-10-22 20:18] ksbeattie commented on #551
@eslickj says he will get to this, but it may take a few weeks.

[2019-10-22 20:31] ksbeattie opened #600 "pylint -E fixes"
Try to get pylint -E passing on all our code.

As least with this invocation:

    pylint -E foqus_lib --extension-pkg-whitelist=PyQt5 --ignored modules=win32process,win32api,adodbapi

See the circleci run of this here:

https://circleci.com/gh/CCSI-Toolset/FOQUS/2

[2019-10-22 20:33] ksbeattie commented on #600
While working on the files in `foqus_lib/unit_test/`  I'm not sure why pytest didn't pick up these tests.  It appears they are not properly named:
[code]
I'll try some renames to get them tested and fix the pylint -E errors.

[2019-10-22 21:00] boverhof opened #601 "Test Release 3.3.0: Windows 2008 server client"
# Download Release POWERSHELL
[code]
# Anaconda 3
[code]

## pytest version
Note if you run this in the foqus environment it will give same traceback as above no matter what directory you run it in..

[code]

[2019-10-22 21:14] boverhof commented on #601
# Second Try ( manually untar )
[code]

[2019-10-22 21:37] boverhof commented on #601
# FOQUS Remote Turbine Simulation Upload failed..

<img width="529" alt="Screen Shot 2019-10-22 at 2 37 13 PM" src="https://user-images.githubusercontent.com/738295/67336010-7b95b480-f4d9-11e9-8068-4edd0303835e.png">

[2019-10-22 21:50] boverhof commented on #601
## GIt repo boverhof-patch1
Failed in same way..

[2019-10-24 16:14] boverhof opened #602 "foqus UI segfault 11 on mac os x"
## Detail
With Byron's test OUU flowsheet when I hit tab `Run` python program immediately exists with a Seg Fault 11.

## Output
[code]

[2019-10-24 16:40] boverhof opened #603 "FOQUS Optimization Stop Traceback"
## Description
When running a Optimization and stopping it we get a exception.  Think this doesn't signify a logical error but should handle better for the user and should be able to detect a stop in relevant monitor thread.

## Stop
[code]

[2019-10-24 16:41] boverhof commented on #603
<img width="540" alt="Screen Shot 2019-10-24 at 9 40 36 AM" src="https://user-images.githubusercontent.com/738295/67506706-6ab48280-f642-11e9-94ef-57d38b886138.png">

[2019-10-24 18:28] fsoepyan commented on #34
- I downloaded the latest version of R (3.6.1)
- I installed the necessary packages in R, including quadprog, abind, MCMCpack, MASS
- I did the ACOSSO tutorial
- I managed to get the ACOSSO_Tutorial_UQ.py file in the "acosso" folder in my FOQUS working directory
- I closed and reopened FOQUS
- I created a new node, and under "Model", I selected "Plugin" as type and the newly-generated ACOSSO model

[2019-10-25 22:37] ksbeattie opened #605 "Fix broken references in sphinx docs"
As started in PR #595, there are several broken references in the docs that need to be cleaned up.

Specifically, the references to the `ap:psuadefiles` and other references mentioned in more detail [here](https://github.com/CCSI-Toolset/FOQUS/pull/595#issuecomment-540383329)

[2019-10-25 22:57] #503 closed

[2019-10-25 23:40] ksbeattie opened #607 "Fix unit_test test"
After PR #606, @eslickj, could you now get these to work with pytest?  They currently aren't getting run by pytest because the .py files aren't named correctly.  If you rename them to be `_test.py` rather than `Test.py` they should then get picked up and run.  But, of course the tests are failing, which is beyond my understanding to properly fix them.

[2019-10-28 22:26] ksbeattie opened #608 "Upgrade PyQt5 version to 5.13?"
During automated tests in AppVeyor, where `python=3` version was specified, I've discovered that `python 3.8` is out now, which this issue isn't about per se, but it revealed that `PyQt5 5.9` is **not** supported in `python 3.8` whereas PyQt5 versions: `5.10.1, 5.11.2, 5.11.3, 5.12, 5.12.1, 5.12.2, 5.12.3, 5.13.0, 5.13.1` are.

The safe workaround for now is to specify python=3.7 but this raises t

[2019-10-29 15:22] sotorrio1 commented on #608
It seems to be the right move

[2019-10-29 20:05] ksbeattie commented on #608
I'll look into changing the requirements.txt file, though we need to figure out how best to help those who have been working in their anaconda base environment and how to reset it.  Perhaps this is how to do it: https://stackoverflow.com/questions/41914139/how-to-reset-anaconda-root-environment

[2019-10-29 20:19] ksbeattie commented on #602
The file @boverhof is using here, is: ./examples/test_files/OUU_Remote_Turbine_BFB/*

Also, this could be the case that this fails because some solvers are missing in the install.  We should better handle this failure with a notice of some kind about missing solvers.

[2019-10-29 20:21] ksbeattie commented on #602
Does this also happen on Windows or Linux?

[2019-10-29 20:23] ksbeattie commented on #603
This is probably not an actual problem, but should be cleaned up.

[2019-11-05 20:06] ksbeattie commented on #608
After reviewing that link, I think it's best to just not bother trying to reset the base env (short of un/reinstalling all of Anaconda) and just start using new conda envs.

[2019-11-05 21:00] boverhof opened #615 "Refactor foqus.py and foqus_service.py"
# Description
Refactor the UI `foqus.py` and the Windows Service `cloud\aws\foqus_service.py` to use a common module in `foqus_lib`.

[2019-11-05 21:04] boverhof commented on #615
# Refactored `foqus_service.py`
- Moved functions and classes to a module `foqus_lib\service\flowsheet`, not sure this is the correct naming scheme.
- foqus_service is now just a WindowsService stub.  Verified it is working currently off of boverhof fork in WIP pull request.

[2019-11-05 21:18] boverhof opened #616 "Supported python3 versions"
# Description
## python 3.7
- Bug:  https://bugs.python.org/issue37549
- Must use python 3.7.3 because 3.7.4 has a bug
- Windows 2016 Server

[code]
- workaround
[code]

[2019-11-05 21:24] ksbeattie commented on #608
See #616 for fixing the python version to use, for other reasons too.

[2019-11-05 23:58] ksbeattie commented on #515
I also just solved the following problem (running on a remove Ubuntu machine):

[code]
by installing a new package:

    apt-get install libxkbcommon-x11-0

These might be something for a "troubleshooting" chapter, maybe....

[2019-11-06 23:53] sotorrio1 opened #618 "Outputs tab in OUU wrong column names"
In the OUU module, under the 'Outputs' tab, the table has the column names swapped.
![Screen Shot 2019-11-06 at 3 50 37 PM](https://user-images.githubusercontent.com/33531919/68347972-76299400-00ad-11ea-8fdb-b9560dca4882.png)

[2019-11-07 17:42] boverhof opened #620 "FOQUS Cloud Testing Log"
## Description
Date: 11/06/2019
Ran Optimization 5 sample on single worker, hundreds of jobs on a single node.

## Problems
### AspenProperties processes
Multiple AspenProperties appear to be left hanging, not sure why but probably need to do a process cleanup after every ACM error.  Results in CPU near 100% utilization.  In this test four AspenProperties processes were running, and 4 directories

[2019-11-07 18:03] boverhof commented on #620
# Results
AspenSinterConsumer Working directories created during last run
[code]

[2019-11-07 19:40] boverhof commented on #620
# ERRORS
- Number found in S3: 33
[code]
- Error messages all about ACM
[code]

[2019-11-07 20:57] boverhof commented on #620
# Reset Series Errors that Resulted in hanging AspenProperties
## 859
[code]

[2019-11-07 21:06] boverhof commented on #620
# Summary
### CPU Spiking correlates with in time with first initial Hanging AspenProperties process
Around 9:30 PM GMT the spike started happening ( 21:30 on CPU Utilization graph ).
[code]

[2019-11-07 22:21] boverhof opened #621 "AspenSinterConsumerConsole not exiting cleanly"
# Description
When using FOQUS and TurbineLite local, FOQUS holds onto the AspenSinterConsumerConsole process.  When shutting down it sends a "signal" to the WS `/stop' and polls the process until it exits.  The process exits but appears to leave open the Aspen am_task_server process.  This is easy to replicate.  Open up FOQUS, load the BFB testing example.  Run the simulation once.  Close foqus.

[2019-11-07 22:28] boverhof opened #622 "AspenSinterConsumerConsole fails on first run of simulation"
# Description
There is a bug in AspenSinterConsumerConsole.  On a fresh installation, or if you remove the `cache` simulation directory, the first flowsheet run will error on a `CopyFile exists already`.

# Detail
[code]

[2019-11-08 17:20] boverhof opened #623 "FOQUS UI Testing Log"
# Description
Ran 5 sample Optimization BFB on m5.large instance, same one as the issue #620.

# Results
The Optimization completed.
- total time hours 10:49:17
- 92 iterations
- 465 completed
- 26 errors

<img width="1070" alt="Screen Shot 2019-11-08 at 9 22 53 AM" src="https://user-images.githubusercontent.com/738295/68497482-7f2f7800-0209-11ea-838b-77fc1af5384e.png">

# Issues
After the simulat

[2019-11-08 17:39] anujad95 commented on #573
How should we get started with this?

[2019-11-08 18:09] boverhof commented on #623
# Byron Local TurbineLite Run 10/25.2019
#### Summary
- The Optimization completed.
- ? iterations
- 632 completed
- 23 errors

[2019-11-08 21:04] boverhof commented on #623
# After Closing the FOQUS UI processes are left open

- AspenSinterConsumerConsole is not closed correctly
- Last job was success and ACM Engine left open

<img width="877" alt="Screen Shot 2019-11-08 at 1 01 56 PM" src="https://user-images.githubusercontent.com/738295/68510340-215e5880-0228-11ea-942f-96f01007f165.png">

[2019-11-11 16:39] anujad95 opened #624 "Optimization tab GUI Issue"
When FOQUS is opened, in the optimization tab GUI, Objective/Constraints tab, simple python expression option shows the custom python interface:
![image](https://user-images.githubusercontent.com/47067166/68604114-c1f68780-0477-11ea-8e2a-4bd32bbe4b31.png)

[2019-11-11 18:50] anujad95 commented on #535
I made changes to the gui base code surrogateFrame.py, to connect the ALAMO stop button properly for terminating the runs. I tested it with an adaptive sampling example that takes a while to converge, and tried to press the stop button during the runs. Although it takes some time to actually stop the surrogate building, a user termination message is displayed in FOQUS.

[2019-11-12 20:27] ksbeattie commented on #573
@anujad95, try writing a very simple test, like just opening, then closing the app.

I think there is something like that, using an older qui testing framework under test/system_test/  We are currently running it in AppVeyor automatically with the commands:

    mkdir gui_testing
    python foqus.py -s test/system_test/ui_test_01.py --working_dir gui_testing

[2019-11-12 21:13] ksbeattie commented on #30
@anujad95 is working on this.

[2019-11-12 22:10] boverhof commented on #616
python 3.7.5 works

[code]

[2019-11-12 22:13] boverhof commented on #616
@ksbeattie so we can change everything over to python-3.7.5

[2019-11-12 23:00] #618 closed

[2019-11-13 00:10] #608 closed

[2019-11-13 02:57] #624 closed

[2019-11-13 05:29] boverhof opened #630 "Blue Screen of Death"
# Description
When testing on AWS with Windows 2008 server I have been getting unexpected shutdowns after a couple hours.  Think may have something to do with CPU driver.  The example below job 125 finished successfully, 126 was running and suddenly the computer reboots.

I've experienced blue screens years ago but used to get a warning about CPU overheating.

# Detail
FOQUS_Worker2008.2 | i-01b1b

[2019-11-13 19:44] fsoepyan commented on #34
- I deleted all the ACOSSO contents from the "user_plugins" folder in my FOQUS working directory.
- I redid the ACOSSO tutorial.
- When I ran "Surrogates", FOQUS says that the ACOSSO model is generated successfully.
- I closed FOQUS, and reopened FOQUS.
- I created a new node, and set the model as Plugin, and selected "acosso_tutorial_fs" as the model.
- When I ran FOQUS, I got this error message:

[2019-11-14 16:04] anujad95 opened #631 "Syntax Error in nodePanel.py"
An import code line in nodePanel.py has incorrect syntax:
from foqus_lib.gui.pysyntax_hl.pysyntax_hl import *
This leads to a code error in subsequent code lines as well.
class pysyntax_hl does not exist, and its PythonHighlighter class instead. Moreover, the syntax for importing this class from the file should be from foqus_lib.gui.pysyntax_hl import PythonHighlighter. This change would be made i

[2019-11-14 16:21] anujad95 commented on #631
PS: There may be issues with the suggested change. Please give suggestions on the correction required.

[2019-11-15 18:49] boverhof commented on #630
# Windows 2016 Server

- Ran FOQUS Local Optimization twice, results were ~identical.  Both runs took about 7 hours and the CPU characteristics are captured in screen shot.
- No blue screen of death
- https://github.com/CCSI-Toolset/FOQUS_Sessions/blob/master/examples/test_files/OUU_Remote_Turbine_BFB/BFB_OUU_08_20_2019-Windows2016-Local-5.foqus

![Uploading Screen Shot 2019-11-15 at 10.46.53 AM.p

[2019-11-15 18:57] #457 closed

[2019-11-15 19:00] #535 closed

[2019-11-15 23:52] ksbeattie commented on #616
@boverhof I've got that change in PR #629, could you review?

[2019-11-16 00:00] ksbeattie commented on #34
So it still looks like the generated python scripts (`user_plugins\ireveal_surrogate_fs.py` and `user_plugins\bssanova_surrogate_fs.py` at least) are not python 3 compatible.  Perhaps running 2to3 on those files (an automatic conversion script to read in python 2 code and modify it to be python 3 compatible) could be done, then look for what it changed, then look for the code that generates those

[2019-11-18 22:15] jmorgan29 opened #634 "Node with Turbine Model Fails Only on First Attempt"
This is an ongoing issue that has started happening recently. Although it does not have a major affect on my ability to work with FOQUS/Turbine, I wanted to draw attention to it as it may confuse and/or frustrate a new user of FOQUS.

I uploaded a new model containing an Aspen Plus file to Turbine, created a node for the model, and run the node. The node fails with Code 7 (Turbine simulation error

[2019-11-19 16:11] anujad95 opened #635 "Turbine unable to track dll and opt files"
Recently there has been an issue with running Aspen models containing dll and opt files, in FOQUS. The node simulation fails in the first run with a "Turbine simulation error". When the 'test' sub directory of FOQUS work directory was opened to check the set of files that turbine accesses to run the simulation, only the Aspen file was found, not the dll and opt files. That's the reason it gave the

[2019-11-19 17:35] anujad95 opened #636 "Parameter Estimation Tutorial Image Change"
In the parameter estimation tutorial under optimization, "Adding Node and Inputs" image, input variable 'd' should not be there, since y=ax2+bx+c. Its a minor change that should be corrected soon.

[2019-11-19 20:47] ksbeattie commented on #580
@omellben is asking what it will take to return this functionality...

[2019-11-19 21:06] ksbeattie commented on #631
@anujad95, what's the priority on this?  Is this something that should be part of the Dec release?

[2019-11-19 21:08] ksbeattie commented on #630
@boverhof says he's trying out Window 2016 and will close this if it works there.

[2019-11-19 21:09] #630 closed

[2019-11-19 21:11] ksbeattie commented on #634
This looks similar (if not a dup) to: https://github.com/CCSI-Toolset/turb_sci_gate/issues/18

[2019-11-20 01:57] anujad95 commented on #631
I observed that it does not affect anything directly in FOQUS, however, the reason why code error is shown in the python file, needs to be checked.

[2019-11-20 17:07] sotorrio1 opened #638 "Adding Non-Uniform Space Filling (NUSF) to SDoE"
Before cutting the December release, we will be adding the latest feature to the SDoE module: Non-Uniform Space Filling (NUSF).

[2019-11-20 20:28] anujad95 commented on #607
Is this issue resolved?

[2019-11-21 13:13] eslickj commented on #607
Not that I know of.  At least I didn't do anything to resolve it.

[2019-11-21 14:47] #551 closed

[2019-11-21 18:32] boverhof opened #639 "Optimization Results not Propagated to FOQUS"
# Description
During execution of a 5 sample optimization using the IPOpt solver @boverhof  discovered that runs were giving identical output, which was unexpected.  On analysis @fsoepyan noticed that the operating variables are not changing from iteration to iteration during the OUU run.

# Details
- Windows 2016 Server / AspenTech v10
- Windows 2008 Server / AspenTech v8.4
- https://github.com/C

[2019-11-22 18:08] sotorrio1 opened #641 "comb is deprecated in SciPy 1.0.0"
When trying to analyze a sample in UQ, I get an error message saying that module 'scipy.misc' has no attribute 'comb'. I went online and found out that comb is deprecated in SciPy 1.0.0 and we should use 'scipy.special.comb' instead.

[2019-11-22 18:09] #641 closed

[2019-11-22 18:10] sotorrio1 commented on #641
My bad, this issue was already fixed. I was using the wrong branch.

[2019-11-22 18:13] boverhof commented on #639
# Wrong cost_coe_obj value
In the debug log message from `foqus_lib/framework/graph/node.py` we can see the correct value from ACM.  However in the UI we see FOQUS has the initial value still.

<img width="1380" alt="FOQUS_cost_coe_obj_value" src="https://user-images.githubusercontent.com/738295/69449802-8f1e8000-0d10-11ea-89f4-e802ef5eb7cb.png">

[2019-11-24 21:24] anujad95 opened #642 "Surrogate model validation not working in UQ"
After a surrogate model is generated from a particular UQ Ensemble using ALAMO, a file named "alamo_surrogate_uq" is generated, that is meant for "response surface validation" Further, this python file, containing the surrogate model, can be loaded into the validation section within the "analyze" tab of UQ Ensemble, to obtain the actual vs predicted validation plot. However, this is not working du

[2019-11-26 21:14] ksbeattie commented on #607
The files I'm talking about here are in `foqus_lib/unit_test/`

[2019-11-26 21:21] #636 closed

[2019-11-26 21:24] #616 closed

[2019-11-27 15:27] anujad95 commented on #631
As seen in the code screenshot below, line 17 is showing an error:
![image](https://user-images.githubusercontent.com/47067166/69736446-85c25880-1100-11ea-9cf6-f10ac1c740c6.png)

[2019-11-27 16:03] anujad95 commented on #545
For some reason this doesn't seem to work. I shall look into it.

[2019-11-27 18:28] eslickj commented on #635
I'm not sure about the dll file part but I may have this issue.  With ACM I ran a simulation and the first time it failed.  Here are the details.

[code]

[2019-11-27 18:56] eslickj commented on #639
Okay, this is not really a FOQUS bug exactly.  I guess at some point the behavior of ```eval()``` changed, probably with Python 3.  When the nodeScript creates a new f it doesn't replace the local f in the node's runPython function.  The new f is local to what's in eval.  Here is a new node script that fixes the problem:

[code]

[2019-11-27 19:00] eslickj commented on #639
I guess to elaborate a bit more, the f dict is supposed to be the node output.  The f dict values get copied back to the node after running the script.  Usually that's find, but when you create a new f dict in eval, f in the eval code points to the new dict and f in the function that contains eval points to the old f.  So the problem was that after running the script the original outputs were bein

[2019-11-27 19:15] fsoepyan commented on #603
This issue was resolved with #627.

[2019-11-27 19:15] #603 closed

[2019-11-27 19:32] boverhof commented on #639
I'm not sure if there is something in FOQUS we could do as a sanity check or this is simply an implementation detail that we can't help exposing to end users?  The concern is it sounds like you need to be a FOQUS expert to use this.

[2019-11-27 19:39] eslickj commented on #639
Yeah, you kind of do need to be a FOQUS expert, but we can probably make this a lot easier.  We'll have to think about how we want it to work.

[2019-11-27 19:41] fsoepyan commented on #639
- @eslickj: Thank you! I tested the FOQUS BFB-OUU file with the new code, and we no longer have this issue.
- By the way, do we need to modify the documentation?

[2019-11-27 20:46] sotorrio1 commented on #642
PR #643 already merged.

[2019-11-27 20:46] #642 closed

[2019-11-27 20:47] sotorrio1 commented on #545
@anujad95 is this happening all the time or this is the case when you save your session and load it again?

[2019-11-27 21:58] eslickj commented on #639
@fsoepyan we probably should update the docs, but I don't think this stuff is documented anywhere currently.

[2019-11-28 16:13] anujad95 commented on #545
This happens when i save the session and load it again

[2019-11-28 16:24] anujad95 commented on #580
I have started discussing this with @eslickj, and will go through the existing SimSinter documentation first to check whether this functionality is already available, and needs to be re-introduced in the GUI.

[2019-11-28 16:28] anujad95 commented on #631
It seems that this error is specific to the spyder environment, and hence doesn't require any changes in the base code.

[2019-11-28 16:33] anujad95 commented on #635
Yes, me and Josh Morgan got a similar error while running Aspen Plus simulations. @boverhof this is an issue with turbine itself, or SimSinter too?

[2019-11-28 17:53] anujad95 commented on #34
I can look at the base code that generates ireveal_surrogate_fs.py, and bssanova_surrogate_fs.py, and make the required changed according to python 3 syntax.

[2019-11-28 22:57] sotorrio1 commented on #545
Then this is more an issue with saving the session than with UQ itself. UQ capabilities all work fine as far as I can tell.

[2019-11-29 04:55] anujad95 commented on #545
Yes, i went through the uq codes and they seem to be fine. I shall check the issue with saving sessions.

[2019-12-02 18:23] anujad95 opened #648 "Optimization samples in csv format"
In the optimization tab, the format in which the sample variable data can be loaded in csv format, in the "Samples" section, is not mentioned. Once this is checked, it can be added in the documentation.

[2019-12-03 18:09] boverhof opened #650 "BFB Optimization Testing"
# Description
Updates to OUU flowsheet to deal with issue #639 have been made by @fsoepyan.   Now we need to test this flowsheet on different platforms and report and analyze the results, and fix problems like no "AspenProperties" available on AspenTech v10.

# Flowsheet to test
https://github.com/fsoepyan/FOQUS/tree/new-bfb-ouu/examples/test_files/OUU_Remote_Turbine_BFB

[2019-12-03 18:13] boverhof commented on #650
# Description
## Platform
- Windows 2016 server
- Amazon AWS m5.large
- AspenTech v10
- AWS SLM Server

## Results
- https://github.com/CCSI-Toolset/FOQUS_Sessions/blob/master/examples/test_files/OUU_Remote_Turbine_BFB/BFB_OUU_11_27_2019-Windows2016-Local-5.1.foqus

<img width="1144" alt="Screen Shot 2019-12-03 at 9 46 58 AM" src="https://user-images.githubusercontent.com/738295/70077335-71c19f80-

[2019-12-03 20:07] ksbeattie commented on #631
Can you see what tool Spyder is using to do this code analysis?  There are a few out there it might use: pylint, pep8, etc.  Knowing which one it uses might help better understand the error it is reporting.

Or in the meantime, can you replace the '*' with the specific objects needed from that module?  Then see if the error goes away?

[2019-12-03 21:15] ksbeattie commented on #593
fixed in #644

[2019-12-03 21:15] #593 closed

[2019-12-03 21:17] ksbeattie commented on #599
@eslickj, is working on this.

[2019-12-03 21:25] #639 closed

[2019-12-04 18:19] fsoepyan commented on #579
With #593 and #644 being closed and merged, can we close this issue?

[2019-12-04 18:22] fsoepyan commented on #639
The changes that @eslickj recommended have been merged in #646.

[2019-12-04 18:42] anujad95 commented on #579
Yes, this issue can be closed

[2019-12-04 18:47] #579 closed

[2019-12-04 19:06] boverhof commented on #650
@anujad95 can you look at the above session file and accompanying log file and evaluate whether:
- the Optimization ran correctly or had problems?
- The AWS run took about twice as long as Byron's run.  Why?

[2019-12-04 20:59] anujad95 commented on #650
Yes, i will look at the optimization results and check if there are any issues first. Currently we don't have access to AWS VM from NETL. It would be helpful if you could please try to give us access. Thanks.

[2019-12-05 18:27] candcook opened #651 "SDoE Version 2 documentation"
Update documentation to include new functionality of NonUniform Space Filling in SDoE.

[2019-12-10 20:42] ksbeattie commented on #651
related to #638

[2019-12-10 21:13] ksbeattie commented on #545
@anujad95 and @sotorrio1 are working on this.

[2019-12-10 21:21] ksbeattie commented on #621
"Pretty sure this was fixed in #598"

[2019-12-10 21:21] #621 closed

[2019-12-10 21:32] ksbeattie commented on #607
Closed by #647

[2019-12-10 21:32] #607 closed

[2019-12-11 18:11] candcook opened #653 "Documentation for SDoE with updates for new capability"
Revise the documentation to reflect new version of SDoE with NUSF capability

[2019-12-13 17:07] sotorrio1 commented on #545
Issue fixed with PR #654 already merged.

[2019-12-13 17:07] #545 closed

[2019-12-13 18:16] sotorrio1 commented on #653
@candcook is there a difference between this issue and #651 ?

[2019-12-13 18:21] candcook commented on #653
No these are the same. Sorry for any confusion.

Thanks,
Christine

From: Pedro Sotorrio <notifications@github.com>
Reply-To: CCSI-Toolset/FOQUS <reply@reply.github.com>
Date: Friday, December 13, 2019 at 11:16 AM
To: CCSI-Toolset/FOQUS <FOQUS@noreply.github.com>
Cc: Christine Anderson-Cook <candcook@lanl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [CCSI-Toolset/FOQUS] Documentation fo

[2019-12-13 18:33] sotorrio1 commented on #651
This is a duplicate of #653. Closing the issue

[2019-12-13 18:33] #651 closed

[2019-12-13 18:49] sotorrio1 commented on #653
PR #655 takes care of this

[2019-12-13 18:49] #653 closed

[2019-12-17 21:03] #631 closed

[2019-12-18 00:37] ksbeattie opened #660 "FOQUS pypi package too large"
I thought I'd try to see if I could create a pypi package for FOQUS.  It seems I can, but I can't then upload it because it is over their 60MB is size limit (it's 78MB).

I could ask for an increase (they'll want an explanation), but before that I thought I see if there is a way that we could get under the 60MB file size limit.

I know that there are several duplicate large files found in #168 but

[2019-12-18 00:56] anujad95 commented on #660
I shall look into the duplicate files and we can try to get it under the 60MB size limit.

[2019-12-18 01:18] eslickj commented on #660
I think in the long run the solution is to move examples out to a separate repo.  We have some big example files and installing them with pip may not make a lot of sense.  I think we had a similar problem in IDAES (although not size related) which led to the creation of an examples repo.

[2019-12-20 19:49] anujad95 commented on #650
I have tried to run the BFB optimization problem on the following platform:

Windows 10 Pro 2019
AspenTech v10
Dudley SLM Server (Commuted License)

The optimization runs till a point when the Aspen Properties License Error shows up. I interrupted the runs and took a screenshot of the solver progress. In terms of solution, it seems to be fine, and matches with the previous screenshot uploads.

![B

[2019-12-21 00:40] sotorrio1 commented on #638
PR #663 takes care of this. Closing the issue

[2019-12-21 00:40] #638 closed

[2019-12-21 21:03] boverhof commented on #650
Installed Patch from AspenTech on AWS Windows 2016 m5.large instance and AspenProperties problem didn't occur.

Ran successfully optimization
- Time elapsed 12:42:00 hours
- Results
![Uploading Screen Shot 2019-12-21 at 12.54.31 PM.png…]()

[2020-01-07 20:30] anujad95 opened #664 "Mlrose package requirement - instruction"
In the current release of FOQUS, we need to add the instruction to install the mlrose package required for SDOE module : "pip install mlrose" . If this is not installed, FOQUS cannot start. and we get the error:

  File "C:\Users\deshpana\AppData\Local\Continuum\anaconda3\Scripts\foqus.py", line 7, in <module>
    exec(compile(f.read(), __file__, 'exec'))
  File "C:\Users\deshpana\FOQUS3\FOQUS\foq

[2020-01-07 20:47] eslickj commented on #664
Probably better than documentation, is to just add it to the requirements.txt file, or the requirements in setup.py, wherever we are keeping those nowadays.

[2020-01-09 17:58] boverhof opened #665 "SLM Servers Windows 2008 Server EOL 1/14/2020"
# Description
Windows EOL is about to happen, plans are underway to migrate all SLM Servers to Windows 2016 Server, and AspenTech v10.

- [x] AWS SLM Server

- [x] dudley SLM Server

- [x] xena SLM Server

[2020-01-09 18:00] boverhof commented on #665
# dudley
- Decommissioned server because it had 2 failing SATA disks
- Created new VM on `keystone` OVIRT VMManager system with WIndows 2016 Server
- Requests dongle-free license from AspenTech so the VM can migrate between hosts during maintenance.
- New license deployed

[2020-01-18 21:03] boverhof opened #666 "FOQUS Cloud Expired Job Handling"
# Description
If a `job` entry is missing in `DynamoDB` table it is interpreted as `state=expired`.  This is because TTL is set on table entries requiring liveliness (job, consumers).  Expired Jobs are not handled correctly by the `foqus-sns-update` function.

# CloudWatch Log
[code]

[2020-01-18 21:48] boverhof opened #667 "FOQUS Cloud Nodejs12"
# Description
NodeJS8 has been EOL by the Node community, AWS will very soon end support.  Attempt to upgrade to NodeJS12.

[2020-01-18 22:02] boverhof opened #668 "FOQUS Cloud post-session-start: Missing DynamoDB entry"
# Description
A session start resulted in 4/5 jobs being created in the DynamoDB table.  `created` jobs are sitting in an S3 File ( `session/create/session_uuid/{increment}.json` ).  This is deleted by this lambda function and entries are made in dynamo for each job.

The 2nd entry `b678ed8e-b410-49e8-8282-8790d2e93596` was logged and appeared to be successfully created, however, it is was missing

[2020-01-21 17:39] anujad95 commented on #664
It seems that mlrose is already a part of the requirements.txt file, so this issue can be closed.

[2020-01-21 17:44] anujad95 opened #669 "FOQUS-Pyomo Tutorial Modify"
Some minor changes are required to improve the documentation.

[2020-01-21 20:37] ksbeattie commented on #34
@fsoepyan will test to confirm if this is fixed or not.

[2020-01-21 21:20] #664 closed

[2020-01-21 21:35] boverhof opened #670 "FOQUS Aspen Version Declaration"
# Description
Need to declare which versions of AspenTech we are supporting or recommending.  This should happen somewhere in our documentation.

# Proposal
I think FOQUS works with AspenTech v8.4 to AspenTech v10.  We should recommend AspenTech v10, which also requires an update patch from Aspen to operate correctly with any simulation a that uses AspenProperties.  See reference below for more in

[2020-01-21 21:36] boverhof commented on #634
This is fixed with new release of TurbineLite

[2020-01-21 21:36] #634 closed

[2020-01-21 21:37] #650 closed

[2020-01-24 18:07] fsoepyan commented on #34
- I generated an ACOSSO surrogate model, and the surrogate model generation was successful.
- I manged to specify the ACOSSO surrogate model as the model in the FOQUS flowsheet node.
- But when I ran the node, I got an error (shown below).
- For this test, I used the latest developer version of FOQUS, which I downloaded today (1/24/20).
- Can you please let me know if I am using the wrong version

[2020-01-24 19:11] fsoepyan opened #671 "UQ: Error when trying to analyze samples from CSV"
- I used the UQ tab to upload a CSV file.
- I managed to upload the CSV file, and run the samples in UQ.
- However, when I clicked the "Analyze" button, I got this error message:

![image](https://user-images.githubusercontent.com/30811140/73096600-2e97f480-3eb3-11ea-90a9-56d860fec747.png)

[2020-01-27 15:49] anujad95 opened #672 "Warning message while opening FOQUS"
I am getting a warning message while opening FOQUS due to some internal updates:

C:\Users\deshpana\AppData\Local\Continuum\anaconda3\envs\foqus\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six

[2020-01-27 15:53] anujad95 opened #673 "Alert msg for users - update FOQUS"
When a user opens FOQUS, there should be an alert message for upgrading to the latest version.

[2020-01-28 19:17] ksbeattie commented on #34
Well, what version of FOQUS are you using?  Ideally, you'd test this using the [2019 Dec 3.4.0 release](https://github.com/CCSI-Toolset/FOQUS/releases/tag/3.4.0).

[2020-01-28 19:58] fsoepyan commented on #34
- For this test, I used the December 2019 release version of FOQUS.
- I generated an ACOSSO surrogate model, and the surrogate model generation was successful.
- I managed to specify the ACOSSO surrogate model as the model in the FOQUS flowsheet node.
- But when I ran the node, I got an error:

2020-01-28 14:57:01,001 - DEBUG - foqus.foqus_lib.framework.graph.graph - run: Running flowsheet(s) loca

[2020-01-28 20:30] boverhof opened #676 "Optimization improvements for efficiency and parallel computing"
# Description
The biggest issue is a single failure in an iteration throws out all the sample runs in that batch.  The cost of a failed run increases with sample size, for example 5 versus 100.  Secondly the chances of a failed iteration increase as sample size goes up, the larger the sample size the greater the chance of a failed sample the greater the chance that an entire “iteration" is thrown

[2020-01-28 20:50] boverhof opened #677 "FOQUS Service exits on job error no simulation"
# Description
Flowsheet service exits on `job` error if `simulation` is not uploaded.

# Fix
Handle the exception and look for next `job`.

# Traceback
[code]

[2020-01-28 21:27] boverhof commented on #615
This is done.

module is foqus_lib/service/flowsheet.py

[2020-01-28 21:27] #615 closed

[2020-01-28 21:29] boverhof commented on #622
Fixed with an update to TurbineLite December 2019 Release, version 2.2.0

[2020-01-28 21:29] #622 closed

[2020-01-28 21:30] #601 closed

[2020-01-28 21:31] boverhof commented on #666
Fixed.

[2020-01-28 21:31] #666 closed

[2020-01-28 21:33] boverhof commented on #665
- dudley is now running on a VM and has a host bound license
- xena clean Windows 2016 Server installation, in future move to a VM.  xena has a host bound license
- Need to return both dongles to AspenTech in 90 days.

[2020-01-28 21:33] #665 closed

[2020-01-28 21:35] boverhof commented on #667
Upgraded all nodejs lambda functions to 12 and everything seems to work correctly.

[2020-01-28 21:35] #667 closed

[2020-01-28 21:37] boverhof commented on #668
- Addressed by upgrading to NodeJS 12 and updating the aws-sdk.
- No way to confirm this fixes the problem, but haven't seen it again.

[2020-01-28 21:37] #668 closed

[2020-01-29 01:54] boverhof commented on #677
Tested, Fixed.

[2020-01-29 01:54] #677 closed

[2020-01-30 19:28] fsoepyan opened #679 "Problem after creating new environment"
- I created a new environment in Anaconda called foqus_test
- I used the 2019 December release version of FOQUS
- I did pip install -r requirements.txt
- Then, I did python setup.py develop
- I managed to open FOQUS successfully
- However, when I tried to open a file, I got this error:

![image](https://user-images.githubusercontent.com/30811140/73482989-b6c34180-436c-11ea-8520-ddb2c397c4f0.png)

[2020-02-04 08:04] mpenkuhn commented on #679
It seems to be related with the pandas 1.0.0 release of January 30, 2020 which introduced some [incompatible API changes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html#backwards-incompatible-api-changes) in the pandas DataFrame.
However, I was able to get back to working state by downgrading to pandas 0.25.3. Probably it should be added as a version constraint to the requiremen

[2020-02-11 21:04] ksbeattie commented on #671
Fixed in PR #678

[2020-02-11 22:12] eslickj commented on #676
This is going to be a little tricky.  Especially for OUU where if we try to allow some of the scenarios to fail, the optimizer may try to exploit whatever scheme we come up with.

For other algorithms there are probably things we can do CMA-ES, for example, will request a set of samples, but you can return a different set.  We may be able to use this to cut off points that are taking too long or t

[2020-02-11 22:23] ksbeattie opened #682 "Upgrade to new pandas API"
On Jan 29 pandas released their 1.0 with a new non-entirely backward compatible API.

This was first reported in #679 and temporarily addressed in #681

We should update our use of pandas the new API following their [Backwards incompatible API changes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html#backwards-incompatible-api-changes) doc.

[2020-02-12 16:03] fsoepyan commented on #682
- @ksbeattie: Thank you, your PR works.
- I managed to create a new environment in Anaconda called foqus_test
- I managed to download and install the latest version of FOQUS successfully
- I managed to open FOQUS, and open a file in FOQUS successfully

[2020-02-12 16:04] fsoepyan commented on #679
This issue is resolved with PR #681.

[2020-02-12 16:04] #679 closed

[2020-02-12 19:19] anujad95 commented on #682
This works for me too

[2020-02-12 19:28] anujad95 opened #683 "UQ Analyze RS Validation"
The parity plot for a user provided surrogate model, in the RS validation section of UQ, does not work properly if the number of surrogate model input and output variables don't match the simulation variables.

[2020-02-13 19:22] boverhof opened #684 "FOQUS AWS Optimization Hangs waiting for a single result in Iteration"
# Description

While running Optimizations on the AWS Gateway infrequently the "output" event isn't processed, this results in an empty queue but only `( iteration_size - 1 )` results available.  Because of this FOQUS will poll indefinitely waiting for the final result to return.

# CloudWatch Traceback

[code]
#

[2020-02-13 19:23] boverhof commented on #684
# Entire Request Process Log from CloudWatch
[code]

[2020-02-13 19:25] boverhof commented on #684
# Job Without Output From DynamoDB
[code]

[2020-02-13 22:21] boverhof commented on #684
# Created Test Case event
## Event Message ( SNS Format )
[code]

## Run Test with SNS Message and get same error
[code]

[2020-02-14 22:14] ksbeattie commented on #679
@mpenkuhn, thank you for the pointer.  We've created a new 3.4.1 patch release to address this issue.

[2020-02-14 22:19] ksbeattie commented on #682
So, this issue is for us to fix our usage of pandas so that it works with their latest release.

Then we change from our requierments.txt the `pandas==0.25.3` fixed version line (back to just `pandas`) so that we are not stuck using an old version of pandas (which will eventually bite us).

[2020-02-25 21:19] #511 closed

[2020-02-25 21:29] ksbeattie commented on #635
This might be fixed in the new Dec 2019, 2.2.0 version of turb_sci_gate.  @jmorgan29 & @anujad95 will re-test and see if this still exists.

[2020-02-26 14:47] jmorgan29 commented on #635
I just installed the new version of Turbine, uploaded a few models to Turbine, and verified that they worked correctly on the first attempt. I would recommend closing the issue after @anujad95 verifies.

[2020-02-26 18:50] #635 closed

[2020-03-03 15:08] jmorgan29 opened #685 "'Allow Simulation Warnings' Functionality Not Working"
I am running a node in FOQUS flowsheet with an Aspen model that produces a warning when simulated, Since the setting 'Allow Simulation Warnings' is enabled by default, I would expect the node to run successfully. However, it results in a Code 7 'Turbine simulation error'. I have ran the node with the 'Visible' setting, and have verified that the Aspen file executes and gives a warning rather than

[2020-03-03 15:14] eslickj commented on #685
@fsoepyan, had this problem.  It was because at some point Turbine (maybe SimSinter) started seeing the warning error code from Aspen as an error.  I thought it was fixed, but it could be that newer Aspen versions do something different.  @boverhof and @fsoepyan, do you guys remember this?

[2020-03-03 21:12] ksbeattie commented on #326
This is a subset of #676

[2020-03-03 21:17] ksbeattie commented on #685
@boverhof suspects this might be a foqus problem, so testing different version of foqus might be worth investigating.

[2020-03-03 21:21] ksbeattie commented on #591
@sotorrio1 says they are planning on meeting with the lanl team and will bring this up.

[2020-03-03 21:22] boverhof commented on #685
@jmorgan29 can you grab the row from the TurbineLite database and paste it here?  I'd just like to make sure the output is being saved.

There are a couple ways to do this, one is to use the Web API.
[code]

[2020-03-03 21:24] eslickj commented on #685
I found this https://github.com/CCSI-Toolset/FOQUS/issues/372.  I remember this and I'm sure we got into the warning issue.  The thing was that turbine would see the warning code as an error and not return the full results.  I know we worked on this a while.  Not sure how we never added to the issue.  Maybe there is one I didn't find around the same time.  I'll keep looking.

[2020-03-03 21:24] ksbeattie commented on #602
@boverhof says this doesn't happen on Windows or Linux, so we'll close this for now and re-open if it comes up again.

[2020-03-03 21:24] #602 closed

[2020-03-03 21:26] eslickj commented on #685
Found it https://github.com/CCSI-Toolset/FOQUS/issues/268

[2020-03-03 22:36] sotorrio1 commented on #76
The Multi-Objective Optimization Under Uncertainty (MOOUU) feature is still on stand-by since we're trying to decide which path to follow.

- Adding multi-objective capabilities to the existing OUU tab using an open source python library. The single objective would stay the same using PSUADE.

OR

- Completely re-factor the OUU module, moving away from PSUADE and using the open source multi-objeti

[2020-03-04 15:30] fsoepyan commented on #682
I will close this issue, because I believe this issue has been resolved with #686.

[2020-03-04 15:30] #682 closed

[2020-03-04 19:17] boverhof commented on #684
# Testing  event_job_output_number_underflow.json
## Fail: Original number underflow
### Process Output Message
[code]
## Patch to store Output as String in DynamoDB
### Process Output Message
[code]
#### DynamoDB entry is a String
[code]
#### Send Finished Message for job
[code]

[2020-03-04 19:23] boverhof commented on #684
@fsoepyan the problem should be fixed now, when you have a change please test the FOQUS Cloud gateway.

[2020-03-04 19:23] #684 closed

[2020-03-05 16:18] jmorgan29 commented on #685
@boverhof, I am not quite sure what is needed but I have went into the 'TurbineCompactDatabase.sdf' file and attached screenshots of all information associated with the run. However, this might not be necessary since I think I have determined the source of the error, which I will discuss in a follow-up comment.

![RunFailsWithWarning](https://user-images.githubusercontent.com/11306727/76000451-b83

[2020-03-05 17:00] boverhof opened #687 "FOQUS Cloud Dropped Job"
# Description
After running optimization for a while a job errors and the next job in the batch is. dropped. and never appears to make it in DynamoDB table.

## Dropped Job
- Id: e054c952-013d-4609-b213-b3d9a09fb08c
- SessionId: 747919db-bf9c-4e83-b4ef-b0b033ad985c
[code]

### post-session-start cloudwatch log
[code]

[2020-03-05 17:47] boverhof commented on #687
# Issue 1:  ValidationError on submit job in foqus-sns-update
- no consumerId on submit job, need to add it only if available
[code]

[2020-03-05 19:49] jmorgan29 commented on #685
I think I have determined the cause of this issue. When trying to test the effect of different versions of Aspen, I found a counter-example where I used the same version of FOQUS and Aspen V10, and FOQUS reported the simulation working correctly when the Aspen model resulted in a warning. As expected, FOQUS reported an error for the same simulation when the 'Allow Simulation Warnings' setting was

[2020-03-05 20:00] boverhof commented on #687
# CloudWatch post-session-append
- 5 items went in DynamoDB but only see 4.
- TTL is set low for `create` jobs, and think because `submit`, `setup` and `running` updates failed on ValidateError it never got to `output` and `success` and therefore TTL expired and it was removed.
[code]

[2020-03-05 20:09] anujad95 commented on #34
I think we should close this issue because ACOSSO or BSS ANOVA is not being used by anyone currently. We may even want to reconsider having these methods in FOQUS.

[2020-03-09 17:56] jmorgan29 commented on #648
The instructions for using this feature are now explained clearly in the documentation, but there still seems to an issue with using it. In an example I am working with, the uploaded samples look like this:
![OptimizationSample](https://user-images.githubusercontent.com/11306727/76241894-19c9b300-620c-11ea-9b31-91f003e00f55.png)

The first column of data is completely populated with NaN, which is

[2020-03-10 20:19] ksbeattie commented on #648
@fsoepyan will take a look at this and try to give some guidance on where in the code this issue might exist.

@eslickj suspects that this is likely using a pandas dataframe and might get the headers wrong somehow.

[2020-03-10 20:34] ksbeattie commented on #670
@fsoepyan will take a pass at adding this into into the SimSinter section of the documentation.

[2020-03-11 14:47] fsoepyan commented on #670
PR #691 is made to address this issue.

[2020-03-11 15:04] fsoepyan commented on #648
- I used the test file that @jmorgan29 sent me.
- I saved the CSV file as a "CSV (MS-DOS)" for the file type (referenced in #263).
- I went to the Optimization tab in FOQUS.
- I went to the "Samples" tab.
- I clicked "Generate Samples", and chose "Load From File".
- I managed to get these samples:

![image](https://user-images.githubusercontent.com/30811140/76431184-a3ea5680-6387-11ea-9018-397e841

[2020-03-11 20:14] anujad95 commented on #648
I'll take a look at this Byron. I'll try to save the csv file as MS-DOS. Thanks.

[2020-03-17 18:16] boverhof opened #696 "FOQUS Optimization: Failure Handling"
# Description
The current Optimization Under Uncertainty (OUU) in FOQUS throws out an entire objective function evaluation if a single scenario fails.  In OUU the objective function is basically a weighted average of scenario objective function value obtained from a scenario optimization performed by Aspen.  If one of the scenario optimizations in Aspen fail, the current behavior is just to consid

[2020-03-17 18:48] eslickj commented on #696
@fsoepyan, do you think you can take a shot at writing some objective functions based on the above description.  If FOQUS itself needs to be modified to accommodate, let me know.

[2020-03-17 20:10] ksbeattie commented on #687
@boverhof is this one still an issue?  Was it closed by #689?

[2020-03-17 20:11] ksbeattie commented on #683
@anujad95 is working on this.

[2020-03-17 20:12] ksbeattie commented on #591
@sotorrio1, any news on this?

[2020-03-17 20:17] ksbeattie commented on #648
@anujad95 will look into the csv reading code, to make this less specific to the MS-DOS format.  @ksbeattie will also help.

[2020-03-17 20:32] ksbeattie commented on #685
Closing this based on @jmorgan29 comment above.

[2020-03-17 20:38] ksbeattie commented on #34
@anujad95 will inquire about the plausibility of removing these methods.

[2020-03-17 20:47] ksbeattie commented on #670
@boverhof can you close this if you feel PR #691 addressed this sufficiently?

[2020-03-17 21:08] #669 closed

[2020-03-18 00:59] sotorrio1 commented on #591
@ksbeattie After our discussion with LANL we're trying to figure out what's the best approach to do this since LLNL and LANL have some restrictions on what to release. @ngbrenda has already inquired about the possibility of releasing the video on our end. I'll keep you posted with more updates.

[2020-03-18 14:26] fsoepyan commented on #696
@eslickj: For the objective function, I was thinking something like this:

If running scenario i = success: COE(i) = the output from ACM
If running scenario i = failure: COE(i) = 1000
Objective = sum COE(i) for i = 1 to the total number of scenarios

Is this a reasonable objective function?

[2020-03-18 14:39] eslickj commented on #696
Yeah, that's totally reasonable.  I'm not sure what to expect, so let's just see what happens.  I'm pretty sure I tried this and things when bad, but I can't say for sure why, so I think we should try it again and go from there to figure out what to do next.

I guess one possibility is is that penalizing failed scenarios like this may be pretty similar to just saying the whole thing failed.  If to

[2020-03-20 14:31] fsoepyan commented on #696
@eslickj: I talked with @omellben, and his idea is this:

1. For each iteration, we run all the scenarios.
2. We compute the value of the COE at each scenario.
3. For the successful scenarios, we determine the maximum value of the COE.
4. For every failed scenario, we take the above-mentioned maximum value of the COE, and set the value of the COE for the failed scenario equal to either 1.1 * (maxi

[2020-03-20 15:12] eslickj commented on #696
I think we should try it.  I'm not sure what's going to happen with any of these, and the right answer is probably situation dependent.

My fear with this is that there could be a scenario that is far worse than the others.  Since we want to keep the number of scenarios down, we probably won't have scenarios really close together.  My worry is that if the worst scenario fails to solve giving it th

[2020-03-20 15:14] eslickj commented on #696
I should also point out that I suspect the worst scenario may be the most likely to fail to solve. The fact that it's bad probably indicates its farther from what we expect to happen.  It could be on the edge of feasibility.

[2020-03-24 18:35] fsoepyan commented on #696
To help me get started writing the objective function code in FOQUS, I am using the calculateObj function from the file foqus_lib\framework\optimizer\problem.py

[2020-03-24 19:52] #670 closed

[2020-03-24 19:56] #687 closed

[2020-03-25 15:54] sotorrio1 commented on #683
@anujad95 PR was approved, isn't this one fixed?

[2020-03-25 16:27] anujad95 commented on #683
Yes this issue is fixed. It can be closed now.

[2020-03-25 16:27] #683 closed

[2020-03-26 21:29] ksbeattie opened #701 "Update docs on pip install"
As described in PR #700, documentation on how to install FOQUS needs to be updated to describe how use either the PyPi package or the Windows installer.

Also, some kind of documentation should be created for developers on how to setup their development environment.

- [x] Install docs
- [x] developer docs

[2020-03-27 00:06] ksbeattie commented on #660
Closing this now that PR #700 is merged, though I'm sure we haven't heard the end of this problem.  Ideally moving the example out into their own repo will be the final fix.

[2020-03-27 00:06] #660 closed

[2020-03-31 20:08] ksbeattie commented on #648
One possibility might be to use https://docs.python.org/3/library/csv.html?highlight=sniffer#csv.Sniffer as is done elsewhere in our code.

[2020-04-03 23:29] #701 closed

[2020-04-04 01:16] ksbeattie opened #704 "FOQUS examples: how to package and distribute?"
The current PyPi package of FOQUS does not include the examples.

It should either be included in the package, potentionally making it too large for PyPi, or distributed separately (possibly like IDAES does).

[2020-04-07 20:15] ksbeattie commented on #580
@anujad95 has a plan on this after talking to @eslickj about it, needs to vet that plan with other developers before implementing it.  Will arrange a meeting on that plan in the next week or 2.

[2020-04-07 20:16] ksbeattie commented on #696
@fsoepyan is working on this.

[2020-04-12 01:56] sotorrio1 opened #706 "SDOE plotting not working"
Found out that SDOE plotting wasn't working properly. Issue has to do with the wrong name for the facecolor argument.

[2020-04-13 14:55] jmorgan29 opened #708 "'Load All Samples from a Single File' Option in Uncertainty Tab"
When running an uncertainty ensemble in FOQUS, there is an option for loading the input variable values from an external file. As explained in the documentation, a csv file in the following format should be used:

![csv_format](https://user-images.githubusercontent.com/11306727/79129050-85a2bc80-7d72-11ea-8831-3edd3ce5a132.jpg)

In this example, the flowsheet has a node called '1' with input varia

[2020-04-14 16:10] sotorrio1 opened #709 "UQ-SDoE Integration"
New capabilities added to SDoE where UQ capabilities are leveraged; such as sampling, response surface validation and data imputation.

[2020-04-14 16:15] sotorrio1 opened #710 "SDoE: Input-Response Space Filling (IRSF)"
Adding new phase where the user can choose a new Sequential Design of Experiments (SDoE) method besides Uniform Space Filling (USF) and Non-Uniform Space Filling (NUSF).

[2020-04-14 16:23] anujad95 commented on #708
I'll look into this and try to fix it.

[2020-04-14 17:22] fsoepyan commented on #696
I have been testing the ideas proposed by @omellben and @eslickj regarding the objective function, and this work is ongoing.

[2020-04-21 20:01] fsoepyan commented on #696
After testing the ideas proposed by @omellben and @eslickj, the three of us reached a consensus regarding the objective function we should use for the OUU.

Our next step is to test the objective function, where the OUU is run using all 25 scenarios, instead of only 5 scenarios.

[2020-04-21 20:01] ksbeattie commented on #648
@anujad95  will update some docs on this, then close it.

[2020-04-21 20:06] ksbeattie commented on #696
This issue (or a possible fix) is related to #676

[2020-04-21 20:22] ksbeattie commented on #34
@anujad95 will take another look at this.

[2020-04-22 06:45] ksbeattie commented on #672
I chased this down to a problem in mlrose.  I've opened a PR in that project, which I believe will fix it: https://github.com/gkhayes/mlrose/pull/50

[2020-04-23 22:52] sotorrio1 opened #712 "Documentation for SDoE"
Adding on the existing SDoE documentation, with more details on NUSF and more examples.

[2020-04-24 22:57] anujad95 opened #713 "Autosave FOQUS Sessions"
It would be helpful to have this feature, to ensure that if FOQUS shuts down unexpectedly, UQ ensemble simulations, or optimization, surrogate building runs get saved automatically. It will be convenient and time saving for the users.

[2020-04-24 23:44] atowfiq commented on #706
Tested SDOE plotting. USF (uniform space filling) seems to be working fine for everything including the plotting. However, the NUSF (non uniform space filling) failed to perform while "Test SDOE" clicked. Both the screen shots and error messages attached below. Plotting for NUSF couldn't be tested. Failed before reaching there.

![screenshot_SDOE_NUSF](https://user-images.githubusercontent.com/970

[2020-04-27 04:38] sotorrio1 commented on #706
@atowfiq I might have found an issue with the **'Include?'** column in NUSF. Could you try running this same example with everything the same but also checking the boxes for **'Steam Flow'** and **'CO2 Captured'**? At least that way you can check the plotting also works for NUSF and I'll open a separate issue for the include feature. Thanks!

[2020-04-27 18:56] fsoepyan commented on #696
I am currently running the OUU with all 25 samples in my computer, with the idea that @omellben and @eslickj proposed.

This run is being performed using FOQUS and Cloud.

[2020-04-28 19:10] sotorrio1 opened #714 "SDoE: issue with the 'Include' capability in NUSF"
There is an issue when trying to generate a NUSF design and the include capability.

[2020-04-28 19:44] atowfiq commented on #714
The plotting is working for both USF and NUSF. However NUSF has separate issue (nothing to do with plotting) which will be addressed as a different issue.

[2020-04-28 19:50] ksbeattie commented on #671
The fix in PR #679 has caused issue #708.  @pedro has solution in mind, so he will address this in a new PR.

[2020-04-28 20:03] #620 closed

[2020-04-28 20:08] boverhof opened #715 "Job Results Generator Race Condition"
# Description
A single job is apparently lost and isn't paged.  I thought I checked that it was paged out correctly but here I found only 24 paged jobs in a batch of 25, which means there is a bug somewhere.

It is very likely a race condition issue, and I have a few ideas about what might be going wrong.

LOST JOB IS NOT IN THE GENERATED PAGE..  Only '589808fc-7924-420e-badf-cf3ecff26fc’ is in th

[2020-04-28 20:13] fsoepyan commented on #696
We ran across an issue: #715

[2020-04-28 21:01] #706 closed

[2020-04-28 23:04] sotorrio1 opened #717 "SDoE: Preview Samples issue"
When generating new candidate set using UQ sample generator, there is an issue blocking the sample preview.

[2020-04-29 21:45] fsoepyan commented on #671
- I downloaded FOQUS from PR #716.
- I installed FOQUS using the developers' method.
- I opened FOQUS, and went to the UQ tab.
- I managed to successfully upload the CSV file after clicking "Add New".
- I managed to successfully run the samples.
- But when I clicked "Analyze", I get this error message:

![image](https://user-images.githubusercontent.com/30811140/80650075-35e61580-8a41-11ea-8b69-b9

[2020-04-30 15:38] boverhof opened #719 "FOQUS Workers instance-id"
# Description
FOQUS Workers publish keepalives to SNS periodically.  Only at startup time does a Worker ask for its `instance-id`, and occasionally this AWS Web service isn't responsive.  Not having the instance-id doesn't break anything but it makes problem solving and tracking more difficult.

# TODO
Add instance-id checks in FOQUS Worker.  If empty string, pull from AWS Web service again, add t

[2020-05-01 03:39] boverhof commented on #715
# Problem
Using microseconds in S3 Keys to determine which jobs to page, which is problematic with multiple FOQUS Workers.

# Fix
Remove microseconds and utilize new set of S3 Keys/Docs with this format.
   ` /paged/{job_id}`

Idea with S3 is don't want to have to "get" documents, rather use KEYS to represent metadata and just ask for KEY list.

# Integration Test
[code]

# Verified Working 04/30/

[2020-05-04 15:56] sotorrio1 opened #720 "File Format Documentation Missing"
The file format documentation referenced in different sections of the UQ chapter is being missing for a while. It would be good to have it back in the online documentation as a reference for users to know what is the right format in each situation.

[2020-05-05 15:40] fsoepyan commented on #696
Status update:
- @boverhof fixed the issue in #715
- We are running the OUU using 5 workers on Cloud
- We are running the OUU using all 25 scenarios, instead of 5 scenarios
- I am currently testing the idea proposed by @eslickj and @omellben for the objective function
- The first OUU run is successful
- I decided to do a second OUU run, where I slightly modified the objective function
- In other w

[2020-05-05 19:01] ksbeattie commented on #720
Is this related to #605?  The `ap:psuadefiles` parts?

[2020-05-05 19:04] sotorrio1 commented on #720
oh my god, you're right! Totally forgot about that issue. Yeah, with the addition of this section and a few edits I've made, I think I fixed all the broken references you mentioned in that issue

[2020-05-05 19:05] sotorrio1 commented on #605
Related to issue #720 and possible fix with PR #721

[2020-05-08 00:37] #712 closed

[2020-05-12 19:53] #720 closed

[2020-05-12 19:54] ksbeattie commented on #605
Closed with #720

[2020-05-12 19:54] #605 closed

[2020-05-12 20:09] ksbeattie commented on #648
Closed with #711

[2020-05-12 20:09] #648 closed

[2020-05-12 21:21] sotorrio1 commented on #591
LLNL and LANL teams came up with a plan for the SDoE videos. The idea is creating seven short videos covering the following topics:
1. **Motivation for SDoE.** @candcook already has a version of this video. [Documentation](https://foqus.readthedocs.io/en/stable/chapt_sdoe/overview.html#why-space-filling-designs)
2. **Creating Candidate Sets.** [Documentation](https://foqus.readthedocs.io/en/latest

[2020-05-12 21:23] sotorrio1 commented on #717
Found this bug while preparing some documentation. Once PR #718 gets approved and merged; this won't be an issue anymore.

[2020-05-13 16:40] sotorrio1 commented on #591
**List for video status**

- [ ] [Motivation for SDoE](https://youtu.be/czOJTAkJy-8).
- [ ] Creating Candidate sets.
- [ ] Creating One Design Using USF.
- [ ] Understand the Visualization for USF Results.
- [ ] Create One Design Using NUSF.
- [ ] Understand the Visualization for NUSF Results.
- [ ] Iteration of SDoE.

[2020-05-19 20:13] #708 closed

[2020-05-19 20:15] #717 closed

[2020-05-19 20:22] ksbeattie commented on #696
@fsoepyan still testing this.

[2020-05-19 20:22] ksbeattie commented on #714
@ngbrenda is working on this.

[2020-05-19 20:23] ksbeattie commented on #671
@sotorrio1 will get to this soon

[2020-05-19 20:29] ksbeattie commented on #676
@boverhof and @fsoepyan have been making progress on this.

[2020-05-19 20:30] #715 closed

[2020-05-26 19:35] boverhof opened #727 "FOQUS Cloud Aspen v8.4"
# Description
Request for Aspen v8.4 support on the FOQUS Cloud.  Will require creating a new AMI and a means of selecting v8.4 or v10 ( currently the only available version ).

[2020-05-26 20:04] ksbeattie commented on #672
@sotorrio1 will look into the possibility of replacing mlrose with mlrose-hiive.

[2020-05-27 18:48] boverhof commented on #727
### Base AMI
- Windows_Server-2016-English-Full-Base-2020.05.13 (ami-0cc5ea3dde5301489)

### Anaconda 3
- Anaconda3-2020.02-Windows-x86_64

[2020-05-27 20:40] anujad95 opened #732 "Extend FOQUS usability with IDAES"
We need to include an example in the documentation that demonstrates how IDAES models can be imported and solved in FOQUS

[2020-05-29 15:18] ishanf91 opened #733 "unable to generate sample using LATIN HYPERCUBE"
I created a node in the flowsheet tab, provided input parameters and respective details.
Then to create the candidate set I followed the following steps:
Uncertainty tab -> Add new -> use flowsheet -> sampling scheme -> select latin hypercube -> generate samples.

it is supposed to generate the number of samples requested but I do not see any samples generated..

I have installed PSUADE and locati

[2020-05-29 17:10] anujad95 commented on #733
@ishanf91 could you please share screenshots of how you have set up the problem?

[2020-05-29 17:29] ishanf91 commented on #733
Please see the attached ppt.

From: anujad95 <notifications@github.com>
Sent: Friday, May 29, 2020 1:11 PM
To: CCSI-Toolset/FOQUS <FOQUS@noreply.github.com>
Cc: Fursule, Ishan A. <ishan.fursule@uky.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CCSI-Toolset/FOQUS] unable to generate sample using LATIN HYPERCUBE (#733)

CAUTION: External Sender

@ishanf91<https://nam04.safelinks.protectio

[2020-06-02 16:18] MDCA960418 opened #734 "MATLAB"
Hello,

Can a MATLAB model be incorporated into SimSinter?

Thank you.

[2020-06-02 21:47] anujad95 opened #735 "Node Naming Convention"
With the current setting of FOQUS, nodes cannot have names that contain spaces in between. Ideally, we should include this in the documentation, and also make changes to the base code so that a warning message gets displayed when the node name is incorrect.

[2020-06-02 21:48] anujad95 commented on #735
This is relevant to #733

[2020-06-02 21:53] anujad95 commented on #734
MATLAB files cannot be directly loaded in simsinter. However, the results from the model can be transferred to an excel file, which can be loaded in simsinter, and then be used to interface with other models in FOQUS. It would be helpful to get some basic details about the problem that needs to be solved.

[2020-06-02 21:59] anujad95 opened #736 "Surrogate Model Based Optimizer"
A new optimization solver plugin will be introduced in FOQUS for solving optimization problems based on surrogate model development, and improvement in the algorithm.
Along with this, a user manual will be made available to provide instructions for using this solver.

[2020-06-03 17:28] fsoepyan commented on #696
- I think it's safe to say that @omellben, @eslickj, and I have reached a consensus regarding what the objective function should be to achieve this goal, where if a scenario in an iteration fails, we penalize the iteration instead of throwing out the entire iteration.
- I think we can close this issue.
- Then, I will open another issue so that I can upload the new OUU file to GitHub.
- How does th

[2020-06-03 17:29] fsoepyan commented on #676
I believe that once we close issue #696, we can also close this issue.

[2020-06-03 19:59] MDCA960418 commented on #734
That helps, thank you!

[2020-06-03 19:59] #734 closed

[2020-06-03 20:03] MDCA960418 opened #737 "Error Handling Upon Parameter Analysis"
Hello,

After completing UQ analysis on parameter selection I get the following error when trying to compute input importance graph

![image](https://user-images.githubusercontent.com/66323673/83683637-b9040980-a5b3-11ea-8323-a718d673a975.png)

Thanks!

[2020-06-03 20:09] MDCA960418 commented on #737
When running a previous simulation, I had no issues plotting the results.

[2020-06-03 21:33] MDCA960418 commented on #737
Similar issue is experienced when trying to plot sample distribution
![image](https://user-images.githubusercontent.com/66323673/83691526-52391d00-a5c0-11ea-90e3-dbff28c5bcf3.png)

[2020-06-04 14:57] MDCA960418 commented on #737
Problem has been solved by reloading the file into SinSimter and uploading into Turbine

[2020-06-04 14:58] #737 closed

[2020-06-04 17:52] boverhof opened #738 "FOQUS Cloud Shutdown"
Experiencing shutdown issues on AWS where the VMs are all terminated but the Optimization hasn't finished yet.  One potential problem is the use of specific metrics which are only counted once per minute.  Other metrics are actual counts and more reliable, but aren't direct measures of queue size but only activity.  In some instances "ApproximateNumberOfVisableMessages" doesn't reflect each iterat

[2020-06-05 02:58] MDCA960418 opened #739 "Error Handling"
Hello,

I get the following error when trying to view sample plots

![image](https://user-images.githubusercontent.com/66323673/83832107-e5ed1500-a6b6-11ea-85c9-b3434b1e78f6.png)

![image](https://user-images.githubusercontent.com/66323673/83832126-ef767d00-a6b6-11ea-8e68-5deb49805093.png)

[2020-06-05 14:58] sotorrio1 commented on #733
@anujad95 isn't this fixed? If so, we should close the issue.

[2020-06-05 19:05] MDCA960418 commented on #739
On a side question: Is there a way to export the response surface data (i.e. linear regression validation, bar charts, PDF) into excel?. The axis and titles on some of these graphs tend to overlap with each other making it a bit hard to visualize.

Thanks!

[2020-06-05 19:27] anujad95 commented on #733
Yes this issue can be closed.

[2020-06-05 19:27] #733 closed

[2020-06-05 20:24] anujad95 opened #741 "Add warning when pyomo model fails"
A warning message should be displayed in FOQUS if a pyomo model imported within the nodescript, fails to converge. Currently the node simulation runs successfully even when the pyomo model fails.

[2020-06-09 16:41] fsoepyan commented on #696
I believe that once PR #744 is merged, we can close this issue.

[2020-06-09 16:42] fsoepyan commented on #676
I believe that once PR #744 is merged, we can close this issue.

[2020-06-09 20:01] #735 closed

[2020-06-09 20:02] #672 closed

[2020-06-09 20:09] #738 closed

[2020-06-09 20:32] #696 closed

[2020-06-09 20:32] #676 closed

[2020-06-09 20:47] atowfiq opened #745 "SDOE window does not close"
On SDOE module, once the USF or NUSF is selected, a design generator window pops out. If we want to close this window using the 'X' in the upper right corner, the window keeps popping up refusing to close. I had to cross it multiple times (sometimes 9 or 10 times) to finally close this  window.
![screen_shot_MLROSE_2](https://user-images.githubusercontent.com/9701325/84197992-1ab6ee80-aa60-11ea-80

[2020-06-09 21:15] sotorrio1 commented on #739
@MDCA960418 Hello! Would you mind sharing the actual foqus session, files you used and steps you followed so I can reproduce the error and help you.
Thanks!

[2020-06-09 22:30] MDCA960418 commented on #739
@sotorrio1 Hello! Unfortunately, I do not have the files. Re-uploading the model into SimSinter fixed it somehow. If this issue ever comes up, I will make sure to save the files and send it to you.
Thank you!

[2020-06-10 01:23] sotorrio1 commented on #739
@MDCA960418 should we close the issue and re-open if it comes up again?
Thanks!

[2020-06-11 18:59] fsoepyan commented on #727
I don't think this capability is needed. Therefore, I will close the issue.

[2020-06-11 18:59] #727 closed

[2020-06-16 16:49] atowfiq opened #749 "NUSF error report"
I did some testing on the latest FOQUS-master with fresh install and on windows 10 platform. Here is my report (mostly for NUSF):

- [x] 1. Minor: The 'crossing out' of the SDoE window is now partly fixed but fails (less severely) other times. When the 'Test SDOE' and 'Run SDOE' both run successfully, the window can be turned off with 'cross button' smoothly. But if for any reason, 'Test' or 'Run'