[2020-06-16 19:59] ksbeattie commented on #714
@ngbrenda, will get to it!

[2020-06-16 20:00] ksbeattie commented on #671
@sotorrio1, still need to get to it.

[2020-06-16 20:17] #745 closed

[2020-06-22 16:45] MDCA960418 opened #754 "Data Filtering"
Hello,

I am unable to filter my output data given the following expression, which should be valid as per the manual

![image](https://user-images.githubusercontent.com/66323673/85313583-42597e00-b486-11ea-87c9-572ac1164503.png)

Thanks.

[2020-06-22 18:57] anujad95 commented on #754
Could you please share details of how you implemented the filter? Some screenshots would help.

[2020-06-22 19:34] anujad95 commented on #754
When you click on Add/Edit Filters, drag output.graph.error from the "columns" and drop it in the filter expression space. Check if this works.

[2020-06-22 21:02] MDCA960418 commented on #754
@anujad95 That works, thank you. Also, what would be the appropriate syntax for filtering between a range of values? I'm using the following expressions, but they are not accepted by FOQUS.

![image](https://user-images.githubusercontent.com/66323673/85334839-ea347300-b4a9-11ea-9bd8-c30ac7cb4a76.png)
![image](https://user-images.githubusercontent.com/66323673/85334916-12bc6d00-b4aa-11ea-99f2-29bb0

[2020-06-23 14:05] anujad95 commented on #754
output.graph.error either takes the value 0 (successful simulation) or 1 (failed simulation) depending on whether or not the simulation associated with the input values has converged. So, a range will not be applicable here.
However, for any other non-binary output variable, say 'y', the following syntax works to implement a range based filter:
np.logical_and(c("output.test.y")>=10,c("output.test.

[2020-06-23 18:46] MDCA960418 commented on #754
Awesome! Thanks.

[2020-06-23 18:46] #754 closed

[2020-06-23 19:52] ksbeattie commented on #515
Addressed by PR #751

[2020-06-23 19:52] #515 closed

[2020-06-23 19:54] ksbeattie commented on #736
@anujad95 is working on this with @MAZamarripa and should have something by the end of this week.

[2020-06-23 20:04] ksbeattie commented on #741
@anujad95, will make a documentation change as a short-term fix for this.  With a more complete solution to come for the Sept release.

[2020-06-23 20:13] #732 closed

[2020-06-24 06:48] ngbrenda commented on #714
@ksbeattie I rewrote the usf and nusf code using pandas operations, so it should fix this and other column-related bugs.

@sotorrio1: I committed to your branch. If you may test and merge, that'd be great. Thanks.

[2020-06-24 20:07] ksbeattie commented on #714
@ngbrenda & @sotorrio1, any ETA on that PR?

[2020-06-24 20:08] sotorrio1 commented on #714
hey @ksbeattie, finishing some testing and will create the PR ASAP. Soooorry!

[2020-06-29 23:23] ksbeattie opened #759 "Windows Desktop icon is wrong"
When creating the desktop icon (Windows only) with the new `foqus --make-shortcut` option, the icon is not correct.

I try to grab `foqus.ico` file relative to the location of the `foqus.py` script, but the icon file is not there.  I'm guessing we either need to find another place where that icon already exists in the installed space under site-package/foqus_lib/ or we get setup.py to bring over t

[2020-06-29 23:24] ksbeattie commented on #759
See PR #755 for where the new `--make-shortcut` code was added.

[2020-06-30 02:27] ksbeattie opened #760 "3.6.0rc0 broken on Windows"
The 3.6.0rc0 release is broken on Windows:
[code]

This is from a `pip install ccsi-foqus==3.6.0rc0` but I've seen this before when installing from source with `pip install .` but running a `pip install -e .` fixed it!  Similarly `pip install -r requirements.txt` works (because it has "-e ." in it).  So it seems that the "-e" - the equivalent to `python setup.py develop` rather and `python setup.p

[2020-06-30 14:54] eslickj commented on #760
I'm working on this now.

[2020-06-30 15:29] eslickj commented on #760
I'm having issues with pywin32 and adodbapi not working when I install this in a new environment.  We had a heck of a time with those packages before, but I thought new version has the stuff sorted out.  I don't know why this is happening again, but I assume other users will see the same if they do a fresh install.

[2020-06-30 15:30] eslickj commented on #760
I'll start a new issue for the pywin32 stuff.

[2020-06-30 15:46] eslickj opened #762 "New problems with Windows install"
Old problems with the windows install have come up again.  When I install foqus on a clean conda environment, I get the error below.

[code]

I can fix this by uninstalling that reinstalling pywin32 with pip.  If I remove pywin32 from setup.py and install it after foqus setup that also works.

[2020-06-30 15:56] eslickj commented on #762
This is getting confusing, but I think uninstalling and reinstalling pywin32 works whether it's pip or conda.  So I don't think there is an issue with the package versions.  Maybe some package requires pywin32, but it gets a bad version before our setup.py gets around to installing it?

[2020-06-30 16:37] eslickj commented on #762
Also installing pywin32 before installing foqus works.  It looks like everything works as long as pywin32 doesn't get installed as a requirement from foqus's setup.py.  It's not a version issue.  It's the same version either way.

[2020-06-30 17:46] anujad95 commented on #762
After i update my local master with the upstream master, i am getting this error when i just type 'foqus' in my anaconda prompt:
C:\Users\deshpana\AppData\Local\Continuum\anaconda3\envs\foqus_02\python.EXE: can't open file 'C:\Users\deshpana\FOQUS3\FOQUS\foqus.py': [Errno 2] No such file or directory

[2020-06-30 18:30] eslickj commented on #762
Okay, after I properly installed using ```pip install .```, this is fixed.

@anujad95, that foqus.py has been removed.  Just reinstall FOQUS should fix it.

[2020-06-30 18:30] #762 closed

[2020-06-30 18:34] ksbeattie opened #763 "FAQ?"
Consider having an FAQ or trouble shooting page somewhere.  In the docs, on a wiki, I'm not sure.

Things to consider adding are:
- Don't install with `python setup.py` use, `pip install`.  This is because directly running setup.py uses easy_install, which is not as "smart" as pip when it comes to handling a complex set of requirements.  So things can end up getting broken.  For example PyQt and s

[2020-06-30 19:42] anujad95 commented on #762
Ok, i will try this. Thanks

[2020-06-30 19:58] ksbeattie commented on #714
Will be fixed in #756

[2020-06-30 19:59] #749 closed

[2020-06-30 20:00] #714 closed

[2020-06-30 20:00] #736 closed

[2020-06-30 20:01] #741 closed

[2020-06-30 20:01] ksbeattie commented on #759
Fixed in #761

[2020-06-30 20:38] #760 closed

[2020-06-30 20:39] #759 closed

[2020-06-30 20:47] eslickj opened #765 "SM Optimizer Error?"
I think we may be missing a requirement in setup.py.  When I start FOQUS I get this warning (doesn't break anything except I assume the SM_Optimizer doesn't work):

[code]

[2020-06-30 20:51] anujad95 commented on #765
Yes, actually pyDOE and smt packages need to be installed to run the SM
optimizer. It's in the documentation but it might be better to have it in
the requirements.

On Tue, Jun 30, 2020, 4:47 PM John Eslick <notifications@github.com> wrote:

[2020-06-30 21:01] eslickj commented on #765
That's like the third time today I've been bitten by not reading the docs.

[2020-06-30 21:01] sotorrio1 opened #766 "NUSF slowed down"
After the latest re-factoring NUSF handles more Pandas data frames rather than numpy arrays; and that's slowing things down.

[2020-06-30 21:02] sotorrio1 commented on #766
Already ran a profiler through the code to figure out what's slowing things down and what can be improved to speed things up.

[2020-06-30 21:15] ksbeattie commented on #765
Well, I think that we should avoid stack traces being thrown.

@anujad95, we should either suppress the stacktrace, with a message about needed those packages if that plugin will be used (knowing most users won't see it) or add `smt` into the `install_requires` list in `setup.py`.  I would normally say to do the latter but smt pulls in a ton of other packages, like Sphinx and pyDOE2 (is that neede

[2020-06-30 21:29] ksbeattie commented on #765
It's looking this is has more do to with how the SM_Optimizer plugin reports if it's available or not.

I'd think that if `pyDOE` and/or `smt` is not available it shouldn't throw a stack trace and should just report unavailable.  But even after I `pip install smt pyDOE` I still get:

    2020-06-30 21:21:04,337 - INFO - foqus.foqus_lib.framework.plugins.pluginSearch - Removing plugin, due to missi

[2020-06-30 21:32] anujad95 commented on #765
I'm sorry, I'll make sure that these packages are included in the
requirements file.

On Tue, Jun 30, 2020, 5:01 PM John Eslick <notifications@github.com> wrote:

[2020-06-30 21:34] anujad95 commented on #765
Yes Keith I will look into it and try to fix in sometime. I'm sorry.

On Tue, Jun 30, 2020, 5:29 PM Keith Beattie <notifications@github.com>
wrote:

[2020-07-01 00:20] #765 closed

[2020-07-13 15:27] MDCA960418 opened #768 "Turbine Upload Error"
When uploading SinSinter file into Turbine it gives me the following error

![image](https://user-images.githubusercontent.com/66323673/87322436-69422780-c4fb-11ea-8792-f2b7fba6d1e9.png)

[2020-07-13 18:45] eslickj opened #769 "Turbine Interaction Improvments"
These are some things that would make the Turbine remote/cloud computing component more useful and usable.  If we start working on these we can break them out into new issues as needed.

1.) Run optimization and UQ completely on the cloud.  That way you can easily start up multiple optimzation or UQ runs in parallel and don't need to keep your machine running.   This should be fairly easy to imple

[2020-07-14 20:21] ksbeattie commented on #768
@MDCA960418 can you give us some more details about your env?  Like what version of turbine is installed?

@boverhof, could you follow up with him on this?

[2020-07-14 20:31] boverhof opened #770 "FOQUS Cloud simultaneous user improvements"
# Description
In the FOQUS Cloud all flowsheet run requests go on a single queue that is FIFO.  For multiple simultaneous users this is non-optimal.  Also the Aspen Engine on a FOQUS Worker is often reused between runs allowing the jobs to run much quicker.  If the simulation is changed the FOQUS Worker must re-initialize, thus two users with different simulations could force the FOQUS Worker to r

[2020-07-14 20:52] MDCA960418 commented on #768
I was trying to upload an AspenPlus file into Turbine. The turbine version is the latest one (released on December 2019).

I think the issue was that I was updating my AspenPlus File while I still had the same file open in FOQUS and then trying to re-save it in SinSimter. I even tried uploading different AspenPlus files and the same error would show up, I fixed it by deleting the turbine file that

[2020-07-14 21:00] #768 closed

[2020-07-21 19:51] ksbeattie opened #771 "Update/improve contact us info"
Move to a more prominent location how to contact us for support.

ccsi-support@
ccsi-users@
github isue

[2020-07-21 20:24] ksbeattie commented on #591
Current thinking is that these videos will be done by the LANL team, but we're not sure on the schedule on this just yet.

[2020-07-22 18:23] sotorrio1 opened #772 "Addressing usability study findings"
After Sarah completes her usability study for SDoE, we will need to address any changes she recommends/suggests according to her findings.

[2020-07-22 18:24] sotorrio1 opened #773 "Adding other optimality methods from PSUADE into SDoE"
There are several optimality methods existing in PSUADE that we want to implement into the SDoE module

[2020-07-23 15:15] eslickj opened #774 "UQ User Defined Inputs"
This is an issue from a user.  I'll point him here so hopefully he can respond to questions.

I am trying to automatically run some user-defined input variables (similar to the example from manual using UQ tab). However, when I click “Add New” and “Use flowsheet” I am getting an error and the next dialog box doesn’t open (See image below for error details).   I replicated the example from manual s

[2020-07-23 15:21] anujad95 commented on #774
Which UQ example from the manual is the user trying to implement?

[2020-07-23 15:38] spidaparti commented on #774
The UQ example I am trying to replicate is in the below link. Title of the example is "Automatically running FOQUS for a set of user-defined input conditions".

https://foqus.readthedocs.io/en/stable/chapt_uq/tutorial/sim.html

I am able to successfully reproduce this UQ example. However, when I try to implement something similar for my particular case I received that error. For reference, my FOQU

[2020-07-23 16:06] anujad95 commented on #774
Thank you for the information. You may want to check whether any of the node variable values has been entered in string format by mistake. I tried to test this, and by having one of the node input variables in string format, and then trying to use the flowsheet for creating a simulation ensemble gave the same error as above.

[2020-07-23 17:50] sotorrio1 commented on #774
I was about to answer the same. @spidaparti make sure you have no strings in your variable values.

[2020-07-23 18:35] spidaparti commented on #774
Thanks guys, yes that was indeed the issue. There were couple of input design spec variables (for Aspen plus) which were accidentally defined as string. That solved the issue I was encountering.

However, when I try to load samples from CSV file using "Load all samples from a single file" option I get the error below. The file does have the same input variable names as the model and I did try to s

[2020-07-23 18:38] sotorrio1 commented on #774
I will need to see your foqus file and the csv file you're using

[2020-07-23 18:52] spidaparti commented on #774
How do I upload foqus file here. It says that the file type is not supported.

[2020-07-23 19:03] sotorrio1 commented on #774
just send me an email with both files attached. sotorrio1@llnl.gov
Thanks!

[2020-07-23 19:34] sotorrio1 commented on #774
Your csv file is not in the right format. Please see file formats here:
https://foqus.readthedocs.io/en/stable/chapt_uq/file_formats/file-formats.html#comma-separated-values-csv-file-format

[2020-07-23 22:05] spidaparti commented on #774
Works now! Thanks for the help guys.

[2020-07-28 18:51] #774 closed

[2020-07-28 20:04] ksbeattie opened #775 "Add instructions on downloading examples"
Get them from the releases page.

Also, update wiki about cutting a release.

[2020-07-28 20:10] boverhof opened #776 "post-session-result not creating pages"
# Description
User `anuja` submitted jobs to the FOQUS Cloud.  The flowsheet requests succeeded, however, the calls to this function did not generated `page` and `paged` resources on S3 because the `getObjects` call is only returning a single key.

# Detail
## S3 finished key exists
[code]

## CloudWatch Logs indicate no S3 key finished, nor is it showing running or setup.
[code]

[2020-07-28 20:16] boverhof commented on #776
# Test Runs correctly in separate bucket
## event.json
[code]
# BEFORE
[code]
# RUN TEST
[code]
# AFTER:  Page created.
[code]

[2020-07-28 20:17] ksbeattie commented on #772
Sarah says she should have some design suggestions for us in mid-Aug

[2020-07-28 20:23] ksbeattie commented on #704
This is a dup now of #775.

[2020-07-28 20:23] #704 closed

[2020-07-28 21:00] ksbeattie commented on #775
the wiki page has been updated.

[2020-07-28 23:54] ksbeattie opened #778 "pylint errors in foqus_lib/service/flowsheet.py"
There's a couple of errors reported by pylint:

[code]

This is part of #600

[2020-07-29 00:02] ksbeattie opened #779 "pylint errors in: foqus_lib/framework/ouu/testOUU.py"
A couple of errors found by pylint:

[code]

This file should also be renamed to `test_OUU.py` so that pytest will find it.  Of course, the tests inside will need to succeed - which hopefully can be done at the same time as making pylint happy.  To run pytest on it (from the top dir):

    pytest foqus_lib/framework/ouu/

Part of #600

[2020-07-29 00:19] ksbeattie opened #780 "pylint error in foqus_lib/framework/sim/turbineLiteDB.py"
pylint discovered error:

[code]
Looks like a missing `self.` ?

Part of #600

[2020-07-29 18:19] boverhof opened #782 "FOQUS Cloud MEA Aspen Test"
# Description
Running the current [MEA](https://github.com/CCSI-Toolset/MEA_ssm/releases) on the FOQUS Cloud results in an error.

# Diagnosis
 The AspenPlus run fails because the DLL is corrupt.  Either the wrong file is being specified, or something in the upload process is corrupting it.

# References
Get DLL from the release page:
- https://github.com/CCSI-Toolset/MEA_ssm/releases

[2020-07-29 20:02] anujad95 commented on #782
Josh uploaded the DLL file to the simulation directory on the AWS Cloud since all workers (VM’s) grab the simulation from there. The simulation completes successfully now.

[2020-07-29 22:21] ksbeattie commented on #771
Right now they are only at the bottom of the developer documentation, we should have this at the very top page and making it clear which list is for what.

ccsi-support: direct private email to internal set of developers
ccsi-users: discussion list to all ccsi users
github issue: directly to developers, also public.

[2020-07-30 16:36] anujad95 opened #783 "Remote turbine robustness testing & documentation"
An extension of the amazon cloud turbine setup documentation could be useful for the users, in terms of knowing what is expected while running simulation, UQ ensembles, and optimization on cloud. Mainly, some remarks can be made on the overhead time for the VM's to start, and possible time saving for all the simulation/optimization runs as compared to local turbine.

This could also possibly serve

[2020-07-30 22:00] sotorrio1 commented on #779
This file is actually pretty outdated (ouu function has change quite a bit since). I'm going to delete this file and hopefully in the near future use it as a base for OUU testing.

[2020-08-04 19:49] eslickj opened #785 "Check Command-line UQ and Optimization Runs"
Command line FOQUS runs may be broken.  We need to check them, fix them if necessary and add tests.  This may have some overlap with improvements to allow the FOQUS consumer to run UQ and optimization jobs (issue #769 point 1).

[2020-08-04 20:03] #776 closed

[2020-08-04 20:08] ksbeattie commented on #785
As discovered in #777 and #600

[2020-08-04 20:34] boverhof opened #786 "FOQUS Cloud Corrupted DLL"
# Description
A flowsheet with the MEA simulation, including a DLL, were used on the FOQUS Cloud.  Everything appears to have happened correctly, but the simulation was broke.  After investigations it was discovered the DLL on AWS S3 was twice the size it should have been.  It seems uploading to S3 or the original file itself was wrong.

[2020-08-04 20:36] #782 closed

[2020-08-04 20:42] boverhof commented on #778
Well the first one happens in a "singleton" instance. I'll just add a constructor.

[2020-08-04 20:44] #779 closed

[2020-08-04 20:51] boverhof commented on #780
Added constructor

[2020-08-04 20:51] #780 closed

[2020-08-04 20:52] boverhof commented on #778
Fixed

[2020-08-04 21:03] ksbeattie commented on #778
This is [still there](https://app.circleci.com/pipelines/github/boverhof/FOQUS/78/workflows/ab3749cd-8e33-4f1e-a866-cdfe597f6f4e/jobs/137):

[code]

[2020-08-08 04:52] #599 closed

[2020-08-08 04:53] #567 closed

[2020-08-11 01:40] lbianchi-lbl opened #790 "pylint errors in foqus_lib/gui"
Part of the ongoing effort to address #600.

## False positives

- `foqus_lib/gui/common/InputPriorTable.py:138:16: E1136: Value 'combobox.currentIndexChanged' is unsubscriptable (unsubscriptable-object)`
  - PyQt overloaded signals cause false positives in pylint: see also https://github.com/PyCQA/pylint/issues/3140
  - Also found in:
    - `foqus_lib/gui/uq/RSCombos.py:126:8 `
    - `foqus_lib/g

[2020-08-11 15:20] sotorrio1 commented on #790
@lbianchi-lbl I'll try to take care of all the issues related to UQ, OUU, SDOE and PSUADE. Thanks!

[2020-08-11 18:17] boverhof opened #792 "FOQUSCloud: MEA_SM Node failure"
# Description
- flowsheet.  zzfoqus_MEA_SM_08102020:
- user:  anuja

[code]

[2020-08-11 19:44] ksbeattie commented on #786
Working with @anujad95 on this with a specific flowsheet.

[2020-08-11 20:07] boverhof commented on #786
# FOQUS Log of failed job

[code]

[2020-08-11 20:15] boverhof commented on #786
# Message Error
- in TurbineLite DB, but don't think I'm seeing this in SQS Log messages.
[code]

[2020-08-11 20:26] boverhof opened #793 "FOQUS Cloud: Simulation Versions in wrong order"
# Description
When new files or new versions are uploaded to an existing simulation, a new version of the simulation is created which is then used for the any job runs.   It appears the ordering is not being maintained somewhere.

The flowsheet runs are using version Id `19871895-b98a-440d-8570-e7aacf88a680` which is the initial upload.

# Initial Upload Simulation Version ( 2 files )
[code]
# Fin

[2020-08-11 20:27] boverhof commented on #793
# Job Error
[code]

[2020-08-11 20:32] boverhof commented on #793
# Missing Log Message in SQS Log
- in TurbineLite DB, but don't think I'm seeing this in SQS Log messages.
event=error,consumer=6b4168bc-3b69-49b2-af15-3c8e079ab757,msg="Error: si_SIMULATION_ERROR: Block ABSORBER has Errors:
Block COND has Errors:
Block FLASH has Errors:
Block FLASHDR has Errors:
Block HEATEXCH has Errors:
Block MIXER has Errors:
Block PUMP1 has Errors:
Block PUMP2 has Errors:
Blo

[2020-08-11 23:25] boverhof commented on #793
# NOTE
Also noticed while loading the simulations to the Cloud that the SINTER JSON file must be named the expected name of the simulation and no checks happen to make sure it associates with the FLOWSHEET node.

I just downloaded the simulations from S3 and the sinter file is always renamed `aspen_sinter.json`.  When it gets uploaded it gets put in a directory named `aspen_sinter`, which isn't wh

[2020-08-11 23:49] boverhof commented on #786
# Uploading with turbine_simulation_update
[code]
# File Corrputed on AWS S3
[code]

[2020-08-12 17:01] boverhof commented on #786
# FIX SigneUrl
The `turbine` configuration files are supposed to have a SignedUrl option set.  This is so big files can be uploaded but it also fixes this issue.
[code]
# Test
[code]

[2020-08-12 17:33] boverhof commented on #786
Adding the SignedUrl under [simulation] will fix this issue.

[2020-08-12 17:33] #786 closed

[2020-08-12 17:53] anujad95 commented on #793
The MEA model simulation works in cloud now. Thank you Josh.

[2020-08-13 17:19] boverhof commented on #793
I'm not sure this issue has been resolved.  I think there is a potential ordering issue with simulation versions but I am closing this for now until I see the behavior again.

[2020-08-13 17:19] #793 closed

[2020-08-18 19:08] #785 closed

[2020-08-18 19:20] lbianchi-lbl opened #794 "pylint errors in foqus_lib/framework"
Part of the ongoing effort to address #600.

## False positives

- `foqus_lib/framework/optimizer/SM_Optimizer.py:358:57: E0602: Undefined variable 'Var' (undefined-variable)`
  - Names affected:
    - `Var`
    - `Objective`
    - `ConstraintList`
    - `value`
    - `Warmstart`
  - Probably coming from one of the wildcard import statements
- `foqus_lib/framework/sim/turbineConfiguration.py:226:1

[2020-08-18 19:30] ksbeattie opened #795 "Add automated command line tests for optimizaiton"
Now that #788 is done, we should add tests for this:

- [x] Add the command line test to circleci and appveyor: `foqus -l C:\Users\EslickJ\git\foqus\examples\test_files\Optimization\Opt_Test_01.foqus --run opt -o test_opt.foqus`
- [x] Add a pytest exercising the same run as the above command line test, so that it can be counted as part of our code coverage.

[2020-08-25 20:09] boverhof opened #800 "FOQUS Cloud: Optimization and UQ on cloud"
# Description

Run optimization and UQ on the cloud. That way you can easily start up multiple optimzation or UQ runs in parallel and don't need to keep your machine running. This should be fairly easy to implement. Instead of just single flowsheet runs, we can allow optimization and UQ model. You can download the FOQUS session when it's done for the results. We can probably save the session perio

[2020-08-25 20:10] boverhof commented on #769
Moved issue 1 to new issue #800

[2020-08-25 20:15] boverhof opened #801 "FOQUS UI and Cloud User Notifications/Feedback"
# Description

Currently the FOQUS UI doesn't provide much feedback to the user about the status of the cloud and jobs.  There are Log messages going to the debug screen, but likely need notifications going to the FOQUS UI about events concerning users.

# Events
1) Cloud start up:  VMs initializing etc
2) Flowsheet progress
3) ...

# Solution
- User-centric Activity Window

# GIT
- https://github

[2020-08-25 22:40] anujad95 commented on #792
MEA_SM corresponds to a FOQUS node containing the surrogate model plugin that is generated after running ALAMO.

[2020-08-27 00:05] #795 closed

[2020-09-08 20:14] ksbeattie commented on #772
@sotorrio1 says he's in the process of getting changes from the LANL team to address the simpler/light-weight/easier/quick solutions for this Sept release.

[2020-09-08 20:18] ksbeattie commented on #766
This has been temporarily fixed, so we'll keep this issue, but push it to the Dec release.

@sotorrio1 has ideas on a better "hybrid" approach using a subset of csv columns provided, or a mix between using numpy vs pandas.

[2020-09-08 20:23] ksbeattie commented on #591
@sotorrio1 will follow up with LANL team on this.

[2020-09-15 09:20] lbianchi-lbl opened #805 "pylint errors in foqus_lib/framework/optimizer/SM_Optimizer.py"
Parts of the efforts towards #600.

- [x]  `foqus_lib.framework.optimizer.SM_Optimizer:L364` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/optimizer/SM_Optimizer.py#L364)) Undefined variable 'Var'
- [x]  `foqus_lib.framework.optimizer.SM_Optimizer:L369` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/optimizer/SM_Optimizer.py#L369)) Und

[2020-09-15 09:37] lbianchi-lbl opened #807 "pylint errors in foqus_lib/framework/listen/listen.py"
Parts of the efforts towards #600.

- [ ]  `foqus_lib.framework.listen.listen:L58` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/listen/listen.py#L58)) Undefined variable 'logging'
- [ ]  `foqus_lib.framework.listen.listen:L65` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/listen/listen.py#L65)) Undefined variable 'logging'

These see

[2020-09-15 10:04] lbianchi-lbl opened #809 "pylint errors in foqus_lib/framework/surrogate/surrogate.py"
Part of the efforts towards #600.

- [ ]  `foqus_lib.framework.surrogate.surrogate:L139` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/surrogate/surrogate.py#L139)) os.path is not callable

It looks like the code uses `os.path` instead of one of its functions, but it's not obvious which one.

[2020-09-15 10:10] lbianchi-lbl opened #810 "pylint errors in foqus_lib/framework/optimizer/OptCMA.py"
Part of the efforts towards #600.

- [x]  `foqus_lib.framework.optimizer.OptCMA:L272` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/optimizer/OptCMA.py#L272)) Class 'traceback' has no 'format_exc' member
- [x]  `foqus_lib.framework.optimizer.OptCMA:L272` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/optimizer/OptCMA.py#L272)) Undefine

[2020-09-15 10:16] lbianchi-lbl opened #811 "pylint errors in foqus_lib/framework/uq/Plotter.py"
Parts of the efforts towards #600.

- [ ]  `foqus_lib.framework.uq.Plotter:L45` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/Plotter.py#L45)) Undefined variable 'can_exit'
- [x]  `foqus_lib.framework.uq.Plotter:L680` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/Plotter.py#L680)) Module 'matplotlib.cm' has no 'jet' member
- [x]

[2020-09-15 10:18] lbianchi-lbl opened #812 "pylint errors in foqus_lib/framework/sim/turbineConfiguration.py"
Parts of the efforts towards #600.

- [x]  `foqus_lib.framework.sim.turbineConfiguration:L995` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/sim/turbineConfiguration.py#L995)) No value for argument 'jobID' in method call
- [x]  `foqus_lib.framework.sim.turbineConfiguration:L1004` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/sim/turbi

[2020-09-15 10:24] lbianchi-lbl opened #813 "pylint errors in foqus_lib/framework/uq/LocalExecutionModule.py"
Part of the efforts towards #600.

- [x]  `foqus_lib.framework.uq.LocalExecutionModule:L652` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/LocalExecutionModule.py#L652)) Too many arguments for format string
- [x]  `foqus_lib.framework.uq.LocalExecutionModule:L669` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/LocalExecutionModul

[2020-09-15 10:42] lbianchi-lbl opened #815 "pylint errors in foqus_lib/framework/uq/SampleRefiner.py"
Part of the efforts towards #600.

- [ ]  `foqus_lib.framework.uq.SampleRefiner:L25` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/SampleRefiner.py#L25)) Undefined variable 'QMessageBox'
- [ ]  `foqus_lib.framework.uq.SampleRefiner:L26` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/framework/uq/SampleRefiner.py#L26)) Undefined variable 'QMes

[2020-09-15 11:12] lbianchi-lbl opened #817 "pylint errors in foqus_lib/gui/heatIntegration/HeatIntegrationFrame.py"
Part of the efforts towards #600.

- [ ]  `foqus_lib.gui.heatIntegration.heatIntegrationFrame:L15` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/gui/heatIntegration/heatIntegrationFrame.py#L15)) Undefined variable 'heatIntObject'
- [ ]  `foqus_lib.gui.heatIntegration.heatIntegrationFrame:L15` ([link](https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/gui/heatIntegrat

[2020-09-15 19:54] ksbeattie commented on #805
Try following [these doc/install](https://foqus.readthedocs.io/en/stable/chapt_sm_optimizer/reference/SM_based_optimizer_introduction.html#additional-python-packages-required) steps to make sure the plugin still works after pylint changes.

[2020-09-15 20:10] ksbeattie opened #818 "Improve plug-in visibility, documentation and configuration"
The list of possible plug-ins, what is required for them to be available, how to install their requirements and their documentation could be improved.  Possible ideas are:

- Re-work installation of optional components to list plug-ins in a table with a column for requirements.
- Add to the UI have the list of plug-ins there with check-boxes for which ones are activated, save that to the foqus.cfg

[2020-09-15 20:25] ksbeattie commented on #817
@lbianchi-lbl will make an ulgy fix for this hidden and otherwise broken module.

@anujad95 a/o @eslickj will talk to Mike about the future of this HeatIntegration feature: either remove or find a maintainer.

[2020-09-15 20:36] #815 closed

[2020-09-15 20:43] lbianchi-lbl commented on #812
Just as a heads-up, the last error in the list ("errList is not callable") might be a pylint false positive. I'll look into that.

[2020-09-15 23:21] #807 closed

[2020-09-17 03:16] sotorrio1 opened #821 "Error when importing PyQt5.QtWidgets"
There is an error while loading foqus in the foqus.py file when it's trying to load PyQt5.QtWidgets

[2020-09-17 22:39] lbianchi-lbl commented on #821
I think I've managed to find a minimal example that reproduces this behavior.

1. Activate the virtual/Conda environment, e.g. `source activate my-foqus-env` or `conda activate my-foqus-env`
1. Run the following commands:
  - **A**: `python -c 'import PyQt5; print(PyQt5.QtWidgets.QApplication([]))'`
  - **B**: `python -c 'from PyQt5 import QtWidgets; print(QtWidgets.QApplication([]))'`
  - **C**:

[2020-09-18 01:35] lbianchi-lbl commented on #821
I've tried an additional test snippet: it is the same as **A**, but running the import from `foqus_lib.framework.session.session` first, as it happens in `foqus_lib.foqus.main()`:

- **D**: `python -c 'from foqus_lib.framework.session.session import *; import PyQt5; print(PyQt5.QtWidgets.QApplication([]))'`

Unlike **A**, this runs without errors.

My hypothesis is that PyQt5 has some form of lazy

[2020-09-18 15:50] sotorrio1 commented on #821
Alright so on my system, macOS Catalina 10.15.6:

`conda list --revisions`:

[code]

`python -m pip list`:

[code]

`python -c 'import platform; print(platform.uname())`:

[code]

An then results for the tests:

- A: `python -c 'import PyQt5; print(PyQt5.QtWidgets.QApplication([]))'`
[code]

- B: `python -c 'from PyQt5 import QtWidgets; print(QtWidgets.QApplication([]))'`
[code]

- C: `foqus`: No

[2020-09-21 16:56] sotorrio1 commented on #811
The first one; I don't think the method closeEvent is being used at all so I might delete it.
For the last two, I found the issue and will be creating a PR with the fix shortly.

[2020-09-21 18:25] sotorrio1 commented on #813
Found a fix for the first two, still trying to figure out what that line of code in the third one does (I don't think it does anything...)

[2020-09-22 17:53] lbianchi-lbl commented on #805
These should be addressed by #806, which itself is almost complete except for `Warmstart` (see https://github.com/CCSI-Toolset/FOQUS/pull/806#issuecomment-694569296).

[2020-09-22 17:55] lbianchi-lbl commented on #810
These will be fixed by #819.

[2020-09-22 20:29] #775 closed

[2020-09-29 20:11] #821 closed

[2020-09-29 20:24] #805 closed

[2020-09-29 20:25] #810 closed

[2020-09-29 21:20] sotorrio1 opened #825 "UQ visualization"
In the UQ analysis window there are a couple of issues with the visualization capabilities for Response Surface.

[2020-09-29 21:21] sotorrio1 opened #826 "OUU crashing when scrolling down result plots"
There is an issue when scrolling down the scroll area for the result plots.

[2020-10-06 19:19] lbianchi-lbl commented on #794
Closing this in favor of more specific issues targeting individual files:

- #805
- #807
- #809
- #810
- #811
- #812
- #813
- #815

[2020-10-06 19:19] #794 closed

[2020-10-06 20:08] ksbeattie commented on #792
@anujad95 can this be closed?

[2020-10-06 23:13] #825 closed

[2020-10-06 23:13] #826 closed

[2020-10-07 18:40] Daison2102 opened #827 "Issue generating surrogate models with ACOSSO and BSS-ANOVA"
This issue was found when reproducing examples in Tutorial 2 and 3 (ACOSSO and BSS-ANOVA) in Surrogate Modeling. I got the errors below when trying to generate the surrogate model with ACOSSO and BSS-ANOVA. I temporary fixed the issues by copying the missing files (acosso_fit.R and bssanova_fit.R) to the FOQUS installation directory (“c:\anaconda3\envs\foqus\lib\site-packages\foqus_lib\framework\s

[2020-10-07 20:24] Daison2102 opened #828 "Issue using candidate and history file in SDOE"
Issues when reproducing Examples USF-1 and USF-2 in the Sequential Design of Experiments.

The generated files for the selected designs for the example USF-1, don’t have the Label column when using the version of FOQUS 3.6.0 (see “usf_d8_n10000_X1+X2.csv” in the attached zip file), while that using FOQUS 3.5.1, the generated files for the selected designs do have the Label column (see “usf_d8_n100

[2020-10-07 20:32] Daison2102 opened #829 "Issue when plotting a new design with historical runs included"
Issues when reproducing Examples USF-2 in the Sequential Design of Experiments.

This issue is related to plotting a new design with the historical runs included. For the example USF-2, I used the attached files, the “SDOE_Ex1_Candidates.csv” file as candidate file and the “usf_d8_n10000_Label+X1+X2.csv” as history file. The options for the SDOE were: Uniform Space Filling, Minimax, Min Design Siz

[2020-10-07 20:39] Daison2102 opened #830 "Issue using non-uniform space filling option"
Issues when reproducing Examples NUSF-1 and NUSF-2 in the Sequential Design of Experiments.

Not able to run these examples in FOQUS 3.6.0, as FOQUS seems to freeze when I clicked on the Test SDOE button to estimate the time taken for creating the designs (see the attached image). In the terminal only appears Random star 0 after waiting more than two hours.
In FOQUS 3.5.1 any issue found using the

[2020-10-08 03:07] sotorrio1 commented on #828
This issue and issue #829  should get fixed with PR #831

[2020-10-08 03:08] sotorrio1 commented on #829
This issue and issue #828   should get fixed with PR #831

[2020-10-08 03:09] sotorrio1 commented on #830
This is a known issue reported in issue #766 and we're currently taking care of it. Stay tuned! :)

[2020-10-08 12:42] Daison2102 commented on #828
Fixed

[2020-10-08 12:42] #828 closed

[2020-10-08 12:42] Daison2102 commented on #829
Fixed

[2020-10-08 12:42] #829 closed

[2020-10-13 19:55] ksbeattie commented on #830
Closing as a duplicate of #766

[2020-10-13 19:55] #830 closed

[2020-10-13 20:13] ksbeattie commented on #801
In progress...

[2020-10-13 20:17] ksbeattie commented on #772
PR #823 above addresses the "quick" solutions.  This issue will stay to track any of the more involved GUI improvements.

[2020-10-13 20:21] ksbeattie commented on #719
Should get to this with the AMI/Notification work.

[2020-10-14 18:46] #827 closed

[2020-10-16 19:41] sotorrio1 opened #833 "OUU: foqusPSUADEClient.bat not included in PyPi package"
When trying to run OUU on Windows, FOQUS tries to find `foqusPSUADEClient.bat` but it wasn't included in the PyPi package.

@ksbeattie suggests not being OS specific and turn `foqusPSUADEClient` into a command that gets installed by PyPi based on the OS at install time, just like the `foqus` command itself. So Mac, Linux and Windows just call `foqusPSUADEClient` and on Mac and Linux that will be a

[2020-10-20 18:01] boverhof commented on #650
@anujad95  Patch for reference
 https://esupport.aspentech.com/apex/S_SoftwareDeliveryDetail?id=a0e4P00000GSp0yQAD

[2020-10-26 21:19] Daison2102 opened #839 "Error calling GAMS solvers within the SM_Optimizer"
1. The firs issue (Error 1) found when calling GAMS solvers was related to the 'Warmstart’ option, which is not defined in the code, so I just changed it to True in line 440

2. Then, I got the Error 2. This is related to the block of lines 450-572 (implementation of the multi-start initialization), which were included only for the else statement (pyomo solver). I temporally fixed this by removing

[2020-10-27 13:41] anujad95 commented on #839
I will look into this Daison. Thanks.

[2020-10-27 20:09] #766 closed

[2020-10-27 20:19] boverhof opened #840 "py2 code in foqus_worker"
# Description
The last commit to this code was in 2018 and was titled '2to3', so the converted didn't catch this exception synatx.

[code]
# Solution
Remove this script, I don't believe it is used anymore.

[2020-10-27 20:22] lbianchi-lbl opened #842 "Appveyor does not fail when errors occur during PyPI package build test"
A change in how packages are found in the `setup.py` build process was introduced in PR #832. This causes the `cloud` directory, which contains a file that has a syntax error, to be included in the build.

This error should have been caught by the Appveyor test on `setup.py build`, thus blocking PR #832 from getting merged. The Appveyor log does show the error, but the error wasn't detected or pro

[2020-10-29 19:29] sotorrio1 opened #843 "OUU: problem with regex on Windows"
When running OUU on Windows, the plot updating triggers a regex error. See below:

![Screen Shot 2020-10-29 at 11 34 03 AM](https://user-images.githubusercontent.com/33531919/97622994-42dcc500-19e2-11eb-8f79-9cd77118841f.png)

[2020-10-29 21:32] lbianchi-lbl commented on #843
@sotorrio1 Thanks for reporting this issue. As discussed in https://github.com/CCSI-Toolset/FOQUS/pull/834#issuecomment-718965061, during the testing of which this was encountered, I believe this is partly (but not only) due to the fact that new lines in Windows are `\r\n`, as opposed to simply `\n` for other OSes.
Another possible cause of error is the fact that, if the text being parsed here con

[2020-10-30 00:29] ksbeattie opened #844 "improve ipopt install instructions"
Our install instructions for ipopt suggests `pip install ipopt` as a possibly option, but that doesn't work on Windows.

Search for [ipopt in our docs](https://foqus.readthedocs.io/en/stable/search.html?q=ipopt&check_keywords=yes&area=default) and I see it in the [SM based optimizer page](https://foqus.readthedocs.io/en/stable/chapt_sm_optimizer/reference/SM_based_optimizer_introduction.html#addit

[2020-11-03 20:14] lbianchi-lbl commented on #843
From a quick check it's possible that `strip()`ping the string before parsing it could help:

[code]
However, I don't think this alone would fully account for the issue: the parsed string is `2.053804e\r`, which means that the rest of the number after the `e` is not captured by the regex.

As this could be due to unexpected variations in the input format, I think that looking at the parsed text th

[2020-11-03 20:49] ksbeattie commented on #842
Closing as these errors will be caught by pylint and/or other testing

[2020-11-03 20:49] #842 closed

[2020-11-03 21:07] lbianchi-lbl commented on #843
- The fact that this issue occurred while testing #834 might or might not be caused specifically by the changes introduced there (switching from BAT file to Python entry point executable)
- @sotorrio1 will test again and, if possible, provide a sample of the output causing the parsing issue
- Long term, there is interest in more robust solutions for the interaction between FOQUS and PSUADE, such a

[2020-11-03 21:11] boverhof commented on #801
# Web Socket Help Browser
- commit https://github.com/CCSI-Toolset/FOQUS/commit/99b25c593f4e6e87218fd4564cf776f709aec738
##  Help Browser
- File: foqus_lib/gui/help/helpBrowser_UI.ui
- Added a new tab widget where notifications will be published from a web socket
## AWS API Gateway Web Socket Application
- Published a Web Socket application that pushes out notifications to all registered clients

[2020-11-03 21:25] #840 closed

[2020-11-03 21:38] lbianchi-lbl commented on #842
@ksbeattie It seems the step that's failing is `python setup.py install` (see e.g. [here](https://ci.appveyor.com/project/ksbeattie/foqus/builds/36122206#L225)).

I think that the error with the long filenames does not happen for the earlier`pip install -r requirements-dev.txt` (exiting successfully [here](https://ci.appveyor.com/project/ksbeattie/foqus/builds/36122206#L222)) because `requirements

[2020-11-03 22:53] anujad95 opened #846 "ALAMO plugin for SM validation - error"
A plugin named "alamo_surrogate_uq" gets created after the surrogate model is built, meant for uploading in the UQ analyze section for validation against the simulation ensemble. Once the parity plots are generated in the UQ tab, the results are saved, and the FOQUS file is closed, the user is unable to open it again without the alamo_surrogate_uq.py file. This needs to be fixed.

[2020-11-10 02:29] MDCA960418 opened #848 "Turbine Connection Error"
Hello,

I get the following error when uploading an Aspen model to Turbine (latest version December 2019 release).

![image](https://user-images.githubusercontent.com/66323673/98619980-546f7800-22d2-11eb-8a55-c92124f7922c.png)

I tested the Turbine connection in the settings tab to troubleshoot, and it gives the following message.

![image](https://user-images.githubusercontent.com/66323673/986200

[2020-11-10 21:06] ksbeattie commented on #591
This might be resolved by recording the talks from the last workshop?

[2020-11-10 21:13] ksbeattie commented on #773
This would use a new release of PSUADE.

[2020-11-12 17:29] MDCA960418 commented on #848
Hello @boverhof,

When would it be possible to look at this issue?

Thanks.

[2020-11-12 19:54] boverhof commented on #848
@MDCA960418

First, I'll need some details about what you've done.

- Operating System/Version
- FOQUS Installation:
what directions are you following?
did you download and install FOQUS and TurbineLite  or did you use "pip" to do this?

If you didn't install TurbineLite you should follow these directions:

https://foqus.readthedocs.io/en/stable/chapt_install/install_optional.html

Under `Install

[2020-11-12 20:14] MDCA960418 commented on #848
- Version is FOQUS 3.5.1
-I installed it a while ago, never had this issue with Turbine. Previously, I was able to upload models with no issue.
-I downloaded FOQUS and then installed TurbineLite

[2020-11-12 22:07] boverhof commented on #848
open the `window services` and see if the TurbineWebAPI is running.  If it is not, start it.

<img width="1317" alt="Screen Shot 2020-11-12 at 2 03 48 PM" src="https://user-images.githubusercontent.com/738295/99001730-354e3180-24f0-11eb-8183-a4dbb558a1a6.png">

[2020-11-12 22:17] boverhof commented on #848
If the service starts up correctly you should be able to use a web browser ( below chrome ) with the TurbineWebAPI:

<img width="1092" alt="Screen Shot 2020-11-12 at 2 16 18 PM" src="https://user-images.githubusercontent.com/738295/99002729-bfe36080-24f1-11eb-9a89-e6e6b8f486cb.png">

[2020-11-12 22:18] MDCA960418 commented on #848
I tried that, but it seems like I am unable to start it

![image](https://user-images.githubusercontent.com/66323673/99002849-1e690880-250b-11eb-96c7-70460eda5a42.png)

[2020-11-12 22:21] boverhof commented on #848
Open up `event viewer` and look under `Windows Logs` and `Application`.  There should be an error entry

![Uploading Screen Shot 2020-11-12 at 2.20.49 PM.png…]()

[2020-11-12 22:34] MDCA960418 commented on #848
It is showing a lot of warnings

![image](https://user-images.githubusercontent.com/66323673/99004581-596c3b80-250d-11eb-8908-916222754a86.png)

[2020-11-12 23:09] boverhof commented on #848
The latest record was from `11/09/2020`, I'm not seeing Windows service up there.  If you `start` it there should be an event log in there from the attempt.  Please send me the one under `Application Error` from last week.  Try looking under `Security` too.

When is the last time you rebooted the computer?

[2020-11-12 23:17] MDCA960418 commented on #848
Last reboot was October 6th.

![image](https://user-images.githubusercontent.com/66323673/99008006-55dbb300-2513-11eb-9da0-dc9ea8f79f57.png)

[2020-11-12 23:33] boverhof commented on #848
Reboot the computer and see if the TurbineWebAPI comes up.

I assume things are greyed out for you because you're not logged in as an Administrator.  But I'm not too sure.

[2020-11-13 13:58] MDCA960418 commented on #848
The issue has been resolved, Turbine connection works now. However, it is worth mentioning that when running a simulation and a failed run is detected, FOQUS gives the following message:

![image](https://user-images.githubusercontent.com/66323673/99079339-d17a4600-258d-11eb-8f5f-94fb71c39cb3.png)

The simulation won't continue unless the user clicks ok on that window. Then, the simulation has to

[2020-11-17 21:17] #710 closed

[2020-11-18 01:57] sotorrio1 opened #850 "SDoE: User Interface and plotting improvements"
After receiving feedback from LANL team, there are some suggestions to improve the user interface and some plotting capabilities within the SDoE module:

- [x] Could the size of NUSF plot symbols be proportional to the weight?

- [x] For all plots (candidate set and design points): Could we fix the axis limits to equal the range of the candidate set? (Making design plots directly comparable)

- [x

[2020-12-01 20:19] lbianchi-lbl opened #852 "GUI test in foqus_lib/unit_tests/test_foqus_main.py failing"
## Description

- While reviewing the FOQUS test suite setup yesterday with @ksbeattie, we realized that `test_start_gui`, one of the tests in `foqus_lib/unit_tests/test_foqus_main.py`, fails
- This didn't show up before because this test is marked as `requires_human` and thus is not run as part of the CI test suite
- This doesn't seem to affect the functionality covered by the test, i.e. starting

[2020-12-02 20:18] #850 closed

[2020-12-02 23:25] wvuecust commented on #763
I have a question about the FOQUS example.
When I tried to load UQ Tutorial_3/5, it can not be opened and shows that 'json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)'.  I have no idea how to fix the problem.

[2020-12-02 23:30] sotorrio1 commented on #763
@wvuecust Would you mind opening an issue specific for this UQ Tutorial problem? Not sure how this is related to the FAQ.

[2020-12-03 01:03] wvuecust opened #853 "FOQUS UQ Tutorial problem"
I tried to open the FOQUS example of UQ Tutorial_5, but the filtered file can not be load successfully.
The error shows as follows
 File "c:\users\anaconda3\envs\ccsi-foqus\lib\site-packages\foqus_lib\gui\main\mainWindow.py", line 1068, in loadData
    self.dat.load(fileName)
  File "c:\users\anaconda3\envs\ccsi-foqus\lib\site-packages\foqus_lib\framework\session\session.py", line 507, in load

[2020-12-03 17:21] MDCA960418 commented on #848
Hello @boverhof!

I am experiencing issues with finding my models in Turbine. I tested the turbine connection and it works fine. I also rebooted the computer twice, but the same issue persists. Please, see snapshot below.

![image](https://user-images.githubusercontent.com/66323673/101064553-1e848300-3562-11eb-9e18-a46f06580472.png)

[2020-12-03 17:26] sotorrio1 commented on #853
@wvuecust I can't reproduce your error. Would you mind giving me a better description of what you did? Step-by-step. Here is mine:

1. Open FOQUS
2. Go to UQ tab
3. Click "Load From File..." button
4. Go to examples/tutorial_files/UQ/Tutorial_5/
5. Select the only file in there "lptau5k_10inputs_4outputs.filtered"
6. Click "Open"

And the file loads fine (see screenshot below)
<img width="1439" al

[2020-12-03 17:48] wvuecust commented on #853
Thanks a lot. Problem solved.
Initially, I tried to open it from session, that doesn't work.

[2020-12-03 17:59] #853 closed

[2020-12-03 22:48] MDCA960418 opened #854 "Turbine Error"
Hello @ksbeattie

I am experiencing issues with finding my models in Turbine. I tested the turbine connection and it works fine. I also rebooted the computer twice, but the same issue persists. Please, see snapshot below.

![image](https://user-images.githubusercontent.com/66323673/101064553-1e848300-3562-11eb-9e18-a46f06580472.png)

[2020-12-04 21:10] wvuecust opened #855 "UQ: observation file load for bayesian inference under expert mode"
I tried to load observation file for bayesian inference under expert mode.
The observations include two design variables and  one output variable.
It shows the attached warning for the design variable violating the max/min bound. In fact, the specified design variable max/min bound in both UQ and flowsheet is much larger than here the warning value.
Also, I change the flowsheet max/min bound for e

[2020-12-04 21:34] sotorrio1 commented on #855
@wvuecust Could you provide the .foqus session file you're using and a description of the steps you're following? Also a copy of the observation file would be useful. Thanks!

[2020-12-04 21:52] wvuecust commented on #855
Thanks for your quick response.
Attached are my .foqus file and the observation file.
Step 1, choose any Ensemble to analyze
Step 2, under expert mode, go to bayesian inference
Step 3, Set 'log_tr' as output, and  'stress' and 'temp' as design
Step 4, load observation file
Since the response surface part works, the above-mentioned procedure
doesn't include it.
I look forward to hearing your feedba

[2020-12-08 20:32] sotorrio1 commented on #855
@wvuecust would you mind sending the attachments to sotorrio1@llnl.gov; I didn't get any attachments in here. Thanks!

[2020-12-08 21:00] wvuecust commented on #855
Thanks for your reply.
Actually I solved the problem.
I just gave the new min/max for the variable in the flowsheet, and deleted
the old ensemble data, *then regenerated* the ensemble data.
Anyway, thank you so much for your help.

Wang, Yifan
Department of Chemical and Biomedical Engineering
West Virginia University
Morgantown, WV26506, United States
Email: yw0001@mix.wvu.edu <xnhe@mix.wvu.edu>

[2020-12-08 21:03] sotorrio1 commented on #855
@wvuecust no problem. Thank you for using FOQUS and reporting all these issues.

[2020-12-08 21:03] #855 closed

[2020-12-08 21:09] boverhof commented on #801
# WebSocket
## status command
Provides a view of the current status of EC2, AutoScaling group, and SQS ( job queue ).
### Command
[code]
### SQS
[code]
[code]
### AutoScaling Group
[code]
[code]
### EC2 instances
[code]
[code]

[2020-12-08 21:27] sotorrio1 opened #856 "Creating a psuade-lite conda package"
Creating a lighter version of psuade (psuade-lite) in a conda package so it makes life easier for users and maintainers not having to build psuade from source to install it.

[2020-12-08 21:30] boverhof commented on #854
This looks like the configuration file `turbine.cfg` is missing.

[2020-12-08 21:32] ksbeattie commented on #848
@MDCA960418, I'm going to close this issue and we can proceed with your last comment in #854.  ok?

[2020-12-08 21:32] #848 closed

[2020-12-08 23:06] MDCA960418 commented on #854
The debug window does not show anything, only output is given for the log viewer.

The configuration for both, local and remote turbine are working.

![image](https://user-images.githubusercontent.com/66323673/101552031-1e302180-3980-11eb-8bda-96b53d7cb3f0.png)

[2020-12-09 20:22] boverhof opened #857 "Foqus PyQt5 import error"
# Details
- MacOS
- virtualenv
- python 3.8.6

# Error
[code]
[code]

# Missing Import
[code]

[2020-12-09 20:29] boverhof commented on #857
# Backwards incompatible change in PyQt 5.11

[pyQt5 backward incompatible change](https://www.riverbankcomputing.com/static/Docs/PyQt5/incompatibilities.html#pyqt-v5-11)

[2020-12-09 20:33] lbianchi-lbl commented on #857
Does this happen if FOQUS is installed with pip instead of `setup.py develop`?

If so, and if we aren't already, we should add a note in the docs that `python setup.py develop`/`easy_install` is deprecated.

[2020-12-09 20:40] boverhof commented on #857
Although I made a new virtualenv, I'm thinking it may be `brew` installation needs to be updated because of Mac OS X updates.  Let me wait for this to update/etc.

Shouldn't `python setup.py develop` work for at least developers?

[2020-12-09 21:03] lbianchi-lbl commented on #857
In principle, yes; I don't think FOQUS itself would cause problems with that. The (possible) source of issues is in installing the dependencies. PyQt is in my experience (in)famous for being particularly finicky, but mostly works fine with pip.

From what I understand (I've mostly used pip since I started programming in Python), `pip install` is generally recommended over `setup.py install` nowada

[2020-12-10 03:24] boverhof commented on #857
I think the problem boils down to an issue with PyQt and the sip module.
[code]

### solution
Upgrading to the current PyQt5-5.15 release did away with the problem I was having
[code]

[2020-12-10 16:48] ksbeattie commented on #857
@boverhof, I came across this problem a while back, [described here](https://coldfix.de/2019/03/14/no-pip-no-sip/), which is why I now say you should never run `python seutp.py` and only `pip install`.

[2020-12-10 16:52] boverhof commented on #854
You probably need to turn on logging.  When I do a "test" of the gateway it shows all the REST API calls.
[code]

![Screen Shot 2020-12-10 at 8 47 30 AM](https://user-images.githubusercontent.com/738295/101803068-fd251900-3ac4-11eb-9502-a996bfde9018.png)

[2020-12-10 17:07] boverhof opened #858 "FOQUS: Update Functions with typing"
# Description
One of the major difficulties of working on the FOQUS code base is the lack of clarity in how to properly use methods and functions.  Adding typing and asserts would help a lot and I propose as programmers work on this code base they should be adding typing and asserts.

# Example
[code]

[2020-12-11 18:48] boverhof commented on #801
![Screen Shot 2020-12-11 at 10 47 22 AM](https://user-images.githubusercontent.com/738295/101942481-6cbb0700-3b9e-11eb-8c95-b1c619f2f389.png)

[2020-12-11 18:54] boverhof commented on #854
You should be able to take the URL for the Simulation resource and view it.

The base URL is:
   `http://localhost:8000/TurbineLite/Simulation`

That should return a JSON array of all the simulations.  You can put that in a web browser and check.

[2020-12-11 19:19] boverhof commented on #801
![Screen Shot 2020-12-11 at 11 09 11 AM](https://user-images.githubusercontent.com/738295/101945216-bc033680-3ba2-11eb-923c-67056ae654ae.png)

[2020-12-11 19:23] boverhof commented on #801
The next thing to do is add an output for `Consumers`, which are FOQUS Worker that have registered with the FOQUS Cloud and are ready to start work.  And possibly dump all active jobs..

![Screen Shot 2020-12-11 at 11 15 50 AM](https://user-images.githubusercontent.com/738295/101945470-1ef4cd80-3ba3-11eb-9f59-d71b614f3ec4.png)

[2020-12-11 19:29] boverhof commented on #801
#859

[2020-12-11 22:02] MDCA960418 commented on #854
@boverhof

I pasted the link into web browser and I got the following

![image](https://user-images.githubusercontent.com/66323673/101959038-91c96d00-3bd2-11eb-9a39-06a58852f513.png)

[2020-12-14 19:11] boverhof commented on #854
# Diagnosis
From the traceback it appears like this is failing on a ORM method on the TurbineLite database.  All it is trying to do is a for loop on a query for all the simulations in your database and this is not working.

My guess is one of your simulation entries doesn't match the expected entries, like it's missing a name field, or maybe the name has special characters in it.  Something along

[2020-12-14 19:31] boverhof opened #860 "FOQUS Cloud Notification Broadcast"
# Description
The websocket notification framework is implemented and deployed from #801

Now an alarm or dynamodb stream listener should be implemented to listen for WS connections, and when there are active connections the lambda function `status` should be triggered periodically.

[2020-12-15 21:17] boverhof commented on #858
Potentially use a typing decorator
https://pypi.org/project/typecheck-decorator/

[2020-12-15 21:21] boverhof commented on #783
The following issue will address some of the concerns #801

[2020-12-15 21:24] #844 closed

[2020-12-15 22:08] ksbeattie commented on #812
@boverhof these all look pretty simple to fix.  Can you take a look?

[2020-12-17 00:32] MDCA960418 commented on #854
@boverhof I can't stop Turbine Web Service because I do not have the admin rights.

[2020-12-17 01:15] #833 closed

[2020-12-18 01:00] LNemetz commented on #854
@boverhof I'm working with @MDCA960418 on this. I tried renaming the database but the same error occurred.
I can't upload the file as it's to large, even compressed as a zip folder, how can I send you the database file?

[2020-12-19 18:35] #839 closed

[2020-12-19 19:05] anujad95 commented on #580
I have continued working on this with @eslickj . Currently vector variables can be created in the flowsheet node, and python models containing vectors can be solved in the nodescript. However, we need to work on some extended base code modifications for ensuring that it does not affect other FOQUS modules.

[2020-12-19 20:13] anujad95 commented on #854
@MDCA960418 just to confirm, you get this error while loading a new json file in turbine right? Also, is this a recent issue, and were you able to upload models in turbine before this? You may want to check what can be seen after the "simulation name" dropdown is clicked within "add/update turbine model", and let us know. Also, please check that the json file and turbine simulation names do not co

[2020-12-19 20:29] MDCA960418 commented on #854
Hello @anujad95,

Yes, the error shows up when loading a json file into Turbine. When clicking on the dropdown menu of 'simulation name', nothing comes up, that should not happen as I have other models. This is the first time this issue happens, I have had other problems with Turbine before, but they were solved by rebooting the computer. In this case, that has not helped.

The json file I was try

[2020-12-20 01:45] anujad95 commented on #854
Underscores are fine. You can try to remove the TurbineLite Database after shutting down the TurbineWebAPI in control panel services and restart it. The Database must have been corrupted for some reason. @boverhof i think this had worked earlier when we tried to solve a similar issue.

[2020-12-20 15:16] MDCA960418 commented on #854
We are unable to shutdown or stop turbine from running, because we don't have the administration rights.

[2020-12-22 20:46] ksbeattie commented on #857
Looks like this was changed in PR #859?

[2020-12-22 21:09] boverhof commented on #857
Failures of circleci installation of PyQT==5.15 ( missing attribute ) may be due to PIP version.  Happened with a 19 version, maybe it works with a 20 version pip.

[2021-01-08 18:25] LNemetz opened #864 "Error 20 When Running Flow Sheet"
![image](https://user-images.githubusercontent.com/76179027/104050400-93c42300-51b4-11eb-8dec-d36c8097059f.png)

I get this error messages in foqus when I try to run the node. I have checked my initial conditions and my Aspen model runs and converges.  I think the problem is from foqus.

[2021-01-08 18:27] #854 closed

[2021-01-08 21:31] anujad95 commented on #864
@LNemetz could you please provide more details on the error from the FOQUS log?

[2021-01-11 21:33] LNemetz commented on #864
![image](https://user-images.githubusercontent.com/76179027/104240731-89ab5a00-542a-11eb-866f-cace9294bc0b.png)
![image](https://user-images.githubusercontent.com/76179027/104240774-9760df80-542a-11eb-8424-571685b325bd.png)
![image](https://user-images.githubusercontent.com/76179027/104240811-a6479200-542a-11eb-887e-3df48604415d.png)

[2021-01-12 00:13] lbianchi-lbl commented on #864
A possible cause for this would be the Python version used to run FOQUS. The `time.clock()` function ([link](https://docs.python.org/3.7/library/time.html#time.clock)) was removed in Python 3.8 (it had been deprecated since 3.3), and would cause this error if FOQUS is installed in an environment with Python 3.8 or later.

@LNemetz you should be able to verify this by checking the version of Python

[2021-01-12 20:15] LNemetz commented on #864
@lbianchi-lbl I've gone back and installed python 3.7 and gotten the error messages but my log looks different.

`2021-01-12 15:09:33,856 - DEBUG - foqus.foqus_lib.framework.session.session - Initializing session, Log file: C:\Users\LNemetz\OneDrive - University of Toledo\Documents\Foqus Files\logs\foqus.log, Position: 216543
2021-01-12 15:09:33,865 - INFO - foqus.foqus_lib.framework.plugins.plugi

[2021-01-12 20:17] lbianchi-lbl commented on #856
Currently testing compilation of psuade-lite with the conda-build tools needed to create a Conda package:

- [x] Linux
- [ ] macOS
- [x] Windows

[2021-01-12 20:27] lbianchi-lbl opened #865 "Python 3.8 compatibility"
Python 3.8 usage is increasing, especially as several Python installations/environment use it as their default version, so it is important to consider FOQUS's compatibility with it.

See also #864 for a possible effect of this.

## Steps

- [x] Search for code incompatible with Python 3.8
  - From a first pass using pylint, could be limited to a handful of references to `time.clock()`
- [x] Check

[2021-01-12 21:33] lbianchi-lbl commented on #864
@LNemetz thanks for reporting this new problem. I've looked into the `turbineConfiguration.py` code, and I believe that the `NameError: name "turbineLiteDB" is not defined` error occurs because the `turbineLiteDB` module could not be imported. This in turns might be due to the `adodbapi` module that is imported in `turbineLiteDB`.

To check if any of these hypotheses is correct, could you try to r

[2021-01-13 18:44] LNemetz commented on #864
The commands return the following:
import sys; sys.platform:
![image](https://user-images.githubusercontent.com/76179027/104494916-167a2300-55a5-11eb-9d42-64bfe81479df.png)

import foqus_lib.framework.sim.turbineConfiguration:
![image](https://user-images.githubusercontent.com/76179027/104494984-2c87e380-55a5-11eb-82a9-d76c03ad83c1.png)

from foqus_lib.framework.sim import turbineLiteDB:
![image](

[2021-01-13 18:47] LNemetz commented on #864
@lbianchi-lbl The Same InentationError: unexpected indent occurs in the adodbapi commands as well and the the last statement doesn't print

[2021-01-13 20:53] lbianchi-lbl commented on #864
This seems to be a known problem with some versions of adodbapi, see e.g. https://www.mail-archive.com/python-win32@python.org/msg11288.html. I've tested the commands on a Windows machine and I wasn't able to reproduce the issue.

I can suggest a couple of things to try:

- Run `pip list` in the same environment and report the results here. This could help see if the adodbapi version differs betwe

[2021-01-15 18:03] LNemetz commented on #864
@lbianchi-lbl after I've done your suggestions for adodbapi, I've gotten the same error message, and in the log it seems to be NameError: name 'turbineLiteDB' is not defined.

`2021-01-15 12:57:06,908 - DEBUG - foqus.foqus_lib.framework.sim.turbineConfiguration - turbine configuration application url="http://localhost:8000/TurbineLite/application/"
2021-01-15 12:57:06,908 - DEBUG - foqus.foqus_lib

[2021-01-15 18:06] LNemetz commented on #864
I also get the same indent errors when trying to run your suggestion from before, the
import sys; sys.platform etc.

[2021-01-15 21:10] lbianchi-lbl commented on #864
@LNemetz thanks again for running these checks and reporting the results.
This would seem to confirm our suspicion that the error is caused by the version of `adodbapi` that's installed in your environment. Additionally, there might be some kind of interference between the `adodbapi` PyPI package and the `adodbapi` installed package, since the `adodbapi` package is also included in another one of

[2021-01-18 19:11] LNemetz commented on #864
@lbianchi-lbl the uninstall command yielded:
![image](https://user-images.githubusercontent.com/76179027/104953653-cf20d780-5994-11eb-8e40-67222268f789.png)

the second line ran and this error occured
![image](https://user-images.githubusercontent.com/76179027/104953778-11e2af80-5995-11eb-9474-b810a3ed2398.png)
I didn't post the entire command promnt.

I was able to run my foqus file in the flowsh

[2021-01-19 23:42] boverhof opened #866 "Remote Turbine Configuration"
# Description
By default FOQUS should write out a local and a remote turbine configuration.
- turbine.cfg
- turbine_aws.cfg

Users just add their credentials to the `Remote`, and they should be ready to go.

For Remote `SignedUrl` option should be added by default.
[code]

[2021-01-20 14:50] #864 closed

[2021-01-21 00:13] sotorrio1 commented on #856
code review process is done. I will provide the GitHub repository as soon as I create it. This psuade-lite version is needed for the newest capability, ODoE (PR #868)

[2021-01-25 22:16] fsoepyan opened #869 "SimSinter Issue: Cannot Upload Excel File"
When I tried to upload an Excel file to SimSinter, I received the following error message:

![image](https://user-images.githubusercontent.com/30811140/105772943-951d7b80-5f28-11eb-81f3-6c61aed3ee98.png)

[2021-01-26 19:41] boverhof opened #870 "User Issue: Staged Input HTTP 500 PUT Failure"
# Description
HTTP 500 Error on uploading staged in simulation file

# Detail

Hello everyone,

I recently tried to add new variables to a Json file for a new set of ensembles to run.  However, no matter what I do I get these same errors anytime I try to add any updated json file to turbine, regardless of whether it was working earlier:

pastedImage.png
and

2021-01-21 19:54:43,027 - ERROR - turbi

[2021-01-26 21:30] boverhof commented on #870
### Please provide the size of the TurbineLite database and the Log file contents.
Database:
```C:\Program Files (x86)\Turbine\Lite\Data\TurbineCompactDatabase.sdf```
LOG:
```C:\Program Files (x86)\Turbine\Lite\Logs\TurbineWebAPIService.log```

### From Firefox/Chrome/etc navigate and provide the resource.

Simulation Root Resource

```http://localhost:8000/TurbineLite/simulation/```

Try to navig

[2021-01-26 22:08] kbrink21 commented on #870
The database file size is 261248 kB
The log file size is 2117 kB

**http://localhost:8000/TurbineLite/simulation/ has this:**

  |  
-- | --
0 |  
Application | "AspenPlus"
Id | "286b2ca4-346b-4dd9-bb86-8c7634c525fe"
Name | "CCSI_MEAModel"
StagedInputs |  
0 |  
Id | "2526c777-ffdf-46b1-8264-ddb5af79bbe3"
MD5Sum | ""
Name | "aspenfile"
1 |  
Id | "5526df2e-9751-4c68-90af-b9e7feedd50f"
MD5Sum | "34

[2021-01-27 16:48] boverhof commented on #870
For `v2_redo` the `aspenfile` is a blank, which means the content was never successfully uploaded.

First A couple years ago I updated Turbine to use a different FIPS crypto library, which created a bug that screwed up the simulation order.  I guess this is a possibility.  You should look at all `versions` of the simulations by adding a flag 'Verbose=true' to the HTTP GET.

```http://localhost:800

[2021-01-27 17:02] boverhof commented on #870
Make sure the configuration file specifies the aspenfile name correctly, it should match.

Also there has been size limit issues in the past.  Possibly this is failing the upload, so try uploading the file directly as detailed below.

This issue #381 has a lot of details about using the command line tools to examine and upload files directly.  You can find the `turbine.cfg` in your FOQUS working d

[2021-01-29 00:27] kbrink21 commented on #870
I looked up http://localhost:8000/TurbineLite/simulation/?verbose=true in my web browser and didn't see any "versions" tag.  Does this mean something went wrong?

As for running turbine_simulation_update, after finding where this file was (it's in C:\Users\[username]\anaconda3\envs\ccsi-foqus\Scripts instead of \ProgramData\Anaconda3\Scripts) I tried running it and got an error saying "No module n

[2021-01-29 01:10] boverhof commented on #870
[code]
This should show you all versions of the the simulation 'v2_redo'.  I'm just trying to see if there is a version of that simulation with both a 'configuration' and an 'aspenfile'.  It could be ordering is screwing things up, then I would suspect you have an the FIPS compliant version of TurbineLite that had a bug in it.

[code]
I was assuming you're using `Anaconda` with a python that has `

[2021-01-29 01:36] kbrink21 commented on #870
I tried running the turbine_simulation_update file in an anaconda prompt, and it still didn't work.

[2021-01-29 21:04] kbrink21 commented on #870
I actually fixed it just now.  I deleted a few old simulations in the turbine upload menu, and that fixed my problem for some reason.  Any idea why this caused my problem?

[2021-02-02 21:30] ksbeattie commented on #869
Is MS Excel installed on that system?  If so, which version?

[2021-02-02 21:51] #812 closed

[2021-02-05 19:22] LingyanDeng opened #872 "Scaling Spreadsheet in FOQUS example files not able to open"
In the FOQUS-->Optimization-->Reference-->Problem Set Up-->step 4 (https://foqus.readthedocs.io/en/stable/chapt_opt/reference/optimization.html), it mentioned a scaling spreadsheet (in the FOQUS examples files) that provides a demonstration of the different scaling methods. The spreadsheet (\examples\other_files\Scaling_Spreadsheet) was unable to be opened .

[2021-02-05 19:38] LingyanDeng opened #873 "Typo in UQ Tutorial 3"
In step 5, within the sentence "changing **dH2** in its range results in an average change in CO2 removal as much as about 57 percent with a margin of +/- 3 percent)", dH2 should be changed to **dH3**.

[2021-02-05 20:04] sotorrio1 commented on #873
@LingyanDeng good catch! I'll open a PR with the fix shortly. Thanks!

[2021-02-05 20:44] LingyanDeng opened #875 "Surrogate Modeling Tutorial 1: ALAMO Figure and steps need update"
I am using the newest version of FOQUS, in the FOQUS website, the Surrogate Modeling-->Tutorial1: ALAMO--> Method Setting--> Step 34 to 35 need update (https://foqus.readthedocs.io/en/stable/chapt_surrogates/tutorial/alamo.html), in the Setting Name column, there is no "**FOQUS Model (for UQ)**" and "**FOQUS Model (for Flowsheet)**" in this new version.  Also, in step 36, the "Initial Data Filter"

[2021-02-08 17:21] fsoepyan commented on #869
I have Microsoft Excel for Microsoft 365.

[2021-02-09 18:56] anujad95 commented on #875
Thanks @LingyanDeng
So, in terms of the images that need to be updated in the tutorial, it would be Data Filter Dialog and ALAMO Method Settings.

[2021-02-09 20:59] ksbeattie commented on #872
@fsoepyan this file seems corrupted, might you have an old correct copy of this still?

[2021-02-09 21:02] #873 closed

[2021-02-09 21:07] boverhof opened #877 "AspenTech Engineering v12.0"
# Description
Need to obtain the v12.0 version, install, test with MEA model, and test with FOQUS and MEA Model.

- [x] Request AspenTech Engineering v12.0
- [x] Install on VM
- [x] Test with MEA Model
- [x] test MEA Model With FOQUS

[2021-02-09 21:08] boverhof commented on #877
# Request AspenTech Engineering v12.0
https://esupport.aspentech.com/S_TrackCase?cNumber=01952213
[code]

[2021-02-09 21:11] boverhof commented on #860
Decided to create a button `status` instead.  User just hits button when wants an update.

[2021-02-09 21:11] #860 closed

[2021-02-09 21:12] #870 closed

[2021-02-09 21:13] #801 closed

[2021-02-09 21:28] ksbeattie commented on #857
will close this for now on the hope that this is fixed by using `pip install` vs `python setup.py`

[2021-02-09 21:28] #857 closed

[2021-02-09 21:34] ksbeattie opened #878 "Aspen 12 Support"
An email to ccsi-support reports:

I am trying to use Aspen V12 for a personal project and when I combine it with your tool I am getting below stack.. Please advise

[code]

We should consider if/how to support Aspen 12.

[2021-02-09 21:45] boverhof commented on #878
Tracking progress with v12 #877

[2021-02-09 21:47] ksbeattie commented on #877
Related to #878

[2021-02-09 21:55] #600 closed

[2021-02-09 21:55] #778 closed

[2021-02-09 21:55] #790 closed

[2021-02-09 21:55] #809 closed

[2021-02-09 21:55] #811 closed

[2021-02-09 21:55] #813 closed

[2021-02-09 21:55] #817 closed

[2021-02-10 15:59] boverhof commented on #573
I started exploring creating high level integration tests via pytest-qt, and it seems complex but hopefully doable.  I've done this kind of thing with Selenium and web interfaces.

The idea being we could implement a test scenario for each `example` we have documented for FOQUS, then we would have some assurance that our published examples are working.

@ksbeattie do you think this is doable?

[2021-02-10 19:53] boverhof commented on #877
## Download Granted
Sounds like it's possible may need to update SLM license server and the actual license.  Will follow up with a consultant.
[code]

[2021-02-11 00:32] ksbeattie commented on #573
I very much like this idea.  This sounds like a job for @lbianchi-lbl !

[2021-02-16 21:20] #772 closed

[2021-02-16 23:04] sotorrio1 commented on #843
This is no longer an issue

[2021-02-16 23:04] #843 closed

[2021-02-17 03:03] ksbeattie commented on #872
@LingyanDeng, can you try [this scaling spreadsheet](https://github.com/ksbeattie/FOQUS/blob/ksb_872/examples/other_files/Scaling_Spreadsheet/scaling.xlsx?raw=true) file and let us know if it is correct?

[2021-02-18 17:12] LingyanDeng commented on #872
@ksbeattie Thank you Keith for sharing the clean version of the scaling spreadsheet. It work from my end now.

[2021-02-23 20:52] eslickj opened #880 "Update known issues in FOQUS docs/debugging section"
We need to update the know issues section.  Some issues are out-of-date, and there is a recently discovered issue with calculator blocks that use Excel not working properly through the COM interface, only through the GUI interface.

[2021-02-23 21:16] ksbeattie commented on #591
@mirandamartin will bring this up next week during the SDoE's team meeting.  Exactly what this will become might be changing, as opposed to the above list.

[2021-02-23 21:21] boverhof opened #881 "Update FOQUS Cloud Documentation"
# Description
The documentation for using FOQUS Remote Turbine should be updated to FOQUS Cloud (AWS).

https://foqus.readthedocs.io/en/stable/chapt_flowsheet/tutorial/remote.html

[2021-02-23 21:22] #866 closed

[2021-02-23 21:26] ksbeattie commented on #869
@fsoepyan, Microsoft 365 isn't supported by SimSinter.

@boverhof, will look for or update our documentation on what versions are and not known to work.

[2021-02-23 21:29] #872 closed

[2021-02-23 21:30] boverhof commented on #869
https://github.com/CCSI-Toolset/SimSinter/blob/master/docs/SimSinter%20InstallationGuide.pdf

It appears the documentation says MS Excel 2010 or newer, 365 is a MS Cloud offering that we haven't investigated integrating.

[2021-02-24 15:05] #773 closed

[2021-02-25 00:42] ksbeattie opened #882 "Update year in copyright"
Should be 2021 and not 2020 or 2019.

Both in the top-level docs and in each file.

[2021-03-01 17:55] fsoepyan commented on #869
I think the reason I was having the issue is because the Microsoft 365 license I was using was close to expiring.

But when I start using the Microsoft 365 license that I have under AristoSys, LLC, I managed to upload an Excel file to SimSinter.

In conclusion, the user can upload an Excel file to SimSinter when using Microsoft 365, as long as the user has a Microsoft 365 account for Excel.

I con

[2021-03-01 17:55] #869 closed

[2021-03-02 16:38] jbernier040 opened #886 "Error for dependency on PyQT5==5.13"
Hello, I have the following installation error:

WARNING: Discarding https://files.pythonhosted.org/packages/fe/f0/927b23d45123d696ae80cd4867c8d955a081ea69dc61b9fbf25e638b54fb/mlrose_hiive-2.1.5.tar.gz#sha256=e45e1bdd7d8638452359528906bfc2e5077deffbdbf1c6c8b1354e03c82ce8e8 (from https://pypi.org/simple/mlrose-hiive/) (requires-python:>=3). Command errored out with exit status 1: python setup.py eg

[2021-03-02 22:09] ksbeattie commented on #886
@jbernier040, can you show me the commands used when getting this error (including the command that installed PyQt5-tools)?

I believe that if you create a separate conda env, just for installing and running FOQUS (with version 5.13 of pyqt5) it should work ok.  That is described in the [install section of our docs](https://foqus.readthedocs.io/en/stable/chapt_install/index.html).

[2021-03-03 00:24] boverhof opened #887 "Aspen SLM 12.0"
# Description
In order to use Aspen v12.0 need to update SLM license servers to 12.0.  Update the three license servers starting with dudley.

- [X] dudley 03/01/2021
- [ ] xena
- [ ] AWS

[2021-03-04 00:46] lbianchi-lbl commented on #856
Closing this as completed:

- psuade-lite repository on github: https://github.com/LLNL/psuade-lite
- psuade-lite Conda package: https://anaconda.org/CCSI-Toolset/psuade-lite

[2021-03-04 00:46] #856 closed

[2021-03-04 20:40] jbernier040 commented on #886
ksbeattie, I send you the complete process of installation and the errors that appear, I cannot install version 5.13 due to the follow Error:

How could I  create a separate conda env, just for installing and running FOQUS?
[Anaconda prompt_Install foqus Error.txt](https://github.com/CCSI-Toolset/FOQUS/files/6086510/Anaconda.prompt_Install.foqus.Error.txt)

[2021-03-04 22:34] lbianchi-lbl commented on #886
@jbernier040 thanks for trying the Conda installation and reporting the outcome. Can you try again, following this different set of steps?

[code]

If you could also copy or attach the output of these commands like you did in your last reply, it would be very helpful.

[2021-03-05 02:57] jbernier040 commented on #886
Ibainchi, thank you for your help, but the same error message appears again (The conflict is caused by:    ccsi-foqus 3.9.0 depends on PyQt5==5.13). I used the set of steps that you send me; however, these did not fix my error of install. I send you an attachment with the output of your commands.

I have installed in mi pc python 3.9.1, should install python 3.7? could this a source of the error o

[2021-03-05 04:01] lbianchi-lbl commented on #886
@jbernier040 thanks again for this new check. Unfortunately, it seems that there were a couple of mistakes in the commands I gave you; I'm sorry about that.

Can you try one more time with this fixed version of the previous set of commands?

[code]

[2021-03-06 22:59] jbernier040 commented on #886
Ibanchi-lbl, thanks for your help. The installation of foqus was successful. However, the optional software Alamo, is not working correctly. I try to make the example of the surrogate model since foqus, but when I need the optional software Alamo, the following message appears:

I download and install Alamo in my pc, but I don't know how to fix this error. Could you help me with that?

Best regard

[2021-03-09 20:57] lbianchi-lbl opened #888 "Update "Install Optional Software" documentation"
- [x] Update links to ALAMO webpage
- [x] Add more details on final step of setting paths to the various executables in the "Settings" tab of the FOQUS graphical interface

[2021-03-09 21:04] lbianchi-lbl commented on #886
Hi @jbernier040, happy to hear that the installation worked!

For the ALAMO issue, have you configured the path to the installed ALAMO executable in the "Settings" tab of the FOQUS graphical interface? We realized that the section in our documentation that describes these steps ([link](https://foqus.readthedocs.io/en/stable/chapt_install/install_optional.html)) could be improved, and I've created

[2021-03-09 21:23] ksbeattie commented on #875
@MAZamarripa is going to review this.

[2021-03-09 21:26] ksbeattie opened #889 "update images in read the docs manual"
Quite a few of the screenshot images in the RTDs are either out of date with recent releases or of low quality.

For example:
- the first few images in the [ALAMO tutorial](https://foqus.readthedocs.io/en/stable/chapt_surrogates/tutorial/alamo.html)

These should be updated.

[2021-03-09 21:31] boverhof opened #890 "Aspen SLM v12"
# Description
Update SLM Servers to new version SLM v12.

- [X] dudley 03/01/2021
- [x] xena
- [ ] AWS

[2021-03-12 13:15] jbernier040 opened #893 "Could Foqus be linked to the economic evaluation of an Aspen simulation?"
Aspen simulator uses Aspen Process Economic Analyzer (APEA) to make an estimation of Capital cost and utility cost, my question is, Could Foqus linked whit Aspen (APEA) when Foqus is used to make a variability analysis of parameter in a simulation?
![ASPEN - APEA picture](https://user-images.githubusercontent.com/79927485/110944873-082d5680-830b-11eb-9416-20639db4fa58.png)

[2021-03-16 20:19] ksbeattie commented on #893
@jbernier040, thanks for the suggestion, we'll look into if this is possible with FOQUS.

[2021-03-16 20:52] ksbeattie commented on #875
@LingyanDeng, do the changes that @anujad95 made look ok?

Here's the [before](https://foqus.readthedocs.io/en/3.8.0/chapt_surrogates/tutorial/alamo.html) and [after](https://foqus.readthedocs.io/en/3.9.0/chapt_surrogates/tutorial/alamo.html) pages.

[2021-03-16 21:07] LingyanDeng commented on #875
Yes. The figures has been updated. I don't see any additional update needed at this point. Thank you.

[2021-03-16 22:30] ksbeattie opened #897 "`import user_plugins` in SM_Optimizer.py?"
In PR #896 @lbianchi-lbl and I were curious if [here in SM_Optimizer.py](https://github.com/CCSI-Toolset/FOQUS/blob/0dd0f74225c1034eeb8bc5118b98bf5c8be0b051/foqus_lib/framework/optimizer/SM_Optimizer.py#L36) the `if __name__ == '__main__'` and the `import user_plugins` is needed still?

[2021-03-16 22:57] ksbeattie commented on #763
I think using GitHub's wiki feature might be good for this.

[2021-03-23 20:27] ksbeattie commented on #852
Given the upcoming pytest-gui framework, this is no longer relevant.

[2021-03-23 20:27] #852 closed

[2021-03-23 20:32] ksbeattie commented on #34
Can we just remove this code now?

[2021-03-24 17:26] anujad95 commented on #897
@ksbeattie, actually this import statement can be removed, since line 343 in the SM_Optimizer.py code takes care of it. Thanks for pointing it out.

[2021-03-24 22:56] #897 closed

[2021-03-29 21:16] boverhof commented on #890
Installed new SLM on Xena 3/28/2021, and tested it.

[2021-03-30 20:05] #709 closed

[2021-03-30 20:12] #792 closed

[2021-03-30 20:17] ksbeattie commented on #858
MyPy is a good place to start:
http://mypy-lang.org/
https://mypy.readthedocs.io/en/stable/

[2021-03-30 20:45] #875 closed

[2021-03-30 20:48] #783 closed

[2021-03-30 20:53] eslickj commented on #713
We have this at least partly implemented in some places like optimization.  I think I had a feature where UQ would be able to pick up where it left off (at least on the cloud).  We need to take a closer look at what's there and how best to complete this.  For UQ it may be best to run in "remote" mode even locally.  That would potentially activate the feature to allow you to pick up where you left

[2021-03-30 20:58] ksbeattie commented on #34
Since we have no developer for this, we'll close this as a new feature request that won't be implemented.

[2021-03-30 20:58] #34 closed

[2021-03-30 21:01] #12 closed, assigned to eslickj

[2021-04-06 19:24] jmorgan29 commented on #893
After investigating this issue, it seems as if the output variables associated with APEA (e.g., Total Capital Cost, Total Operating Cost, ... as shown in the screen shot) are not available in the Aspen Plus variable tree, which means that they cannot be added to a Sinter configuration file and imported into FOQUS.

[2021-04-06 20:08] ksbeattie commented on #232
Closing this as it isn't very specific.  The errors when Aspen fails should be in the Turbine messages column.

[2021-04-06 20:08] #232 closed

[2021-04-06 20:09] ksbeattie commented on #552
Closing this as the errors should show up in the log file.

[2021-04-06 20:09] #552 closed

[2021-04-06 20:21] #890 closed

[2021-04-06 20:21] ksbeattie commented on #887
duplicate of #890

[2021-04-06 20:21] #887 closed

[2021-04-06 20:30] ksbeattie commented on #770
This will happen after #800

[2021-04-13 20:20] ksbeattie commented on #886
@jbernier040, if you're still having this problem, feel free to re-open this issue.

[2021-04-13 20:20] #886 closed

[2021-04-13 20:21] #878 closed

[2021-04-20 20:14] ksbeattie commented on #893
@jbernier040, it appears that the answer, for now, is no.  Feel free to contact us again, or re-open this is you have other questions or ideas.

[2021-04-20 20:14] #893 closed

[2021-04-20 20:24] lbianchi-lbl commented on #865
Following @boverhof 's suggestion, as part of checking our dependencies for Python 3.8, we can also make a status assessment of which modules require Windows-specific functionality and see how feasible it would be to extract common functionality to a single location within the codebase.

[2021-04-27 16:43] boverhof opened #902 "Build Sinter"
# Description
Build Sinter on a Windows 2016 Server VM with Visual Studio 12.

Follow the build script `make.bat`, and figure out the steps that are broken.

[2021-04-27 16:43] boverhof commented on #902
# CMake udunits
[code]

[2021-04-27 16:48] boverhof commented on #902
# MSBuild Fails

[code]

[2021-04-27 17:42] boverhof commented on #902
# MSBuild SUCCEEDS:
- use `Visual Studio developer console`
-
[code]

[2021-04-27 17:57] boverhof commented on #902
# Dumpbin udunits2.dll
[code]

[2021-04-27 19:53] ksbeattie commented on #591
In progress

[2021-04-29 15:11] boverhof commented on #902
# Installed SimSinter
- copied DLLs to every directory and still can't find UC2Lib so I installed SimSinter and built again.  Now it seems to find it.  Wondering if there is a .NET framework mismatch or something between projects.
- Now getting errors about missing license files
[code]

[2021-05-04 19:54] anujad95 commented on #580
PR #876 takes care of this issue for Python and Aspen models.

[2021-05-04 19:54] #580 closed

[2021-05-04 19:57] #882 closed

[2021-05-04 19:57] #771 closed

[2021-05-05 17:39] boverhof commented on #902
# WIX Installer builds
[code]

[2021-05-11 20:09] ksbeattie commented on #902
Closing this since we can build it now, the rest of the release will be tracked in https://github.com/CCSI-Toolset/SimSinter/issues/19

[2021-05-11 20:21] #889 closed

[2021-05-12 19:57] sotorrio1 opened #905 "Adding new capabilities to ODoE"
Adding more capabilities to the Robust Optimality-based Design of Experiments (ODoE).

[2021-05-18 19:16] lbianchi-lbl opened #908 "Possible improvements to plugin functionality"
While working on @ksbeattie's PR #906, an issue was encountered with the FOQUS plugin discovery mechanism, where adding a comment header at the top of a plugin .py file causes the file to stop being recognized as a plugin. This prompted a discussion on the current implementation of the plugin system implementation, along with possible ways to improve it.

## Usage and Requirements

- Plugins in FO

[2021-05-18 20:13] eslickj commented on #908
I think for user-written of dynamically generated plugins, it probably makes sense to either have a plugins sub-directory of the working directory where we put only plugin files, or maybe a specific file name pattern to identify plugins anywhere in the working directory and sub-directories.

[2021-06-01 20:06] ksbeattie commented on #880
@eslickj, any news on this?

[2021-06-01 20:18] ksbeattie commented on #818
Somewhat related to #908

[2021-06-02 13:50] eslickj commented on #880
Was on vacation.  I'll do it now before I forget.

[2021-06-02 14:06] eslickj commented on #880
@anujad95 or @sotorrio1,  Is this from the know issues section still true?:

   tool requires a separate Python 2.7 installation. Furthermore, Python
   must be both in PATH variable and associated with .py files. Details
   on installing Python and fixing any issues encountered may be found
   in the iREVEAL Installation Guide and the iREVEAL User Manual, Known
   Issues section.

[2021-06-02 14:53] anujad95 commented on #880
@eslickj, I don't think Python 2.7 is required for the user regression analysis feature, at least for ALAMO. We can use higher versions of Python. I'm not sure about iREVEAL.

[2021-06-02 16:13] sotorrio1 commented on #880
As far as I can tell, there is no requirement within the UQ module for python 2.7. Everything should work with python 3. At the same time, I'm not very familar with iREVEAL or ALAMO...

[2021-06-08 20:00] eslickj commented on #800
I'll try to take a look at this in the next 2 weeks.

[2021-06-15 19:52] #30 closed

[2021-06-15 21:00] boverhof opened #914 "FOQUS pip installation error"
# Description

[code]

[2021-06-15 21:07] ksbeattie commented on #914
This is related to #865

[2021-06-15 21:20] #914 closed

[2021-06-15 21:22] boverhof opened #915 "FOQUS June 2021 Release Testing"
# Description
Install in a development environment and run tests.

- [X] Anaconda3, python3.7, Windows 2016 server, Aspen v10
- [X] SimSinter v2.1.0
- [X] TurbineLite v2.3.0
- [X] Install GIT FOQUS master branch
- [X] Run pytest with all test succeed ( 37/38, 1 deselected)

[2021-06-15 21:23] boverhof commented on #915
# Pytest Testing
[code]

[2021-06-22 19:52] #888 closed

[2021-06-25 16:46] lbianchi-lbl opened #924 "ModuleNotFoundError when installing FOQUS not in editable mode"
This was detected by @boverhof while testing #916, and it turned out to be related to a change introduced in #876. The error was not caught by our current CI checks because it only occurs when FOQUS is installed not in editable mode (the `--editable` flag to `pip install`, used e.g. by `pip install -r requirements-dev.txt`), and when FOQUS is used through the GUI (as opposed to the batch mode with

[2021-06-25 17:21] #924 closed

[2021-06-29 21:23] boverhof opened #925 "WebSocket library update breaks Notifications"
# Description
Websocket library changed callback argument list from version `0.57` to current version `1.1.0`.

Simple fix to implement just add argument to callbacks, and update version requirements to >1.1.0

[2021-07-02 13:47] anujad95 opened #927 "OUU Module Extension"
It would be helpful to test the extension of OUU module with external simulators, since this capability would be required by few other projects.

[2021-07-02 15:24] sotorrio1 commented on #927
I don't understand what you mean by "OUU Module Extension".

[2021-07-02 15:46] anujad95 commented on #927
As a part of this effort, we need to test the following:
1. If the OUU module can be directly connected, and work with external simulator models like Aspen/MATLAB, without any issues. I think currently, it works only with equation oriented form of models, but will have to check again.
2. Accordingly, we will either continue testing the OUU module with Aspen/MATLAB models, if the capability already

[2021-07-05 17:39] bpaul4 opened #928 "FOQUS pip install Launch Error"
This error concerns the local user install of CCSI-FOQUS v3.9.0 in a Python 3.8.10 Miniconda environment. Per the documentation instructions (Read The Docs > FOQUS Installation and Running > Quick Start instructions), 'pip install foqus' runs smoothly and 'foqus' launch command fails due to missing 'pywin32' dependency which must be manually installed ('pip install pywin32') to launch FOQUS.

[2021-07-05 17:58] bpaul4 opened #929 "FOQUS Documentation Errors (broken link and typos)"
- [ ] On the Read The Docs page FOQUS Installation and Running > Install Optional Software, the install link for SQL Server Compact 4.0 is broken (leads to 404Error, should lead to https://www.microsoft.com/en-us/download/details.aspx?id=30709 for Service Pack 1)

- [x] On the Read The Docs page Introduction > Uncertainty Quantification, the second to last paragraph in the UQ section has typo 'For

[2021-07-06 19:49] #929 closed

[2021-07-06 19:54] ksbeattie commented on #928
Could you try this again with `pip install ccsi-foqus` command?  `foqus` is, unfortunately, an entirely different product.

[2021-07-06 20:02] bpaul4 commented on #928
On my personal machine, running 'pip install pywin32' fixed the issue immediately (it did not when I tried installing/launching on my machine with the GitHub installation, not sure what changed). The installed packages include ccsi-foqus and pywin32 on the conda package list.

[2021-07-06 20:08] bpaul4 commented on #928
After installing ccsi-foqus I received this traceback:
(ccsi-foqus) C:\Users\bpaul>foqus
Traceback (most recent call last):
  File "c:\users\bpaul\miniconda3\envs\ccsi-foqus\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\bpaul\miniconda3\envs\ccsi-foqus\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users

[2021-07-06 20:39] bpaul4 commented on #928
`conda install pywin32` seemed to fix the error and `foqus` launches correctly now. `pywin32` was installed from the `ccsi-foqus` installation but seems not to have linked to the environment until manually installed.

[2021-07-07 01:49] ksbeattie commented on #928
I can't reproduce this.  Could you try again, from a completely new conda environment?

I suspect that the problem is when you ran `pip install foqus` (which is not in the instructions) rather than `pip install ccsi-foqus` (which is in the instructions).  But even trying that, I couldn't reproduce it.

[2021-07-07 13:09] bpaul4 commented on #928
I recreated the installation workflow by running `conda create --name test-ccsi-foqus python=3.8`, then `conda activate test-ccsi-foqus` and installed with `pip install ccsi-foqus`. Attempting to create a desktop shortcut via `foqus --make-shortcut` or launch via `foqus` reproduced the win32 process DLL import error

[2021-07-07 16:17] lbianchi-lbl commented on #928
I think this might be due to a known issue when the PyPI version of `pywin32` is installed in a Conda environment using Python version 3.8 or greater, see e.g. https://github.com/IDAES/idaes-pse/issues/258. If the environment is created with Python 3.7 or lower, as shown in the installation docs, the issue would not occur. We're currently working towards making FOQUS fully compatible with Python 3

[2021-07-07 16:55] ksbeattie commented on #928
Ah yes, that was it!  I was able to reproduce it when trying with `python=3.8` and yes this underscores that:
- we don't yet support python 3.8 and
- we need to

[2021-07-07 17:12] bpaul4 commented on #928
Okay, thank you for clarifying the issue. The Anaconda install links in both the CCSI and IDAES docs redirect to the Individual Edition page for version 3.8 download. It appears older versions are archived, and Miniconda for Python 3.7 is offered only for Linux, not Windows or MacOSX (2.7, 3.8 and 3.9 are offered for all 3 systems).

[2021-07-07 17:44] lbianchi-lbl commented on #928
@bpaul4 Note that the Python version mentioned in the Miniconda/Anaconda download page only determines the *default* Python version of Conda environments, i.e. which Python version will be used if no version for the `python` Conda package is specified when creating the environment.

It's always possible to create Conda environments with arbitrary Python versions (regardless of the default Python v

[2021-07-08 16:29] boverhof opened #931 "Opt_Uncertain_Test_01.foqus Flowsheet Error"
# Description
When opening this flowsheet there is an error.

# Detail
[code]

[2021-07-13 19:54] ksbeattie commented on #925
Closed by #926

[2021-07-13 19:54] #925 closed

[2021-07-13 22:43] anujad95 commented on #931
According to the traceback order, I confirmed that this file contains a combination of scalar variables, and the old-format vector variables. The vectors in this file are NodeVar objects that have their value (assigned from hist[0]), min, max and default as a list. Although we have a new vector variable support capability, it works differently, and in the current base code, NodeVar object does not

[2021-07-19 13:48] jbernier040 opened #932 "Unknow error, could not upload sinter configuration file traceback"
I have an aspen simulation, from backup of this simulation I made a sinter file. This file was running correctly. However, after including new input variables in this file (sinter), I tried to update this file in foqus but I get this error (see image below), I can't update it and several copies of this file are also showing the same error when I try to open them from foqus. Could you please tell m

[2021-07-20 20:01] boverhof commented on #932
First you might want to try and restart `Turbine` and then retry.

![Screen Shot 2021-07-20 at 12 58 09 PM](https://user-images.githubusercontent.com/738295/126387743-6a3636eb-2895-4dfe-aa80-b1ec60d960ff.png)

If that doesn't work, shutdown `Turbine` and remove the database by changing it's name then start `Turbine`.

[2021-07-20 20:23] ksbeattie commented on #928
While this is still possible with the 3.10.0 release, now that #918 has been merged in, it will be fixed for the next release.

[2021-07-20 20:23] #928 closed

[2021-07-29 16:00] leonardoviveiros opened #934 "Apparently insecure use of wildcards"
Our research team at Tenchi found some apparently insecure use of wildcards `(*)` in your Custom Lambda Authorizer. Precisely [here](https://github.com/CCSI-Toolset/FOQUS/blob/bc0458af79cf4c7b35840778d474209c0dfc8609/cloud/aws/node/http-basic-authorizer/index.js#L75). When you use wildcards anywhere in policies resources other than in the very end and after a slash, you're very likely to be allowi

[2021-07-30 21:29] mirandamartin opened #935 "SDOE Created Designs Not Unscaled"
I created a few designs and these were returned with all variables still scaled to be between 0 and 1 or -1 and 1 depending on the type of design, rather than returned to original units. Subsequently, the plots of created designs had the right axes but the points were squished toward the middle (where they reside in scaled form).
In my specific case, I used a candidate set of two inputs, one respo

[2021-08-03 20:19] ksbeattie commented on #932
@jbernier040, did @boverhof's suggestion help?  Is this still an problem for you?

[2021-08-04 20:41] MDCA960418 opened #939 "Status Error UQ"
What does the status error in UQ really mean? Based on the manual when is not zero, it means the simulation converged. However, when placing the same inputs in to Aspen it actually converged, is this normal?

[2021-08-04 20:43] sotorrio1 commented on #939
@MDCA960418  Would you mind providing more information/screen shots of the error message and what you're trying to do?
Thank you!

[2021-08-04 21:41] MDCA960418 commented on #939
![image](https://user-images.githubusercontent.com/66323673/128258770-acbaaa09-5936-4955-b2f9-0bb77284638a.png)

There is no error message, just trying to understand the real meaning of the status error =2

[2021-08-04 21:54] #865 closed

[2021-08-04 22:25] sotorrio1 commented on #939
What manual are you referring to?

[2021-08-04 22:42] MDCA960418 commented on #939
I meant to say when the status is  zero the simulation has converged. I found out this in the manual made in March 28, 2019

[2021-08-05 13:44] MDCA960418 commented on #939
Here is the manual https://readthedocs.org/projects/foqus-mine/downloads/pdf/latest/
Go to page 68

[2021-08-05 19:59] sotorrio1 commented on #939
@MDCA960418 So in the documentation only mentions the status = 0 means that it converged. The other status values I don't know what they mean. But in the tutorial is talking about the file “gmoat5012_9levels.res” that is an output of the Turbine Gateway, so perhaps @anujad95 has more insights on what those different status codes mean.

[2021-08-05 21:19] MDCA960418 commented on #939
@sotorrio1 @anujad95 In addition to this error, there is another one concerning graph.error value. It is understood that any value different than zero means no convergence in the simulation. However, when doing cross checking with the simulation (ACM) there are some runs that did actually converge and FOQUS is outputting graph.error==1

![image](https://user-images.githubusercontent.com/66323673/1

[2021-08-05 21:26] sotorrio1 commented on #939
@MDCA960418 I'm sorry but I'm not familiar with Aspen or Turbine simulations so I won't be of any help. I'm pretty sure @anujad95 will know more about this :)

[2021-08-06 22:45] #935 closed

[2021-08-10 16:28] sotorrio1 opened #944 "SDoE: Add Documentation Section for Data Imputation"
The data imputation feature within SDoE needs to be added to the documentation to help users understand how and when to use it.

[2021-08-10 16:37] sotorrio1 opened #945 "ODoE: Add Documentation Section for Robust Optimality-base Design of Experiments"
The Robust Optimality-base Design of Experiments capability needs to be documented so users know how to use it. The idea is to add a section with mathematical background and another section with a few tutorials showing the different features within this sub-module.

[2021-08-10 20:20] boverhof commented on #939
# Sinter Errors:
`sinter_ISimulation.cs`
2- WARNING

[code]

[2021-08-11 18:52] anujad95 commented on #939
The status code 2 indicates that the simulation has converged with warnings. In order to look into these warnings in detail, you could select the option for making the simulation visible in the node editor settings. This would open the Aspen simulation in the background as the FOQUS flowsheet runs, and it would be easier to see the warnings through it.

[2021-08-19 00:37] #573 closed

[2021-08-20 00:30] sotorrio1 opened #948 "SDoE: IRSF not plotting design points"
There is an issue when generating IRSF designs. The pareto plot shows up but when plotting the individual designs, only the bar plot shows up and the scatter plots appear to be empty.

The designs are being created and saved in the csv files but the plot is not showing up correctly.

[2021-08-24 19:57] ksbeattie commented on #939
@MDCA960418, were you able to see the warnings now?  Can we consider this issue closed?

Also, note that the docs you should be looking at are here: https://foqus.readthedocs.io/en/stable/

[2021-08-24 20:05] MDCA960418 commented on #939
yes, thank you.

On Tue, Aug 24, 2021 at 3:57 PM Keith Beattie ***@***.***>
wrote:

[2021-08-24 20:07] #939 closed

[2021-08-24 20:17] #948 closed

[2021-08-24 20:24] ksbeattie commented on #932
@jbernier040, do let us know if this is still a problem.

[2021-08-24 20:24] #932 closed

[2021-08-25 20:06] sotorrio1 opened #950 "SDoE: Enhancements to SDoE module"
- [x] Move **View** button from the **Output Directory** line to the first line of the design construction box called **Candidate File**.
- [x] Save the ID column when saving the designs created to a csv file

[2021-08-31 19:53] #846 closed

[2021-08-31 20:29] ksbeattie commented on #905
This is for the EY21.4.F milestone that has been moved to Dec 2021

[2021-08-31 20:34] lbianchi-lbl opened #955 "Review code executed at import time"
It would be useful to do a review or what code is executed when importing a particular module across the complete codebase.

Generally, we'd probably want to keep import-level code as minimal as possible; otherwise, the chance of introducing unexpected behavior or bugs that are difficult to detect will be higher.

[2021-09-07 20:10] ksbeattie commented on #931
This file doesn't appear to be used in any of our documented tutorials.  Perhaps it should just be removed?  @sotorrio1, what do you think?

[2021-09-07 20:20] boverhof opened #958 "UI Settings/Turbine Start Service PopUp String Format"
# Description
After starting Turbine the information window that pops up contains text that is incorrectly formatted.
![Screen Shot 2021-09-07 at 1 13 54 PM](https://user-images.githubusercontent.com/738295/132405741-607aab0d-f174-4a45-b38b-a25e64232714.png)

[2021-09-07 20:33] sotorrio1 commented on #931
I have no idea what this file is about...

[2021-09-11 12:57] jbernier040 opened #959 "The Turbine models don´t load correctly"
I have been working with a turbine model created from Aspen plus through SinterconfigUI, I have already developed several turbine models that were running correctly. However, Foqus suddenly started to display an error message when I was going to run a foqus flowsheet that I had already run successfully, the message said that the turbine model was no longer available. However, Foqus suddenly starte

[2021-09-14 20:13] lbianchi-lbl commented on #958
We should look into this more in detail to see if the same issue applies to other dialog boxes.

[2021-09-14 20:30] lbianchi-lbl commented on #927
@anujad95 is testing a solution discussed with @sotorrio1. Depending on the outcome of the testing, this might be included in the Sept release.

[2021-09-14 20:37] lbianchi-lbl commented on #959
@jbernier040 thanks for reporting the error and the detailed accompanying material. From a first look, the JSON error message is likely due to it trying to read from an empty response string, which itself is not particularly specific as it can be due to a variety of reasons. We're looking into this in more detail and will follow up here as soon as we have any updates.

[2021-09-22 23:33] #958 closed

[2021-09-22 23:46] #945 closed

[2021-09-23 00:09] #950 closed

[2021-09-23 15:18] #944 closed

[2021-09-24 14:37] jbernier040 commented on #959
@lbianchi-lbl please I need some solution, could you help me to fix this error? I could not continue with an assessment that I had started with foqus because suddenly this error appeared. Consequently, my research  is stopped currently. Could you give me some alternative or advise to fix this error?.

Best regards,

[2021-09-24 18:36] sotorrio1 commented on #927
After @anujad95 and I discussed further this issue, we came up with a list of items we need to take care of:

- [ ] If the OUU module can be directly connected, and work with external simulator models like Aspen/MATLAB, without any issues. I think currently, it works only with equation oriented form of models, but will have to check again.

- [ ] Accordingly, we will either continue testing the OU

[2021-09-28 18:13] boverhof commented on #959
@jbernier040 I think a quick work around would be to stop the Turbine Web API, move the database, restart the Turbine Web API and reload all your models.

Did you try the steps in #932?  You reported that issue but didn't respond at the end.

I think #870 is releated.

[2021-09-28 19:18] jbernier040 commented on #959
@boverhof Thanks for your answer, Could you tell me, How restart the turbine Web API?

I did the steps in #932, I deleted some models I had created, afterwards the error of that problem did not appear again. However, now the error of this new issue is appearing. This new error does not allow me upload  any new models.

[2021-09-28 20:06] ksbeattie commented on #931
@anujad95, can this file be removed?

[2021-10-01 18:49] anujad95 commented on #931
Yes, i think we can go ahead and remove this file, as it is not being used in any tutorials.

[2021-10-01 18:52] anujad95 commented on #959
@jbernier040 could you please confirm the version of SimSinter and Turbine that you are working with?

[2021-10-04 21:22] mirandamartin opened #967 "SDOE not plotting when including previous data + NUSF error"
I ran **USF** and **IRSF** using a candidate set (irsf-example1-candset.csv from Examples folder) as well as a small subset of this candidate set I put in separately as **previous data**.

Candidate set partial screenshot:
<img width="360" alt="foqus-error-candset" src="https://user-images.githubusercontent.com/55799605/135925450-76536146-714e-4c87-b6ec-671fdd1e39a3.png">

Previous data screenshot

[2021-10-05 19:49] sotorrio1 commented on #967
@mirandamartin Two separate issues here.

1.  the issue where you get an error for plotting candidates and previous data together, it's simple and I can fix it. It was a little detail I forgot to take care of when we introduced the "__id" index into the plotting.
2. the other issue is a whole different beast. I've been digging in the NUSF code and it seems the way we try to handle previous data ne

[2021-10-05 19:53] sotorrio1 opened #969 "SDoE: NUSF Error"
When trying this in **NUSF**, I received weird errors upon selecting **Estimate Runtime**, which seem to be dependent on the design size I selected. I have no idea why NUSF is giving me errors and USF and IRSF ran fine with the exact same datasets.

Clicking Estimate Runtime for design of size 6 (all else defaults) in **NUSF**:
<img width="955" alt="foqus-cands+prevdata-errorEstRuntime-nusf-size6"

[2021-10-05 19:55] sotorrio1 commented on #967
@mirandamartin Just edited the issue and created a separate one for the NUSF error.

[2021-10-05 19:57] mirandamartin commented on #967
@sotorrio1 That's interesting... We should definitely set up a meeting then with Abby to talk about both the NUSF stuff and the fact that IRSF doesn't include previous data. We both were under the impression that it did so it's worth chatting about too. Thanks for working on #1 already.

[2021-10-05 20:26] #915 closed

[2021-10-12 19:44] lbianchi-lbl opened #970 "Update documentation on how to run FOQUS without GUI (headless mode)"

[2021-10-12 20:04] ksbeattie commented on #959
@jbernier040, were you able to restart the turbine Web API based on the instructions in #932?  Also what version of FOQUS are you using for this?

[2021-10-12 21:15] ksbeattie opened #972 "Add conda proxy setup to docs"
Occasionally people working from behind a corp or lab firewall can't create conda envs because they are blocked from reaching `repo.anaconda.com` when on their work's VPN.  This info should be added to our docs somewhere (a note in the install section, a new FAQ or troubleshooting section?)

One possible work-around for this, if your work provides a proxy that can reach `repo.anaconda.com` when on

[2021-10-12 23:23] boverhof opened #973 "FOQUS/TurbineLite/SimSinter Testing for Sept release"
# Details
## Configuration Details
- FOQUS current GIT
- TurbineLite Release 2.3.0.1 ( download )
- SimSinter Release 2.1.0.1 ( download )
- Anaconda3-2021.05 Release
- Windows 2016 Server
- AspenTech v10

[2021-10-22 23:48] lbianchi-lbl opened #974 ""ERROR; Cannot uninstall certifi" on certain platforms/versions (Linux and macOS, Python 3.6)"
[code]

This has caused partial failures in our nightly builds starting sometime this week. At the moment, only the following combinations seem to be affected:

- macOS, Python 3.6
- Linux (Ubuntu), Python 3.6

Possible causes can be:

- Recent updates to `pip`
- Recent platform-dependent updates to `certifi`
- Recent changes in the installed software of the GitHub Actions runners
- ... and any co

[2021-11-02 20:01] #931 closed

[2021-11-02 20:19] ksbeattie commented on #969
@sotorrio1 is working with the LANL folks on this.

[2021-11-02 23:52] #970 closed

[2021-11-04 19:36] jmorgan29 commented on #969
I was working through an example for NUSF and found an error that seems similar to this, with slightly different syntax:
![NUSF error](https://user-images.githubusercontent.com/11306727/140406532-353a6e86-4e56-4256-941a-880e05be5f11.png)

I also found that the last line generally takes the form 'could not broadcast input array from shape(m,) into shape(m+n,) where m is the chosen design size and n

[2021-11-08 19:15] sspoon opened #977 "SDoE UX: Remove pop-up window when uploading a candidate set without missing values"
Currently in the SDoE module, when you upload a candidate set with no missing values using the "Load Existing Set" button, a pop-up window appears like this after the file is uploaded:

<img width="534" alt="Screen Shot 2021-11-06 at 10 35 00 AM" src="https://user-images.githubusercontent.com/5075865/140802730-f48ed3fc-9782-47d0-8d25-c6dae9a6ff70.png">

This pop-up window is useful when there actu

[2021-11-08 20:28] sspoon opened #978 "SDoE UX: Investigate window stack ordering after closing a plot"
This might be specific to a person's environment, but it appears that closing a plot in the SDoE module causes the order of FOQUS window stack to change in an unexpected way. Specifically, the main FOQUS window will appear on the top of the stack instead of the last window opened. This was first reported by Abby, and I was also able to replicate this type of behavior.

For example, the first windo

[2021-11-08 23:33] sotorrio1 commented on #978
@sspoon I experience this in a Mac as well but not in Windows. A while back I remember trying to track this down and fixing it with different settings with no success...

[2021-11-08 23:34] sotorrio1 commented on #977
@sspoon I can definitely change that. Thanks!

[2021-11-09 00:26] sspoon commented on #978
@sotorrio1 Yes, I figured it might be specific to the operating system. I'm not sure if perhaps @lbianchi-lbl might have some ideas, but otherwise, we might not be able to do anything about this one.

[2021-11-10 02:24] sotorrio1 commented on #977
@sspoon @mirandamartin PR #979 should handle this better :)

[2021-11-12 18:10] boverhof opened #981 "Green/Blue AWS Deployments"
# Description
Move deployment code from troposphere/cloudformation to AWS CDK python.  The first goal is to create a new "blue" deployment on `us-west-2`, and be able to destroy and create it reliably from the deployment project.

# Subtasks
- [ ] foqus_deploy  'blue' branch

[2021-11-16 20:06] lbianchi-lbl commented on #978
- I've looked into this a bit and I was able to confirm this on my Linux machine (Ubuntu, although with a non-default window manager that may or may not impact the result)
- From looking at the code, I think that the reason for this is because the plots are shown in a window generated by matplotlib/pyplot when calling `plt.show()` in `foqus_lib.framework.sdoe.plot_utils.plot()`
- This is different

[2021-11-16 20:25] sotorrio1 commented on #978
@lbianchi-lbl thanks for looking into this. Perhaps there is a way we can show the plot on a QDialog instead of a matplotlib window?

[2021-11-16 20:28] lbianchi-lbl commented on #978
Yeah, I agree that this sounds like something that should be possible in some way. I don't have much experience with matplotlib + Qt though, so I'd have to look this up.

[2021-11-16 21:15] eslickj commented on #978
It's been several years, so I don't recall the details, but optimization has an example of putting matplotlib plots in a normal QT widget instead of a new matplotlib window.  These plots are updated as the optimization runs, so it's probably a little extra complicated.

https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/gui/optimization/optMonitor.py

[2021-11-16 21:15] ksbeattie commented on #969
@sotorrio1 is going to work with @pn51 on this, given his past experience with the NUSF numpy-ificaiton.

[2021-11-16 21:32] lbianchi-lbl commented on #978
Thanks @eslickj, I think your solution should work well for this use case. @sotorrio1 As I understand, the `FigureCanvas` from the `qtagg` backend is a `QWidget` subclass, so it can be added to any normal `QWindow`/`QDialog` as normal. At that point we'd just need to create the plot "manually" by:

- Instantiating a `Figure` object (https://github.com/CCSI-Toolset/FOQUS/blob/master/foqus_lib/gui/o

[2021-11-16 21:52] boverhof opened #982 "FOQUS Cloud: Remote BFB Simulation"
# Description
Evaluate the current deployed foqus cloud, which hasn't been updated in a long time.

- [X]  Run Remote BFB Simulation on FOQUS Cloud

- [x]  Check FOQUS Cloud Notification

[2021-11-16 22:05] boverhof commented on #982
# Run Remote BFB Simulation on FOQUS Cloud
- On macbook with up-to-date FOQUS opened `examples/test_files/OUU_Remote_turbine_BFB/BFB_OUU_06_09_2020.foqus flowsheet`
- Upload BFB to Remote
- Hit Start Single Flowsheet, and ended in success
![Screen Shot 2021-11-16 at 1 49 14 PM](https://user-images.githubusercontent.com/738295/142073495-a53311fd-aee2-4cea-9c61-9cb7e743a9d3.png)

[2021-11-23 20:47] #977 closed

[2021-11-30 19:33] lbianchi-lbl commented on #974
PR #984 addresses this issue. The workaround of adding the `--ignore-installed` flag to the `pip install` command seems to be working, e.g.:

[code]

[2021-11-30 21:31] lbianchi-lbl commented on #974
Following @boverhof's pointer that `certifi` was updated on Oct 8th, which seems to be confirmed by looking at when the builds started failing on Oct 9th:

![image](https://user-images.githubusercontent.com/48035537/144130362-80854ee4-b40b-4afd-87b8-8d440fe998d7.png)

[2021-12-02 22:10] sotorrio1 opened #985 "SDoE: NUSF smart random start"
NUSF design creation should be using smart random start

[2021-12-03 21:12] MDCA960418 opened #987 "FOQUS/ HYSYS"
Can FOQUS be connected to Aspen HYSYS?

[2021-12-06 19:09] bpaul4 opened #988 "PSUADE error during UQ sample generation"
When attempting to load an existing session and generate UQ samples using the flowsheet, a blank window prompt quickly flashes and disappears and no samples are generated. The error occurred in an environment without PSUADE installed, and in an environment with PSUADE installed after setting the location of the client executable. This issue occurred on more than one system (@bpaul4 and @MAZamarrip

[2021-12-07 21:21] sotorrio1 commented on #988
@bpaul4 @MAZamarripa I need more details on this. Can you share the session file you're using? What are the steps you're following? Have you installed the latest psuade-lite (1.8.0) following the instructions in the "Optional Software" documentation section (https://foqus.readthedocs.io/en/stable/chapt_install/install_optional.html)?
Thanks!

[2021-12-07 21:23] ksbeattie commented on #969
@sotorrio1, any progress on this?

[2021-12-07 21:25] sotorrio1 commented on #969
@ksbeattie I started working on it with @pn51 and we're meeting again this Thursday. Hopefully we get to a solution to this issue then.

[2021-12-07 21:25] ksbeattie commented on #974
Addressed in #984

[2021-12-07 21:25] #974 closed

[2021-12-07 21:34] bpaul4 commented on #988
It's a simple session file with 4 variables and min/max values. It is not connected to any simulation (i.e, Aspen, Excel) and the goal is to just generate samples from the flowsheet. The error occurred using the latest psuade-lite (1.8.0) on Windows.

[2021-12-08 14:29] bpaul4 commented on #988
@MAZamarripa and I tested creating new session files and were able to successfully generate UQ samples. We believe the issue may have been due to a version mismatch in FOQUS from saving and loading the session. We will continue to test new FOQUS sessions, but are closing this issue as the UQ/PSUADE tools are working as expected.

[2021-12-08 14:29] #988 closed

[2021-12-08 18:37] boverhof opened #990 "FOQUS Cloud Developer Onboarding Step1"
# Description
Start by creating a FOQUS development environment on AWS/EC2.

# Pretasks
- [ ]  Add as developer on GITHUB CCSI-Toolset group
- [x]  Add IAM Credentials on AWS

# Subtasks
Document and take screenshots of progress, and append to this issue in comments.

## AWS EC2 VM/AMI
- [x]  Login to AWS Console
- [x]  Create AWS Windows 2016 VM
- [x]  Login with Windows Remote Desktop from Work

[2021-12-14 21:18] #985 closed

[2021-12-14 21:26] boverhof opened #991 "FOQUS Cloud SDOE Investigation"
# FOQUS Cloud SDOE
- Do we have a story where SDOE usage in FOQUS flowsheet and interact with other components in a workflow?
- Do we have a story where SDOE runs existing FOQUS components?
- Do we have a story where SDOE can be parallelized and significant runtime improvements and/or up scaling?
- Can we save the candidate models on AWS S3 and make them available via cloud?

## SDOE
- Use cases:

[2021-12-16 20:09] sotorrio1 commented on #991
I ran a few tests trying to get some numbers regarding possible scenarios where we can leverage running on AWS. I tried to get the worst case scenario for the candidate sets I used.

- **USF**:
_candidate file to use_: examples/tutorial_files/SDOE/candidate.csv
_min design size_: 2
_max design size_: 10
_number of random starts_: 10^7 or 10^6
_estimated time_: 23 h 54 min 41 s or 2 h 23 min 28 s

[2021-12-20 22:28] ksbeattie commented on #969
@sotorrio1, any new on this?  I think we were hoping to get a PR addressing this into the 3.12.0 release this week?

[2021-12-23 04:16] #969 closed

[2022-01-03 18:41] sspoon opened #993 "SDoE Usability Suggestion: Remove data imputation fields when there are no missing values"
When loading a candidate set, the table describing the loaded files contains a workflow related to data imputation for missing values. If there are no missing values, these fields appear as inactive fields. If data imputation is needed, then the fields become active. See the inactive fields in the red boxes below:
![imputation](https://user-images.githubusercontent.com/5075865/147966680-73a461a4-d

[2022-01-04 21:26] lbianchi-lbl opened #994 "Distribute FOQUS as a Conda package"
- This was originally considered because of issues arising when installing the `pip` version of the `pywin32` package within a Conda environment, that require pinning the version to the latest functioning, but outdated, version 225 (see FIXME)
- For FOQUS to be distributed as a Conda package, all dependencies must be installable as Conda packages

## Steps

- [ ] Check how many of the current FOQU

[2022-01-11 18:09] boverhof commented on #990
# SLM Configuration @dghoshal-lbl
- Add host `dudley.lbl.gov`
- Add IP Address to SLM Server firewall with following directions: https://gitlab.com/lbnl-dst-admin/turbine-admin-tools

[2022-01-11 21:27] ksbeattie commented on #993
@sspoon, could you review that @sotorrio1 fix is correct?

[2022-01-11 21:36] boverhof commented on #990
# Demo of using BFB on AWS Cloud
https://github.com/CCSI-Toolset/FOQUS/issues/982

[2022-01-12 17:20] sspoon commented on #993
@ksbeattie @sotorrio1 The fix looks good!

[2022-01-12 22:33] dghoshal-lbl commented on #990
## Step-0: Create AWS EC2 VM/AMI and install AspenPlus

### Create AWS Windows 2016 VM

- Go to EC2>AMI Catalog. Type in Microsoft Windows 2016 in the search box.
- Select Microsoft Windows Server 2016 with SQL Server 2016 Standard because SQL Server is a required dependency for Aspen installation.You can also download and install SQL Server later.
- Select Instance Type, edit configurations and l

[2022-01-18 19:09] boverhof opened #998 "FOQUS Cloud: WebSocket TTL Expiration"
# Detail
When using the Help Browser `FOQUS Cloud`, if leave the UI open for some interval the WebSocket is deleted in the AWS Dynamo Table because of TTL.

Probably should increase the TTL and also identify in UI that this event has occurred and register again.

[2022-01-18 19:10] boverhof opened #999 "FOQUS Cloud: OUU bugs"
# Description
When Running OUU via the FOQUS UQ, after hitting start an exception is happening before submission of jobs.

[code]

[2022-01-18 19:34] boverhof opened #1000 "FOQUS Cloud: Optimization Bug"
# Description
Ran the BFB OUU example in Optimization UI and there is an AttributeError.

[code]

[2022-01-18 19:43] boverhof commented on #1000
# threading.Thread
Looks like a python3 API change from `isAlive` to `is_alive`

[code]

[2022-01-18 19:46] boverhof commented on #1000
Several Instances of isAlive

# isAlive
[code]

## is_alive
[code]

[2022-01-18 21:02] sotorrio1 commented on #999
@boverhof I think I know what might be going on here. Last time Jeremy modified this script to incorporate @eslickj 's filter he added this line in a bunch of places:

`if self.results is None or self.results.empty`

The problem with that statement is that if self.results is None, then a NoneType object won't have attribute 'empty'.

I can open a PR with the changes I think would take care of this

[2022-01-18 21:36] sotorrio1 commented on #991
@boverhof what level of detail do you need?
- Name of functions to run?
- name of UI elements for the function arguments?
- input files?

[2022-01-19 03:52] boverhof opened #1003 "FOQUS CLOUD: NGCC EEMPA Integrated Model"
# Description

Graph Error is occurring in the FOQUS Worker, although the AspenPlus job succeeds, the job is marked as error.

# FOQUS Log File
[code]

[2022-01-19 03:57] boverhof commented on #1003
# OUTPUT
[code]

[2022-01-19 18:20] boverhof commented on #1003
#  Need to Update FOQUS
- Install pyomo try again
[code]

[2022-01-19 18:34] boverhof commented on #1003
# Update FOQUS fails
[code]

[2022-01-19 19:16] boverhof commented on #1003
# ERROR missing pyutillib
[code]

[2022-01-19 19:30] boverhof commented on #1003
# Error no module ideas
[code]

[2022-01-19 19:42] boverhof commented on #1003
# pip install idaes-pse Fails
[code]

[2022-01-19 19:46] boverhof commented on #1003
# Visual C++ Build Tools Options
- ttps://visualstudio.microsoft.com/visual-cpp-build-tools/
<img width="1299" alt="Screen Shot 2022-01-19 at 11 44 51 AM" src="https://user-images.githubusercontent.com/738295/150202749-3b7ec165-74f9-4034-b7d1-a94d1d770b65.png">

[2022-01-19 19:48] boverhof commented on #1003
# Attempt the basic C++ Desktop
- OVER 7 GB
<img width="1250" alt="Screen Shot 2022-01-19 at 11 47 42 AM" src="https://user-images.githubusercontent.com/738295/150203173-2901afd0-766a-4521-9bef-f1a7f786085d.png">

[2022-01-19 20:45] boverhof commented on #1003
# Remaining some issues with idaes-pse
[code]

[2022-01-20 01:10] boverhof commented on #1003
# Missing python module in FOQUS node code
[code]

[2022-01-20 16:24] boverhof commented on #991
@sotorrio1 I'd like an example that I can run and prove out the value proposition by increasing design size and random starts.  I could try running the examples above on the cloud or on a local deployment, but I'm not sure I quite have enough information here to proceed.  Maybe a couple FOQUS screen shots of how to set this up?

Questions:
- What is the benefit of increasing random starts?  In lay

[2022-01-20 18:00] sotorrio1 commented on #991
@boverhof Got it. I'll put together an example for one of the cases (perhaps Uniform Space-Filling - USF) with some screen shots.

To answer your questions, I'll try my best but I'm also mentioning @mirandamartin so she can assist from the design of experiments perspective.

1. The number of random starts determines the amount of times you run your optimization search of design points. The larger

[2022-01-20 21:05] sotorrio1 commented on #991
@boverhof please find below some instructions to run a USF design:

1. In the **SDoE module** make sure **Space-filling DoE (SDoE)** radio button is selected.
2. Load the candidate set _examples/tutorial_files/SDOE/candidate.csv_ using the **Load Existing Set** button.
3. Click **Continue**.
4. In the **Design Construction** panel click on the **Open SDoE Dialog** button.

<img width="1438" alt="S

[2022-01-20 21:46] mirandamartin commented on #991
@boverhof Pedro did a good job of answering your questions I think, but I'll add in a few points.

1. The basic idea of the number of random starts is indeed the higher the random starts, the better a design you'll get generally speaking. Let's say we choose 100 random starts. Each random start is a new separate run of the optimization algorithm trying to find the best design it can. So we'll get

[2022-01-27 22:23] boverhof commented on #982
@sotorrio1  I ran the BFB a couple months ago so we can probably start here.

[2022-01-27 22:29] boverhof opened #1004 "FOQUS Cloud: OUU and BFB"
# Description
- #982

## Josh Task Set
- [ ]  Set up Pedro with user account on FOQUS Cloud
- [ ]   provide remote configuration

## Pedro Task Set
- [ ]  Configure FOQUS to use the FOQUS Cloud
- [ ]  Upload BFB simulation to FOQUS Cloud
- [ ]  Test Run
- [ ]  OUU Evaluation

[2022-01-27 22:29] #982 closed

[2022-01-28 23:20] #993 closed

[2022-02-01 20:50] boverhof opened #1005 "FOQUS Image Builder"
# Descriptors
Create a new AMI for FOQUS Cloud using Cloud init

## Details
- AMI [Windows_Server-2016-English-Full-Base-2022.01.19 (ami-0eed6717967579276)]()
## UserData
- C:\Windows\system32\config\systemprofile\AppData\Local\Temp\Amazon\EC2-Windows\Launch\InvokeUserData\UserScript.ps1
## UserData Logs
-  C:\Windows\system32\config\systemprofile\AppData\Local\Temp\Amazon\EC2-Windows\Launch\Invok

[2022-02-01 20:51] boverhof commented on #1005
[Unattended Install Help.pdf](https://github.com/CCSI-Toolset/FOQUS/files/7981847/Unattended.Install.Help.pdf)

[2022-02-01 21:15] boverhof commented on #1005
# UserData

[code]

[2022-02-03 18:28] dghoshal-lbl commented on #1005
Got this error while installing FOQUS through the user data script:
[code]

[2022-02-03 18:47] dghoshal-lbl commented on #1005
Got this error when using expand-archive, though manually unpacking succeeds:
[code]

[2022-02-07 19:55] dghoshal-lbl commented on #1005
@boverhof : I am getting three types of errors while trying to do the unattended installation of Aspen on a Windows AMI:
i) The first error is an http connection failed error. This happens only when the script is executed through user_data field at launch time of an instance.
[code]

The error goes away when I retry the step from within the instance, once launched.

ii) The second error is related

[2022-02-08 21:03] lbianchi-lbl commented on #1000
@ksbeattie and I should look into why pylint didn't pick this up. Might be something related to Python 3.9, which might not be covered (yet) by pylint in our CI checks.

[2022-02-08 21:15] lbianchi-lbl commented on #1003
We should look into increasing isolation between the Python code being run in a flowsheet node and the main FOQUS process, so that the node code can run in its own dedicated environment instead of sharing it (and all of its dependencies) with those of FOQUS.

[2022-02-08 21:18] lbianchi-lbl commented on #1005
This could mean that PyQt 5.13 has been dropped from the PyPI repository, so we should look into this to make sure the same error doesn't happen in other environments.

[2022-02-08 21:26] #905 closed

[2022-02-11 23:24] boverhof opened #1008 "FOQUS Cloud SLM Configuration"
# Description
Appears the SML server is not accessible to the FOQUS Workers on the cloud.  Investigate and fix.

[code]

[2022-02-11 23:48] boverhof commented on #1008
@anujad95 and @sotorrio1 It appears I forgot to install the license a few weeks ago after upgrading the the AWS SLM to the v12.  So the worker was just hanging and timing out because it could find a license.

The run took `1:49`

It is working now.
![Screen Shot 2022-02-11 at 3 46 09 PM](https://user-images.githubusercontent.com/738295/153685618-e50426b2-4b2b-418b-8650-689aee979de7.png)

[2022-02-11 23:52] sotorrio1 commented on #1008
@boverhof thanks for looking into this. It works for me as well.

[2022-02-15 18:39] boverhof opened #1009 "FOQUS Cloud: UQ tab, OUU BFB Aspen Test"
# Description
- UQ tab
[code]

[2022-02-15 20:19] sotorrio1 commented on #1009
### How to setup OUU problem (BFB_OUU_06_09_2020.foqus)

1. Choose Flowsheet Node: Full
2. Setup Variable Types:
All variables with **.Dt**, **.dx** and **.Lb** are **Z1** type. **BFB.GHXfg.A_exch** is also **Z1** type. **BFB.dp** and **BFB.fg_flow** are **Z3** type. The rest you can leave as **Fixed**.
3. Outputs tab:
Select **BFB.Cost_coe_obj** as the **Objective Function**
4. UQ Setup tab:
Load

[2022-02-16 01:18] boverhof opened #1010 "FOQUS Cloud: nodeVarList Bug"
# Description
Appears there was a bug introduced in the last month.

Submitting the BFB to the FOQUS_Cloud-1.7 AMI appears to work and return success, but when I update to the master branch it bombs as below:

# BUG trace on master
[code]

# Good Result from current AMI 1.7
This the result returned when current AMI is used.
[code]

[2022-02-22 16:49] boverhof opened #1011 "FOQUS GUI Testing: OUU Discrete Uncertain Parameters"
# Description

For more information about GUI testing in FOQUS, see [this wiki page](https://github.com/CCSI-Toolset/FOQUS/wiki/GUI-Testing-in-FOQUS)

## Setup

- [x] Set up a developer environment read intro
  - [FOQUS Installation and Running for Developers](https://foqus.readthedocs.io/en/stable/chapt_dev/index.html#developer-setup)
  - [Introduction](https://foqus.readthedocs.io/en/stable/chap

[2022-02-22 21:44] #1000 closed

[2022-02-22 21:56] #999 closed

[2022-02-22 22:33] boverhof commented on #1011
# Acceptance Criteria
- The code coverage increased

![Screen Shot 2022-02-22 at 2 32 10 PM](https://user-images.githubusercontent.com/738295/155230866-7ef4291c-f7b9-4953-8607-fd4afd8cb79f.png)

[2022-02-24 00:11] boverhof opened #1012 "FOQUS adodbapi import error"
# Description
Good morning! I am running into a Turbine issue, and would appreciate assistance troubleshooting the cause. When I load a session and attempt to open a node containing a Turbine/Aspen model, I see a dialog box with "The Turbine model specified for this node is not available from Turbine. Model: [the name of my JSON file without the extension]". I have the file outside of my FOQUS-WD,

[2022-02-24 00:13] boverhof commented on #1012
# Test Environment
- Windows 2016 Server Base AMI
- https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe

[2022-02-24 00:21] boverhof commented on #1012
# SUCCEDE in importing
[code]

[2022-02-24 00:37] boverhof commented on #1012
@bpaul4 So there are a couple differences between the environments
- Windows 2016 Server vs Windows 10
- You installed for a user, I installed for all users

[2022-03-01 21:27] boverhof opened #1013 "Declaring FOQUS Optional Dependencies"
# Description
Discuss and explore a means of marking up methods that require certain plugins/extensions.

# Possiblities:
## Set of decorators:
[code]

## Class Hierarchies

## Class Mixins

## Metaclass

[2022-03-01 22:06] boverhof commented on #1013
# PSUADE Example Test Code

[code]

[2022-03-01 23:12] boverhof commented on #1013
# Wrapper Plugin Module

[code]

[2022-03-02 20:58] bpaul4 commented on #1012
@boverhof Thank you for investigating this. I looked in my environment folder, and found that my `adodbapi` package was missing the module `apibase`. An extraneous metadata folder for an old `numpy` version was blocking new package installation, and removing this folder, uninstalling and reinstalling `adodbapi` resolved the issue.

[2022-03-03 14:55] dghoshal-lbl commented on #1011
FOQUS installation was smooth on MacOS (Catalina v 10.15.6), but the tests failed because of psuade. Installed psuade using the following command, and the tests worked fine after that:
`conda install --yes -c conda-forge -c CCSI-Toolset psuade-lite`

<img width="905" alt="Screen Shot 2022-02-27 at 7 06 01 PM" src="https://user-images.githubusercontent.com/12552293/156589843-77bbf96d-bee3-42ff-9e1f

[2022-03-03 14:59] dghoshal-lbl commented on #1011
When I tried to run the OUU Example 1 after installing and setting up the correct psuade path under Settings in FOQUS, I got the following error:

`OUUOptimizer ERROR: nomad not installed.`

How do I install nomad and use it?

[2022-03-03 15:38] lbianchi-lbl commented on #1011
@dghoshal-lbl Glad that the UQ GUI tests are working.

For the `nomad` error, can you post as much of the full FOQUS log as you can? I'm trying to search for `nomad` in the docs and the codebase and I can't find it, so I wonder if that might be coming from PSUADE itself.

[2022-03-03 15:50] dghoshal-lbl commented on #1011
Yes, it is coming from PSUADE. Any idea how to fix this? Below is the log:

[code]

[2022-03-03 16:14] lbianchi-lbl commented on #1011
Prefacing that I know very little about PSUADE (and even less about nomad):

- I assume NOMAD would be https://github.com/bbopt/nomad (from searching, since it looks the most optimization-related among the software I've found with that name)
- From what I understand from https://github.com/LLNL/psuade-lite/search?q=nomad (especially https://github.com/LLNL/psuade-lite/blob/40f162658dc276b9816c61c7

[2022-03-03 17:21] boverhof commented on #1011
I'm not seeing any mention of dependency requirements for OUU example 1.  @ksbeattie is there is a reasonable means for a new user to understand what needs to be installed?

[2022-03-04 05:30] lbianchi-lbl commented on #1011
So I think I found the line where the error is emitted by PSUADE: https://github.com/LLNL/psuade-lite/blob/075e72cd3263d4f4153d9e3ce70f5db69233163c/Src/Optimizers/OUUOptimizer.cpp#L3435

I wonder if it would be possible to select another optimizer in FOQUS, and/or if the fact that `nomad` is being used is caused by another error occurring prior to that. I'll try to look more into this tomorrow.

[2022-03-04 05:35] sotorrio1 commented on #1011
Charles told me can bring back NOMAD in the Lite version no problem.

[2022-03-04 16:43] lbianchi-lbl commented on #1011
I've tried to run Example 1: OUU with Discrete Uncertain Parameters Only manually, and it looks like the run succeeds. I'm attaching some information about my environment below:

### FOQUS GUI

![image](https://user-images.githubusercontent.com/48035537/156802939-f240bb21-4e07-4432-83bf-697356113308.png)

### Contents of FOQUS working dir (zipped, starting from `mktemp -d`)

[foqus-working-dir.zip

[2022-03-04 16:58] dghoshal-lbl commented on #1011
I see the optimizer used for your run was: bobyqa. How did the run pick it up? Did you specify this somewhere through FOQUS or in psuade? Were you using psuade-lite?

[2022-03-04 17:03] lbianchi-lbl commented on #1011
Trying again in a fresh environment:

[code]

### Output of `conda env export`

[code]

### Output of `pip list`

[code]

### FOQUS log and working directory

- [foqus.log](https://github.com/CCSI-Toolset/FOQUS/files/8187503/foqus.log)
- [foqus-working-dir.zip](https://github.com/CCSI-Toolset/FOQUS/files/8187505/foqus-working-dir.zip)

[2022-03-04 18:58] sotorrio1 commented on #1011
@lbianchi-lbl That makes more sense. The optimizer should be BOBYQA, because the dropdown for the optimizer is grayed out and forced to be BOBYQA. @dghoshal-lbl the optimizer is set using the QComboBox named 'primarySolver_combo'

[2022-03-06 17:26] jmorgan29 commented on #877
I have verified that the MEA model works in V12, using the ccsi11.dll file created for the last release. The results from the tutorial are reproducible. I will follow up with the results from testing in FOQUS.

[2022-03-06 22:37] dghoshal-lbl commented on #1011
Reran the test, and it worked. Screenshot attached.

<img width="1267" alt="Screen Shot 2022-03-06 at 5 29 38 PM" src="https://user-images.githubusercontent.com/12552293/156945066-a749607d-7d57-4a08-a114-81c543c2fa54.png">

[2022-03-06 22:40] dghoshal-lbl commented on #1011
The example did not work earlier because I used Z1d instead of Z1 for 1-4 variables. Actually, in the variables section in the GUI, unlike the other variables the drop down text only has `Opt: Primary Continuous`, without `(Z1)`. It only appears once I select that option. So, I initially did not assume that's Z1.

<img width="1268" alt="Screen Shot 2022-03-06 at 5 38 52 PM" src="https://user-image

[2022-03-08 21:13] boverhof commented on #934
Currently there is only 1 level of authorization, users have access to all resources.  In the future I may revisit.

[2022-03-08 21:13] #934 closed

[2022-03-08 21:13] #76 closed

[2022-03-08 21:21] ksbeattie commented on #858
This is an on-going effort, so I'm closing this open-ended issue in preference to more specific issues.

[2022-03-08 21:21] #858 closed

[2022-03-08 21:26] lbianchi-lbl commented on #955
This is related to #1013, in that making sure that any given module can be imported "cleanly" requires some way of gracefully handling unavailable modules imported there.

[2022-03-13 18:18] jmorgan29 commented on #877
I set up an example problem in FOQUS using the MEA steady-state model in V12, and executed the work without any issues.

[2022-03-15 19:10] lbianchi-lbl opened #1016 "Revisit PyQt version(s) requirements"
## Motivation

- Currently, we're using `pyqt==5.13` in `setup.py`
- However, this has shortcomings
  - AFAIK 5.13 is not a "super-stable"/LTS (long-term support) version for (Py)Qt 5 such as 5.12 and 5.15
  - To be able to have a Conda package for FOQUS, it has to be compatible with the available versions

## Known constraints

- `pytest-qt` only works with Qt 5.11+
- AFAIK, PyQt 5.12.3 is the la

[2022-03-15 21:39] boverhof commented on #1013
@sotorrio1 and @lbianchi-lbl I added a "Plugin" module and show how to use it in the OUU UI class and wrapped the button code you removed.  I think this is a reasonable way to handle this, and it also demonstrates the frailty of having UI specific modules with underlying dependencies that are not enforced or checked in any meaningful way.

There is nothing in the OUU UI that says "hey we need PSUA

[2022-03-16 22:31] ksbeattie commented on #972
There's no real good place for this in our docs, so I'm just going to close this as something more Conda or VPN specific than a concern for FOQUS' documentation.

[2022-03-16 22:31] #972 closed

[2022-03-22 18:08] jmorgan29 commented on #877
The following pull request is proposed to modify the documentation in the MEA SSM to indicate compatibility with V12:

https://github.com/CCSI-Toolset/MEA_ssm/pull/18

[2022-03-29 15:17] fsoepyan opened #1019 "I am having difficulty running a dynamic ACM simulation from FOQUS"
I tried running a dynamic ACM (Aspen Custom Modeler) simulation from FOQUS, but during the run, ACM would initialize the model, and then the run stops.

Can you please let me know what I can do to resolve the issue?

[2022-03-29 19:41] ksbeattie commented on #1019
Hi @fsoepyan!  Can you provide some more details?  Like the version of FOQUS, which model (your own, one of our examples, etc.), any log output, etc.?

[2022-03-29 19:53] ksbeattie commented on #713
Doesn't look like this is going to be done anytime soon, so closing for now.

[2022-03-29 19:53] #713 closed

[2022-03-29 19:55] ksbeattie commented on #1012
@bpaul4 can this issue be closed now?  If so, please go ahead and close it.

[2022-03-29 20:12] ksbeattie commented on #673
This is a good idea, but doesn't look like we're going to get to it.

[2022-03-29 21:50] #1012 closed

[2022-04-04 19:59] fsoepyan commented on #1019
Thank you @ksbeattie for the prompt response, and for your help, I appreciate it.

Answering your questions:
- I downloaded FOQUS on 3/23/22 by going to github.com/ccsi-toolset/foqus, clicking the green "Code" button, and selecting "Download ZIP".
- I also downloaded the SimSinter Patch Release candidate 2.1.0.1 (https://github.com/CCSI-Toolset/SimSinter/releases/) and the Turbine 2.3.0.1 Patch Re

[2022-04-05 16:22] fsoepyan opened #1021 "FOQUS does not seem to be running when the computer "sleeps""
I am running an optimization in FOQUS, and it seems that when my computer sleeps, FOQUS is not running.

Can you please let me know what I can do to have FOQUS run even if my computer sleeps?

Thank you very much for your help.

[2022-04-05 16:58] ksbeattie commented on #1021
Hey @fsoepyan, I don't think it's possible for any non-system level software to continue running while a computer is sleeping.

I think the only option would be to change your system settings to not sleep while you are running FOQUS (or anything else that needs to keep running).

I know there are tools out there to specifically prevent a system from sleeping, like a "mouse jiggler" that either sim

[2022-04-05 20:10] #877 closed

[2022-04-05 20:13] ksbeattie commented on #769
Replaced by #800

[2022-04-05 20:13] #769 closed

[2022-04-05 20:16] #990 closed

[2022-04-05 20:20] #1008 closed

[2022-04-05 20:23] ksbeattie commented on #1009
This is related to #1004

[2022-04-05 20:34] ksbeattie commented on #365
We can re-open this if/when it becomes a higher priority.

[2022-04-05 20:34] #365 closed

[2022-04-05 22:24] fsoepyan commented on #1021
Thank you @ksbeattie for the prompt response and suggestion.

I am currently running the optimization, with the sleep function in my computer disabled.

I will let you know what happens.

If this works, we can close the issue.

[2022-04-12 19:48] lbianchi-lbl opened #1022 "Installation fails on Windows for adodbapi with ImportError: cannot import name 'build_py_2to3' from 'distutils.command.build_py'"
- The error occurs when running `pip install` commands on Windows
- From a preliminary analysis this seems to be due to a combination of:
  - `adodbapi`/`pywin32` relying on `build_py_2to3` in `setuptools`
  - `build_py_2to3` being deprecated and then removed by `setuptools` v58 (https://github.com/pypa/setuptools/blob/main/CHANGES.rst#v5800=)
- I'm not sure why this is showing up only now, but it

[2022-04-12 20:03] ksbeattie commented on #927
@boverhof is working on making a VM available for @sotorrio1 to work with.

[2022-04-13 00:05] ksbeattie commented on #1019
@fsoepyan generally speaking it is better if you install a released version of FOQUS, though that may not be the issue here.

Is this a model of yours, or one of our examples that you're working with?

[2022-04-13 17:42] Ryan-Hughes-8 commented on #1019
@fsoepyan the sparse ACM messages that you included are common when the integrator or nonlinear equation solver within ACM fails. Did the dynamic model solve before connecting to FOQUS?

[2022-04-14 17:48] #1022 closed

[2022-04-15 19:56] fsoepyan commented on #1021
@ksbeattie: I think your solution (to set the computer system setting so that the computer does not sleep) works, and therefore, I will close this issue. Thank you for your help.

[2022-04-15 19:56] #1021 closed

[2022-04-15 20:00] fsoepyan commented on #1019
@ksbeattie and @Ryan-Hughes-8: Thank you for your help and responses, I appreciate it.

Answering your questions:
- The dynamic ACM model is for a project I am working on, and therefore, it is not a CCSI model.
- When I run the dynamic ACM model in ACM (not in FOQUS), I managed to run the model successfully.

Please let me know if you need additional details.

[2022-04-18 13:43] Ryan-Hughes-8 commented on #1019
@fsoepyan Ok, great. So it seems like the model may be just initializing and then closing. Are you specifying the time you want the dynamic simulation to run for? This can be done in the TimeSeries option in the FOQUS node.

Also, the SimSinter technical manual (https://github.com/CCSI-Toolset/SimSinter/tree/master/docs) has some nice info for setting up dynamic ACM models.

[2022-04-19 17:06] #1011 closed

[2022-04-21 19:33] boverhof opened #1024 "ImportError: DLL load failed while importing win32process:"
# Description
Problem finding a DLL when running foqus, maybe a path problem.

[code]

[2022-04-21 22:48] boverhof commented on #1024
# FIX
- https://github.com/mhammond/pywin32
- details similar problem, run this script to fix issue

[code]

[2022-04-21 22:49] boverhof commented on #1024
# Appears base ENV still works
[code]

[2022-04-21 22:50] boverhof commented on #1024
# New Path
- not sure this is the reason
[code]

[2022-04-22 14:57] boverhof opened #1025 "AWS Aspen12 VM"
# Description
VM deployed on AWS us-west-2 region with installers.

You’ll need to install Aspenv12, the ZIP installer is on the VM but I didn’t set it up.  Currently what is there is all automatically deployed so I can destroy and create an identical one in about 30 minutes, so don’t worry about messing it up.

Let me know all the options you use for AspenV12. It would be great if you can tell me

[2022-04-22 23:24] sotorrio1 opened #1026 "OUU: "Set selected as" buttons not working correctly"
Because we removed the Z1d option for the variable types, buttons are not working appropriately. PR coming shortly with a fix.

[2022-04-26 19:59] boverhof commented on #1025
Is this right @sotorrio1?
# Add to VM/AMI image/build process
- https://anaconda.org/CCSI-Toolset/psuade-lite
`conda install -c ccsi-toolset psuade-lite`

[2022-04-26 20:00] sotorrio1 commented on #1025
@boverhof yes, that's correct

[2022-04-26 20:10] #1024 closed

[2022-04-28 20:33] sotorrio1 commented on #1025
I've been trying to test the BFB_OUU_06_09_2020.foqus simulation in OUU. I haven't hit any error mesages yet (like @anujad95 did before) but there are several exceptions thrown from the node's python script (see below).

[code]

The exception "Steady state homotopy failed" gets thrown every run but still OUU manages to retrieve a value for the objective and plot up to 225 iterations. I'm re-runnin

[2022-04-29 01:16] boverhof commented on #1025
# Backup Database and Logs to S3 for posterity

` #
# Logs C:\ProgramData\Amazon\EC2-Windows\Launch\Log
#
$ErrorActionPreference = "Stop"
$DESKTOP = "$home\Desktop"
$BUCKET_NAME = "foqus2-vm-test-records"
$D=Get-DAte -Format "yyyy.MM.dd"
$T=Get-Date -Format "HH.mm"
function CollectLogsS3() {
  Write-Host "==== Copy TurbineLite DB"
  #Write-S3Object -BucketName $BUCKET_NAME -File 'C:\Program Files

[2022-04-29 01:17] boverhof commented on #1025
![Screen Shot 2022-04-28 at 6 16 45 PM](https://user-images.githubusercontent.com/738295/165871487-ca38e04c-f175-4eff-86cf-2e7d978cd9eb.png)

[2022-04-29 19:09] boverhof commented on #1025
@sotorrio1 Looks like in the "focus_lib.framework.graph.node" code it considers -1 a success.

Seems counter-intuitive, but obviously this should be tightened up and defined better.

[code]

[2022-04-29 20:24] boverhof commented on #1025
# Test Error:  Missing AspenTech
- Run the OUU flowsheet once
- Clearly see Turbine reporting can't open simulation
- Flowsheet interprets all calcError incorrectly
- Now sure if calcError is clearly defined
[code]
![Screen Shot 2022-04-29 at 1 19 24 PM](https://user-images.githubusercontent.com/738295/166064202-96813190-510b-4186-9381-ef869032e0e2.png)

[2022-05-03 20:07] ksbeattie commented on #927
See PR #1028

[2022-05-03 20:09] ksbeattie commented on #994
Related to: #1016

[2022-05-10 18:33] boverhof commented on #927
And issue #1025

[2022-05-10 19:50] sotorrio1 opened #1031 "SDoE module enhancements"
Integrate enhancements to the design comparison tools in SDoE module

[2022-05-10 20:14] #1016 closed

[2022-05-10 20:20] ksbeattie commented on #800
This has now shifted to Milestone [EY22.4.1.D](https://github.com/CCSI-Toolset/FOQUS/milestone/23)

[2022-05-10 20:20] #800 closed

[2022-05-10 20:34] boverhof commented on #1013
https://github.com/CCSI-Toolset/FOQUS/pull/1030

[2022-05-12 14:41] boverhof opened #1033 "Optional Dependencies List"
# Summary
Gather list of "all" optional dependencies and their dependencies, requirements, and what they are used for and evaluate if they would be easier to handle with the new "core" framework.

# Detail
[code]

[2022-05-17 20:13] ksbeattie commented on #927
An example is described in PR #1033

[2022-05-17 20:27] ksbeattie commented on #1019
@fsoepyan, going assume this is ok now and close this issue.  Feel free to re-open or open another issue if that's not the case.

[2022-05-17 20:27] #1019 closed

[2022-05-18 05:19] #1025 closed

[2022-05-18 05:29] boverhof commented on #1009
# Reduced Problem Set
I set this problem up with two Optimization Z1 variables and one Z3 UQ variable and it completed in a few hours successfully and it appears like all Aspen jobs succeeded with no errors.

### Optimization:  Primary Continuous Z1
- BFBadsB.Cr
- BFBadsB.Dt
- BFBadsB.dx
### UQ:   Discrete Z3
- BFB.fg_flow

<img width="1225" alt="Screen Shot 2022-05-17 at 10 24 20 PM" src="https:/

[2022-05-18 17:15] sotorrio1 commented on #1009
@boverhof That's great news!

[2022-06-07 20:25] ksbeattie commented on #927
These are being worked thru in #1009

[2022-06-14 20:05] #1026 closed

[2022-06-14 20:25] lbianchi-lbl opened #1037 "FOQUS installation failures on Windows when creating desktop shortcut"
Also a note on Windows in order to get the Foqus install (at least desktop shortcut) to actually work, I had to follow one of the more evil hacks suggested on this page https://stackoverflow.com/questions/58612306/how-to-fix-importerror-dll-load-failed-while-importing-win32api , namely copying the files `pywintypes38.dll` and `pythoncom38.dll` from the Conda environment Lib into my Windows system3

[2022-06-14 20:27] lbianchi-lbl commented on #1037
The command to create the desktop shortcut is mentioned in the docs but we're not actually testing it in CI, so it might very well be that creating shortcuts hasn't worked in a while.

[2022-06-15 19:56] bpaul4 opened #1038 "Tracking June 2022 FOQUS Machine Learning Plugin Improvements"
This issue exists to track planned, ongoing and integrated features as part of milestone EY22.4.1.J - Improvements to the ML/AI interface in FOQUS. Each improvement is assumed to encompass documentation and example expansion for new features, and is marked with the planned release:

- [x] Expanded normalization options, including support for additional formula options and user-provided custom form

[2022-06-20 20:39] fsoepyan opened #1039 "SimSinter Unable to Open a .json File"
An attempt to open a .json file for an Aspen Plus model in SimSinter resulted in the following error:

![image](https://user-images.githubusercontent.com/30811140/174674530-b50113f9-adee-4847-8e97-143222d9ac22.png)

[2022-06-21 19:55] ksbeattie commented on #1039
We think we might have seen this before.  Can you check the installation of Aspen and the status of it's license?  Also let us know details about the OS and Aspen version you're using here?

[2022-06-21 19:56] lbianchi-lbl commented on #1037
@dangunter any chance you still have access to the environment where you first encountered the error?

@Ryan-Hughes-8 reports that the command worked just fine on a fresh Windows installation so my guess is that there might be due to pip, Conda, Python version (and/or any combination of those).

[2022-06-24 20:21] pn51 commented on #1031
SDoE plotting enhancements to improve usability and assessment of design coverage/properties.

[2022-06-24 22:54] fsoepyan commented on #1039
Thank you @ksbeattie for the prompt response.

Answering your question:
- The Aspen license has been renewed this past Thursday (the license needs to be renewed every 30 days).
- The version of Aspen used is Aspen V12.1.
- The computer is a 64-bit operating system.

[2022-06-28 20:05] bpaul4 opened #1041 "Tracking September 2022 FOQUS Machine Learning Plugin Improvements"
This issue exists to track planned, ongoing and integrated features as part of milestone EY22.4.1.J - Improvements to the ML/AI interface in FOQUS. Each improvement is assumed to encompass documentation and example expansion for new features, and is marked with the planned release:

- [x] Development of core node functionality tests, both for ML/AI plugin and coverage gaps in non-ML/AI methods (Se

[2022-06-28 20:14] ksbeattie commented on #927
@anujad95, give the work @boverhof did in the above, now merged, PRs is this issue resolved now?

[2022-06-28 23:16] boverhof opened #1042 "AWS Cloud Small Issue Log"
# Description
List of small issues that would be nice to clean up

## Testing Models
Check under the process models bundle for others.
- [x] BFB OUU

## Deployment
### foqus-cdk-deploy ( Cloud Development Kit )
- [x] Split up into multiple stacks
- [x] Stack AWS Gateway/Lambda Rest API
- [x] Stack EC2 VM FOQUS Worker
- [x] Stack User/Queue: queue per user fanout from SNS Job Topic

## Backend
- [x

[2022-06-29 19:58] boverhof commented on #1042
# CloudWatch Metrics
## Metric Filter
[code]
## Log Record

[code]
[code]

[2022-06-30 22:57] fsoepyan commented on #1039
I found a set of instructions in the following website: https://docs.microsoft.com/en-US/troubleshoot/windows-server/application-management/error-8008005-when-start-complus-applications

I will give this method a try, and let you know if it works.

[2022-06-30 23:02] fsoepyan commented on #1019
@ksbeattie and @Ryan-Hughes-8: I apologize for the late response. I managed to find a workaround for this issue:
1) I wrote a macro in Microsoft Excel to run the dynamic ACM model from Excel.
2) I uploaded this Excel file into SimSinter, and specified the macro from Step 1 as the macro to run.
3) I uploaded the .json file I created in Step 2 to Turbine in FOQUS.
4) I ran the Excel file from FOQUS,

[2022-07-01 20:42] #1031 closed

[2022-07-05 19:57] #1038 closed

[2022-07-05 19:59] lbianchi-lbl commented on #927
@anujad95, let us know your thoughts on this and whether we should close it or move to the next release.

[2022-07-05 23:33] fsoepyan commented on #1039
The above approach did not work. I will continue looking for other ways to resolve this issue.

[2022-07-06 21:56] fsoepyan commented on #1039
I found another set of instructions on this website: https://answers.microsoft.com/en-us/windows/forum/all/retrieving-the-com-class-factory-for-component/d801f311-cc39-4d83-8058-a209ef8f97cf

I will give this method a try, and let you know if it works.

[2022-07-08 21:24] fsoepyan commented on #1039
This method did not work either.

[2022-07-12 20:05] ksbeattie commented on #1039
Is this a specific .json file you can't open, or is it any/all files that you can't open?

And do you know when this stopped working for you?

[2022-07-12 20:07] ksbeattie commented on #927
I'm moving this to the Sept release since the June one is done now.

[2022-07-12 20:32] boverhof opened #1044 "Connecting Dynamic Aspen Custom Modeler (ACM) with FOQUS"
# Description
One of the main issues with running dynamic ACM models with FOQUS is the requirement to specify a ‘TimeSeries’ vector which determines how long the simulation will run for and when to record dynamic data. This is a problem when working with cycle models which may operate using event driven conditions or switching (ex: switching to desorption when so much CO2 is captured) and the tota

[2022-07-12 20:37] boverhof commented on #1044
@Ryan-Hughes-8 can you provide the simulation files so I can attempt to run test1.

[2022-07-13 02:18] Ryan-Hughes-8 commented on #1044
@boverhof this zip file contains the BFB ACM file, simsinter .json file, FOQUS file, and a word doc explaining how to create the test 1 task in ACM.

[simple model.zip](https://github.com/CCSI-Toolset/FOQUS/files/9098380/simple.model.zip)

[2022-07-13 17:24] fsoepyan commented on #1039
By the way, I found the following passage from the SimSinter manual regarding this issue:

"The error means that SimSinter cannot find the CCSIUnits COM interface. This should be unusual, since CCSIUnits is now packaged with SimSinter. If the error occurs try reinstalling CCSIUnits separately."

Is there a way to uninstall and reinstall CCSIUnits separately?

[2022-07-19 20:16] ksbeattie commented on #1013
A sample implementation is in #1032

[2022-07-19 20:17] boverhof commented on #1039
Sounds like process can't locate a library, likely CCSIUnits.  To confirm this you might just want to run ConsoleSinter directly and see if it throws the same COM error.

This issue should explain how to setup it up and run it:

https://github.com/CCSI-Toolset/SimSinter/issues/27

If that is the case, I would recommend removing SimSinter and reinstalling it.  If that doesn't fix it maybe we can do

[2022-07-20 17:10] fsoepyan commented on #1039
@ksbeattie and @boverhof: Thank you for your help, I appreciate it.

I am sorry I have not told you the full detail, but my colleague is actually the one having this issue with Aspen/SimSinter.

One of the reasons I am struggling with this issue is because I am using Aspen v12.1, and a 64-bit operating system, and I manage to open the .json file for the Aspen models in SimSinter without any issue.

[2022-07-20 23:30] boverhof commented on #1039
@fsoepyan I think this is probably an easier way to test:
<img width="942" alt="Screen Shot 2022-07-20 at 4 28 00 PM" src="https://user-images.githubusercontent.com/738295/180099651-8ef0fe78-7309-474e-8a49-eaac3599a7b2.png">

[2022-07-20 23:32] boverhof commented on #1039
@fsoepyan I guess figuring out the differences between your setup and your colleagues is the best next step.   Did you install as Administrator or a User?

[2022-07-20 23:40] boverhof commented on #1033
# Tests Fail without Psuade
[code]

[2022-07-21 17:44] fsoepyan commented on #1039
@boverhof: Can you please let me know what test you are referring to?

Answering your question, I think I installed as an Administrator, as I am using a personal computer.

[2022-07-22 17:50] fsoepyan commented on #1039
My colleague has uninstalled and reinstalled both the Aspen software and the Aspen license file, and this has resolved the issue.

I will close this issue.

@ksbeattie and @boverhof: Thank you very much for your help.

[2022-07-22 17:50] #1039 closed

[2022-07-29 17:30] boverhof opened #1048 "OVIRT VM"
# Description
Create a new VM for @sspoon

# Detail
## Image
- CCSI2_WindowsServer2016Server_Aspen12
## Software
- Windows 2016 Server
- Aspen12
- SimSinter
- TurbineLine
- Anaconda 3

[2022-08-01 18:47] boverhof commented on #1042
# Deploy
## Stack VM
Specify Queue in user-data
[code]

[2022-08-01 22:30] boverhof commented on #1042
# Tags
![Uploading Screen Shot 2022-08-01 at 3.29.54 PM.png…]()

[2022-08-02 17:22] boverhof commented on #1042
# FOQUS Backend Metrics
- count of queue peeks
- dimensions:  empty (nothing in queue returned none), or start ( reset count to zero or found job) )
![Screen Shot 2022-08-02 at 10 20 08 AM](https://user-images.githubusercontent.com/738295/182435796-407ba21b-e933-4fb7-81dc-2f9492d55567.png)

[2022-08-03 19:41] boverhof commented on #1042
# TAG: FOQUS-Alert-Topic-Arn
- foqus_service exists send message to this topic, which emails alert
<img width="910" alt="Screen Shot 2022-08-03 at 12 41 42 PM" src="https://user-images.githubusercontent.com/738295/182695226-325acac4-f0cb-41af-a6ca-a79e0159eed7.png">

[2022-08-03 19:46] boverhof commented on #1042
# Bad Flowsheet
[code]

[2022-08-03 21:37] boverhof commented on #1010
I'm hitting this again.

[2022-08-04 15:24] #981 closed

[2022-08-09 20:12] lbianchi-lbl commented on #994
The following should now work:

[code]

[2022-08-17 13:59] bpaul4 opened #1050 "Tracking December 2022 FOQUS Machine Learning Plugin Improvements"
This issue exists to track planned, ongoing and integrated features as part of milestone EY22.4.1.J - Improvements to the ML/AI interface in FOQUS. Each improvement is assumed to encompass documentation and example expansion for new features, and is marked with the planned release:

- [x] Investigate support for PyTorch neural network models (December 2022) #1081
- [x] Investigate support for SciK

[2022-08-24 14:58] boverhof commented on #1010
FOQUS CLOUD: Backend RUN
[code]

[2022-08-24 18:29] boverhof commented on #1010
# FIX
- Added "addNode" after the loadFlowSheetValues
- sets up default OrderedDicts and seems to be required.
-
[code]

[2022-08-30 20:13] ksbeattie commented on #927
@anujad95, I'm closing this given that it looks like this is working, at least for Aspen, but possibly not for Matlab.

[2022-08-30 20:13] #927 closed

[2022-08-30 20:14] ksbeattie commented on #1009
@boverhof can this be closed now?

[2022-08-30 20:15] ksbeattie commented on #1003
@boverhof is this still an issue?

[2022-08-31 20:09] LNemetz opened #1052 "Turbine Upload Error"
When I go to add/update model to turbine I get the following error:

![image](https://user-images.githubusercontent.com/76179027/187772015-8b13858b-e579-4206-9d3b-02acf75731ad.png)

And when I try to open pervious sessions I get The following messages:

![image](https://user-images.githubusercontent.com/76179027/187772448-32b0c70d-b26d-4c45-b5b1-ebc51828723d.png)

[2022-09-06 20:26] ksbeattie commented on #1052
Can you paste the debug log when this happens?  You can find that in the Help section, under the debug tab.  This should help us better understand the problem.

[2022-09-06 23:00] boverhof opened #1054 "pytest internal TypeError"
# Description
Strange failure occurring after I mocked urlopen, not sure this is happening on all platforms or if this what is the cause of the issue.

# Traceback
[code]

[2022-09-06 23:06] lbianchi-lbl commented on #1054
@boverhof Try adding `--basetemp=<dir-path>`  to the pytest invocation, where `<dir-path>` is any valid directory path. The error happens when the option is not given when running locally, and does not happen in CI because that flag is part of the default options.

[2022-09-07 02:33] boverhof commented on #1054
Seems to work @lbianchi-lbl :)

[code]

[2022-09-07 02:35] boverhof commented on #1054
But it seems to have deleted the `foqus_lib` directory..

[code]

[2022-09-07 02:38] boverhof commented on #1054
Alright looks like I should read the docs first.  Go it :)

[code]

[2022-09-08 15:16] LNemetz commented on #1052
Opening add/update model to turbine
![image](https://user-images.githubusercontent.com/76179027/189159688-7e82b5e3-c53b-4c60-a1f2-6b2e546b3454.png)
Add model fails This shows:
![image](https://user-images.githubusercontent.com/76179027/189159766-8934f417-0fb9-4e52-9126-6051b516ebf9.png)

[2022-09-08 15:20] LNemetz commented on #1052
I have stopping and started Turbine WEB API service but doing this made no change.
I have used both the foqus built in stop/start buttons in settings and going to the service window directly.
I have also tried restarting Turbine WEB API service and nothing changed.

[2022-09-12 19:02] LNemetz commented on #1052
When I open a recent file I get:
2022-09-12 13:29:22,085 - DEBUG - foqus.foqus_lib.framework.sim.turbineConfiguration - turbine configuration application url="http://localhost:8000/TurbineLite/application/"
2022-09-12 13:29:22,086 - DEBUG - foqus.foqus_lib.framework.sim.turbineConfiguration - turbine configuration url="http://localhost:8000/TurbineLite"
2022-09-12 15:00:32,287 - DEBUG - foqus.foqu

[2022-09-12 19:03] LNemetz commented on #1052
2022-09-12 15:03:21,149 - ERROR - foqus.foqus_lib.framework.sim.turbineConfiguration - Error getting list of simulation from Turbine
Traceback (most recent call last):
File "C:\Anaconda3\envs\ccsi-foqus\lib\site-packages\foqus_lib\framework\sim\turbineConfiguration.py", line 668, in getSimulationList
main_list([self.getFile()], None)
File "C:\Anaconda3\envs\ccsi-foqus\lib\site-packages\turbine\com

[2022-09-13 19:43] ksbeattie commented on #1054
This should be fixed with #1047

[2022-09-13 20:16] #1033 closed

[2022-09-13 20:31] boverhof commented on #1052
@LNemetz I'm not sure what the root cause is of the problems.  One thing to check is what the Web Service is returning.  So if you open a browser and go to
`http://localhost:8000/TurbineLite/simulation/`
Should give you an empty list or JSON array.
`[]`

Maybe it's sending an HTTP Error and that isn't being understood or handled correctly..

[2022-09-13 20:36] LNemetz commented on #1052
I used google chrome and pasted: http://localhost:8000/TurbineLite/simulation/ and got:
![image](https://user-images.githubusercontent.com/76179027/190003803-8f0ccc4e-5f70-4235-b0bb-ad7441ffb437.png)

The server encountered an error processing the request. The exception message is 'An error occurred while reading from the store provider's data reader. See the inner exception for details.'. See ser

[2022-09-16 18:10] sotorrio1 opened #1055 "SDoE: plotting bug"
While attempting some enhancements to the SDoE plotting capabilities (suggested by the LANL team) I found a bug that needs to be fix; plotting candidate and previous data files is not working in the SDoE Setup Frame.

[2022-09-16 18:13] sotorrio1 commented on #1055
While attempting some enhancements to the SDoE plotting capabilities (suggested by the LANL team) I found some bugs that need to be fix:

- [ ] plotting candidate and previous data files is not working in the SDoE Setup Frame.
- [ ] NUSF test fails when previous data is not present

[2022-09-16 22:47] sotorrio1 opened #1057 "SDoE: Enhancements to histogram plots"
LANL team requested some enhancements to SDoE histogram plots:

- [x] Make bars vertical instead of horizontal.
- [x] show previous data and design points in different colors (similar to scatter plots).
- [x] make y-axis range the same across histograms for easier comparison.

[2022-09-16 22:49] sotorrio1 opened #1058 "SDoE: NUSF bugs"
The NUSF design creation algorithm has a couple of bugs that need to be fixed:

- [ ] NUSF not working when previous data is not present.
- [ ] NUSF generating some weird pairs of points in the designs.

[2022-09-19 15:31] LNemetz commented on #1052
I uninstalled turbine and Simsinter. Then reinstalled them both following the direction from the Read the doc page.
This fixed the issue I was having.
I am able to upload models to turbine and open previous sessions.

[2022-09-19 15:31] #1052 closed

[2022-09-20 13:25] bpaul4 opened #1059 "UQ/SDOE Plotting Issues From Matplotlib Version Update"
`matplotlib` released version 3.6 which removed the `set_window_title` call. This affects several UQ tests which call the deprecated method. Additionally, the SDOE plotting utilities script calls this method a few times and should be altered to avoid using the outdated call.

Alternatively, we could pin `matplotlib<3.6` for now.

[2022-09-20 20:04] ksbeattie commented on #1059
If we can't figure this out in time, I'm fine with pinning the matplotlib for the Sept release here.

[2022-09-20 20:26] #1041 closed

[2022-09-20 20:29] #1010 closed

[2022-09-20 22:19] #1059 closed

[2022-09-27 20:21] lbianchi-lbl commented on #1054
This (or at least the original crash due to `basetemp` being `None`) should have been addressed by #1047.

[2022-09-27 20:21] #1054 closed

[2022-09-27 20:23] lbianchi-lbl commented on #1058
#1061 resolves Checkbox 1 above; Checkbox 2 requires a more in-depth review of the samples as described there.

[2022-09-27 20:25] lbianchi-lbl commented on #994
New Conda packages will be created for FOQUS and TurbineClient as part of the upcoming release.

[2022-09-29 21:39] mirandamartin opened #1063 "SDOE: NUSF stacked plot not calculating weights correctly"
The stacked plot that shows up first when viewing a created NUSF design in SDOE isn't being displayed/calculated right.

It's the right of the two plots shown below.
<img width="1299" alt="nusf-plots-design-09 29 22" src="https://user-images.githubusercontent.com/55799605/193145879-18aaab83-49e0-4125-8eda-1d72f3013d94.png">

The shared horizontal axis (x-axis) of the plots should be calculated suc

[2022-09-30 23:28] sotorrio1 opened #1064 "GUI: FOQUS fails to open (macOS)"
If the working directory hasn't been set before, PyQt5 is trying to open a QMessageBox and python is unresponsive.

The QMessageBox should look like this and it's set in https://github.com/CCSI-Toolset/FOQUS/blob/e90b1a09adb466e9deb90bd9fa51c8784cb4fb0a/foqus_lib/foqus.py#L453
<img width="421" alt="Screen Shot 2022-09-30 at 2 38 58 PM" src="https://user-images.githubusercontent.com/33531919/193368

[2022-10-04 20:19] #1009 closed

[2022-10-04 20:21] #1048 closed

[2022-10-04 20:22] #1055 closed

[2022-10-04 20:25] ksbeattie commented on #1037
can't reproduce.

[2022-10-04 20:25] #1037 closed

[2022-10-04 21:38] sotorrio1 commented on #1064
I've done a little bit more digging into this. I first installed the release candidate ([3.15.0rc0](https://pypi.org/project/ccsi-foqus/3.15.0rc0/)) and when I run the 'foqus' command python freezes and the PyQt dialog above fails to show up. The same issue happens when installing the previous release ([3.14.0](https://pypi.org/project/ccsi-foqus/3.14.0/)).

On the other hand, when installing an o

[2022-10-05 17:28] boverhof commented on #1042
# VM Contextualization:  Changed from UserData to Tags
- Previously used UserData to dump in information to the VM, but wanted to use that UserData for running arbitrary scripts via Cloud-Init to make it possible to add runtime dependencies when a VM is started ( example python ideas module )
- Now this is represented via Tags of the Instance.

[code]

[2022-10-11 19:51] #1064 closed

[2022-10-11 20:04] boverhof opened #1070 "AWS Small Cloud #2"
# Description
List of small issues
Continuation of https://github.com/CCSI-Toolset/FOQUS/issues/1042
## Testing Models
Check under the process models bundle for others.
- [x] OUU_Remote_Turbine_BFB
- [ ] MEA Model ( https://github.com/CCSI-Toolset/MEA_ssm, AspenPlus ) #1095
- [ ] Rotary Model in development 2D large model ( Ryan )
- [ ] Membrane Model ( https://github.com/CCSI-Toolset/membrane_mod

[2022-10-13 17:39] boverhof opened #1072 "FOQUS UI Testing"
# Description
Reported problems with FOQUS UI, performing some basic tests to confirm things are working and then move to testing the scenarios that these users are reporting.

- [ X] BFB OUU

[2022-10-13 17:42] boverhof commented on #1072
# BFB OUU Screenshots

![Screen Shot 2022-10-13 at 10 35 06 AM](https://user-images.githubusercontent.com/738295/195667732-0873e382-aa8e-4acf-ad42-6140e3b85c79.png)

![Screen Shot 2022-10-13 at 10 34 41 AM](https://user-images.githubusercontent.com/738295/195667674-530c79ea-b951-4501-946b-4589f3b4ee8f.png)

![Screen Shot 2022-10-13 at 10 35 28 AM](https://user-images.githubusercontent.com/738295/1

[2022-10-13 17:46] boverhof commented on #1072
# My System ( AWS VM Windows 2016 Server )
[code]

[2022-10-13 18:02] boverhof commented on #1072
# Flash AspenPlus Model

![Screen Shot 2022-10-13 at 11 00 42 AM](https://user-images.githubusercontent.com/738295/195672009-9f4a3462-792d-4351-badb-2c54f21e7490.png)

[2022-10-13 19:17] bpaul4 opened #1073 "Documenting Turbine "Node Error 8 - Fail to start" Solution"
The error below occurred when attempting to run Tutorial 2 with `ccsi-foqus 3.15` and `TurbineClient 4.0.2`.

Reinstalling FOQUS via
[code]
resolved the issue, as `TurbineClient 4.0.2` is only compatible with the 3.15 release of FOQUS.

The FOQUS log:

[code]

[2022-10-13 19:18] bpaul4 commented on #1073
Closing as the issue was resolved offline.

[2022-10-13 19:18] #1073 closed

[2022-10-14 16:53] bpaul4 opened #1074 "Tests for plugin loading from string reading"
Recently, I noticed that FOQUS is not correctly loading Pymodel plugins from the user_plugins or examples/.../pymodels folders. A recent update had run `black` on `session.py` and `surrogates.py` which generate the idString objects used to detect and load plugins, so that files contained `black`-formatted `# FOQUS-[tag]` while the search expected `#FOQUS-[tag]`.

The issue went undetected until `b

[2022-10-14 17:21] lbianchi-lbl commented on #1074
Hi @bpaul4, thanks for spotting this and creating an issue.

Can I ask you to point out where exactly the files for the plugins that are failing to load are located within the FOQUS repository? I'm starting to look into this (also in relation to #908) and I'd like to make sure I'm at least aware of the existing plugins.

[2022-10-18 20:18] boverhof opened #1076 "Semi Batch/Cyclical/Dynamic Modeling"
# Description
Explore using FOQUS rather than Excel as the controller for the workaround for Dynamic ACM.

FOQUS Optimization generates a batch of parameters, runs the iteration, gathers the results, then determines a new parameter set to attempt.  It does this until the Optimization function succeeds.

## Details
Link to Excel Workaround and description @Ryan-Hughes-8

[2022-10-18 20:23] sotorrio1 opened #1077 "SDoE: Adding previous data to IRSF"
Currently only Uniform Space-Filling (USF) and Non-Uniform Space-Filling (NUSF) are able to handle previous data files. That capability needs to be added to the Input-Response Space-Filling (IRSF) side of things as well.

[2022-10-18 20:29] boverhof opened #1078 "FOQUS User Stacks"
# Description
Separate the CDK deployment into stacks.

The main stack will be the FOQUS Web API  (API Gateway) and the underlying lambda functions ( FaaS ), the S3 buckets for storage, the DynamoDB for job status, SimpleNotification Service Topics for pub/sub including job updates.

On top of that stack a "User stack" for each user will be deployed, which will include a user "queue" ( SQS ) and v

[2022-10-18 20:36] boverhof commented on #1078
# Stacks
[code]

[2022-10-18 20:42] #1078 closed

[2022-10-18 21:44] sotorrio1 opened #1079 "SDoE: Usability Study Findings"
Findings and suggestions from @sspoon usability study on the SDoE module. Documenting this in an issue for a later time we can address some/all of them.

[FOQUS SDoE Usability Evaluation.pdf](https://github.com/CCSI-Toolset/FOQUS/files/9815307/FOQUS.SDoE.Usability.Evaluation.pdf)

[2022-10-25 19:43] ksbeattie commented on #1072
The solution here is to make sure that FOQUS 3.15 and TurbineClient 4.0.2 are used together.

[2022-10-25 20:29] Ryan-Hughes-8 commented on #1076
@boverhof sorry I let this slip, do you need anything from me here?

[2022-10-25 20:32] ksbeattie commented on #1042
@boverhof, looks like this is, at least partly, complete.  Can we close it and/or move existing items to a new issue for the Dec release board?

[2022-11-01 19:41] #1042 closed

[2022-11-01 20:09] lbianchi-lbl opened #1083 "Improve testing for SDoE"

[2022-11-01 20:18] boverhof commented on #1076
related to https://github.com/CCSI-Toolset/FOQUS/issues/1044

[2022-11-01 20:22] #1057 closed

[2022-11-01 20:22] #1063 closed

[2022-11-01 21:12] #1074 closed

[2022-11-15 20:52] lbianchi-lbl opened #1084 "Nightly builds failing for Windows with pywin32 error"
Our best guess currently is a breaking change being introduced with the upgrade from `pywin32` 304 and 305: https://github.com/mhammond/pywin32/compare/b304...b305

[2022-11-15 21:22] lbianchi-lbl opened #1085 "Use Python entry points for runtime discovery of plugins to improve modularity and robustness"
This FOQUS Enhancement Proposal (FEP?) shows how switching to Python entry points for discovering plugins at runtime can lead to improvements for FOQUS in terms of reliability, code duplication, and maintanability.

If implemented, the proposed solution would directly or indirectly resolve the following existing issues and PRs:

- #955
- #908
- #818
- #1032

[2022-11-22 21:17] lbianchi-lbl commented on #1084
As this is not the first time that `pywin32` causes errors, we could look into whether it's possible to remove or reduce our dependency on its modules within FOQUS:

- `win32process`: used for `CREATE_NO_WINDOW`, that could be replaceable with the equivalent from Python's build-in `subprocess` module
- `win32api`: mostly used for `GetShortPathName`. From a quick search, this might not be straightf

[2022-11-23 21:35] boverhof opened #1087 "Flowsheet errorStat: 19"
# Description
- AspenPlus  MEA Model
- Grabbed an old flowsheet to run it with and got this error
- Problem appears to be missing plugin, but should get an error "19" in the results
- Flowsheet errorStat: 19
- #1070
## Results
[code]
## Logs
[code]
[code]

[2022-11-23 22:30] boverhof commented on #1087
# Capture the Ex sys_info
Throw entire traceback into result
[code]

[2022-11-28 23:54] boverhof commented on #1070
# VPC Peering Connection
- switch to VPC Peering connection, specified in CDK, for cross region access to the SLM server
- All communication between subnets across regions is encrypted and secure.
- No need for NATs or AWS Gateways

[2022-11-29 16:30] boverhof opened #1089 "Flowsheet Optimization/UQ/etc"
# Description
Specific flowsheet keys map to Optimization, UQ, etc functions.  Need to understand these keys and how these options are handled and executed in FOQUS to map to the FOQUS Cloud.

<img width="512" alt="Screen Shot 2022-11-29 at 8 23 42 AM" src="https://user-images.githubusercontent.com/738295/204586772-33323f36-0858-48cd-bc17-753561e342c3.png">

[2022-11-29 18:30] boverhof opened #1090 "MAC FOQUS NSException"
# Description
- OUU BFB Simulation ( examples/test_files/OUU_Remote_Turbine_BFB )
- Set 3 vars to Z1 ( See #1009 ) with no Z3 vars
- Hit "Run OUU" and it exits

# Backtrace
[code]

<img width="1256" alt="Screen Shot 2022-11-29 at 10 30 22 AM" src="https://user-images.githubusercontent.com/738295/204615716-06b23e73-d2bf-4db1-9665-4fa7a5d6d809.png">

[2022-11-29 20:53] lbianchi-lbl commented on #1090
I have a vague recollection of running into something similar. As I remember (disclaimer: all of this might be completely off-track):

- This is specific to the Qt-macOS interface, i.e. it should not happen on other platforms
- The error occurs when code that runs in threads other than the main thread (aka the Qt GUI thread) interacts with GUI objects (QWidget instances) directly (i.e. not through

[2022-11-29 21:25] ksbeattie commented on #1076
@Ryan-Hughes-8 did this workaround get documented somewhere?

[2022-11-30 19:20] boverhof opened #1091 "Optimization Run Submission Exceptions"
# Detail
When running an Optimization with BFB a few exceptions occur before the session is started.  The jobs are started and do process but not sure why these Exceptions are thrown.

# Logs
[code]